/* LOGIN/Signup Link */
a.custom-header-link-position {
    position: absolute;
    bottom: 15px;
    right: 17px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.frm-overlay, .payment-frm-overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	z-index: 99;
}
.frm-login label {
    font-size: 13px;
    color: rgba(15, 22, 38, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin: 0;
}
.frm-login .btn, .payment-frm-overlay-login .inner-body .btn{
    font-size: 13px;
    font-weight: 300;
    color: #fff;
    text-decoration: none !important;
    display: inline-block;
    background: rgba(15, 22, 38, 1);
    text-transform: uppercase;
    margin: 0px 0 0px;
    border: 0;
    text-align: center;
    padding: 10px 50px;
    letter-spacing: 2px;
    border-radius: 0;
}
.frm-login input, .frm-login select {
    padding-left: 12px !important;
}
.frm-login p.copyrighted-form {
    bottom: 5px;
    padding: 0 20px 0 0;
}
.add_btn{
    font-size: 13px;
    padding: 5px 11px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0px;
    text-decoration: none !important;
    display: inline-block;
    background: rgba(15, 22, 38, 1);
    text-transform: uppercase;
    border: 0;
}

.submit_btn{
    font-size: 13px;
    padding: 10px 35px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 0px;
    text-decoration: none !important;
    display: inline-block;
    background: rgba(15, 22, 38, 1);
    text-transform: uppercase;
    margin: 0px 0 0px;
    border: 0;
}
.frm-login, .payment-frm-overlay-login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    background: #fff;
    padding: 0;
    z-index: 99;
    min-width: 10%;
    border-top: 5px solid rgba(15, 22, 38, 1);
    max-width: 500px;
}
.payment-frm-overlay-login {
    min-width: 50%;
}
.payment-frm-overlay-login .inner-header {
    padding: 0 18px;
}
.payment-frm-overlay-login .inner-body {
    padding: 20px 20px;
    max-height: 70vh;
    overflow: auto;
}
.payment-frm-overlay-login .inner-header h2 {
    margin: 0;
    font-size: 22px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    letter-spacing: 1px;
}
.frm-login form{
	padding: 20px;
}
.custom-table-wrapper {
    overflow-x: auto;
}
table.details-table {
    width: 100%;
}
table.details-table tr:first-child {
    margin-bottom: 10px;
}
table.details-table tr:first-child td {
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin: 0;
}
table.details-table td {
    padding: 0 10px;
}
table.details-table td select, table.details-table td input {
    width: 100% !important;
}
@media only screen and (max-width: 768px){
	.frm-login{
		width: 80%;
	}
}

@media only screen and (max-width: 767px){
    p.copyrighted-form {
        font-size: 10px !important;
    }
    /* Login/Signup */
    ul.nav.nav-tabs.nav-justified > li {
	    width: calc(100%/2.1);
	    display: inline-block;
	    vertical-align: top;
	}
}


/*PDF*/
#pdf-dynamic .pdf-header ul li img {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 150px !important;
}
#pdf-dynamic .pdf-sub-header ul {
    padding: 0;
}
#pdf-dynamic .invoice-header {
    text-align: center;
    font-size: 16px;
    margin: 15px 0 10px;
}
#pdf-dynamic .pdf-section > span {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0 5px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 2px;
}
p.note {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}
#pdf-dynamic{
    width:1300px;
    background-color: #fff;
}
#pdf-dynamic .pdf-header{
    padding: 10px;
}
#pdf-dynamic .pdf-header ul{
}
#pdf-dynamic .pdf-header ul li{
    font-size: 24px;
    list-style: none;
    text-align: right;
}
#pdf-dynamic .pdf-sub-header{
    border-bottom:1px dotted black; 
}
#pdf-dynamic .pdf-sub-header ul{
    font-weight: 600;
}
#pdf-dynamic .pdf-sub-header ul li{
    list-style: none;
    font-size: 20px;
}
#pdf-dynamic .pdf-section ul.bullet-list li{
    list-style: none;
}
#pdf-dynamic .invoice-header{
    text-align: center;
}
ul.bullet-list {
    padding: 0 0 0 30px;
}
.end-note {
    text-align: center;
    margin: 50px 0 30px;
}
.end-note p {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
}
#pdf-dynamic .pdf-section ul.bullet-list li {
    position: relative;
}
#pdf-dynamic .pdf-section ul.bullet-list li b {
    position: absolute;
    margin: 0 !important;
    left: -15px;
}
#pdf-dynamic .pdf-section {
    margin-bottom: 15px;
    padding: 0 15px;
}

#pdf-dynamic .pdf-section > span {
    font-size: 24px;
    font-weight: 600;
}
#pdf-dynamic .pdf-section > table {
    width: 100%;
    background-color: transparent;
    font-size: 20px
}
#pdf-dynamic .pdf-section > table tr.tr-head td{
    background-color: #cecece;
    font-weight: 600;
    border: 1px solid #000;
    padding-left: 5px;
}
#pdf-dynamic .pdf-section > table tr td{
    border: 1px solid #000;
    padding-left: 5px;
}
#pdfFormat{
    display: none;
}
#pdf-dynamic .trmc{
    padding: 0 10px;
    font-size: 20px;
    word-break: break-all;
    text-align: left;
}

@media (max-width: 767px) {
	.frm-login .btn, .payment-frm-overlay-login .inner-body .btn {
	    padding: 8px 28px;
	    font-size: 10px;
	}
	.frm-login label {
		font-size: 11px;
	}
}