<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->
            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
        </div>
        <h4 class="panel-title">Flights</h4>
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->
</div>
    
    <div class="panel-body">
        <button ng-click="exportDataXLS()">Download Xls</button>
        <button ng-click="exportDataPdf()">Download pdf</button>
         <div id="exportable">
            <table id="data-table" class="table table-striped table-bordered">
                <thead>
                    <tr ng-show="!show">
                        <td colspan="6">Filters</td>
                    </tr>
                    <tr  ng-show="!show">
                        <td><input ng-model="jetSearch.bookingNumber" type="text" class="" style="width: 100%" placeholder="Search by Booking No."></td>
                        <td><input ng-model="jetSearch.aircratft_id.jet_name" type="text" class="" style="width: 100%" placeholder="Search by Jet Name"></td>
                        <td><input ng-model="jetSearch.aircratft_id.flight_number" type="text" class="" style="width: 100%" placeholder="Search by Flight No."></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Booking Number</th>
                        <th>Jet Name</th>
                        <th>Flight Number</th>
                        <th>Created By</th>
                        <!-- <th>Edit</th> -->
                        <th ng-show="!show">View</th>
                        <th ng-show="!show">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in (flights | filter:jetSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                        <td>{{x.bookingNumber}}</td>
                        <td>{{x.aircratft_id.jet_name}}</td>
                        <td>{{x.aircratft_id.flight_number}}</td>
                        <td>{{x.created_by.user_name}}</td>
                       <!--  <td><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td> -->
                        <td ng-show="!show"><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                        <td ng-show="!show"><a ng-click="openModal('delete',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div ng-show="showPagination">
            <ul uib-pagination total-items="(flights | filter:jetSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<!-- end panel-->

<div id="exportTab">
    <table ng-show="show" class="table table-striped table-bordered">
        <thead>
            <tr>
                    <th>Booking Number</th>
                    <th>Jet Name</th>
                    <th>Flight Number</th>
                    <th>Created By</th>
                </tr>
        </thead>
        <tbody>
            <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" 
                ng-repeat="x in flights"> 
                 <td>{{x.bookingNumber}}</td>
                <td>{{x.aircratft_id.jet_name}}</td>
                <td>{{x.aircratft_id.flight_number}}</td>
                <td>{{x.created_by.user_name}}</td>
            </tr>
        </tbody>
    </table>
</div>


