
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
        </div>
        <h4 class="panel-title">Empty Legs</h4>
    </div>
    
    <div class="panel-body">
    <button ng-click="exportDataXLS()">Download Xls</button>
        <button ng-click="exportDataPdf()">Download pdf</button>
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr ng-show="!show">
                    <td colspan="9">Filter</td>
                </tr>
                <tr ng-show="!show">
                    <td><input ng-model="emptyLegSearch.created_by.user_name" type="text" class="" style="width: 100%" placeholder="Search by Created By"></td>
                    <td><input ng-model="emptyLegSearch.originName" type="text" class="" style="width: 100%" placeholder="Search by Origin name"></td>
                    <td><input ng-model="emptyLegSearch.destinationName" type="text" class="" style="width: 100%" placeholder="Search by Destination name"></td>
                    <td></td>
                    <!-- <td></td> -->
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Created by</th>
                    <th>Origin Name</th>
                    <th>Destination Name</th>
                    <th>Departure</th>
                    
                    <th>No of Seats</th>
                    <th>Total Costs</th>
                    <th>Price per Seat</th>
                    <!-- <th>Edit</th> -->
                    <th ng-show="!show">View</th>
                    <th ng-show="!show">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in (emptyLeg | filter:emptyLegSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                    <td>{{x.created_by.user_name}}</td>
                    <td>{{x.originName}}</td>
                    <td>{{x.destinationName}}</td>
                    <td>{{x.departureDate |date}} {{x.departureTime}}</td>
                   <!--  <td>{{x.departureTime}}</td> -->
                    <td>{{x.no_of_seats}}</td>
                    <td>{{x.costs}}</td>
                    <td>{{x.price_per_seat}}</td>
                    <td ng-show="!show"><a ui-sref="main.emptyLegView({id:x._id})" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                    <td ng-show="!show"><a ng-click="delete(x._id)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
        <div ng-show="showPagination">
            <ul uib-pagination total-items="(emptyLeg | filter:emptyLegSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<!-- end panel-->

<div id="exportTab">
    <table ng-show="show" class="table table-striped table-bordered">
        <thead>
            <tr>
                    <th>Created by</th>
                    <th>Origin Name</th>
                    <th>Destination Name</th>
                    <th>Departure</th>
                    <th>No of Seats</th>
                    <th>Total Costs</th>
                    <th>Price per Seat</th>
                </tr>
        </thead>
        <tbody>
            <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" 
                ng-repeat="x in emptyLeg"> 
                 <td>{{x.created_by.user_name}}</td>
                    <td>{{x.originName}}</td>
                    <td>{{x.destinationName}}</td>
                    <td>{{x.departureDate |date}} {{x.departureTime}}</td>
                   <!--  <td>{{x.departureTime}}</td> -->
                    <td>{{x.no_of_seats}}</td>
                    <td>{{x.costs}}</td>
                    <td>{{x.price_per_seat}}</td>
            </tr>
        </tbody>
    </table>
</div>
