<!-- <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
    <div class="panel-heading">
        <h4 class="panel-title">{{Title}} Flight</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <h2 class="last-custom-heading">Aircraft Details</h2>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="gallary-img">
                    <img ng-repeat="i in new.image_gallary track by $index" ng-src="{{i}}" class="thumb" style="max-width: 120px; display: inline-block;margin-right: 2px;">
                </div>
                <table class="table table-striped table-bordered">
                    <col width="50%">
                    <col width="50%">
                    <tr>
                        <td>Booking Number</td>
                        <td>{{new.bookingNumber}}</td>
                    </tr>
                    <tr>
                        <td>Payment Status</td>
                        <td>{{new.paymentStatus}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{new.status}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <h2 class="last-custom-heading">Route</h2>
            </div>
            <div class="col-md-10 col-sm-10">
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Origin Name</th>
                        <th>Destination Name</th>
                        <th>Departure Date</th>
                        <th>Departure Time</th>
                    </tr>
                    <tr ng-repeat="x in new.roots">
                        <td>{{x.originName}}</td>
                        <td>{{x.destinationName}}</td>
                        <td>{{x.departureDate | date}}</td>
                        <td>{{x.departureTime}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> -->


<div class="panel panel-inverse">
    <!-- <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
        </div>
        <h4 class="panel-title">Flight Manifest</h4>
    </div> -->
    <div class="panel-heading">                
        <div class="row">
            <div class="col-md-9 col-sm-9">
                <h4 class="panel-title">Flight Manifest</h4>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4 class="panel-title text-right">{{new.flight.bookingNumber}}</h4>
            </div>
        </div>
    </div>
    
    <div class="panel-body">
     <button ng-if="isAdmin" ng-click="exportManifest()">Download Manifest</button>
        <table id="data-table" class="table table-striped table-bordered">
            <thead> 
                <tr>
                   <th>Owner/Operator</th>
                    <th>Mark of Nationality</th>
                    <th>Registration#</th>
                    <th>Flight#</th>
                    <th>Date</th>
                    <th>Departure Time</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" >
                    <td>{{new.flight.oprator_name}}</td>
                    <td>Indian</td>
                    <td>{{new.flight.aircraft_registration}}</td>
                    <td>{{new.flight.aircraft_name}}</td>
                    <td>{{new.flight.departureDate | date:'dd-MMM-yy'}}</td>
                    <td>{{new.flight.departureTime}}</td>
                </tr>
            </tbody>
        </table>

        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Port of Embarkation (Origin)</th>
                    <th rowspan="2"> Port of Disembarkation (Destination)</th>
                    <th rowspan="2">AOR #</th>
                    <th colspan="3" style="text-align: center">International Flights</th>
                </tr> 
                <tr>
                    <th>Flight #</th>
                    <th>YA No</th>
                    <th>LandingPermit</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-repeat="root in new.flight.roots" ng-class="{'odd':$index%2==1,'even':$index%2==0}" >
                    <!-- <td>{{new.emptyleg.originName.split(',')[0]}}</td>
                    <td>{{new.emptyleg.destinationName.split(',')[0]}}</td> -->

                    <td>{{root.originName.split(',')[0]}}</td>
                    <td>{{root.destinationName.split(',')[0]}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="table-crew-member">
            <table id="data-table" class="table table-striped table-bordered">
                <thead> 
                    <tr>
                       <th>S.No</th>
                        <th>Name of The Crew</th>
                        <th>Designation</th>
                        <th>Nationality</th>
                        <th>Passport #</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in new.flight.crew_members">
                        <td>{{$index+1}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.designation}}</td>
                        <td>{{x.nationality}}</td>
                        <td>{{x.passport}}</td>
                        <td>{{x.remarks}}</td>
                        <td>
                            <a ng-click="action('Edit',x)">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="add-crew-member">
                <a ng-click="action('Add')">Add</a>
            </p>
        </div>

        <div class="table-crew-member">
            <table id="data-table" class="table table-striped table-bordered">
                <thead> 
                    <tr>
                        <th rowspan="2">S.No</th>
                        <th rowspan="2">Full Name Of Passenger</th>
                        <th rowspan="2">Nationality</th>
                        <th colspan="2" style="text-align: center">Adult</th>
                        <th rowspan="2">Child</th>
                        <th rowspan="2">Infant</th>
                        <th colspan="2" style="text-align: center">Baggage</th>
                        <th rowspan="2">Edit</th>
                    </tr>
                    <tr>
                        <th>Male</th>
                        <th>Female</th>
                        <th>Piece</th>
                        <th>Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in new.pessenger.pessanger_detail">
                        <td>{{$index+1}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.nationlity}}</td>
                        <td ><p style="margin: 0px;" ng-if="x.gender == 'Male' && x.age >12">{{x.gender}}</p></td>
                        <td ><p style="margin:0px" ng-if="x.gender == 'Female' && x.age >12">{{x.gender}}</p></td>
                        <td ><p style="margin:0px" ng-if="x.age <= 12">{{x.gender}}</p></td>
                        <td >{{}}</td>
                        <td>{{x.piece}}</td>
                        <td>{{x.weight}}</td>
                        <td>
                            <a ng-click="addPassanger('Edit',x)">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
             <p class="add-crew-member">
                <a ng-click="addPassanger('Add')">Add</a>
             </p>
         </div>
    </div>
</div>
<!-- end panel-->

<div id="pdfFormat" style="display:none">
    <div class="pdf-sub-header">
        <ul>
            <li>{{new.flight.oprator_name}}</li>
            <li><img src="" alrt="img" style="width: 150px"></li>
        </ul>
    </div>
    <div class="invoice-header" style="font-size: 20px;margin-bottom:10px">
        <div style="font-weight:bold;">
            Passenger Manifest
        </div>
        <div>(I.C.A.O Annex9, Appendix 2)</div>
    </div>

    <div class="pdf-section">
        <table id="data-table" cellspacing="0" cellpadding="0"> 
                <tr class="tr-head">
                   <th>Owner/Operator</th>
                    <th>Mark of Nationality</th>
                    <th>Registration#</th>
                    <th>Flight#</th>
                    <th>Date</th>
                    <th>Departure Time</th>
                </tr>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" >
                   <td>{{new.flight.oprator_name}}</td>
                    <td>Indian</td>
                    <td>{{new.flight.aircraft_registration}}</td>
                    <td>{{new.flight.aircraft_name}}</td>
                    <td>{{new.flight.departureDate | date:'dd-MMM-yy'}}</td>
                    <td>{{new.flight.departureTime}}</td>
                </tr>
        </table>
    </div>
    <div class="pdf-section">

        <table id="data-table" cellspacing="0" cellpadding="0">
                <tr class="tr-head">
                    <td rowspan="2">Port of Embarkation (Origin)</td>
                    <td rowspan="2">Port of Disembarkation (Destination)</td>
                    <td rowspan="2">AOR #</td>
                    <td colspan="3" style="text-align: center">International Flights</td>
                </tr> 
                <tr class="tr-head">
                    <td>Flight #</td>
                    <td>YA No</td>
                    <td>LandingPermit</td>
                </tr>
                 <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" >
                    <td>{{root.originName.split(',')[0]}}</td>
                    <td>{{root.destinationName.split(',')[0]}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>     
        </table>
    </div>
    <div class="pdf-section">
        <table id="data-table" cellspacing="0" cellpadding="0"> 
            <tr class="tr-head">
               <td>S.No</td>
                <td>Name of the Crew</td>
                <td>Designation</td>
                <td>Nationality</td>
                <td>Passport #</td>
                <td>Remarks</td>
            </tr>
            <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in new.flight.crew_members">
                    <td>{{$index+1}}</td>
                    <td>{{x.name}}</td>
                    <td>{{x.designation}}</td>
                    <td>{{x.nationality}}</td>
                    <td>{{x.passport}}</td>
                    <td>{{x.remarks}}</td>
                </tr>
        </table>
    </div>
    <div class="pdf-section">

        <table id="data-table" cellspacing="0" cellpadding="0">
                <tr class="tr-head">
                    <td rowspan="2">S.No</td>
                    <td rowspan="2">Full Name Of Passenger</td>
                    <td rowspan="2">Nationality</td>
                    <td colspan="2" style="text-align: center">Adult</td>
                    <td rowspan="2">Child</td>
                    <td rowspan="2">Infant</td>
                    <td colspan="2" style="text-align: center">Baggage</td>
                    <td rowspan="2">Remarks</td>
                </tr>
                <tr class="tr-head">
                    <td>Male</td>
                    <td>Female</td>
                    <td>Piece</td>
                    <td>Weight</td>
                </tr>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in new.pessenger.pessanger_detail">
                        <td>{{$index+1}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.nationlity}}</td>
                        <td ><p style="margin: 0px;" ng-if="x.gender == 'Male' && x.age >12">{{x.gender}}</p></td>
                        <td ><p style="margin:0px" ng-if="x.gender == 'Female' && x.age >12">{{x.gender}}</p></td>
                        <td ><p style="margin:0px" ng-if="x.age <= 12">{{x.gender}}</p></td>
                        <td >{{}}</td>
                        <td>{{x.piece}}</td>
                        <td>{{x.weight}}</td>
                        <td>
                            <a ng-click="addPassanger('Edit',x)">Edit</a>
                        </td>
                    </tr>
        </table>
    </div>
</div>
<!-- END PDF -->
<!-- end panel-->
<script type="text/ng-template" id="country-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{actionTaken}} Crew</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
            <div class="form-group" ng-class="{'has-success':addEditForm.crewname.$valid && !addEditForm.crewname.$pristine,'has-error':addEditForm.crewname.$invalid && !addEditForm.crewname.$pristine}">
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Crew Name</label>
                <div class="col-md-12">
                    <input type="text" class="form-control"
                                  name="crewname" placeholder="Crew Name" ng-model="addData.name" required>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':addEditForm.desig.$valid && !addEditForm.desig.$pristine,'has-error':addEditForm.desig.$invalid && !addEditForm.desig.$pristine}">
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Designation</label>
                <div class="col-md-12">
                <input type="text" placeholder="Designation" nam="desig" class="form-control"
                                        ng-model="addData.designation" required>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Nationality</label>
                <div class="col-md-12">
                    <input type="text" class="form-control"
                    name="nation" placeholder="Nationality" ng-model="addData.nationality" required>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Passport</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" name="passportName" placeholder="Passport" ng-model="addData.passport" required>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Remarks</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Remarks" ng-model="addData.remarks" required>
                </div>
            </div>
            
            <div class="form-group">
                <!-- <label class="col-md-6 control-label"></label> -->
                <div class="col-md-12">
                    <button type="submit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</script>

<script type="text/ng-template" id="passenger-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{actionTaken}} Passanger</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="addEditPass" ng-submit="submitPassanger(addEditPass.$valid)" novalidate>
            <div class="form-group" ng-class="{'has-success':addEditPass.crewname.$valid && !addEditPass.crewname.$pristine,'has-error':addEditPass.crewname.$invalid && !addEditPass.crewname.$pristine}">
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Passanger Name</label>
                <div class="col-md-12">
                    <input type="text" class="form-control"
                                  name="crewname" placeholder="Passanger Name" ng-model="addPassData.name" required>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':addEditPass.desig.$valid && !addEditPass.desig.$pristine,'has-error':addEditPass.desig.$invalid && !addEditPass.desig.$pristine}">
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Age</label>
                <div class="col-md-12">
                <input type="number" min="0" placeholder="Age" nam="desig" class="form-control"
                                        ng-model="addPassData.age" required>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Gender</label>
                <div class="col-md-12">
                   <!--  <input type="text" class="form-control" name="passportName" placeholder="Gender" ng-model="addPassData.gender" required>
                    <select class="form-control" ng-option="gender" ng-model="selectedAircraft">{{gender}}</select> -->
                    <select  class="form-control" ng-model="addPassData.gender">
                          <option value="">---Please select---</option> <!-- not selected / blank option -->
                          <option value="Male">Male</option> <!-- interpolation -->
                          <option value="Female">Female</option>
                        </select>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Nationality</label>
                <div class="col-md-12">
                    <input type="text" class="form-control"
                    name="nation" placeholder="Nationality" ng-model="addPassData.nationlity" required>
                </div>
            </div>
            <div class="form-group" >
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Passport No.</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" name="passportName" placeholder="Passport No." ng-model="addPassData.passportNumber" required>
                </div>
            </div>
           <!--  <div class="form-group" >
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Baggage Weight</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Baggage Weight" ng-model="addPassData.baggage_weight" required>
                </div>
            </div> -->
            
            <div class="form-group">
                <!-- <label class="col-md-6 control-label"></label> -->
                <div class="col-md-12">
                    <button type="submit" ng-disabled="addEditPass.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</script>

