<div class="js-lgbg"></div>
<header>
	<div class="container">
		<div class="row">
			<!-- Logo -->
			<div class="col-md-6 col-sm-6">
				<div class="custom-logo">
					<p><img src="assets/img/logo.png" alt="logo"></p>
				</div>
			</div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="row">				
			<div class="col-md-6 col-md-offset-3 col-sm-12 center">
				<div class="login-form-wrapper">
					<img src="./assets/img/logo.png" style="max-width: 150px">
					<!-- <h3>JETSMART ADMIN</h3> -->
					<hr>
					<form>
						<input type="text" name="email" ng-model="admin.username" placeholder="Username/Email" required/>
						<input type="password" name="password" ng-model="admin.password" placeholder="Password" required>
						
						<button ng-click="loginAttempt()"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button>
					</form>
				</div>
            </div>	                            
	  	</div>
	</div>
</section>
<style type="text/css">
	.js-lgbg{
		position: fixed;
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: rgba(15, 22, 38, 0.95);
		background-image: url(./assets/img/search-banner.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: bottom center;
		background-attachment: fixed;
	}
</style>