<div class="row">
                <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">Add/Edit Company</h4>
            </div>
            <div class="panel-body">
<!-- <form id="uploadForm" enctype="multipart/form-data" action="/media/upload" method="post">

      <input type="file" name="imgs" id="filesAirCraft" class="inputfile"  data-multiple-caption="{count} files selected" multiple image-uploader/>
                        <label for="filesAirCraft" id="upload-content" image-uploader1>Choose a file</label>
      <input type="submit" value="Upload Image" name="submit">

    </form> -->


                <form class="form-horizontal" name="AgentForm" ng-submit="submitForm(AgentForm.$valid)" novalidate>
                	<div class="form-group">
                		<div class="col-md-12" ng-init="form.typeSelector = 'single'">
                			<div class="col-md-8">
                				<!-- <label>
                					<input value="single" type="radio" name="formTypeSelector" ng-model="form.typeSelector" /> Single
                				</label>&nbsp;&nbsp;&nbsp;
                				<label>
                					<input value="bluk upload" type="radio" name="formTypeSelector" ng-model="form.typeSelector" /> Bulk Upload
                				</label> -->
                			</div>
                		</div>
                	</div>
                    <!-- Multiple -->
                    <div class="form-group" style="height: 40px;line-height: 20px;" ng-show="form.typeSelector == 'bluk upload'">
                        <div class="col-md-12">
                        	<div class="row">
		                        <label class="col-md-3">Bulk Upload of agents</label>
		                        <div class="col-md-9">
			                        <input type="file" name="file" id="filesAgent" class="inputfile" image-uploader/>
			                        <label for="filesAgent" id="upload-content" image-uploader1>Choose a file</label>
			                        <button ng-click="uploadFile();" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload</button>
			                        <span id="spinningSquaresG" ng-show="isFileUploading">
			                            <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
			                            <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
			                            <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
			                            <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
			                            <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
			                            <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
			                            <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
			                            <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
			                        </span>
									<!-- <button ng-click>upload</button> -->
									<!-- <droplet ng-model="interface"></droplet> -->
									<!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">

									</droplet>
									agent_name:x["Agent Name"],
									agency_number :x["IATA Number"],
									agency_name:x["Agency"],
									address1:x["Adress 1"],
									address2:x["Adress 2"],
									city:x["City"],
									state:x["State"],
									country:x["Country"],
									pincode:x["pin Code"],
									phoneNo1:x["Phone 1"],
									phoneNo2:x["Phone 2"],
									mobileNo:x["Mobile"],
									email_id:x["Email id"],
									assigned_sales_person:x["assigned_sales_person"],
									faxNo:x["faxNo"]
									-->
								</div>
	                        </div>
                        </div>
                    </div>
	                <span ng-show="form.typeSelector == 'single'">

	                		<!--  <div class="col-md-12">
				                <div class="form-group col-md-6"
				                    ng-class="{'has-success':userForm.user_name.$valid && !userForm.user_name.$pristine,
				                                'has-error':userForm.user_name.$invalid && !userForm.user_name.$pristine}">
				                    <label class="col-md-3 control-label">Name</label>
				                    <div class="col-md-9 ">
				                        <input type="text" name="user_name" class="form-control" ng-model="newUser.user_name" ng-disabled="Title == ''" required>
				                    </div>
				                </div>
				                <div class="form-group col-md-6"
				                    ng-class="{'has-success':userForm.code.$valid && !userForm.code.$pristine,
				                                'has-error':userForm.code.$invalid && !userForm.code.$pristine}">
				                    <label class="col-md-3 control-label">Code</label>
				                    <div class="col-md-9 ">
				                        <input type="text" name="code" class="form-control" ng-model="newUser.code" ng-disabled="true" >
				                    </div>
				                </div>

				            </div> -->
				    <div class="form-group">	
				    	<div class="col-md-12">
	                        <label class="col-md-2">Category</label>
	                        <div class="col-md-12">
	                        	<div class="row">
	                        		<div class="col-md-12" style="padding-left: 0; margin-bottom: 20px;">
		                        		<div class="col-md-3">
		                        			<select class="col-select-company" name="typeSelector"
		                        				ng-model="type.selector"
		                        				ng-change="agencyNo={}"
	                        					ng-options="item.val as item.label for item in [{val:'agent',label:'AGENCY'},{val:'iata',label:'IATA'},{val:'corporate',label:'CORPORATE'}]"></select>
		                        			<!-- <select class="form-control" 
		                        				ng-model="newAgent.company" ng-options="o.value as o.name for o in Companies"
		                        				required></select> -->
		                        			<!-- <label><input type="radio" value="agency" name="typeSelector" ng-model="type.selector" ng-change="agencyNo={}"> Non-IATA</label>
		                        			<label><input type="radio" value="iata" name="typeSelector" ng-model="type.selector" ng-change="agencyNo={}"> IATA </label>
		                        			<label><input type="radio" value="agency" name="typeSelector" ng-model="type.selector" ng-change="agencyNo={}"> Corparate</label> -->
		                        			<span ng-hide="true">{{ newAgent.code = agencyNo.one + agencyNo.two + agencyNo.three }}</span>
		                        		</div>
		                        		<div ng-if="type.selector != 'iata'" class="col-md-3">
		                        			<input 	type="text" 
			                            		name="" class="form-control" 
			                            		ng-model="agencyNo.one"
			                            		placeholder="" ng-disabled="type.selector == 'agent' || type.selector == 'agent'" >
		                        		</div>
		                        		<div ng-if="type.selector == 'iata'" class="col-md-3">
		                        			<input 	type="text" 
			                            		name="" class="form-control" 
			                            		ng-model="agencyNo.one = '143'"
			                            		placeholder="" ng-disabled="type.selector == 'agent' || type.selector == 'agent'" >
		                        		</div>
		                        		<div  class="col-md-3">
		                        			<input	type="text" 
			                            		name="" class="form-control" 
			                            		ng-model="agencyNo.two"
			                            		placeholder="" ng-disabled="type.selector == 'agent' || type.selector == 'agent'" >
		                        		</div>
		                        		<div class="col-md-3">
		                        			<input ng-if="type.selector != 'iata'"	type="text" 
			                            		name="" class="form-control" 
			                            		ng-model="agencyNo.three"
			                            		placeholder="" ng-disabled="type.selector == 'agent' || type.selector == 'agent'" >
		                        		</div>
	                        		</div>
	                        	</div>
	                        </div>
                        </div>
                    </div>


				    <div class="col-md-12">
				    	<div class="form-group col-md-6"
	                    	 ng-class="{'has-success':AgentForm.comp_type.$valid && !AgentForm.comp_type.$pristine,
	                    				'has-error':AgentForm.comp_type.$invalid && !AgentForm.comp_type.$pristine}">
	                        
	                        <label class="col-md-3 control-label">Company Type</label>
	                        <div class="col-md-9" ng-init="newAgent.country=''">
	                            <select class="form-control" name="comp_type" ng-model="newAgent.company_type" required>
	                                <option value="" disabled hidden>Company Type</option>
	                               	<option>A</option>
	                            	<option>B</option>
	                            	<option>C</option>
	                            	<option>D</option>
	                            </select>
	                        </div>
			                  
	                    </div>
	                    <div class="form-group col-md-6"
	                    	 ng-class="{'has-success':AgentForm.agent_name.$valid && !AgentForm.jet_name.$pristine,
	                    				'has-error':AgentForm.agent_name.$invalid && !AgentForm.agent_name.$pristine}">
	                        <label class="col-md-3 control-label">Name</label>
	                        <div class="col-md-9">
	                            <input 	type="text" 
	                            		name="agent_name" class="form-control" 
	                            		ng-model="newAgent.user_name"
	                            		placeholder="Enter the name">
	                        </div>
	                    </div>
	                     
		            </div> <!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">
	                                
	                            </droplet> -->
	                    <!-- Agency number -->
	                    
	                    <!-- address -->
	                   <div class="col-md-12">
	                   	<div class="form-group col-md-6"
	                    	 ng-class="{'has-success':AgentForm.address1.$valid && !AgentForm.address1.$pristine,
	                    				'has-error':AgentForm.address1.$invalid && !AgentForm.address1.$pristine}">
	                        <label class="col-md-3 control-label">Address1</label>
	                        <div class="col-md-9">
	                            <textarea name="address1" class="form-control" 
	                            		ng-model="newAgent.address1"
	                            		placeholder="Address line 1"></textarea> 	
	                            		<!-- type="text" 
	                            		name="address1" class="form-control" 
	                            		ng-model="newAgent.address1"
	                            		placeholder="Address line 1"> -->
	                        </div>
	                    </div>
	                    <div class="form-group col-md-6"
	                    	 ng-class="{'has-success':AgentForm.address2.$valid && !AgentForm.address2.$pristine,
	                    				'has-error':AgentForm.address2.$invalid && !AgentForm.address2.$pristine}">
	                        <label class="col-md-3 control-label">Address2</label>
	                        <div class="col-md-9">
	                        	<textarea name="address2" class="form-control" 
	                            		ng-model="newAgent.address2"
	                            		placeholder="Address line 2"></textarea>
	                            <!-- <input 	type="text" 
	                            		name="address2" class="form-control" 
	                            		ng-model="newAgent.address2"
	                            		placeholder="Address line 2"> -->
	                        </div>
	                    </div>
	                      
	                 </div>

	                  
	                 <div class="col-md-12 ">
	                 	<div class="form-group col-md-6">
	                        <label class="col-md-3 control-label">Country</label>
	                        <div class="col-md-9" ng-init="newAgent.country=''">
	                            <select class="form-control" name="contry" ng-model="newAgent.country">
	                                <option value="" disabled hidden>Country</option>
	                                <option value="{{x._id}}" ng-repeat="x in country">{{x.countryName}}</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-6">
	                        <label class="col-md-3 control-label">State</label>
	                        <div class="col-md-9" ng-init="newAgent.state=''">
	                            <select class="form-control" name="State" ng-model="newAgent.state" ng-disabled="newAgent.country==''">
	                                <option value="" disabled hidden>State</option>
	                                <option value="{{x._id}}" ng-repeat="x in states">{{x.stateName}}</option>
	                            </select>
	                        </div>
	                        <!-- <pre>{{states}}</pre> -->
	                    </div>
	                    
	                </div>
	                <div class="col-md-12">
	                	<div class="form-group col-md-6"
	                    		ng-class="{'has-success':AgentForm.city.$valid && !AgentForm.city.$pristine,
	                    				'has-error':AgentForm.city.$invalid && !AgentForm.city.$pristine}">
	                        <label class="col-md-3 control-label">City</label>
	                        <div class="col-md-9">
	                            <select class="form-control" name="city" ng-model="newAgent.city" ng-disabled="newAgent.state==''">
	                                <option value="" disabled hidden>City</option>
	                                <option value="{{x._id}}" ng-repeat="x in cities">{{x.cityName}}</option>
	                            </select>
	                        </div>
	                    </div>
	                    <!-- pincode -->
	                    <div class="form-group col-md-6">
	                        <label class="col-md-3 control-label">Pincode</label>
	                        <div class="col-md-9">
	                            <input 	type="number" 
	                            		name="pincode" class="form-control" 
	                            		ng-model="newAgent.pincode"
	                            		placeholder="pincode">
	                        </div>
	                    </div>

	                    <!-- phone number -->
	                    
	                </div>
	                <div class="col-md-12">
	                	<div class="form-group col-md-6">
	                        <label class="col-md-3 control-label">Phone Number </label>
	                        <div class="col-md-9">
	                            <input 	type="number" 
	                            		name="phoneNo1" class="form-control" 
	                            		ng-model="newAgent.phone_number"
	                            		placeholder="phone number">
	                        </div>
	                    </div>
	                    <!-- fax number-->
	                    <div class="form-group col-md-6">
	                        <label class="col-md-3 control-label">Fax Number </label>
	                        <div class="col-md-9">
	                            <input 	type="text" 
	                            		name="faxNo" class="form-control" 
	                            		ng-model="newAgent.fax"
	                            		placeholder="fax number">
	                        </div>
	                    </div>

	                    <!-- fax number-->
	                    
	                </div>
	                <div class="col-md-12">
	                	<div class="form-group col-md-6">
	                        <label class="col-md-3 control-label">Email Id</label>
	                        <div class="col-md-9">
	                            <input 	type="email" 
	                            		name="email_id" class="form-control" 
	                            		ng-model="newAgent.email"
	                            		placeholder="example@mail.com">
	                        </div>
	                    </div>
	                    <!-- assigned_sales_person  -->
	                    <div class="form-group col-md-6">
	                        <label class="col-md-3 control-label">Assigned Sales Persone</label>
	                        <div class="col-md-9">
	                            <input 	type="text" 
	                            		name="" class="form-control" 
	                            		ng-model="newAgent.assigned_sales_person"
	                            		placeholder="">
	                        </div>
	                    </div>

	                    

	                    <!-- Category Type -->
	                    <!-- <div class="form-group col-md-6">
	                        <label class="col-md-3 control-label">Category</label>
	                        <div class="col-md-9">
	                        	<select class="form-control" name="category" ng-model="newAgent.category">
	                                <option value="">category</option>
	                            </select>
	                        </div>
	                    </div> -->
	                </div>
	                <div class="col-md-12">
	                	<div class="form-group col-md-6">
                		    <label class="col-md-3 control-label">Website</label>
                		    <div class="col-md-9">
                		        <input  type="text" 
                		                name="website" class="form-control" 
                		                ng-model="newAgent.website"
                		                placeholder="www.example.com">
                		    </div>
                		</div>
	                </div>

	                <!--  Revenue DETAILS -->
	                    <div class="form-group custom-label-center-align" style="padding: 0 50px;">
	                        <label class="col-md-12 control-label" style="text-align: center;background: #ccc">REVENUE</label>
	                    </div>

	                    <div class="form-group custom-label-center-align" >
	                        <label class="col-md-1 control-label">SNo</label>
	                        <label class="col-md-4 control-label" style="text-align: left;">Month</label>
	                        <label class="col-md-4 control-label" style="text-align: left;">Total Amount</label>
	                        
	                        <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.Revenu()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
	                    </div>

	                    <div class="form-group custom-label-center-align" ng-repeat="x in newAgent.Revenu track by $index">
	                    	<label class="col-md-1 control-label">{{$index+1}}</label>
	                        <div class="col-md-4">
	                        	<!-- <input 	type="text" class="form-control" name="" ng-model="x.month"> -->
	                        	 <select ng-model="x.month" class="form-control" ng-options="currMonth for currMonth in months"></select>
	                        </div>
	                        
	                        <div class="col-md-4">
	                        	<input 	type="number" class="form-control" name="" ng-model="x.total_amount">
	                        </div>
	                        <div class="col-md-1 custom-label-center-align">
	                        	<a ng-show="$last" href="javascript:;" ng-click="remove.Revenu()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
	                        </div>
	                    </div>
	                    <!-- Revenue  DETAILS -->

	                    <!--  OWNER MANAGEMENT TEAM -->
	                    <div class="form-group" style="padding: 0 50px;">
	                        <label class="col-md-12 control-label" style="text-align: center;background: #ccc">OWNER MANAGEMENT TEAM</label>
	                    </div>

	                    <div class="form-group custom-label-center-align">
	                        <label class="col-md-1 control-label">SNo</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Name</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
	                        <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.owner_manegement_team()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
	                    </div>

	                    <div class="form-group custom-label-center-align" ng-repeat="x in newAgent.owner_manegement_team track by $index">
	                    	<label class="col-md-1 control-label">{{$index+1}}</label>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.name">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.designation">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="date" class="form-control" name="" ng-model="x.date_of_birth">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="date" class="form-control" name="" ng-model="x.anniversery">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="number"  class="form-control" name="" ng-model="x.phone">
	                        </div>
	                        <div class="col-md-1 custom-label-center-align">
	                        	<a ng-show="$last" href="javascript:;" ng-click="remove.owner_manegement_team()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
	                        </div>
	                    </div>                    
	                    <!-- END OWNER MANAGEMENT TEAM -->

	                    <!--  KEY PERSONNEL DETAILS -->
	                    <div class="form-group custom-label-center-align" style="padding: 0 50px;">
	                        <label class="col-md-12 control-label" style="text-align: center;background: #ccc">KEY PERSONNEL DETAILS</label>
	                    </div>

	                    <div class="form-group custom-label-center-align" >
	                        <label class="col-md-1 control-label">SNo</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Name</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
	                        <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.keyPerson()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
	                    </div>

	                    <div class="form-group custom-label-center-align" ng-repeat="x in newAgent.keyPerson track by $index">
	                    	<label class="col-md-1 control-label">{{$index+1}}</label>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.name">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.designation">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="date" class="form-control" name="" ng-model="x.date_of_birth">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="date" class="form-control" name="" ng-model="x.anniversery">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="number"  class="form-control" name="" ng-model="x.mobile">
	                        </div>
	                        <div class="col-md-1 custom-label-center-align">
	                        	<a ng-show="$last" href="javascript:;" ng-click="remove.keyPerson()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
	                        </div>
	                    </div>
	                    <!-- END KEY PERSONNEL DETAILS -->

	                    <!--  NAME OF CORPORATE ACCOUNTS HANDLED -->
	                    <div class="form-group custom-label-center-align" style="padding: 0 50px;">
	                        <label class="col-md-12 control-label" style="text-align: center;background: #ccc">NAME OF CORPORATE ACCOUNTS HANDLED</label>
	                    </div>	
 
	                    <div class="form-group custom-label-center-align">
	                        <label class="col-md-1 control-label">SNo</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Name</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
	                        <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
	                        <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.name_of_corparate_account()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
	                    </div>

	                    <div class="form-group custom-label-center-align" ng-repeat="x in newAgent.name_of_corparate_account track by $index">
	                    	<label class="col-md-1 control-label">{{$index+1}}</label>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.name">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="text" class="form-control" name="" ng-model="x.designation">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="date" class="form-control" name="" ng-model="x.date_of_birth">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="date" class="form-control" name="" ng-model="x.anniversery">
	                        </div>
	                        <div class="col-md-2">
	                        	<input 	type="number"  class="form-control" name="" ng-model="x.phone">
	                        </div>
	                        <div class="col-md-1 custom-label-center-align">
	                        	<a ng-show="$last" href="javascript:;" ng-click="remove.name_of_corparate_account()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
	                        </div>
	                    </div>
	                    <!-- END NAME OF CORPORATE ACCOUNTS HANDLED -->



	                   

	                    <div class="form-group custom-label-center-align">
	                        <div class="col-md-12" style="text-align: center;">
	                            <button type="submit" ng-disabled="AgentForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
	                        </div>
	                    </div>
                    </span>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
</div>

                
