<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
        <h4 class="panel-title">{{Title}} Company</h4>
    </div>
    <div class="panel-body">
            <form class="form-horizontal" ng-class="{'view':Title == ''}" name="AgentForm" ng-submit="submitForm(AgentForm.$valid)" novalidate>
                <fieldset ng-disabled="Title == ''" style="border: none">
                	<div class="col-md-12">
                        <div class="form-group col-md-6"
                             ng-class="{'has-success':AgentForm.comp_type.$valid && !AgentForm.comp_type.$pristine,
                                        'has-error':AgentForm.comp_type.$invalid && !AgentForm.comp_type.$pristine}">
                            <label class="col-md-3 control-label">Company Type</label>
                            <div class="col-md-9" ng-init="newAgent.country=''">
                                <select class="form-control" name="comp_type" ng-model="newAgent.company_type" required>
                                    <option value="" disabled hidden>Company Type</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                            </div>
                        </div>
                		<div class="form-group col-md-6"
                		     ng-class="{'has-success':AgentForm.agent_name.$valid && !AgentForm.agent_name.$pristine,
                		                'has-error':AgentForm.agent_name.$invalid && !AgentForm.agent_name.$pristine}">
                		    <label class="col-md-3 control-label">Name</label>
                		    <div class="col-md-9">
                		        <input  type="text" 
                		                name="agent_name" class="form-control"
                		                ng-model="newAgent.user_name"
                		                placeholder="Enter the name" required>
                		    </div>
                		</div>
                		
                	</div>

                	<div class="col-md-12">
                        <!-- Agency number -->
                        <div class="form-group col-md-6">
                            <label class="col-md-3 control-label">Code</label>
                            <div class="col-md-9">
                                <input  type="text" 
                                    name="" class="form-control" 
                                    ng-model="newAgent.code"
                                    placeholder="" ng-disabled="true" >
                            </div>
                        </div>
                		<!-- address -->
                		<div class="form-group col-md-6"
                		     ng-class="{'has-success':AgentForm.address1.$valid && !AgentForm.address1.$pristine,
                		                'has-error':AgentForm.address1.$invalid && !AgentForm.address1.$pristine}">
                		    <label class="col-md-3 control-label">Address Line1</label>
                		    <div class="col-md-9">
                		        <input  type="text" 
                		                name="address1" class="form-control" 
                		                ng-model="newAgent.address1"
                		                placeholder="Address line 1">
                		    </div>
                		</div>
                		
                	</div>

                	<div class="col-md-12">
                        <div class="form-group col-md-6"
                             ng-class="{'has-success':AgentForm.address2.$valid && !AgentForm.address2.$pristine,
                                        'has-error':AgentForm.address2.$invalid && !AgentForm.address2.$pristine}">
                            <label class="col-md-3 control-label">Address Line1</label>
                            <div class="col-md-9">
                                <input  type="text" 
                                        name="address2" class="form-control" 
                                        ng-model="newAgent.address2"
                                        placeholder="Address line 2">
                            </div>
                        </div>
                		<div class="form-group col-md-6">
                		    <label class="col-md-3 control-label">State</label>
                		    <div class="col-md-9" ng-init="newAgent.state=''">
                		        <select class="form-control" name="State" 
                		            ng-model="newAgent.state" 
                		            ng-disabled="newAgent.country==''"
                		            ng-options="x.states._id as x.states.stateName for x in states"
                		            ng-change="getCities(newAgent.state)">
                		        </select>
                		    </div>
                		</div>

                		
                	</div>

                	<div class="col-md-12">
                        <div class="form-group col-md-6"
                                ng-class="{'has-success':AgentForm.city.$valid && !AgentForm.city.$pristine,
                                        'has-error':AgentForm.city.$invalid && !AgentForm.city.$pristine}">
                            <label class="col-md-3 control-label">City</label>
                            <div class="col-md-9">
                                <select class="form-control" name="city" 
                                    ng-model="newAgent.city" 
                                    ng-disabled="newAgent.state==''"
                                    ng-options="x._id as x.cityName for x in cities">
                                </select>
                            </div>
                        </div>
                		<!-- pincode -->
                		<div class="form-group col-md-6">
                		    <label class="col-md-3 control-label">Pincode</label>
                		    <div class="col-md-9">
                		        <input  type="text" 
                		                name="pincode" class="form-control" 
                		                ng-model="newAgent.pincode"
                		                placeholder="pincode">
                		    </div>
                		</div>

                		
                	</div>

                	<div class="col-md-12">
                        <!-- phone number -->
                        <div class="form-group col-md-6">
                            <label class="col-md-3 control-label">Phone Number </label>
                            <div class="col-md-9">
                                <input  type="text" 
                                        name="phoneNo1" class="form-control" 
                                        ng-model="newAgent.phone_number"
                                        placeholder="phone number">
                            </div>
                        </div>
                		<!-- fax number-->
                		<div class="form-group col-md-6">
                		    <label class="col-md-3 control-label">Fax Number </label>
                		    <div class="col-md-9">
                		        <input  type="text" 
                		                name="faxNo" class="form-control" 
                		                ng-model="newAgent.fax"
                		                placeholder="fax number">
                		    </div>
                		</div>

                		
                	</div>

                	<div class="col-md-12">
                        <!-- email number-->
                        <div class="form-group col-md-6">
                            <label class="col-md-3 control-label">Email Id</label>
                            <div class="col-md-9">
                                <input  type="email" 
                                        name="email_id" class="form-control" 
                                        ng-model="newAgent.email"
                                        placeholder="example@mail.com">
                            </div>
                        </div>
                		<!-- email number-->
                		<div class="form-group col-md-6">
                		    <label class="col-md-3 control-label">Website</label>
                		    <div class="col-md-9">
                		        <input  type="text" 
                		                name="website" class="form-control" 
                		                ng-model="newAgent.website"
                		                placeholder="www.example.com">
                		    </div>
                		</div>

                		
                	</div>

                	<div class="col-md-12">
                		
                		<!-- assigned_sales_person  -->
                        <div class="form-group col-md-6">
                            <label class="col-md-3 control-label">Assigned Sales Persone</label>
                            <div class="col-md-9">
                                <input  type="text" 
                                        name="" class="form-control" 
                                        ng-model="newAgent.assigned_sales_person"
                                        placeholder="" required>
                            </div>
                        </div>
                		<div class="form-group col-md-6">
                		    <label class="col-md-3 control-label">Category</label>
                		    <div class="col-md-9">
                		        <select class="form-control" name="category" ng-model="newAgent.category">
                		            <option value="">category</option>
                		        </select>
                		    </div>
                		</div>
                    </div>

                    <!--  Revenue DETAILS -->
                        <div class="clearfix"></div>
                        <div class="form-group custom-label-center-align custom-legend-styling" style="padding: 0 50px;">
                            <label class="col-md-12 control-label" style="text-align: center;background: #ccc">REVENUE</label>
                        </div>

                        <div class="form-group custom-label-center-align" >
                            <label class="col-md-1 control-label">SNo</label>
                            <label class="col-md-4 control-label" style="text-align: left;">Month</label>
                            <label class="col-md-4 control-label" style="text-align: left;">Total Amount</label>
                            
                            <label ng-show="Title !== ''" class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.Revenu()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                        </div>

                        <div class="form-group custom-label-center-align" ng-repeat="x in newAgent.Revenu track by $index">
                            <label class="col-md-1 control-label">{{$index+1}}</label>
                            <div class="col-md-4">
                                <!-- <input  type="text" class="form-control" name="" ng-model="x.month"> -->
                                <select class="form-control" ng-model="x.month">
                                    <option ng-repeat="month in months">{{month}}</option>
                                </select>
                            </div>
                            
                            <div class="col-md-4">
                                <input  type="number"  class="form-control" name="" ng-model="x.total_amount">
                            </div>
                            <div class="col-md-1 custom-label-center-align" ng-show="Title !== ''">
                                <a ng-show="$last" href="javascript:;" ng-click="remove.Revenu()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <!-- Revenue  DETAILS -->
                		<!--  KEY PERSONNEL DETAILS -->
                       <div class="clearfix"></div>
                		<div class="form-group custom-label-center-align custom-legend-styling" style="padding: 0 50px;">
                		    <label class="col-md-12 control-label" style="text-align: center;background: #ccc">KEY PERSONNEL DETAILS</label>
                		</div>

                		<div class="form-group custom-label-center-align" >
                		    <label class="col-md-1 control-label">SNo</label>
                		    <label class="col-md-5 control-label" style="text-align: left;">Name</label>
                		    <label class="col-md-5 control-label" style="text-align: left;">Designation</label>
                		    <label class="col-md-1 control-label"
                		    	style="text-align: left;" ng-show="Title !== ''">
                		    	<a href="javascript:;" ng-click="add.key_personal_detail()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                		</div>
                	<!-- </div> -->

                    <div class="form-group custom-label-center-align" ng-repeat="x in newAgent.keyPerson track by $index">
                        <label class="col-md-1 control-label">{{$index+1}}</label>
                        <div class="col-md-5">
                            <input  type="text" class="form-control" name="" ng-model="x.name">
                        </div>
                        <div class="col-md-5">
                            <input  type="text" class="form-control" name="" ng-model="x.designation">
                        </div>
                        <div class="col-md-1" ng-show="Title !== '' ">
                            <a ng-show="$last" href="javascript:;" ng-click="remove.key_personal_detail()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                        </div>
                    </div>
                    <div class="form-group" ng-hide="Title == ''">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <button type="submit" ng-disabled="AgentForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
    </div>
</div>
