<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
    <!-- Company -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h4 class="panel-title">Company</h4>
            </div>
            <div class="col-md-6 col-sm-6">
                <h4 class="panel-title text-center">{{newAgent.user_name}}</h4>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4 class="panel-title text-right">{{newAgent.code}}</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Company Type</h2>
                        <p>{{newAgent.company_type}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>Address</h2>
                        <p>{{newAgent.address1}}<br>{{newAgent.address2}}</p>
        		    </div>
        		</div>
                
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>City</h2>
                        <div ng-init="newAgent.state=''">
                            <select class="form-control" name="city" ng-model="newAgent.city" readonly ng-options="x._id as x.cityName for x in cities"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>State</h2>
                        <div ng-init="newAgent.state=''">
                            <select class="form-control" name="State" ng-model="newAgent.state" ng-disabled="newAgent.country==''" ng-options="x.states._id as x.states.stateName for x in states" ng-change="getCities(newAgent.state)"></select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Pincode</h2>
                        <p>{{newAgent.pincode}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Phone Number</h2>
                        <p>{{newAgent.phone_number}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Fax Number</h2>
                        <p>{{newAgent.fax}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Email Id</h2>
                        <p>{{newAgent.email}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Website</h2>
                        <p>{{newAgent.website}}</p>
                    </div>
                </div>
                <!-- <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Assigned Sales Persone</h2>
                        <p>{{newAgent.assigned_sales_person}}</p>
                    </div>
                </div> -->
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Category</h2>
                        <select class="form-control" name="category" ng-model="newAgent.category" disabled="">
                            <option value="">category</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Company End -->
    <!-- Revenue -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="panel-title">Revenue</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="flex-model">
                <div class="custom_detail">
                    <table>
                        <thead>
                            <tr>
                                <th><h2>Year</h2></th>
                                <th><h2>Jan</h2></th>
                                <th><h2>Feb</h2></th>
                                <th><h2>Mar</h2></th>
                                <th><h2>Apr</h2></th>
                                <th><h2>May</h2></th>
                                <th><h2>Jun</h2></th>
                                <th><h2>July</h2></th>
                                <th><h2>Aug</h2></th>
                                <th><h2>Sept</h2></th>
                                <th><h2>Oct</h2></th>
                                <th><h2>Nov</h2></th>
                                <th><h2>Dec</h2></th>
                                <th><h2>Total</h2></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><p>2018</p></td>
                                <td><p>{{janAmt?janAmt:'--'}}</p></td>
                                <td><p>{{febAmt?febAmt:'--'}}</p></td>
                                <td><p>{{marAmt?marAmt:'--'}}</p></td>
                                <td><p>{{aprAmt?aprAmt:'--'}}</p></td>
                                <td><p>{{mayAmt?mayAmt:'--'}}</p></td>
                                <td><p>{{junAmt?junAmt:'--'}}</p></td>
                                <td><p>{{julAmt?julAmt:'--'}}</p></td>
                                <td><p>{{augAmt?augAmt:'--'}}</p></td>
                                <td><p>{{sepAmt?sepAmt:'--'}}</p></td>
                                <td><p>{{octAmt?octAmt:'--'}}</p></td>
                                <td><p>{{novAmt?novAmt:'--'}}</p></td>
                                <td><p>{{decAmt?decAmt:'--'}}</p></td>
                                <td><p>{{totalAmt}}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Revenue End -->
        <!-- Owner Mangement Team -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="panel-title">Owner Mangement Team</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="row">
                <div class="col-md-1 col-sm-1">
                    <div class="custom_detail">
                        <h2>S.No</h2>
                    </div>  
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Name</h2>
                    </div>  
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Designation</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Date of Birth</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Anniversary</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Phone</h2>
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="x in newAgent.owner_manegement_team track by $index" ng-if="newAgent.owner_manegement_team[0].name != '' && newAgent.owner_manegement_team[0].designation != ''">
                <div class="col-md-1 col-sm-1">
                    <div class="custom_detail">
                        <p>{{$index+1}}</p>
                    </div>  
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.name}}</p>
                    </div>  
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                         <p>{{x.designation}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.date_of_birth | date:'dd/MM/yy'}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.anniversary | date:'dd/MM/yy'}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.mobile}}</p>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="newAgent.owner_manegement_team[0].name == '' && newAgent.owner_manegement_team[0].designation == ''"> 
                <div class="col-md-12 col-sm-12" style="text-align:center">
                    <div >
                        <div class="custom_detail"> 
                            <p> No Records found..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Owner Mangement Team End -->
   <!-- KEY PERSONNEL DETAILS -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="panel-title">Key Personnel Details</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="row">
                <div class="col-md-1 col-sm-1">
                    <div >
                        <div class="custom_detail">
                            <h2>S.No.</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div >
                        <div class="custom_detail">
                            <h2>Name</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div >
                        <div class="custom_detail">
                            <h2>Designation</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Date of Birth</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Anniversary</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Phone</h2>
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="x in newAgent.keyPerson track by $index" ng-if="newAgent.keyPerson[0].name != '' && newAgent.keyPerson[0].designation != ''">
                <div class="col-md-1 col-sm-1">
                    <div >
                        <div class="custom_detail"> 
                            <p>{{$index+1}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div >
                        <div class="custom_detail">
                            <p>{{x.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div >
                        <div class="custom_detail">
                            <p>{{x.designation}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.date_of_birth | date:'dd/MM/yy'}}</p>
                    </div>
                </div>
                 <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.anniversary | date:'dd/MM/yy'}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.mobile}}</p>
                    </div>
                </div>
            </div>
            
            <div class="row" ng-if="newAgent.keyPerson[0].name == '' && newAgent.keyPerson[0].designation == ''">
               
                <div class="col-md-12 col-sm-12" style="text-align:center">
                    <div >
                        <div class="custom_detail"> 
                            <p> No Records found..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- KEY PERSONNEL DETAILS END -->
    <!-- Owner Mangement Team -->
    <!-- <div class="panel-heading">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="panel-title">Name of corporate accounts handled</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="custom_detail">
                        <h2>Company Name</h2>
                    </div>  
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>Keyperson & Designation</h2>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Date of Birth</h2>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>Anniversary</h2>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>Phone</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="custom_detail">
                        <p>{{x.name}}</p>
                    </div>  
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <p>{{x.designation}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <p>{{x.designation}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <p>{{x.designation}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <p>{{x.designation}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Owner Mangement Team End -->

        <!--  Revenue DETAILS -->
        <!-- <div class="clearfix"></div>
        <div class="form-group custom-label-center-align custom-legend-styling" style="padding: 0 50px;">
            <label class="col-md-12 control-label" style="text-align: center;background: #ccc">REVENUE</label>
        </div>

        <div class="form-group custom-label-center-align" >
            <label class="col-md-1 control-label">SNo</label>
            <label class="col-md-4 control-label" style="text-align: left;">Month</label>
            <label class="col-md-4 control-label" style="text-align: left;">Total Amount</label>
            
            <label ng-show="Title !== ''" class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.Revenu()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
        </div>

        <div class="form-group custom-label-center-align" ng-repeat="x in newAgent.Revenu track by $index">
            <label class="col-md-1 control-label">{{$index+1}}</label>
            <div class="col-md-4">
                <input  type="text" class="form-control" name="" ng-model="x.month">
            </div>
            
            <div class="col-md-4">
                <input  type="number"  class="form-control" name="" ng-model="x.total_amount">
            </div>
            <div class="col-md-1 custom-label-center-align" ng-show="Title !== ''">
                <a ng-show="$last" href="javascript:;" ng-click="remove.Revenu()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
            </div>
        </div> -->
</div>
