<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->
            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
        </div>
        <h4 class="panel-title">Company</h4>
    </div>
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->
    <!-- <div class="row" style="padding: 0 15px; ">
        <div class="col-md-12"><h2>Filter</h2></div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="agentSearch.user_name" type="text" class="form-control" placeholder="Search by Agency Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="agentSearch.code" type="text" class="form-control" placeholder="Search by IATA">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="agentSearch.website" type="text" class="form-control" placeholder="Search by Website">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="agentSearch.email" type="text" class="form-control" placeholder="Search by Email">
            </div>
        </div>
    </div> -->
    <div class="panel-body">
        <button ng-click="exportDataXLS()">Download Xls</button>
        <button ng-click="exportDataPdf()">Download pdf</button>
        <div class="col-md-9">
            <input type="file" name="file" id="revenueExcel" class="inputfile"  data-multiple-caption="{count} files selected" multiple image-uploader file-model = "myFile"/>
            <label for="revenueExcel" id="upload-content" image-uploader1>Choose a file</label>
            <button ng-click="uploadExcel();" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload Revenue</button>
            <span id="spinningSquaresG" ng-show="isFileUploading">
                                <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
                            </span>
                            <!-- <button ng-click>upload</button> -->
                            <!-- <droplet ng-model="interface"></droplet> -->
                            <!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">
                                
                            </droplet> -->
                        </div>
        
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr ng-show="!show">
                    <th colspan="8">Filters</th>
                </tr>
                <tr ng-show="!show">
                    <td><input type="text" style="width: 100%;" ng-model="agentSearch.user_name" placeholder="Company Name"></td>
                    <td><input type="text" style="width: 100%;" ng-model="agentSearch.code" placeholder="Code"></td>
                    <td><input type="text" style="width: 100%;" ng-model="agentSearch.website" placeholder="Website"></td>
                    <td><input type="text" style="width: 100%;" ng-model="agentSearch.phone_number" placeholder="Number"></td>
                    <td><input type="text" style="width: 100%;" ng-model="agentSearch.email" placeholder="Email"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Company</th>
                    <th>Code</th>
                    <th>Website</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th ng-show="!show && accessEmp.Agent.editAgent">Edit</th>
                    <th ng-show="!show">View</th>
                    <th ng-show="!show && accessEmp.Agent.editAgent">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}"
                    ng-repeat="x in (agents | filter:agentSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                    <td>{{x.user_name}}</td>
                    <td>{{x.code}}</td>
                    <td>{{x.website}}</td>
                    <td>{{x.phone_number}}</td>
                    <td>{{x.email}}</td>
                    <td ng-show="!show && accessEmp.Agent.editAgent"><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td ng-show="!show"><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                      <td ng-show="!show && accessEmp.Agent.editAgent"><a ng-click="openModal('Delete',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
        <div ng-show="showPagination">
            <ul uib-pagination total-items="(agents | filter:agentSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<!-- end panel-->

<div id="exportTab">
    <table ng-show="show" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Code</th>
                    <th>Website</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in agents | filter:agentSearch">
                    <td>{{x.user_name}}</td>
                    <td>{{x.code}}</td>
                    <td>{{x.website}}</td>
                    <td>{{x.phone_number}}</td>
                    <td>{{x.email}}</td>
                </tr>
            </tbody>
    </table>
</div>

<script type="text/ng-template" id="agent-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Company</h4>
            </div>
    <div class="panel-body">
                        <form class="form-horizontal" name="AgentForm" ng-submit="submitForm(AgentForm.$valid)" novalidate>
                            <fieldset ng-disabled="Title == ''" style="border: none">
                                 <div class="form-group"
                                     ng-class="{'has-success':AgentForm.agent_name.$valid && !AgentForm.agent_name.$pristine,
                                                'has-error':AgentForm.agent_name.$invalid && !AgentForm.agent_name.$pristine}">
                                    <label class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                name="agent_name" class="form-control"
                                                ng-model="newAgent.user_name"
                                                placeholder="Enter the name" required>
                                    </div>
                                </div>
                                <!-- Agency number -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Code</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                            name="" class="form-control" 
                                            ng-model="newAgent.code"
                                            placeholder="" ng-disabled="true" >
                                    </div>
                                </div>

                                <!-- address -->
                                <div class="form-group"
                                     ng-class="{'has-success':AgentForm.address1.$valid && !AgentForm.address1.$pristine,
                                                'has-error':AgentForm.address1.$invalid && !AgentForm.address1.$pristine}">
                                    <label class="col-md-3 control-label">Address</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                name="address1" class="form-control" 
                                                ng-model="newAgent.address1"
                                                placeholder="Address line 1">
                                    </div>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-success':AgentForm.address2.$valid && !AgentForm.address2.$pristine,
                                                'has-error':AgentForm.address2.$invalid && !AgentForm.address2.$pristine}">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                name="address2" class="form-control" 
                                                ng-model="newAgent.address2"
                                                placeholder="Address line 2">
                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                    <label class="col-md-3 control-label">Country</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="country" ng-model="newAgent.country" ng-options="x._id as x.countryName for x in country">
                                        </select>
                                    </div>
                                </div> -->

                                <div class="form-group">
                                    <label class="col-md-3 control-label">State</label>
                                    <div class="col-md-9" ng-init="newAgent.state=''">
                                        <select class="form-control" name="State" ng-model="newAgent.state" ng-disabled="newAgent.country==''">
                                            <option value="" disabled hidden>State</option>
                                            <option value="{{x.stateName}}" ng-repeat="x in states">{{x.stateName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group"
                                        ng-class="{'has-success':AgentForm.city.$valid && !AgentForm.city.$pristine,
                                                'has-error':AgentForm.city.$invalid && !AgentForm.city.$pristine}">
                                    <label class="col-md-3 control-label">City</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="city" ng-model="newAgent.city" ng-disabled="newAgent.state==''">
                                            <option value="" disabled hidden>City</option>
                                            <option value="{{x.cityName}}" ng-repeat="x in cities" required>{{x.cityName}}</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- pincode -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Pincode</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                name="pincode" class="form-control" 
                                                ng-model="newAgent.pincode"
                                                placeholder="pincode">
                                    </div>
                                </div>

                                <!-- phone number -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Phone Number </label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                name="phoneNo1" class="form-control" 
                                                ng-model="newAgent.phone_number"
                                                placeholder="phone number">
                                    </div>
                                </div>

                                <!-- fax number-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Fax Number </label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                name="faxNo" class="form-control" 
                                                ng-model="newAgent.fax"
                                                placeholder="fax number">
                                    </div>
                                </div>

                                <!-- email number-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email Id</label>
                                    <div class="col-md-9">
                                        <input  type="email" 
                                                name="email_id" class="form-control" 
                                                ng-model="newAgent.email"
                                                placeholder="example@mail.com">
                                    </div>
                                </div>

                                <!-- email number-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Website</label>
                                    <div class="col-md-9">
                                        <input  type="email" 
                                                name="website" class="form-control" 
                                                ng-model="newAgent.website"
                                                placeholder="www.example.com">
                                    </div>
                                </div>

                                <!-- assigned_sales_person  -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Assigned Sales Persone</label>
                                    <div class="col-md-9">
                                        <input  type="text" 
                                                name="" class="form-control" 
                                                ng-model="newAgent.assigned_sales_person"
                                                placeholder="" required>
                                    </div>
                                </div>

                                <!-- Category Type -->
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Category</label>
                                    <div class="col-md-9">
                                        <select class="form-control" name="category" ng-model="newAgent.category">
                                            <option value="">category</option>
                                        </select>
                                    </div>
                                </div>

                                <!--  OWNER MANAGEMENT TEAM -->
                                <!-- <div class="form-group" style="padding: 0 50px;">
                                    <label class="col-md-12 control-label" style="text-align: center;background: #ccc">OWNER MANAGEMENT TEAM</label>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-1 control-label">SNo</label>
                                    <label class="col-md-2 control-label" style="text-align: left;">Name</label>
                                    <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
                                    <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
                                    <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
                                    <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
                                    <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.owner_manegement_team()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                                </div>

                                <div class="form-group" ng-repeat="x in newAgent.owner_manegement_team track by $index">
                                    <label class="col-md-1 control-label">{{$index+1}}</label>
                                    <div class="col-md-2">
                                        <input  type="text" class="form-control" name="" ng-model="x.name">
                                    </div>
                                    <div class="col-md-2">
                                        <input  type="text" class="form-control" name="" ng-model="x.designation">
                                    </div>
                                    <div class="col-md-2">
                                        <input  type="text" class="form-control" name="" ng-model="x.date_of_birth">
                                    </div>
                                    <div class="col-md-2">
                                        <input  type="text" class="form-control" name="" ng-model="x.anniversery">
                                    </div>
                                    <div class="col-md-2">
                                        <input  type="text"  class="form-control" name="" ng-model="x.phone">
                                    </div>
                                    <div class="col-md-1">
                                        <a ng-show="$last" href="javascript:;" ng-click="remove.owner_manegement_team()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                                    </div>
                                </div> -->
                                <!-- END OWNER MANAGEMENT TEAM -->

                                <!--  KEY PERSONNEL DETAILS -->
                                <div class="form-group" style="padding: 0 50px;">
                                    <label class="col-md-12 control-label" style="text-align: center;background: #ccc">KEY PERSONNEL DETAILS</label>
                                </div>

                                <div class="form-group" >
                                    <label class="col-md-1 control-label">SNo</label>
                                    <label class="col-md-5 control-label" style="text-align: left;">Name</label>
                                    <label class="col-md-5 control-label" style="text-align: left;">Designation</label>
                                    <!-- <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label> -->
                                    <!-- <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label> -->
                                    <!-- <label class="col-md-2 control-label" style="text-align: left;">Phone</label> -->
                                    <label class="col-md-1 control-label"
                                    	style="text-align: left;" ng-show="Title !== ''">
                                    	<a href="javascript:;" ng-click="add.key_personal_detail()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                                </div>

                                <div class="form-group" ng-repeat="x in newAgent.keyPerson track by $index">
                                    <label class="col-md-1 control-label">{{$index+1}}</label>
                                    <div class="col-md-5">
                                        <input  type="text" class="form-control" name="" ng-model="x.name">
                                    </div>
                                    <div class="col-md-5">
                                        <input  type="text" class="form-control" name="" ng-model="x.designation">
                                    </div>
                                    <!-- <div class="col-md-2">
                                        <input  type="text" class="form-control" name="" ng-model="x.date_of_birth">
                                    </div>
                                    <div class="col-md-2">
                                        <input  type="text" class="form-control" name="" ng-model="x.anniversery">
                                    </div>
                                    <div class="col-md-2">
                                        <input  type="text"  class="form-control" name="" ng-model="x.phone">
                                    </div> -->
                                    <div class="col-md-1" ng-show="Title !== '' ">
                                        <a ng-show="$last" href="javascript:;" ng-click="remove.key_personal_detail()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                                    </div>
                                </div>
                                <!-- END KEY PERSONNEL DETAILS -->

                                <!--  NAME OF CORPORATE ACCOUNTS HANDLED -->
                                <!-- <div class="form-group" style="padding: 0 50px;">
                                    <label class="col-md-12 control-label" style="text-align: center;background: #ccc">NAME OF CORPORATE ACCOUNTS HANDLED</label>
                                </div>  

                                <div class="form-group">
                                    <label class="col-md-1 control-label">SNo</label>
                                    <label class="col-md-2 control-label" style="text-align: left;">Name</label>
                                    <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
                                    <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
                                    <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
                                    <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
                                    <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.name_of_corparate_account()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                                </div>

                                <div class="form-group" ng-repeat="x in newAgent.name_of_corparate_account track by $index">
                                    <label class="col-md-1 control-label">{{$index+1}}</label>
                                    <div class="col-md-2">
                                        <input  type="text" class="form-control" name="" ng-model="x.name">
                                    </div>
                                    <div class="col-md-2">
                                        <input  type="text" class="form-control" name="" ng-model="x.designation">
                                    </div>
                                    <div class="col-md-2">
                                        <input  type="text" class="form-control" name="" ng-model="x.date_of_birth">
                                    </div>
                                    <div class="col-md-2">
                                        <input  type="text" class="form-control" name="" ng-model="x.anniversery">
                                    </div>
                                    <div class="col-md-2">
                                        <input  type="text"  class="form-control" name="" ng-model="x.phone">
                                    </div>
                                    <div class="col-md-1">
                                        <a ng-show="$last" href="javascript:;" ng-click="remove.name_of_corparate_account()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                                    </div>
                                </div> -->
                                <!-- END NAME OF CORPORATE ACCOUNTS HANDLED -->



                               

                                <div class="form-group" ng-hide="Title == ''">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-9">
                                        <button type="submit" ng-disabled="AgentForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
    </div>
</div>
</script>