<header id="home">
	<!-- Logo and Menu -->
	<div class="headroom" id="headroom">
		<div class="menu-wrapper">
			<div class="row">
				<!-- Menu Toggle -->
				<div class="logo-wrapper">
					
					<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
					<ul class="header-tag">
						<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
					</ul>
					<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>
					<a href="" ng-hide="userInfo.user_name" ng-click="openLoginForm()" class="custom-header-link-position"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a>
					<a href="" ng-show="userInfo.user_name" style="float: right" class="custom-header-link-position"><i class="fa fa-user" aria-hidden="true"></i> Welcome {{userInfo.user_name}}</a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
	    var myElement = new Headroom(document.querySelector(".headroom"), {
	        offset : 100
	    });
	    myElement.init();
	    //
	    var index = 1,
	max = $('.header-tag li span').length;

		function setActive() {
			setTimeout(function () {
				$('.active-rotate').removeClass('active-rotate');
				index++;
				if(index > max) {
					index = 1;    
				}
				$('.header-tag li span:nth-of-type(' + index + ')').addClass('active-rotate');
				setActive();
			}, 2500);
		}
		
		setActive();
	</script>
	<div class="menu-overlay"></div>					
	<ul class="menu" id="menu">
		<li><a ui-sref="home">Home</a></li>
		<li><a ui-sref="about">About</a></li>
		<li ng-if="showPayment"><a href="" ng-click="openPayment()">Payment</a></li>
		<li><a ui-sref="emptyLeg">Empty Leg</a></li>
		<li><a ui-sref="ourTeam">Our Team</a></li>
		<li><a ui-sref="faqs">FAQs</a></li>
		<li><a ui-sref="contact">Contact</a></li>
		<li ng-show="!userInfo.user_name" ng-click="openLoginForm()"><a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a></li>
		<!-- <li ng-show="!userInfo.user_name" ng-click="changePwd()"><a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true" ng-show="userInfo.user_name"></i> Change Password</a></li> -->
		<li ng-show="userInfo.user_name"><a ui-sref="history">Booking History</a></li>
		<li ng-show="userInfo.user_name" ng-click="logout();showPayment = false;"><a href="javascript:void(0)">Logout</a></li>
	</ul>
	<!-- Logo and Menu End -->
</header>
<section id="booking_page_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="tag"><span class="head-line"></span>Book<span class="head-line"></span></h2>
				<h3><span>Helicopters</span></h3>
			</div>
			<div class="col-md-12">
				<div class="booking_form_wrapper">
					<div class="booking_form_inner_wrapper">
						<form name="userDetails">
							<div class="status">
								<div class="pure-radiobutton">
									<input type="radio" id="oneWay_h" name="tripType" class="radio" value="oneWay" ng-model="searchObj.tripType">
									<label for="oneWay_h" data-reactid="155">One Way </label>
								</div>
								<div class="pure-radiobutton">
									<input type="radio" id="roundTrip_h" name="tripType" class="radio" value="roundTrip" ng-model="searchObj.tripType">
									<label for="roundTrip_h">Round Trip</label>
								</div>
								<div class="pure-radiobutton">
									<input type="radio" id="multi_h" name="tripType" class="radio" value="multicity" ng-model="searchObj.tripType">
									<label for="multi_h">Multicity</label>
								</div>
							</div>
							<div class=divider></div>
							<!-- Flight Booking -->
							<div class="row">

								<div ng-if="searchObj.tripType !='multicity'">
								<div class="col-md-6 col-sm-6">
									<div class="grp-field">
										<label>From</label>
										<input type="text" ng-model="searchObj.roots[0].originName"
										uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
										class="form-control" required>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="grp-field">
										<label>To</label>
										<input type="text" ng-model="searchObj.roots[0].destinationName"
										uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
										class="form-control" ng-blur="autoFill(0); toggle.stopScroll = false" required>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-6 col-sm-6">
									<div class="row">
										<div class="col-md-7 col-sm-7">
											<div class="grp-field">
												<label>Departure Date</label>
												<input class="form-control" type="text"  date-picker date="searchObj.roots[0].departureDate" min-date="{{searchObj.roots[0].departureDate || 'today'}}"  ng-model="searchObj.roots[0].departureDate" ng-change="changeDat(0)" required >
											</div>
										</div>
										<div class="col-md-5 col-sm-5">
											<div class="grp-field">
												<label>Departure Time</label>
												<div class="input-group"
												    moment-picker="searchObj.roots[0].departureTime"
												    format="LT" show-header="false">
												   	<input class="form-control"
												        ng-model="searchObj.roots[0].departureTime"
												        min-time = "searchObj.roots[0].departureTime"
												        ng-required="true"
												        show-header="false"
												        ng-model-options="{ updateOn: 'blur' }" required>
												</div>
											</div>
										</div>
									</div>
								</div>

								

								<div class="col-md-6 col-sm-6">
									<div class="row">
										<div class="col-md-7 col-sm-7">
											<div class="grp-field">
												<label>Return Date</label>
												<input type="text" date-picker date="" class="form-control" min-date="today" ng-change="returnD(searchObj.roots[1].departureDate)"  max-date="{{searchObj.roots[1].departureDate}}"
												ng-model="searchObj.roots[1].departureDate" ng-disabled="!searchObj.roots[0].departureDate || searchObj.tripType =='oneWay'" >
											</div>
										</div>
										<div class="col-md-5 col-sm-5">
											<div class="grp-field">
												<label>Return Time</label>
												<div class="input-group"
								                   moment-picker="searchObj.roots[1].departureTime"
								                   format="LT" show-header="false">
								                  <input class="form-control"
								                         ng-model="searchObj.roots[1].departureTime"
								                         ng-required="true"
								                         ng-disabled="!searchObj.roots[0].departureDate || searchObj.tripType =='oneWay'"
								                         ng-model-options="{ updateOn: 'blur' }">
								              </div>
											</div>
										</div>
									</div>
								</div>

								</div>


								<div class="clearfix"></div>
								<!-- Multicity -->
								<div class="multicity_wrapper" ng-if="searchObj.tripType =='multicity' ">
									<div class="container-fluid">
										<div class="multicity_wrapper_inner" >
											<div class="row"  ng-repeat="x in searchObj.roots">
												<div class="col-md-4 col-sm-4">
													<div class="grp-field">
														<label>From </label>
														<!-- <input type="text" class="form-control" name=""> -->
														<input type="text" ng-model="searchObj.roots[$index].originName" uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue" class="form-control" required>
													</div>
												</div>
												<div class="col-md-4 col-sm-4">
													<div class="grp-field">
														<label>To </label>
														<!-- <input type="text" class="form-control" name=""> -->
														<input type="text" class="form-control"
															uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
															ng-model="searchObj.roots[$index].destinationName" 
															ng-required="searchObj.tripType == 'multicity'" 
															ng-blur="autoFill($index)" required>
													</div>
												</div>
												<div class="col-md-4 col-sm-4">
													<div class="row">
														<div class="col-md-7 col-sm-7">
															<div class="grp-field">
																<label>Departure Date</label>
																<!-- <input type="text" date-picker date="" class="form-control" min-date="today" ng-change="changeDat(0)"  max-date="{{searchObj.roots[1].departureDate}}"
																ng-model="searchObj.roots[0].departureDate" required> -->
																<input type="text" class="form-control"  date-picker 
								date="searchObj.roots[$index].departureDate" min-date="{{searchObj.roots[$index-1].departureDate || 'today'}}"
								ng-change="changeDat($index)"
							ng-model="searchObj.roots[$index].departureDate" ng-required="searchObj.tripType == 'multicity'" >
															</div>
														</div>
														<div class="col-md-5 col-sm-5">
															<div class="grp-field">
																<label>Departure Time</label>
																<div class="input-group"
																    moment-picker="searchObj.roots[$index].departureTime"
																    format="LT" show-header="false">
																   	<input class="form-control"
																        ng-model="searchObj.roots[$index].departureTime"
																        ng-required="true"
																        ng-model-options="{ updateOn: 'blur' }">
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="add_delete">
													<a class="custom_btn_anchor"  class="add more-city"  ng-click="addMulticity($index)" ng-show="$last" ><i class="fa fa-plus" aria-hidden="true"></i></a>
													<a class="custom_btn_anchor" class="minus more-city" ng-click="removeMulticity($index); $event.stopPropagation();" ><i class="fa fa-minus" aria-hidden="true"></i></a>
												</div>
											</div>
											<!-- <div class="add_delete">
												<a class="custom_btn_anchor"  ng-click="addMulticity($index)" ng-show="$last" ><i class="fa fa-plus" aria-hidden="true"></i></a>
												<a class="custom_btn_anchor" class="minus more-city" ng-click="removeMulticity($index); $event.stopPropagation();" ><i class="fa fa-minus" aria-hidden="true"></i></a>
											</div> -->
										</div>										
									</div>
								</div>
								<!-- Multicity End -->
								<div class="col-md-4 col-sm-4">
									<div class="grp-field">
										<label>Number of passengers</label>
										<select class="form-control" ng-model="searchObj.traveller">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
										</select>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="grp-field">
										<label>Citizen</label>
										<select class="form-control" ng-model="searchObj.nationality">
											<option>Indian</option>
											<option>Other Nationality</option>
										</select>
									</div>
								</div>
							</div>
							<!-- Flight Booking End -->
							<div class=divider></div>
							<!-- Contact Form Fields -->
							
							<div class="row">
								<div class="col-md-2 col-sm-2">
									<div class="grp-field">
										<label>Title</label>
										<select class="form-control" ng-model="userData.salutation">
											<option value="Mr.">Mr.</option>
											<option value="Mr.">Ms.</option>
											<option value="Mrs.">Mrs.</option>
										</select>
									</div>
								</div>
								<div class="col-md-5 col-sm-5">
									<div class="grp-field">
										<label>First Name</label>
										<!-- <input type="text" class="form-control" ng-model="userData.firt_name" name=""> -->
										<input type="text" class="form-control" name="user_name" ng-model="userData.first_name"
										required maxlength="30">
										<div style="color:red">
					                       <span ng-show="userDetails.user_name.$dirty && userDetails.user_name.$invalid">
					                          <span ng-show="userDetails.user_name.$error.required">*First Name is required.</span>
					                      </span>
						                </div>
									</div>
								</div>
								<div class="col-md-5 col-sm-5">
									<div class="grp-field">
										<label>Last Name</label>
										<input type="text" class="form-control" name="last_name" ng-model="userData.last_name"
										required maxlength="30" required>
										<div style="color:red">
					                       <span ng-show="userDetails.last_name.$dirty && userDetails.last_name.$invalid">
					                          <span ng-show="userDetails.last_name.$error.required">*Last Name is required.</span>
					                      </span>
						                </div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-md-6 col-sm-6">
									<div class="grp-field">
										<label>Email Address</label>
										<input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  class="form-control" name="email" ng-model="userData.email" required> 
										<div style="color:red">
					                       <span ng-show="userDetails.email.$dirty && userDetails.email.$invalid">
					                          <span ng-show="userDetails.email.$error.pattern">*Please Enter a valid email id.</span>
					                          <span ng-show="userDetails.email.$error.required">*Email id is required.</span>
					                      </span>
						                </div>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<div class="grp-field">
										<label>Contact Number</label>
										<input type="text" class="form-control" name="phoneNumber" ng-model="userData.phone_number" num-only min="0" maxlength="10" minlength="10" required>
										<div style="color:red">
						                    <span ng-show="userDetails.phoneNumber.$dirty && userDetails.phoneNumber.$invalid">
						                        <span ng-show="userDetails.phoneNumber.$error.required">*Phone no. is required.</span>
						                    </span>
						                    <span ng-show="((userDetails.phoneNumber.$error.minlength || userDetails.phoneNumber.$error.maxlength) && userDetails.phoneNumber.$dirty) && !(userDetails.phoneNumber.$error.pattern) ">
					                                  *Phone number should be 10 digits
					                              </span>
							                </div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="grp-field">
										<label>Organization</label>
										<input type="text" class="form-control" ng-model="userData.organisation" name="organisation" required>
										<div style="color:red">
					                       <span ng-show="userDetails.organisation.$dirty && userDetails.organisation.$invalid">
					                          <span ng-show="userDetails.organisation.$error.required">*Organisation is required.</span>
					                      </span>
						                </div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="grp-field">
										<label>Comments/Message</label>
										<textarea class="form-control" ng-model="userData.message"></textarea>
										<div style="color:red">
					                       <span ng-show="userDetails.message.$dirty && userDetails.message.$invalid">
					                          <span ng-show="userDetails.message.$error.required">*Message is required.</span>
					                      </span>
						                </div>
									</div>
								</div>
							</div>
							<!-- </form> -->
							<!-- Contact Form Fields End -->
							<div></div>
							<div class=divider></div>
						</form>
						<center><button type="submit"  ng-click="submitForm(searchObj)" >Submit</button></center>
					</div>
				</div>
			</div>
		</div>
	</div>
	 <!--  -->
	 <div id="mailFormat" ng-if="showMail == true">
		<div class="body_mail_content_spacer" style="padding: 0 15px;">
				<div class="pdf-sub-header">
					<ul style="list-style: none;padding: 0;margin: 20px 0 20px;">
						<li style="width: calc(100%/2.1);display: inline-block;margin: 0 0px;"><span>DATE</span>: {{todayDate}}</li>
						<li style="width: calc(100%/2.1);display: inline-block;margin: 0 0px;"><span>Email</span> : {{userData.email}}</li>
						<li style="width: calc(100%/2.1);display: inline-block;margin: 0 0px;">Mr./Ms. {{userData.first_name}}</li>
						<li style="width: calc(100%/2.1);display: inline-block;margin: 0 0px;"><span>Phone No.</span> : {{userData.phone_number}}</li>
					</ul>
				</div>
				<div class="pdf-section">
					<span>
						<b>Itinerary</b>:
					</span>
					<table cellspacing="0" cellpadding="0" class="multicity_table_wrapper" style="width: 100%;margin-top: 15px;">
						<tr class="tr-head" style="background: #ddd;">
							<th style="padding: 10px 15px;">Date</th>
							<th style="padding: 10px 15px;">Departure</th>
							<th style="padding: 10px 15px;">Arrival
							</th><th style="padding: 10px 15px;">Flying Time(HH:MM)</th>
						</tr>
						<tr ng-repeat="x in searchObj.roots track by $index">
							<td style="padding: 10px 15px;border-bottom: 1px solid #ddd;font-size: 13px;">{{x.departureDate}}</td>
							<td style="padding: 10px 15px;border-bottom: 1px solid #ddd;font-size: 13px;">{{x.originName}}</td>
							<td style="padding: 10px 15px;border-bottom: 1px solid #ddd;font-size: 13px;">{{x.destinationName}}</td>
							<td style="padding: 10px 15px;border-bottom: 1px solid #ddd;font-size: 13px;">{{x.departureTime}}</td>
						</tr>
					</table>
				</div>

				<div class="invoice-header">
				<br><br>
					<div><b>Number of passengers</b>: {{searchObj.traveller}}</div><br>
					<div><b>Organisation</b>: {{userData.organisation}}</div><br>
					<div><b>Comments/Message</b>:<br> {{userData.message}}</div>			
				</div>
			</div>
		</div>
	<!-- <div id="mailFormat">
		<div class="body_mail_content_spacer">
			<div class="pdf-sub-header">
				<ul>
					<li><span>DATE</span>: {{todayDate}}</li>
					<li><span>Email</span> : {{userData.email}}</li>
					<li>Mr./Ms. {{userData.first_name}}</li>
					<li><span>Phone No.</span> : {{userData.phone_number}}</li>
				</ul>
			</div>
			<div class="invoice-header">
				<div><b>Number of passengers</b>: {{searchObj.traveller}}</div>
				<div><b>Organisation</b>: {{userData.organisation}}</div>
				<div><b>Comments/Message</b>: {{userData.message}}</div>			
			</div>
			<div class="pdf-section">
				<span>
					<b>Itinerary</b>:
				</span>
				<table cellspacing="0" cellpadding="0" class="multicity_table_wrapper">
					<tr class="tr-head">
						<th>Date</th>
						<th>Departure</th>
						<th>Arrival</td>
						<th>Flying Time(HH:MM)</th>
					</tr>
					<tr ng-repeat="x in searchObj.roots track by $index">
						<td>{{x.departureDate}}</td>
						<td>{{x.originName}}</td>
						<td>{{x.destinationName}}</td>
						<td>{{x.departureTime}}</td>
					</tr>
				</table>
			</div>
		</div>
	
	</div> -->
</section>
<footer>
		<div class="bottom-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<p class="member-of">
						<small>Member of</small><br>
						<img src="assets/img/baoa.png">
						</p>
					</div>
					<div class="col-md-6 col-sm-6">
					
						<ul>
							<li><a ui-sref="about">About</a></li>
							<li><a ui-sref="termsCondition">Terms & Conditions</a></li>
							<li><a ui-sref="disclaimer">Disclaimer</a></li>
							<li><a ui-sref="policy">Privacy Policy</a></li>
							<li><a ui-sref="contact">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3">
						<ul class="social-links">
							<li><a href="https://www.facebook.com/jetsmart.in/?fref=ts&ref=br_tf" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/jet_smart/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-12">
						<p class="copyright center">© 2018 JetSmart.in  All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
</footer>
<script type="text/javascript">
	// Menu Toggle
	$('a.mobile-tgl').click(function(){
		var body = $('body');
		$('body').toggleClass('active-menu');
		$('.booking-tgl').addClass('remove_booking_tgl');		
	});
	$('a.mobile-tgl, ul.menu').click(function(e){
		e.stopPropagation();	
	});
	$('body').click(function(){
		$('body').removeClass('active-menu');			
		$('.booking-tgl').removeClass('remove_booking_tgl');
	});

	$(window).scroll(function() {
		var elementPosition = $('section').offset().top - $(window).scrollTop() - 300;
		if (elementPosition <  0) {
			$('.booking-tgl').addClass('visible_tgl');
		} 
		else {
			$('.booking-tgl').removeClass('visible_tgl');
		}
	});
	
	$(document).ready(function(){
		$('.welcome').hover(function(){
			$(this).find('.welcome-content').css('bottom', '0');
			$(this).parent('div').siblings().find('.welcome-content').css('bottom', '-100%');	
		});		
	});
</script>

<div class="frm-overlay" ng-show="isLoginForm" ng-click="openLoginForm()"></div>
<div class="frm-login booking-form" ng-show="isLoginForm">
	<!-- <p style="margin-bottom: 35px;"><span class="close" >X</span></p> -->
	<uib-tabset active="activeJustified" justified="true">
		<uib-tab index="0" heading="Login">
			<form name="loginForm" ng-if="!forgot">
				<div class="form-group">
					<label for="user_name">Username / Email:</label>
					<input type="user_name" class="form-control" name="user_name" 
					ng-model="login.user_name"
					required>
					<div style="color:red">
                       <span ng-show="loginForm.user_name.$dirty && loginForm.user_name.$invalid">
                          <span ng-show="loginForm.user_name.$error.required">*Username/Email id is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" name="password" 
					ng-model="login.password"
					required>
					<div style="color:red">
                       <span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                          <span ng-show="loginForm.password.$error.required">*Password is required.</span>
                      </span>
	                </div>
				</div>
				<center>
					<button type="submit" ng-click="submitLogin(login)" ng-disabled="loginForm.$invalid"  class="btn">Login</button>
					<a ng-click="closeForm()" type="submit" class="btn">Close</a>
				</center>
			</form>
			<form  name="forgotForm" ng-if="forgot">
				<div class="form-group">
					<label for="user_name">Enter Email:</label>
					<input type="user_name" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" name="em" 
					ng-model="forgotPwd.email"
					required>
					<div style="color:red">
                       <span ng-show="forgotForm.em.$dirty && forgotForm.em.$invalid">
                          <span ng-show="forgotForm.em.$error.pattern">*Please Enter a valid email id.</span>
                          <span ng-show="forgotForm.em.$error.required">*Email id is required.</span>
                      </span>
	                </div>
				</div>
				<center>
					<button ng-click="submitforgotPassword(forgotPwd)" ng-disabled="forgotForm.$invalid" type="submit" class="btn">Submit</button>
				</center>
			</form>
			<a ng-if="!forgot" style="margin-left:21px" ng-click="forgotPassword(login.user_name)">Forgot Password?</a>
			<a ng-if="forgot" style="margin-left:21px" ng-click="loginClick()">Login?</a>
		</uib-tab>
		<uib-tab index="1" heading="Signup">
			<form  name="signUpForm" ng-hide="isOTP">
				<div class="form-group">
					<label for="user_name">Username:</label>
					<input type="text" class="form-control" name="user_name" 
					ng-model="signup.user_name"
					required maxlength="30">
					<div style="color:red">
                       <span ng-show="signUpForm.user_name.$dirty && signUpForm.user_name.$invalid">
                          <span ng-show="signUpForm.user_name.$error.required">*Username is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="email">Email address:</label>
					<input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  class="form-control" name="email"
					ng-model="signup.email"
					required>
					<div style="color:red">
                       <span ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
                          <span ng-show="signUpForm.email.$error.pattern">*Please Enter a valid email id.</span>
                          <span ng-show="signUpForm.email.$error.required">*Email id is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="phoneNumber">Phone Number:</label>
					<input type="text" class="form-control" name="phoneNumber" 
					ng-model="signup.phone_number" num-only min="0" maxlength="10" minlength="10" 
					required>
					<div style="color:red">
                       <span ng-show="signUpForm.phoneNumber.$dirty && signUpForm.phoneNumber.$invalid">
                          <span ng-show="signUpForm.phoneNumber.$error.required">*Phone no. is required.</span>
                      </span>
                      <span ng-show="((signUpForm.phoneNumber.$error.minlength || signUpForm.phoneNumber.$error.maxlength) && signUpForm.phoneNumber.$dirty) && !(signUpForm.phoneNumber.$error.pattern) ">
                              *Phone number should be 10 digits
                          </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" name="password" 
					ng-model="signup.password"
					required>
					<div style="color:red">
                       <span ng-show="signUpForm.password.$dirty && signUpForm.password.$invalid">
                          <span ng-show="signUpForm.password.$error.required">*Password is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="password">Confirm Password:</label>
					<input type="password" class="form-control" name="cPassword" 
					ng-model="signup.cPassword"
					required>
					<div style="color:red">
							<span class="errorMsg" ng-show="signup.cPassword!=signup.password && signup.cPassword.length>=0">Password do not match.</span> 
						    <span class="errorMsg" ng-show="myForm2.cPassword.$dirty && myForm2.cPassword.$invalid">
						        <span class="errorMsg" ng-show="myForm2.cPassword.$error.required">Confirm Password is required.</span>
						    </span>
		                </div>
				</div>
				<center>
					<button type="submit" ng-click="submitSignup(signup)" ng-disabled="signUpForm.$invalid || (signup.password != signup.cPassword)" class="btn">Signup</button>					
					<a ng-click="closeForm()" type="submit" class="btn">Close</a>
				</center>
			</form>
			<form name="otpForm" ng-show="isOTP">
				<div class="form-group">
					<label for="OTP">OTP:</label>
					<input type="text"  num-only class="form-control" name="OTP" 
					ng-model="verifyOtpObj.otp" min="0"
					required>
					<div style="color:red">
                       <span ng-show="otpForm.OTP.$dirty && otpForm.OTP.$invalid">
                          <span ng-show="otpForm.OTP.$error.required">*OTP is required.</span>
                      </span>
	                </div>
				</div>
				<center>
					<button style="display: block; margin: 0 auto; background: #274069; border-radius: 0; color:#fff" type="submit" ng-disabled="otpForm.$invalid" ng-click="verifyOtp()" class="btn">Verify</button>
				</center>
				<a style="margin-left:21px" ng-click="resendOTP(signup)">Resend OTP?</a>
			</form>
		</uib-tab>
	</uib-tabset>
	<p class="copyrighted-form">Powered By Jetsmart</p>
</div>

<!-- Payment Modal -->
<div class="payment-frm-overlay" ng-show="isPaymentForm" ng-click="openPayment()"></div>
<div class="payment-frm-overlay-login booking-form" ng-show="isPaymentForm">			
	<div class="inner-header">
		<h2>Payment</h2>
	</div>
	<div class="inner-body">
		<form name="paymentForm">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<label for="Name">Name</label>
						<input type="text" class="form-control" name="name" ng-model="paymentData.name"
						required>
						<div style="color:red">
	                       <span ng-show="paymentForm.name.$dirty && paymentForm.name.$invalid">
	                          <span ng-show="paymentForm.name.$error.required">*Name is required.</span>
	                      </span>
		                </div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<label for="email">Email:</label>
						<input type="email" class="form-control"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" ng-model="paymentData.email"
						required>
						<div style="color:red">
	                       <span ng-show="paymentForm.email.$dirty && paymentForm.email.$invalid">
	                          <span ng-show="paymentForm.email.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="paymentForm.email.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<label for="phone_no">Phone Number:</label>
						<input type="text"  num-only maxlength="10" minlength="10" min="0" class="form-control" name="phone_no" ng-model="paymentData.phone_no"
						required>
						<div style="color:red">
	                       <span ng-show="paymentForm.phone_no.$dirty && paymentForm.phone_no.$invalid">
	                          <span ng-show="paymentForm.phone_no.$error.required">*Phone no. is required.</span>
	                      </span>
	                      <span ng-show="((paymentForm.phone_no.$error.minlength || paymentForm.phone_no.$error.maxlength) && paymentForm.phone_no.$dirty) && !(paymentForm.phone_no.$error.pattern) ">
	                              *Phone number should be 10 digits
	                          </span>
		                </div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="form-group">
						<label for="amount">Amount:</label>
						<input type="text"  num-only class="form-control" min="0" name="amount" ng-model="paymentData.amount"
						required>
						<div style="color:red">
	                       <span ng-show="paymentForm.amount.$dirty && paymentForm.amount.$invalid">
	                          <span ng-show="paymentForm.amount.$error.required">*Amount is required.</span>
	                      </span>
		                </div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<div class="form-group">
						<label for="remarks">Remarks:</label>
						<input type="text" class="form-control" name="remarks" ng-model="paymentData.remarks"
						>
					</div>
				</div>
				<div class="col-md-12 col-sm-12">
					<center>
						<button type="submit" ng-disabled="paymentForm.$invalid" ng-click="payment()" class="btn">Pay</button>
						<a ng-click="closePayment()" type="submit" class="btn">Close</a>
					</center>
				</div>
			</div>
		</form>
	</div>
</div>
<!-- Payment Modal End -->

<button class="btn offer-tgl"  ng-hide="tglOffer;!showOffer" ng-click="tglOffer = !tglOffer;">Offers <span class="rot"><i class="fa fa-certificate" aria-hidden="true"></i></span></button>
<div class="offer-wrapper-overlay" ng-class="{'active': tglOffer}" ng-click="tglOffer = false"></div>
<div class="offer-wrapper" ng-class="{'active': tglOffer}" >
	<div class="offer-wrapper-heading text-center">
		<button class="close" ng-click="tglOffer = !tglOffer"><i class="fa fa-times" style="font-size: 30px;" aria-hidden="true"></i></button>
		OFFERS
	</div>
	<div class="row" >
	<!-- ng-click="checkUser()"  -->
		<div class="col-md-4" ng-repeat="x in offers" ng-click="checkUser(x)">

			<div class="card-wrapper" >
				<div class="card" style="position: relative;">		
					<div class="card-title">
						<h2 style="font-size: 16px;">{{x.aircratft_id.jet_name}}({{x.aircratft_id.flight_number}})</h2>
						<p class="text-muted" style="font-size: 11px;">{{x.departureDate | date:'dd MMM yy'}}, {{x.departureTime}} <span style="float: right; font-size: 15px; color: rgba(15, 22, 38, 1)"><i class="fa fa-at" aria-hidden="true"></i> {{x.price_per_seat | number:0}}/seat </span></p>
					</div>
					<div class="card-body" style="background: url({{x.aircratft_id.image_gallary[0] || '/media/aircraftPics/SUPER~KINGAIR~C90~A/1508160156399.jpg'}}) center center; background-size: cover;">
					<img ng-if="x.remainingSeats==0" src="assets/img/Sold-Out.png" style="position: absolute;bottom: 0;right: 0px;height: 100px;width: 100px;" />
					</div>
					<div class="card-footer row">
						<p class="col-sm-4 col-md-4 col-xl-4"><i class="fa fa-plane" aria-hidden="true"></i> {{x.originNew}}</p>
						<p class="col-sm-4 col-md-4 col-xl-4"><i class="fa fa-plane fa-rotate-90" aria-hidden="true"></i> {{x.destinationNew}}</p>
						<p class="col-sm-2 col-md-2 col-xl-2"> <img src="assets/img/seats.png" style="width: 10px;">Total:{{x.no_of_seats}}</p>
						<p class="col-sm-2 col-md-2 col-xl-2"> <img src="assets/img/seats.png" style="width: 10px;">Available: {{x.remainingSeats}}</p>
					</div>
				</div>
				
			</div>
		</div>

		<!--  -->

		<!--  -->
	</div>
	
</div>
<style type="text/css">
	.offer-tgl{
		position: fixed;
		bottom: 20px;
		right: 20px;
		background: #ee4e0c;
		padding: 10px 40px;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 2px;
		border: 2px solid;
		font-weight: 500;
		border-radius: 0;
		transition: all 0.1s ease-in-out;
	}
	.rot{
		position: absolute;
		color: red;
		position: absolute;
		color: red;
		top: -50%;
		right: -10%;
		font-size: 30px;
		/*text-shadow: -1px 1px 1px #fff;*/

		-webkit-animation-name: spin;
	    -webkit-animation-duration: 4000ms;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-timing-function: linear;

	    -moz-animation-name: spin;
	    -moz-animation-duration: 4000ms;
	    -moz-animation-iteration-count: infinite;
	    -moz-animation-timing-function: linear;

	    -ms-animation-name: spin;
	    -ms-animation-duration: 4000ms;
	    -ms-animation-iteration-count: infinite;
	    -ms-animation-timing-function: linear;

	    animation-name: spin;
	    animation-duration: 4000ms;
	    animation-iteration-count: infinite;
	    animation-timing-function: linear;
	}
	@-ms-keyframes spin { 
        from { 
            -ms-transform: rotate(0deg); 
        } to { 
            -ms-transform: rotate(360deg); 
        }
    }
    @-moz-keyframes spin { 
        from { 
            -moz-transform: rotate(0deg); 
        } to { 
            -moz-transform: rotate(360deg); 
        }
    }
    @-webkit-keyframes spin { 
        from { 
            -webkit-transform: rotate(0deg); 
        } to { 
            -webkit-transform: rotate(360deg); 
        }
    }
    @keyframes spin { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }
	.offer-tgl:hover{
		transform: scale(1.2);
		color: #FFF;
	}
	.offer-wrapper-overlay, .offer-wrapper{
		position: fixed;
		top: 100%;
		z-index: 9999;
		transition: all 0.5s ease-in-out;
	}
	.offer-wrapper-overlay{
		height: 100%;
		width: 100%;
		left: 0%;
		background: rgba(0,0,0,0.5);
	}
	.offer-wrapper{
		width: 80%;
		height: 80%;
		left: 10%;
		background: #fff;
		border-bottom: 5px solid rgba(15, 22, 38, 1);
		overflow-x: hidden;
		overflow-y: auto;
	}
	.offer-wrapper-heading{
		background: #ee4e0c;
		padding: 5px 10px;
	    font-size: 24px;
	    color: #fff;
	    font-weight: 700;
	    letter-spacing: 2px;
	}
	.offer-wrapper.active{
		top:10%;
	}
	.offer-wrapper-overlay.active{
		top:0%;
	}
	.card-wrapper{
		padding: 20px;
		width: 100%;
		height: 100%;
	}
	.card-wrapper p, .card-wrapper h2{
		margin: 0;
		margin-bottom: 5px;
	}
	.card-wrapper .card {
		background: #fff;
		color: #0f1626;
		box-shadow: 3px 3px 20px rgba(0,0,0,0.4);
	    padding: 0/*5px 15px*/;
	    width: 100%;
	    transition: all 0.15s ease-in-out;
	    overflow: hidden;
	}
	.card-wrapper .card .card-body{
		min-height: 200px;
	}
	/*.card-wrapper .card:hover{
		background: #ee4e0c;
		color: #fff;
		transform: scale(1.04);
	}*/
	.card-wrapper .card .card-footer{
		color: #000;
		padding: 10px;
		padding-top: 0;
	}
	.card-wrapper .card .card-footer p{
		font-size: 12px;
		color: #0f1626;
		border-top: 1px solid #0f1626;
		padding-top: 12px;
	}
	.card-wrapper .card .card-title {
		font-weight: 500;
		letter-spacing: 1px;
		padding: 5px 10px;
		color: #f04d00;
		border-bottom: 1px solid #ee4e0c;

	}
	.card-wrapper .card .card-title h2{
		font-weight: inherit;
	}
</style>
