<head>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/video.js"></script>
	<script src="assets/js/headroom.min.js"></script>
</head>
<header id="home">
		<!-- Video Section -->
		<div class="homepage-hero-module set-max-height" style="background-image: url('assets/img/faqs.jpg');">
		    <div class="video-overlay"></div>
		    <div class="banner-content-wrapper">
		    	<div class="banner-content">
		    		<h1>Frequently Asked Questions</h1>
		    	</div>
		    </div>
		</div>
		<!-- Video Section End -->
		<!-- Logo and Menu -->
		<div class="headroom" id="headroom">
			<div class="menu-wrapper">
				<div class="row">
					<!-- Menu Toggle -->
					<div class="logo-wrapper">
						<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
						<ul class="header-tag">
							<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
						</ul>
						<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>
						<a href="" ng-hide="userInfo.user_name" ng-click="openLoginForm()" class="custom-header-link-position"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a>
						<a href="" ng-show="userInfo.user_name" style="float: right" class="custom-header-link-position"><i class="fa fa-user" aria-hidden="true"></i> Welcome {{userInfo.user_name}}</a>
					</div>					
				</div>
			</div>
		</div>
		<div class="menu-overlay"></div>					
		<ul class="menu" id="menu">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="about">About</a></li>
			<li ng-if="showPayment"><a href=""  ng-click="openPayment()">Payment</a></li>
			<li><a ui-sref="emptyLeg">Empty Leg</a></li>
			<li><a ui-sref="ourTeam">Our Team</a></li>
			<li><a ui-sref="faqs">FAQs</a></li>
			<li><a ui-sref="contact">Contact</a></li>
			<li ng-show="!userInfo.user_name" ng-click="openLoginForm()"><a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a></li>
			<li ng-show="userInfo.user_name"><a ui-sref="history">Booking History</a></li>
			<li ng-show="userInfo.user_name" ng-click="logout();showPayment = false;"><a href="javascript:void(0)">Logout</a></li>
		</ul>
		<!-- Logo and Menu End -->
	</header>
	<!-- Booking Area -->
	<!-- <div class="booking-module-wrapper">
		<a href="javascript:void(0);" class="booking-tgl">Book Now</a>
		<div class="book-overlay"></div>
		<div class="booking-area">
			<div class="booking-form">
				<form>
					<div class="status">
						<div class="pure-radiobutton">
							<input type="radio" id="oneWay" name="tripType" class="radio" value="on" checked>
							<label for="oneWay" data-reactid="155">One Way</label>
						</div>
						<div class="pure-radiobutton">
							<input type="radio" id="roundTrip" name="tripType" class="radio" value="on">
							<label for="roundTrip">Round Trip</label>
						</div>
						<div class="divider"></div>
						<span class="Advanced-filter-label">Advanced Filter</span>
						<label class="switch">
							<input type="checkbox" >
							<span class="slider round"></span>
						</label>
					</div>
					<div class="for-multicity">
					<div class="inlable-wrap inline-block">
						<label>From</label>
						<input type="text" name="from" required>
					</div>
					<div class="inlable-wrap inline-block">
						<label>To</label>
						<input type="text" name="to" required>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Date</label>
						<input type="text" id="date">
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Time</label>
						<input type="text" id="time">
					</div>
					</div>
					<div class="return-date-wrapper">
						<div class="inlable-wrap inline-block">
							<label>Return on Date</label>
							<input type="text" id="returndate">
						</div>
						<div class="inlable-wrap inline-block">
							<label>Return on Date</label>
							<input type="text" id="returntime">
						</div>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Traveller</label>
						<select>
							<option value="0" selected hidden disabled>0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Nationality</label>
						<select>
							<option value="Indian" selected hidden disabled>Indian</option>
							<option value="Indian">Indian</option>
							<option value="Other Nationalities">Other Nationalities</option>
						</select>
					</div> -->
					<!-- advanced filter -->
					<!-- <div class="advanced-booking-engine">
						<div class="advanced-booking">
							<div class="inlable-wrap inline-block">
								<label>Price</label>
								<select>
									<option value="0" selected hidden disabled>All</option>
									<option value="1">1,00,000 - 2,00,000</option>
									<option value="2">2,00,000 - 3,00,000</option>
									<option value="2">3,00,000 and More</option>
								</select>
							</div>
							<div class="inlable-wrap inline-block">
								<label>Seat</label>
								<select>
									<option value="0" selected hidden disabled>1</option>
									<option value="1">2 - 4</option>
									<option value="2">4 - 6</option>
									<option value="2">6 or More</option>
								</select>
							</div>
							<div class="inlable-wrap inline-block">
								<label>Cabin Height</label>
								<select>
									<option value="0" selected hidden disabled>4'7"</option>
									<option value="1">4'7"</option>
									<option value="1">5'7"</option>
									<option value="1">6'7"</option>
								</select>
							</div><br>
							<div class="inlable-wrap inline-block">
								<div class="filter-grp">
									<h5>Aircraft type</h5>
									<div class="pure-radiobutton">
										<input type="checkbox" id="heavyjets" name="tripType" class="radio" value="on">
										<label for="heavyjets">Heavy Jet</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="smidjets" name="tripType" class="radio" value="on">
										<label for="smidjets">Super-Mid Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="msizejets" name="tripType" class="radio" value="on">
										<label for="msizejets">Mid-size Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="lightjets" name="tripType" class="radio" value="on">
										<label for="lightjets">Light Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="turboprop" name="tripType" class="radio" value="on">
										<label for="turboprop">Turbo Props</label>
									</div>
								</div>
							</div>
							<div class="inlable-wrap inline-block">
								<div class="filter-grp">
									<h5>Facility</h5>
									<div class="pure-radiobutton">
										<input type="checkbox" id="flight-attendant" name="tripType" class="radio" value="on">
										<label for="flight-attendant">Flight Attendant</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="lavatory" name="tripType" class="radio" value="on">
										<label for="lavatory">Lavatory</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="satellite-phone" name="tripType" class="radio" value="on">
										<label for="satellite-phone">Satellite Phone</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="wifi" name="tripType" class="radio" value="on">
										<label for="wifi">Wifi</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<center>
						<a href="javascript:void(0);" class="book-btn">Add More City</a>
						<button type="submit">Search</button>
						<a href="javascript:void(0);" class="close-booking-tgl">Close</a>
					</center>
				</form>
			</div>
		</div>
	</div> -->
	<!-- Booking Area End -->
	<!-- Faqs Section -->
	<section id="faqs">
		<div class="container">
			<div class="row">				
				<div class="faqs-wrapper">
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> Can I Purchase Online?</h1>
							<p>If the aircraft, price, availability and 'core booking' information is available, book online.<br> If you don't see what you want, call our team and we'll confirm how we can help.</p>
						</div>
					</div>	
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> I don't see my purchase option?</h1>
							<p>If the aircraft, price, availability and 'core booking' information is available, book online.<br> If you don't see what you want, call our team and we'll confirm how we can help.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> Are more features and inventory coming online?</h1>
							<p>Absolutely. More and more inventory, personalization options, features and online-purchase options are being integrated on a weekly basis.</p>
						</div>	
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> How is the price of my charter calculated?</h1>
							<p>The base cost of chartering a private aircraft starts with the hourly rate multiplied by the total flight time for the trip, plus any additional costs where applicable (see below). Hourly rates are determined by aircraft size, class, and type.  Flight times are calculated by flight planning programs that consider air traffic control routing, seasonal wind patterns, and aircraft performance, with the total time rounded to the nearest 1/10th of an hour.</p>
							<p>Additional costs may be applicable to your flight Like Ground Handling charges, Crew BLT, Watch Hours of Airport etc. These costs include overnight and parking fees (if your trip is over multiple days), landing fees, segment fees, and customs fees (for international trips).  In addition to 18% GST, these extra costs are added to the base cost of your trip.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> How can I pay?</h1>
							<p>Purchase online with a credit card (including international cards) and via bank transfer. If you wish to wire transfer or arrange another payment method, contact us.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> Is my information safe?</h1>
							<p>Yes --- our site uses secure pages, encrypted databases and strict security protocols to ensure your purchase and information is kept private at all times.<br> All activities are logged and monitored to ensure internal and external parties only have access to what they need to.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> Which type of private jet is best suited for my charter needs?</h1>
							<p>There are many variables to consider when selecting an aircraft for your travel needs.  When deciding which aircraft to choose you should ask yourself the following questions:</p>
							<p>Where is my final destination? | How many passengers will there be?| Will I have a lot of luggage?|How many days will I be traveling? | Do I have a budget in mind?| Which onboard amenities do I expect?</p>
							<p><b>Here are some general examples</b>:  If you’re flying private for the convenience, have 2 – 3 total passengers, your destination is a short distance from your departure location, and you have a limited budget, a light jet would be your best option.  If instead you plan to take a longer trip with more passengers and luggage, and your destination is farther from your departure location, you may want to consider a mid-sized jet.</p>
							<p>Please feel free to contact a Jetsmart charter coordinator to help you better determine which aircraft to utilize on your next flight.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> What information do I need to provide for my Jetsmart charter coordinator?</h1>
							<p>There are many factors that go into planning a successful trip.  Your Jetsmart charter coordinator will help you every step of the way.  While you may need to provide more detailed information as your trip gets closer, in order to start planning your next flight your charter coordinator will need some basic information from you. Please have the following information in mind when calling your charter coordinator:</p>
							<p>What date(s) would you like to travel? | How many destinations will you be flying to and where are they located? | What is the total number of passengers flying?| What is your general timeline for departures and arrivals?  | Are there any specific amenities (special snacks & beverages) or services (ground transportation) you will require? Once you have gathered the general details, please contact your charter coordinator, as he or she will show you how Jetsmart can exceed your travel expectations.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> How do I customize meal, pickup, drop off and other options?</h1>
							<p>After each booking, a member of our team will call you to confirm your purchase and help personalise your experience further. We can help with picking you up, dropping you off, meals, drinks, special diets and however else can make your trip a successful one.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> How much luggage can I bring onboard a private jet?</h1>
							<p>Private jet aircraft have baggage stowage on board that spatially varies depending on aircraft size, class, and type.  Typically, light jets can accommodate one bag per passenger (with a possibility of 8 passengers) on board.  Mid –sized jets can typically accommodate one standard suitcase or two smaller bags per passenger (with a possibility of 8 passengers).  If you plan to bring special items on board, such as skis, golf clubs, or a lot of heavy luggage, please speak with your charter coordinator so he or she can ensure that your desired aircraft can safely accommodate your belongings.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> Why does the price for the same trip vary on different days?</h1>
							<p>Several factors can change the price of a charter trip.  Big factor is aircraft rate  Depending on the aircraft you choose, the overall cost of the flight will change, as all of our aircraft are chartered at a different rate. The biggest factor is weather.  Changes in weather can have a great effect on overall flight time.  For instance, during the winter months the wind speed is much faster than during the summer months.  Since your base charter cost is calculated by multiplying the hourly rate with the total flight time, changes in weather will ultimately change the cost of your flight.</p>
						</div>
					</div>					
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> How long before my flight do I have to get to the airport?</h1>
							<p>The foremost benefit to flying private is convenience.  Your private “on demand” jet and flight crew operate off of your travel schedule.  Your Jetsmart charter coordinator will ensure that your aircraft and crew are on standby well in advance to your intended departure time.  When you arrive at the Airport, your baggage is loaded, you and your passengers are able to board, and the aircraft prepares for take-off.  With private jet charter, there are no long lines and no wait to depart.  Simply put, your aircraft departs when you’re ready to depart.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> Where do I go to meet my private aircraft?</h1>
							<p>Choosing to fly private allows you to select from many small airports that airline aircraft cannot fly into.  When you fly into a small airport, you will depart from a terminal called a fixed based operation (FBO).   In addition to servicing aircraft, private FBOs provide many amenities for passengers, such as a lounge area, baggage handling, parking facilities, and assistance with ground transportation arrangements.  Many airports contain more than one FBO on site.  Because their prices and amenities vary, it is best to allow your Jetsmart charter coordinator to select the best FBO to meet your needs.  In addition, your charter coordinator will provide you with the FBO information you need to meet your private aircraft.</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> How does weather affect my flight?</h1>
							<p>The captain of your flight crew continually checks the weather at your departure and arrival locations to ensure your total safety.  Certain weather conditions, such as fog, lightning, and heavy or freezing rain and snow can affect the safe operation of your aircraft.  Postponing a flight when the weather conditions are poor is sometimes necessary.  In addition, if the weather conditions at your intended destination change en-route, the captain of your flight may choose to divert to an alternate close-by airport.  In the event your flight is diverted, your Jetsmart charter coordinator will assist you in making changes for ground transportation, hotel accommodations, and more.</p>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6 col-sm-6">
						<div class="faq">
							<h1><i class="fa fa-question-circle" aria-hidden="true"></i> Is smoking permitted during the flight?</h1>
							<p>All Jetsmart aircraft prohibit smoking to ensure the complete safety of passengers and flight crew members.</p>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</section>
	<!-- Faqs End -->
	<section id="contact-us">
		<div class="container">
			<div class="row">
				<h4>We'd like to help and talk with you</h4>
				<a href="contact.html" class="btn">Contact Us</a>
			</div>
		</div>
	</section>
	<!-- Testimonial Section End -->
	<footer>
		<div class="bottom-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<p class="member-of">
						<small>Member of</small><br>
						<img src="assets/img/baoa.png">
						</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<ul>
							<li><a ui-sref="about">About</a></li>
							<li><a ui-sref="termsCondition">Terms & Conditions</a></li>
							<li><a ui-sref="disclaimer">Disclaimer</a></li>
							<li><a ui-sref="policy">Privacy Policy</a></li>
							<li><a ui-sref="contact">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3">
						<ul class="social-links">
							<li><a href="https://www.facebook.com/jetsmart.in/?fref=ts&ref=br_tf" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/jet_smart/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-12">
						<p class="copyright center">© 2018 JetSmart.in  All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	<!-- Datepicker script -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-material-datetimepicker.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="assets/js/moment-with-locales.min.js"></script>
	<script src="assets/js/bootstrap-material-datetimepicker.js"></script>
	</footer>

<div class="frm-overlay" ng-show="isLoginForm" ng-click="openLoginForm()"></div>
	<div class="frm-login booking-form" ng-show="isLoginForm">
		<!-- <p style="margin-bottom: 35px;"><span class="close" >X</span></p> -->
		<uib-tabset active="activeJustified" justified="true">
			<uib-tab index="0" heading="Login">
				<form name="loginForm" ng-if="!forgot">
					<div class="form-group">
						<label for="user_name">Username / Email:</label>
						<input type="user_name" class="form-control" name="user_name" 
						ng-model="login.user_name"
						required>
						<div style="color:red">
	                       <span ng-show="loginForm.user_name.$dirty && loginForm.user_name.$invalid">
	                          <span ng-show="loginForm.user_name.$error.required">*Username/Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" 
						ng-model="login.password"
						required>
						<div style="color:red">
	                       <span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
	                          <span ng-show="loginForm.password.$error.required">*Password is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button type="submit" ng-click="submitLogin(login)" ng-disabled="loginForm.$invalid"  class="btn">Login</button>
						<a ng-click="openLoginForm()" type="submit" class="btn">Close</a>
					</center>
				</form>
				<form  name="forgotForm" ng-if="forgot">
					<div class="form-group">
						<label for="user_name">Enter Email:</label>
						<input type="user_name" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" name="em" 
						ng-model="forgotPwd.email"
						required>
						<div style="color:red">
	                       <span ng-show="forgotForm.em.$dirty && forgotForm.em.$invalid">
	                          <span ng-show="forgotForm.em.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="forgotForm.em.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button ng-click="submitforgotPassword(forgotPwd)" ng-disabled="forgotForm.$invalid" type="submit" class="btn">Submit</button>
					</center>
				</form>
				<a ng-if="!forgot" style="margin-left:21px" ng-click="forgotPassword(login.user_name)">Forgot Password?</a>
				<a ng-if="forgot" style="margin-left:21px" ng-click="loginClick()">Login?</a>
			</uib-tab>
			<uib-tab index="1" heading="Signup">
				<form  name="signUpForm" ng-hide="isOTP">
					<div class="form-group">
						<label for="user_name">Username:</label>
						<input type="text" class="form-control" name="user_name" 
						ng-model="signup.user_name"
						required maxlength="30">
						<div style="color:red">
	                       <span ng-show="signUpForm.user_name.$dirty && signUpForm.user_name.$invalid">
	                          <span ng-show="signUpForm.user_name.$error.required">*Username is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  class="form-control" name="email"
						ng-model="signup.email"
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
	                          <span ng-show="signUpForm.email.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="signUpForm.email.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="phoneNumber">Phone Number:</label>
						<input type="text"  num-only class="form-control" name="phoneNumber" 
						ng-model="signup.phone_number" min="0" maxlength="10" minlength="10" 
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.phoneNumber.$dirty && signUpForm.phoneNumber.$invalid">
	                          <span ng-show="signUpForm.phoneNumber.$error.required">*Phone no. is required.</span>
	                      </span>
	                      <span ng-show="((signUpForm.phoneNumber.$error.minlength || signUpForm.phoneNumber.$error.maxlength) && signUpForm.phoneNumber.$dirty) && !(signUpForm.phoneNumber.$error.pattern) ">
                                  *Phone number should be 10 digits
                              </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" 
						ng-model="signup.password"
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.password.$dirty && signUpForm.password.$invalid">
	                          <span ng-show="signUpForm.password.$error.required">*Password is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Confirm Password:</label>
						<input type="password" class="form-control" name="cPassword" 
						ng-model="signup.cPassword"
						required>
						<div style="color:red">
							<span class="errorMsg" ng-show="signup.cPassword!=signup.password && signup.cPassword.length>=0">Password do not match.</span> 
						    <span class="errorMsg" ng-show="myForm2.cPassword.$dirty && myForm2.cPassword.$invalid">
						        <span class="errorMsg" ng-show="myForm2.cPassword.$error.required">Confirm Password is required.</span>
						    </span>
		                </div>
					</div>
					<center>
						<button type="submit" ng-click="submitSignup(signup)" ng-disabled="signUpForm.$invalid || (signup.password != signup.cPassword)" class="btn">Signup</button>					
						<a ng-click="openLoginForm()" type="submit" class="btn">Close</a>
					</center>
				</form>
				<form name="otpForm" ng-show="isOTP">
					<div class="form-group">
						<label for="OTP">OTP:</label>
						<input type="text"  num-only class="form-control" name="OTP" 
						ng-model="verifyOtpObj.otp" min="0"
						required>
						<div style="color:red">
	                       <span ng-show="otpForm.OTP.$dirty && otpForm.OTP.$invalid">
	                          <span ng-show="otpForm.OTP.$error.required">*OTP is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button style="display: block; margin: 0 auto; background: #274069; border-radius: 0; color:#fff" type="submit" ng-disabled="otpForm.$invalid" ng-click="verifyOtp()" class="btn">Verify</button>
					</center>
					<a style="margin-left:21px" ng-click="resendOTP(signup)">Resend OTP?</a>
				</form>
			</uib-tab>
		</uib-tabset>
		<p class="copyrighted-form">Powered By Jetsmart</p>
	</div>

	<!-- Payment Modal -->
	<div class="payment-frm-overlay" ng-show="isPaymentForm" ng-click="openPayment()"></div>
	<div class="payment-frm-overlay-login booking-form" ng-show="isPaymentForm">			
		<div class="inner-header">
			<h2>Payment</h2>
		</div>
		<div class="inner-body">
			<form name="paymentForm">
				<div class="form-group">
					<label for="Name">Name</label>
					<input type="text" class="form-control" name="name" ng-model="paymentData.name"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.name.$dirty && paymentForm.name.$invalid">
                          <span ng-show="paymentForm.name.$error.required">*Name is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" ng-model="paymentData.email"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.email.$dirty && paymentForm.email.$invalid">
                          <span ng-show="paymentForm.email.$error.pattern">*Please Enter a valid email id.</span>
                          <span ng-show="paymentForm.email.$error.required">*Email id is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="phone_no">Phone Number:</label>
					<input type="text"  num-only maxlength="10" minlength="10" min="0" class="form-control" name="phone_no" ng-model="paymentData.phone_no"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.phone_no.$dirty && paymentForm.phone_no.$invalid">
                          <span ng-show="paymentForm.phone_no.$error.required">*Phone no. is required.</span>
                      </span>
                      <span ng-show="((paymentForm.phone_no.$error.minlength || paymentForm.phone_no.$error.maxlength) && paymentForm.phone_no.$dirty) && !(paymentForm.phone_no.$error.pattern) ">
                              *Phone number should be 10 digits
                          </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="amount">Amount:</label>
					<input type="text"  num-only class="form-control" min="0" name="amount" ng-model="paymentData.amount"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.amount.$dirty && paymentForm.amount.$invalid">
                          <span ng-show="paymentForm.amount.$error.required">*Amount is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="remarks">Remarks:</label>
					<input type="text" class="form-control" name="remarks" ng-model="paymentData.remarks"
					>
				</div>
				<center>
					<button type="submit" ng-disabled="paymentForm.$invalid" ng-click="payment()" class="btn">Pay</button>
					<a ng-click="closePayment()" type="submit" class="btn">Close</a>
				</center>
			</form>
		</div>
	</div>
	<!-- Payment Modal End -->
	<!-- <script type="text/javascript">

		$(document).ready(function(){
			// Menu Toggle
			$('a.mobile-tgl').click(function(){
				$('body').toggleClass('active-menu');
			});
			$('a.mobile-tgl, ul.menu').click(function(e){
				e.stopPropagation();	
			});
			$('body').click(function(){
				$('body').removeClass('active-menu');
			});
		})
</script> -->

<script type="text/javascript">
			$('a.mobile-tgl').click(function(){
			var body = $('body');
			$('body').toggleClass('active-menu');
			$('.booking-tgl').addClass('remove_booking_tgl');		
		});
		$('a.mobile-tgl, ul.menu').click(function(e){
			e.stopPropagation();	
		});
		$('body').click(function(){
			$('body').removeClass('active-menu');			
			$('.booking-tgl').removeClass('remove_booking_tgl');
		});

		$(window).scroll(function() {
			var elementPosition = $('section').offset().top - $(window).scrollTop() - 300;
			if (elementPosition <  0) {
				$('.booking-tgl').addClass('visible_tgl');
			} 
			else {
				$('.booking-tgl').removeClass('visible_tgl');
			}
		});
	</script>