<!-- 
<table>
	<tr>
		<th style="padding: 5px">Booking Number</th>
		<th style="padding: 5px">Name</th>
		<th style="padding: 5px">Date</th>
		<th style="padding: 5px">Action</th>
	</tr>
	<tr ng-repeat="item in BookingList" style="border: 1px solid #000">
		<td style="padding: 5px">{{item.bookingNumber}}</td>
		<td style="padding: 5px">{{item.contact.title + ' ' + item.contact.name}}</td>
		<td style="padding: 5px">{{item.created_at | date}}</td>
		<td style="padding: 5px">view</td>
	</tr>
</table> -->

<section id="search-result-wrapper">
<!-- Menu -->
			<!-- <a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a> -->
			<div class="menu-overlay"></div>		
			<ul class="menu" id="menu">
				<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="about">About</a></li>
				<li><a ui-sref="ourTeam">Our Team</a></li>
			<li><a ui-sref="faqs">FAQs</a></li>
			<li><a ui-sref="contact">Contact</a></li>
				<li ng-show="userInfo" style="cursor: pointer;" ><a ng-click="booking()">Booking History</a></li>
				<li ng-show="userInfo" style="cursor: pointer;"><a  ng-click="logout()">Logout</a></li>
				<li ng-show="!userInfo" style="cursor: pointer;"><a ng-click="loginForm()">Login</a></li>
			</ul>
			
		<!-- Menu End -->
		<!-- Top Left Button -->
		<div class="logo-wrapper">
			<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
			<ul class="header-tag">
				<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
			</ul>

			<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>
			<a href="" ng-show="userInfo.user_name" style="float: right" class="custom-header-link-position"><i class="fa fa-user" aria-hidden="true"></i> Welcome {{userInfo.user_name}}</a>
		</div>
	<form  class="edit-employee-detail-form common-form" style="margin:20px;background-image: url(../img/search-banner.jpg);">
		<div class="booking-status-wrapper booking_view_histroy_wrapper">
				<h3>Booking History</h3>
				<div class="overflow_table_hidden">
					<table>
						<thead>
							<tr>
								<th>S.No</th>
								<th>Booking Number</th>
								<th>Name</th>
								<th>Aircraft Name</th>
								<th>Aircraft Type</th>
								<th>Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="showJet.length == 0" ><td style="text-align:center" colspan="9">No Records found</td></tr>
							<tr ng-repeat="item in showJet">
								<td> {{$index+1}}</td>
								<td>{{item.bookingNumber}}</td>
								<td>{{item.contact.title + ' ' + item.contact.name}}</td>
								<td ng-if="item.aircraftId">{{item.aircraftId.jet_name}}</td>
								<td ng-if="item.aircraftId">{{item.aircraftId.aircraft_type}}</td>
								<td ng-if="item.flight_id">{{item.flight_id.aircraft_name}}</td>
								<td ng-if="item.flight_id">{{item.flight_id.aircraft_type}}</td>
								<td>{{item.created_at | date}}</td>
								<td ng-click="view(item._id)"><span><i class="fas fa-eye"></i></span></td>
							
							</tr>

						</tbody>
					</table>
				</div>
		</div>	

		<div class="booking-status-wrapper  booking_view_histroy_wrapper" ng-if="showEmptyLeg.length != 0">
			<h3>Empty Leg Booking History</h3>
			<div class="overflow_table_hidden">
				<table>
					<thead>
						<tr>
							<th>S.No</th>
							<th>Booking Number</th>
							<th>Name</th>
							<th>Aircraft Name</th>
							<th>Aircraft Type</th>
							<th>Date</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in showEmptyLeg">
							<td> {{$index+1}}</td>
							<td>{{item.bookingNumber}}</td>
							<td>{{item.contact.title + ' ' + item.contact.name}}</td>
							<td>{{item.empty_jetId.aircraft_name}}</td>
							<td>{{item.empty_jetId.aircraft_type}}</td>
							<td>{{item.created_at | date}}</td>
							<td ng-click="view(item._id)"><span><i class="fas fa-eye"></i></span></td>
						
						</tr>
					</tbody>
				</table>
			</div>
		</div>			
	</form>
</section>
<script type="text/javascript">
			$('a.mobile-tgl').click(function(){
			var body = $('body');
			$('body').toggleClass('active-menu');
			$('.booking-tgl').addClass('remove_booking_tgl');		
		});
		$('a.mobile-tgl, ul.menu').click(function(e){
			e.stopPropagation();	
		});
		$('body').click(function(){
			$('body').removeClass('active-menu');			
			$('.booking-tgl').removeClass('remove_booking_tgl');
		});

		$(window).scroll(function() {
			var elementPosition = $('section').offset().top - $(window).scrollTop() - 300;
			if (elementPosition <  0) {
				$('.booking-tgl').addClass('visible_tgl');
			} 
			else {
				$('.booking-tgl').removeClass('visible_tgl');
			}
		});
	</script>