	<header id="home">
		<!-- Video Section -->
		<div class="homepage-hero-module" style="height: 815px;">
		    <div class="video-container">
		        <div class="poster">
		            <img src="assets/img/luxury-jet.jpg" alt="JetSmart">
		        </div>
		    </div>
		    <div class="video-overlay"></div>
		    <!-- Banner Content -->
		    <div class="banner-content-wrapper">
		    	<div class="banner-content">
		    		<img src="assets/img/jet.png" alt="JetSmart">
		    		<h1 class="tag">Elevate your experience </h1>
		    		<!-- <h1>Who We Are?</h1> -->
		    		<p class="text-center">
		    		Your <b>Choice,</b> <br>
		    		Your <b>Choice</b> of  <b>Destination</b>,<br> Your <b>Choice</b> of <b>Aircraft</b>,<br> Your <b>Choice</b> of <b>Time</b>,<br> Your <b>Choice JetSmart</b>.</p>
		    		<p>We work dedicatedly in providing bespoke services with reliability, privacy and safety for your air charter. Your jet charter services can be arranged to take you anywhere across India. Allow us to pamper you on your next air charter journey.</p>
		    	</div>
		    	<div class="baoa_on_board">
	    			<img src="assets/img/baoa.png" alt="baoa">
	    		</div>
		    </div>
		    <!-- Banner Content End -->
		    <!-- Banner Flight Booking -->
		    <form name="homeSearch">
		    <div class="banner_flight_booking_area">
		    	<div class="banner_flight_booking_area_inner">
		    		<div class="status">
						<div class="pure-radiobutton">
							<input type="radio" id="oneWay_b" name="tripType" class="radio" value="oneWay" ng-model="searchObj.tripType">
							<label for="oneWay_b" data-reactid="155">One Way </label>
						</div>
						<div class="pure-radiobutton">
							<input type="radio" id="roundTrip_b" name="tripType" class="radio" value="roundTrip" ng-model="searchObj.tripType">
							<label for="roundTrip_b">Round Trip</label>
						</div>
					</div>
					<div class="all_fields_booking_area">
						<div class="row">
							<div class="inlable_wrap_for_mobile">
								<div class="col-md-6 col-sm-6 inlable-wrap inline-block">
									<label>From</label>
									<input type="text" ng-model="searchObj.roots[0].originName"
										uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
										class="form-control" required>
									<!-- <img src="assets/img/from-blue.png" alt="place-from">
									<img src="assets/img/from-org.png" alt="place-from"> -->
								</div>
								<div class="col-md-6 col-sm-6 inlable-wrap inline-block">
									<label>To</label>
									<input type="text" ng-model="searchObj.roots[0].destinationName"
										uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
									 	class="form-control" ng-focus="toggle.stopScroll = true" ng-blur="autoFill(0); toggle.stopScroll = false" required>
									<!-- <input type="text" name="to" required ng-model="searchObj.roots[0].destinationName"> -->
									<!-- <img src="assets/img/to-blue.png" alt="place-to">
									<img src="assets/img/to-org.png" alt="place-to"> -->
								</div>
								<div class="col-md-6 col-sm-6 inlable-wrap inline-block">
									<label>Departure Date</label>
									<input type="text" date-picker date="" class="form-control" min-date="today" ng-change="changeDat(0)"  max-date="{{searchObj.roots[1].departureDate}}"
										ng-model="searchObj.roots[0].departureDate" required>
									<!-- <img src="assets/img/dep-blue.png" alt="Departure-Date"> -->
								</div>
								<!-- {{searchObj.roots[$index-1].departureDate || 'today'}}" -->
								<div class="col-md-6 col-sm-6 inlable-wrap inline-block">
									<label>Departure Time </label>
									<!-- <input type="text" class="form-control" uib-datepicker-popup="hh:mm" ng-model="searchObj.roots[0].departureTime" is-open="true" ng-required="true" close-text="Close"/> -->

									<div class="input-group"
						                   moment-picker="searchObj.roots[0].departureTime"
						                   format="LT" show-header="false">
						                  <input class="form-control"
						                         ng-model="searchObj.roots[0].departureTime"
						                         ng-required="true"
						                         ng-model-options="{ updateOn: 'blur' }">
						              </div>
									<!-- <div class="input-group date">
					                    <input type="text" bt-time class="form-control" ng-model="searchObj.roots[0].departureTime" required="">
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-time"></span>
					                    </span>
					                </div> -->
									<!-- <input type="text" bt-time ng-model="searchObj.roots[0].departureTime" required> -->
									<!-- <img src="assets/img/dept-blue.png" alt="Departure-Time"> -->
								</div>
								<div class="col-md-6 col-sm-6 inlable-wrap inline-block">
									<label>Return Date {{searchObj.roots[1].departureDate}}</label>
									<input type="text" class="form-control" id="returndate" date-picker 
										date="searchObj.roots[0].departureDate" min-date="{{searchObj.roots[0].departureDate || 'today'}}"
										ng-model="searchObj.roots[1].departureDate"
										ng-disabled="!searchObj.roots[0].departureDate || searchObj.tripType =='oneWay'"
										ng-change="returnD(searchObj.roots[1].departureDate)"
										ng-required="searchObj.tripType == 'roundTrip'">
								</div>
								<div class="col-md-6 col-sm-6 inlable-wrap inline-block">
									<label>Return Time</label>
									<!-- <div class="input-group date">
					                    <input type="text" bt-time class="form-control" ng-model="searchObj.roots[1].departureTime"
										ng-required="searchObj.tripType == 'roundTrip'">
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-time"></span>
					                    </span>
					                </div> -->

					                <div class="input-group"
						                   moment-picker="searchObj.roots[1].departureTime"
						                   format="LT" show-header="false">
						                  <input class="form-control"
						                         ng-model="searchObj.roots[1].departureTime"
						                         ng-disabled="!searchObj.roots[0].departureDate || searchObj.tripType =='oneWay'"
						                         ng-required="true"
						                         ng-model-options="{ updateOn: 'blur' }">
						              </div>
									<!-- <input type="text" id="returntime" bt-time
										ng-model="searchObj.roots[1].departureTime"
										ng-required="searchObj.tripType == 'roundTrip'"> -->
									<!-- <img src="assets/img/returntime-blue.png" alt="Departure-Time"> -->
									<!-- <img src="assets/img/returntime-org.png" alt="Departure-Time"> -->
								</div>
								<div class="col-md-6 col-sm-6 inlable-wrap inline-block">
									<label>Traveller</label>
									<select ng-model="searchObj.traveller" class="form-control">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
										<option value="13">13</option>
										<option value="14">14</option>
										<option value="15">15</option>
									</select>
								</div>
								<div class="col-md-6 col-sm-6 inlable-wrap inline-block">
									<label>Nationality</label>
									<select ng-model="searchObj.nationality" class="form-control">
										<option value="Indian">Indian</option>
										<option value="Other Nationalities">Other Nationalities</option>
									</select>
								</div>
							</div>
							<div class="col-md-12 col-sm-12">
								<button type="submit" ng-click="submitSearch(searchObj)">Submit</button> 
							</div>
							<div class="below_links_wrapper">
								<div class="container-fluid">
									<div class="row">
										<div class="col-md-4 col-sm-4 col-xs-4">
											<a ui-sref="booking_page">Book Helicopter</a>
										</div>
										<div class="col-md-4 col-sm-4 col-xs-4">
											<!-- <a></a> -->
										</div>
										<div class="col-md-4 col-sm-4 col-xs-4 text-right">
											<a class="open_booked_form_toggle" booking-form>Multicity</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
		    	</div>
		    </div>
		    </form>
		    <!-- Banner Flight Booking End -->
		</div>
		<!-- Video Section End -->
		<!-- Logo and Menu -->
		<div class="headroom" id="headroom">
			<div class="menu-wrapper">
				<div class="row">
					<!-- Menu Toggle -->
					<div class="logo-wrapper">
						
						<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
						<ul class="header-tag">
							<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
						</ul>
						<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>
						<a href="" ng-hide="userInfo.user_name" ng-click="openLoginForm()" class="custom-header-link-position"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a>
						<a href="" ng-show="userInfo.user_name" style="float: right" class="custom-header-link-position"><i class="fa fa-user" aria-hidden="true"></i> Welcome {{userInfo.user_name}}</a>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		    var myElement = new Headroom(document.querySelector(".headroom"), {
		        offset : 100
		    });
		    myElement.init();
		    //
		    var index = 1,
		max = $('.header-tag li span').length;

			function setActive() {
				setTimeout(function () {
					$('.active-rotate').removeClass('active-rotate');
					index++;
					if(index > max) {
						index = 1;    
					}
					$('.header-tag li span:nth-of-type(' + index + ')').addClass('active-rotate');
					setActive();
				}, 2500);
			}
			
			setActive();
		</script>
		<div class="menu-overlay"></div>					
		<ul class="menu" id="menu">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="about">About</a></li>
			<li ng-if="showPayment"><a href="" ng-click="openPayment()">Payment</a></li>
			<li><a ui-sref="emptyLeg">Empty Leg</a></li>
			<li><a ui-sref="ourTeam">Our Team</a></li>
			<li><a ui-sref="faqs">FAQs</a></li>
			<li><a ui-sref="contact">Contact</a></li>
			<li ng-show="!userInfo.user_name" ng-click="openLoginForm()"><a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a></li>
			<!-- <li ng-show="!userInfo.user_name" ng-click="changePwd()"><a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true" ng-show="userInfo.user_name"></i> Change Password</a></li> -->
			<li ng-show="userInfo.user_name"><a ui-sref="history">Booking History</a></li>
			<li ng-show="userInfo.user_name" ng-click="logout();showPayment = false;"><a href="javascript:void(0)">Logout</a></li>
		</ul>
		<!-- Logo and Menu End -->
	</header>
	
	<!-- Booking Area -->
	<div class="booking-module-wrapper" booking-form>
		<a href="javascript:void(0);" class="booking-tgl">Book Now</a>
		<div class="book-overlay"></div>
		<div class="booking-area"><!-- ng-class="{'custom-remove-overlay' : toggle.stopScroll}" -->
			<div class="booking-form">
				<form name="surhForm" autocomplete="off" ng-submit="submitSearch(searchObj)">
					<div class="status">
						<div class="pure-radiobutton">
							<input type="radio" id="oneWay" name="tripType" class="radio" value="oneWay" ng-model="searchObj.tripType">
							<label for="oneWay" data-reactid="155">One Way</label>
						</div>
						<div class="pure-radiobutton">
							<input type="radio" id="roundTrip" name="tripType" class="radio" value="roundTrip" ng-model="searchObj.tripType">
							<label for="roundTrip">Round Trip</label>
						</div>
						<div class="pure-radiobutton">
							<input type="radio" id="multicity" name="tripType" class="radio" value="multicity" ng-model="searchObj.tripType">
							<label for="multicity">Multicity</label>
						</div>
						<div class="divider"></div>
						<label class="switch">
							<input type="checkbox" ng-model="searchType">
							<span class="slider round"></span>
						</label>
						<span class="Advanced-filter-label">Advanced Filter</span>
					</div>
					<!-- <div class="advanced-booking-container"  ng-class="{'cls-active':searchType}"> -->
						<!-- <div class="advanced-booking-engine" ng-class="{'cls-active':searchType}"> -->
						<div class="advanced-booking-engine" ng-class="{'cls-active':searchType}">
							<div class="advanced-booking">
								<div class="inlable-wrap block">
									<div class="filter-grp">
										<h5>Aircraft type</h5>
										<div class="pure-radiobutton">
											<input type="checkbox" id="heavyjets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.heavy_jet">
											<label for="heavyjets">Heavy Jet</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="smidjets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.super_mid_jet">
											<label for="smidjets">Super-Mid Jets</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="msizejets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.mid_size_jet">
											<label for="msizejets">Mid-size Jets</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="lightjets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.light_jet">
											<label for="lightjets">Light Jets</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="turboprop" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.turbo_props">
											<label for="turboprop">Turbo Props</label>
										</div>
									</div>
								</div>
								<div class="inlable-wrap block">
									<div class="filter-grp">
										<h5>Facility</h5>
										<div class="pure-radiobutton">
											<input type="checkbox" id="flight-attendant" name="tripType" class="radio" value="on" ng-model="searchObj.facility.flight_attendant">
											<label for="flight-attendant">Flight Attendant</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="lavatory" name="tripType" class="radio" value="on" ng-model="searchObj.facility.lavatory">
											<label for="lavatory">Lavatory</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="satellite-phone" name="tripType" class="radio" value="on" ng-model="searchObj.facility.satellite_phone">
											<label for="satellite-phone">Satellite Phone</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="wifi" name="tripType" class="radio" value="on" ng-model="searchObj.facility.wifi">
											<label for="wifi">Wifi</label>
										</div>
										<div class="pure-radiobutton">
											<input type="checkbox" id="baggage" name="tripType" class="radio" value="on" ng-model="searchObj.facility.baggage">
											<label for="baggage">Baggage</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					<!-- </div> -->
					<!-- first roots -->
					<div class="inlable-wrap inline-block">
						<label>From</label>
						<input type="text" ng-model="searchObj.roots[0].originName"
							uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
							class="form-control" required>
						<img src="assets/img/from-blue.png" alt="place-from">
						<img src="assets/img/from-org.png" alt="place-from">
					</div>
					<div class="inlable-wrap inline-block">
						<label>To</label>
						<input type="text" ng-model="searchObj.roots[0].destinationName"
							uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
						 	class="form-control" ng-focus="toggle.stopScroll = true" ng-blur="autoFill(0); toggle.stopScroll = false;" required>
						<!-- <input type="text" name="to" required ng-model="searchObj.roots[0].destinationName"> -->
						<img src="assets/img/to-blue.png" alt="place-to">
						<img src="assets/img/to-org.png" alt="place-to">
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Date</label>
						<input type="text" date-picker date="" min-date="today" ng-change="changeDat(0)"  max-date="{{searchObj.roots[1].departureDate}}"
							ng-model="searchObj.roots[0].departureDate" required>
						<img src="assets/img/dep-blue.png" alt="Departure-Date">
					</div>
					<!-- {{searchObj.roots[$index-1].departureDate || 'today'}}" -->
					<div class="inlable-wrap inline-block">
						<label>Departure Time</label>
						<!-- <input type="text" class="form-control" uib-datepicker-popup="hh:mm" ng-model="searchObj.roots[0].departureTime" is-open="true" ng-required="true" close-text="Close"/> -->
						<!-- <div class="input-group date">
		                    <input type="text" bt-time class="form-control" ng-model="searchObj.roots[0].departureTime" required="">
		                    <span class="input-group-addon">
		                        <span class="glyphicon glyphicon-time"></span>
		                    </span>
		                </div> -->

		                <div class="input-group"
						    moment-picker="searchObj.roots[0].departureTime"
						    format="LT" show-header="false">
						   	<input class="form-control"
						        ng-model="searchObj.roots[0].departureTime"
						        ng-required="true"
						        ng-model-options="{ updateOn: 'blur' }">
						</div>
						
						<!-- <input type="text" bt-time ng-model="searchObj.roots[0].departureTime" required> -->
						<img src="assets/img/dept-blue.png" alt="Departure-Time">
					</div>
					<!-- first roots -->
					<!-- multicity -->
					<span class="multicity-box">
						<div class="for-multicity" ng-repeat="x in searchObj.roots" ng-hide="$first">
						<a href="javascript:void(0);" class="add more-city" ng-click="addMulticity($index)" ng-show="$last"><i class="fa fa-plus" aria-hidden="true"></i></a>
						<a href="javascript:void(0);" class="minus more-city" ng-click="removeMulticity($index); $event.stopPropagation();" ng-show="$last && $index != 1"><i class="fa fa-minus" aria-hidden="true"></i></a>
						<div class="inlable-wrap inline-block">
							<label>From</label>
							<input type="text" class="form-control" 
								uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
								ng-model="searchObj.roots[$index].originName" disabled>
							<img src="assets/img/from-blue.png" alt="place-from">
							<!-- <img src="assets/img/from-org.png" alt="place-from"> -->
						</div>
						<div class="inlable-wrap inline-block">
							<label>To</label>
							<input type="text" class="form-control"
								uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
								ng-model="searchObj.roots[$index].destinationName" 
								ng-required="searchObj.tripType == 'multicity'" 
								ng-blur="autoFill($index)">
							<img src="assets/img/to-blue.png" alt="place-to">
							<!-- <img src="assets/img/to-org.png" alt="place-to"> -->
						</div>
						<div class="inlable-wrap inline-block">
							<label>Departure Date</label>
							<input type="text" ng-disabled="!searchObj.roots[$index-1].departureDate" date-picker 
								date="searchObj.roots[$index-1].departureDate" min-date="{{searchObj.roots[$index-1].departureDate || 'today'}}"
								ng-change="changeDat($index)"
							ng-model="searchObj.roots[$index].departureDate" ng-required="searchObj.tripType == 'multicity'" >
							<img src="assets/img/dep-blue.png" alt="Departure-Date">
						</div>
						<div class="inlable-wrap inline-block ">
							<label>Departure Time</label>
							<!-- <div class="input-group  date">
			                    <input type="text" bt-time class="form-control" ng-model="x.departureTime" bt-time ng-model="searchObj.roots[$index].departureTime" ng-required="searchObj.tripType == 'multicity'">
			                    <span class="input-group-addon">
			                        <span class="glyphicon glyphicon-time"></span>
			                    </span>
			                </div> -->

			                <div class="input-group"
							    moment-picker="searchObj.roots[$index].departureTime"
							    format="LT"  show-header="false">
							   	<input class="form-control"
							        ng-model="searchObj.roots[$index].departureTime"
							        ng-required="true"
							        ng-model-options="{ updateOn: 'blur' }">
							</div>
							<!-- <input type="text" ng-model="x.departureTime" bt-time ng-model="searchObj.roots[$index].departureTime" ng-required="searchObj.tripType == 'multicity'" > -->
							<img src="assets/img/dept-blue.png" alt="Departure-Time">
						</div>
					</div>
					</span>
					<!-- end multicity -->
					<!-- round trip -->
					<div class="return-date-wrapper">
					<!-- <div class="inlable-wrap inline-block">
						<label>From</label>
						<input type="text">
						<img src="assets/img/from-blue.png" alt="place-from">
						<img src="assets/img/from-org.png" alt="place-from">
					</div>
					<div class="inlable-wrap inline-block">
						<label>To</label>
						<input type="text">
						<img src="assets/img/to-blue.png" alt="place-to">
						<img src="assets/img/to-org.png" alt="place-to">
					</div> -->
						<div class="inlable-wrap inline-block">
							<label>Return Date</label>
							<input type="text" id="returndate" date-picker 
								date="searchObj.roots[0].departureDate" min-date="{{searchObj.roots[0].departureDate || 'today'}}"
								ng-model="searchObj.roots[1].departureDate"
								ng-disabled="!searchObj.roots[0].departureDate"
								ng-change="returnD(searchObj.roots[1].departureDate)"
								ng-required="searchObj.tripType == 'roundTrip'">
							<img src="assets/img/returndate-blue.png" alt="Departure-Date">
							<!-- <img src="assets/img/returndate-org.png" alt="Departure-Date"> -->
						</div>
						<div class="inlable-wrap inline-block">
							<label>Return Time</label>
							<!-- <div class="input-group custom_block date">
			                    <input type="text" bt-time class="form-control" ng-model="searchObj.roots[1].departureTime"
								ng-required="searchObj.tripType == 'roundTrip'">
			                    <span class="input-group-addon">
			                        <span class="glyphicon glyphicon-time"></span>
			                    </span>
			                </div> -->
			                 <div class="input-group"
							    moment-picker="searchObj.roots[1].departureTime"
							    format="LT"  show-header="false">
							   	<input class="form-control"
							        ng-model="searchObj.roots[1].departureTime"
							        ng-required="true"
							        ng-model-options="{ updateOn: 'blur' }">
							</div>
							<!-- <input type="text" id="returntime" bt-time
								ng-model="searchObj.roots[1].departureTime"
								ng-required="searchObj.tripType == 'roundTrip'"> -->
							<img src="assets/img/returntime-blue.png" alt="Departure-Time">
							<!-- <img src="assets/img/returntime-org.png" alt="Departure-Time"> -->
						</div>
					</div>
					<!-- end round trip -->
					<div class="inlable-wrap inline-block">
						<label>Traveller</label>
						<select ng-model="searchObj.traveller">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
						</select>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Nationality</label>
						<select ng-model="searchObj.nationality">
							<option value="Indian">Indian</option>
							<option value="Other Nationalities">Other Nationalities</option>
						</select>
					</div>
					<!-- advanced filter -->
					<div class="advanced-booking-engine"  ng-class="{'cls-active':searchType}">
						<div class="advanced-booking">
							<!-- <div class="inlable-wrap inline-block">
								<label>Price</label>
								<select ng-model="searchObj.price">
									<option value="10000000"> &lt; 10000000 </option>
									<option value="5000000"> &lt; 5000000 </option>
									<option value="2500000"> &lt; 2500000 </option>
									<option value="1000000"> &lt; 1000000 </option>
								</select>
							</div> -->
							<div class="inlable-wrap inline-block">
								<label>Seat</label>
								<select>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
								</select>
							</div>
						</div>
					</div>
					<center>
						<button type="button" ng-click="resetSearchForm()">Reset</button>
						<a href="javascript:void(0);" class="close-booking-tgl">Close</a>
						<button type="submit" ng-click="submitSearch(searchObj)">Search</button>
					</center>
				</form>
			</div>
			<p class="copyrighted-form">Powered By Jetsmart</p>
		</div>
	</div>
	<!-- Booking Area End -->
	<!-- About Section -->
	<section id="about">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="custom-about-content">
						<!-- <img src="assets/img/jet.png" alt="JetSmart"> -->
		    			<h2 class="tag"><span class="head-line"></span>JetSmart <span class="head-line"></span></h2>
						<h3>What We Do?</h3>
						<p>Unserved and underserved airports, isolated factory sites with timings and privacy to suit your business activity can be managed easily by private aircraft or helicopter services out of a pool of business jets, helicopters available through JetSmart. JetSmart manages your jet charter from start to finish. JetSmart is technology driven and aviation focused. It also offers pre-qualified pre-vetted jet owners the ability to earn revenue by leveraging our reach.</p>
					</div>
                </div>
                <script type="text/javascript">
                		// WHAT WE DO Equal Height
						var mod_height = $('.custom-about-content').parent().height();
						$('.custom-about-image').css('height', mod_height);
                </script>
                <div class="col-md-6 col-sm-6">
					<div class="custom-about-image" style="background-image: url('assets/img/g650.jpg');"></div>
                </div>
		  	</div>
		</div>
	</section>
	<!-- About Section End -->
	<!-- Aircrafts Section -->
	<section id="aircrafts">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="custom-aircrafts-type">
						<h2 class="tag"><span class="head-line"></span>We Have<span class="head-line"></span></h2>
						<h3>300 + AIRCRAFT</h3>
						<p>We have a network of Charter Operators with over 300 Aircraft, which are available on our website. Choose and book the best aircraft that fits your need and budget.</p>
						<div class="owl-carousel owl-theme">
							<div class="item row">
								<div class="col-md-8 col-sm-8">
									<div class="type-of-jet">
										<h2>Heavy Jets</h2>
										<p>With a maximum capacity of 18 passengers and range of 6+ hours, heavy jets are the perfect aircraft for transcontinental flights. High ceilings allow for free, comfortable movement around the cabin. Heavy Jets also feature the convenience of a fully enclosed lavatory. Plus, a flight attendant is on board to accommodate every in-flight request. This is the ultimate in private air travel. Example <b>Global 6000, Falcon 7X, Linage 1000, CRJ 100, Gulfstream 450</b></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="type-of-jet-image">
										<img src="assets/img/heavy-jets.jpg" alt="heavy-jets">
									</div>
								</div>
							</div>
							<div class="item row">
								<div class="col-md-8 col-sm-8">
									<div class="type-of-jet">
										<h2>Super-Mid Jets</h2>
										<p>This relatively new category of aircraft has quickly become an industry favourite. The Super-Midsize Jet welcomes a maximum capacity of 9 passengers, roomier cabins than standard midsize aircraft and a fully enclosed lavatory, making it ideal for cross-country or transatlantic journeys. Examle <b>Falcon2000, Challenger 605, Gulfstream 200, Hawker 900XP</b></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="type-of-jet-image">
										<img src="assets/img/supermid-jets.jpg" alt="supermid-jets">
									</div>
								</div>
							</div>
							<div class="item row">
								<div class="col-md-8 col-sm-8">
									<div class="type-of-jet">
										<h2>Mid-size Jets</h2>
										<p>With a typical seating capacity of 7 to 8 passengers, ample room to move around the cabin and a fully enclosed lavatory, the Mid-Size Jet offers an outstanding value for 4-5 hour journeys. Example <b>Citation XL, Hawker 800XP, Learjet 45</b></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="type-of-jet-image">
										<img src="assets/img/midsize-jets.jpg" alt="midsize-jets">
									</div>
								</div>
							</div>
							<div class="item row">
								<div class="col-md-8 col-sm-8">
									<div class="type-of-jet">
										<h2>Light Jets</h2>
										<p>Light Jets offer a seating capacity of up to 8 passengers. Designed for shorter, regional flights, most Light Jets have limited movement throughout the cabin and are equipped with an enclosed or curtained lavatory. Example <b>Citation CJ2, Premier 1A, Phanom 300</b></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="type-of-jet-image">
										<img src="assets/img/light-jets.jpg" alt="light-jets">
									</div>
								</div>
							</div>
							<div class="item row">
								<div class="col-md-8 col-sm-8">
									<div class="type-of-jet">
										<h2>Turbo-props</h2>
										<p>Reliable and comfortable, this category of aircraft provides a great solution for shorter trips of 100 to 600 miles. Turbo-props are capable of carrying typically up 9 passengers with lack of baggage capacity. Example <b>Kingair C90, Kingair B200, Kingair B350, Piaggio Avanti</b></p>
									</div>
								</div>
								<div class="col-md-4 col-sm-4">
									<div class="type-of-jet-image">
										<img src="assets/img/turbo-props.jpg" alt="turbo-props">
									</div>
								</div>
							</div>
						</div>
						<script>
							$(document).ready(function() {
							var owl = $('.owl-carousel.owl-theme');
							owl.owlCarousel({
								margin: 0,
								nav: false,
								center:false,
								autoplay: true,	
								loop: true,
								responsive: {
								  0: {
									items: 1
								  },
								  600: {
									items: 1
								  },
								  1000: {
									items: 1
								  }
								}
								})
							});
						</script>
						<!-- <div>
							<img src="assets/img/light-size-jet.png" alt="light-size-jet">
							<span class="type-of">LIGHT SIZE JET</span>
						</div>
						<div>
							<img src="assets/img/mid-size-jet.png" alt="mid-size-jet">
							<span class="type-of">MID SIZE JET</span>
						</div>
						<div>
							<img src="assets/img/heavy-size-jet.png" alt="heavy-size-jet">
							<span class="type-of">HEAVY JET</span>
						</div>
						<div>
							<img src="assets/img/turbo-size-jet.png" alt="turbo-size-jet">
							<span class="type-of">TURBO SIZE JET</span>
						</div> -->
					</div>
                </div>
		  	</div>
		</div>
	</section>
	<!-- Aircrafts Section End -->
	<!-- Process Section -->
	<section id="process">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="custom-work-process-heading">
						<h2 class="tag"><span class="head-line"></span>Our Work<span class="head-line"></span></h2>
						<h3>Process</h3>						
						<center><img src="assets/img/process.png" alt="process"></center>
						<!-- <ul class="step-by-step-process">
							<li>
								<div><i class="fa fa-search" aria-hidden="true"></i> Search<span class="process-tag">Search offers online</span></div>
							</li>
							<li>
								<div><i class="fa fa-check-square-o" aria-hidden="true"></i> Check Trip Price<span class="process-tag">Check trip price</span></div>
							</li>
							<li>
								<div><i class="fa fa-bookmark" aria-hidden="true"></i> Book Online<span class="process-tag">Secure Payment</span></div>
							</li>
							<li>
								<div><i class="fa fa-plane" aria-hidden="true"></i> Get Ready to Fly<span class="process-tag">Enjoy Joyful Experience</span></div>
							</li>
						</ul> -->
					</div>
                </div>				
		  	</div>
		</div>
	</section>
	<!-- Process Section End -->
	<!-- Features Section -->
	<section id="welcome-box">
		<div class="container-fluid">
			<div class="row">
				<h2 class="tag"><span class="head-line"></span>JetSmart<span class="head-line"></span></h2>
				<h3>Provides</h3>				
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-6.jpg');">
						<div class="welcome-content">
							<h4>Simplified Yet Powerful</h4>
							<p>Technology driven solutions backed by an experienced team and financial backing focused on your success.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-2.jpg');">
						<div class="welcome-content">
							<h4>Concierge</h4>
							<p>Our staff remain at your disposal before, during and after your experience.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-3.jpg');">
						<div class="welcome-content">
							<h4>Innovative Technology</h4>
							<p>Jet charter is a notoriously in-efficient industry and our custom in-house technology streamlines the process more than anybody else.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-4.png');">
						<div class="welcome-content">
							<h4>Rigorously Inspected Equipment</h4>
							<p>Every plane is inspected, certified, monitored and checked by DGCA, government officials and crew.</p>
						</div>
					</div>
				</div>	
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-1.png');">
						<div class="welcome-content">
							<h4>Personalized Catering</h4>
							<p>Our premium catering options cover all dietary preferences and requirements sourced from specialized service providers.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="welcome" style="background-image: url('assets/img/services-5.jpg');">
						<div class="welcome-content">
							<h4>Fast Track Security</h4>
							<p>Escorted through security at exclusive areas for an easy onward experience.</p>
						</div>
					</div>
				</div>			
		  	</div>
		</div>
	</section>
	<!-- Features Section End -->
	<!-- Testimonial Section -->
	<section id="testimonial">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="testimonial-wrapper">
						<h2 class="tag center"><span class="head-line"></span>As Seen On<span class="head-line"></span></h2>
						<h3>Testimonials</h3>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<div class="row">
									<div class="col-md-4 col-sm-4">
										<img src="assets/img/ain.jpg" alt="ain">
									</div>
									<div class="col-md-8 col-sm-8">
										<h2>Indian Charter Group JetSmart Launches Online Booking</h2>
										<p>Indian private jet charter start-up JetSmart recently launched an online booking platform. The company is looking to boost the use of empty-leg flights, tapping what it says is an Indian fleet of some 140 fixed-wing aircraft and 100 helicopters available for charter with 120 operators...</p>
										<a href="http://www.ainonline.com/aviation-news/business-aviation/2016-05-09/indian-charter-group-JetSmart-launches-online-booking" target="_blank">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="row">
									<div class="col-md-4 col-sm-4">
										<img src="assets/img/forbers.png" alt="forbers">
									</div>
									<div class="col-md-8 col-sm-8">
										<h2>India's Fast-Growing Aviation Market Spurs Boom In Private Charter Jet Startups</h2>
										<p>India’s domestic aviation sector became the world’s fastest-growing aviation market last year, growing at a rate of over 20.3%, according to a report by KPMG. This sector is the ninth largest in the world and, according to a passenger...</p>
										<a href="https://www.forbes.com/sites/krnkashyap/2016/10/28/indias-fast-growing-aviation-market-spurs-boom-in-private-charter-jet-startups/" target="_blank">Read More</a>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-6 col-sm-6">
								<div class="row">
									<div class="col-md-4 col-sm-4">
										<img src="assets/img/cnbc.png" alt="cnbc">
									</div>
									<div class="col-md-8 col-sm-8">
										<h2>Book a private jet for your next air travel!</h2>
										<p>JetSmart is the Ola, Uber of the aviation industry. Making your fly easier and cheaper, as CNBC TV 18 says, JetSmart is emerging as an aircraft aggregator that will make traveling with private jets popular among people in the coming years. Let's see...</p>
										<a href="https://www.youtube.com/watch?v=k9tx9yNm2uc&feature=youtu.be" target="_blank">Read More</a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="row">
									<div class="col-md-4 col-sm-4">
										<img src="assets/img/et.png" alt="et">										
									</div>
									<div class="col-md-8 col-sm-8">
										<h2>JetSmart: Now charter a seat in business jet and pay in EMIs</h2>
										<p>NEW DELHI: Now, flying in a chartered flight or taking your wife on a business jet to show the Karvachauth moon won't cost you the Earth. A group of Indian entrepreneurs, with some funding from UAE, have launched an online portal for booking charters...</p>
										<a href="http://economictimes.indiatimes.com/small-biz/startups/JetSmart-now-charter-a-seat-in-business-jet-and-pay-in-emis/articleshow/52050898.cms" target="_blank">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
		  	</div>
		</div>
	</section>
	<!-- Testimonial Section End -->
	<footer>
		<div class="bottom-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<p class="member-of">
						<small>Member of</small><br>
						<img src="assets/img/baoa.png">
						</p>
					</div>
					<div class="col-md-6 col-sm-6">
					
						<ul>
							<li><a ui-sref="about">About</a></li>
							<li><a ui-sref="termsCondition">Terms & Conditions</a></li>
							<li><a ui-sref="disclaimer">Disclaimer</a></li>
							<li><a ui-sref="policy">Privacy Policy</a></li>
							<li><a ui-sref="contact">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3">
						<ul class="social-links">
							<li><a href="https://www.facebook.com/jetsmart.in/?fref=ts&ref=br_tf" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/jet_smart/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-12">
						<p class="copyright center">© 2018 JetSmart.in  All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript">
		// Menu Toggle
		$('a.mobile-tgl').click(function(){
			var body = $('body');
			$('body').toggleClass('active-menu');
			$('.booking-tgl').addClass('remove_booking_tgl');		
		});
		$('a.mobile-tgl, ul.menu').click(function(e){
			e.stopPropagation();	
		});
		// $('body').click(function(){
		// 	$('body').removeClass('active-menu');			
		// 	$('.booking-tgl').removeClass('remove_booking_tgl');
		// });

		$(window).scroll(function() {
			var elementPosition = $('section').offset().top - $(window).scrollTop() - 300;
			if (elementPosition <  0) {
				$('.booking-tgl').addClass('visible_tgl');
			} 
			else {
				$('.booking-tgl').removeClass('visible_tgl');
			}
		});
		
		$(document).ready(function(){
			$('.welcome').hover(function(){
				$(this).find('.welcome-content').css('bottom', '0');
				$(this).parent('div').siblings().find('.welcome-content').css('bottom', '-100%');	
			});		
		});
	</script>

	<div class="frm-overlay" ng-show="isLoginForm" ng-click="openLoginForm()"></div>
	<div class="frm-login booking-form" ng-show="isLoginForm">
		<!-- <p style="margin-bottom: 35px;"><span class="close" >X</span></p> -->
		<uib-tabset active="activeJustified" justified="true">
			<uib-tab index="0" heading="Login">
				<form name="loginForm" ng-if="!forgot">
					<div class="form-group">
						<label for="user_name">Username / Email:</label>
						<input type="user_name" class="form-control" name="user_name" 
						ng-model="login.user_name"
						required>
						<div style="color:red">
	                       <span ng-show="loginForm.user_name.$dirty && loginForm.user_name.$invalid">
	                          <span ng-show="loginForm.user_name.$error.required">*Username/Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" 
						ng-model="login.password"
						required>
						<div style="color:red">
	                       <span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
	                          <span ng-show="loginForm.password.$error.required">*Password is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button type="submit" ng-click="submitLogin(login)" ng-disabled="loginForm.$invalid"  class="btn">Login</button>
						<a ng-click="closeForm11()" type="submit" class="btn">Close</a>
					</center>
				</form>
				<form  name="forgotForm" ng-if="forgot">
					<div class="form-group">
						<label for="user_name">Enter Email:</label>
						<input type="user_name" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" name="em" 
						ng-model="forgotPwd.email"
						required>
						<div style="color:red">
	                       <span ng-show="forgotForm.em.$dirty && forgotForm.em.$invalid">
	                          <span ng-show="forgotForm.em.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="forgotForm.em.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button ng-click="submitforgotPassword(forgotPwd)" ng-disabled="forgotForm.$invalid" type="submit" class="btn">Submit</button>
					</center>
				</form>
				<a ng-if="!forgot" style="margin-left:21px" ng-click="forgotPassword(login.user_name)">Forgot Password?</a>
				<a ng-if="forgot" style="margin-left:21px" ng-click="loginClick()">Login?</a>
			</uib-tab>
			<uib-tab index="1" heading="Signup">
				<form  name="signUpForm" ng-hide="isOTP">
					<div class="form-group">
						<label for="user_name">Username:</label>
						<input type="text" class="form-control" name="user_name" 
						ng-model="signup.user_name"
						required maxlength="30">
						<div style="color:red">
	                       <span ng-show="signUpForm.user_name.$dirty && signUpForm.user_name.$invalid">
	                          <span ng-show="signUpForm.user_name.$error.required">*Username is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  class="form-control" name="email"
						ng-model="signup.email"
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
	                          <span ng-show="signUpForm.email.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="signUpForm.email.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="phoneNumber">Phone Number:</label>
						<input type="text" class="form-control" name="phoneNumber" 
						ng-model="signup.phone_number" num-only min="0" maxlength="10" minlength="10" 
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.phoneNumber.$dirty && signUpForm.phoneNumber.$invalid">
	                          <span ng-show="signUpForm.phoneNumber.$error.required">*Phone no. is required.</span>
	                      </span>
	                      <span ng-show="((signUpForm.phoneNumber.$error.minlength || signUpForm.phoneNumber.$error.maxlength) && signUpForm.phoneNumber.$dirty) && !(signUpForm.phoneNumber.$error.pattern) ">
                                  *Phone number should be 10 digits
                              </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" 
						ng-model="signup.password"
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.password.$dirty && signUpForm.password.$invalid">
	                          <span ng-show="signUpForm.password.$error.required">*Password is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Confirm Password:</label>
						<input type="password" class="form-control" name="cPassword" 
						ng-model="signup.cPassword"
						required>
						<div style="color:red">
							<span class="errorMsg" ng-show="signup.cPassword!=signup.password && signup.cPassword.length>=0">Password do not match.</span> 
						    <span class="errorMsg" ng-show="myForm2.cPassword.$dirty && myForm2.cPassword.$invalid">
						        <span class="errorMsg" ng-show="myForm2.cPassword.$error.required">Confirm Password is required.</span>
						    </span>
		                </div>
					</div>
					<center>
						<button type="submit" ng-click="submitSignup(signup)" ng-disabled="signUpForm.$invalid || (signup.password != signup.cPassword)" class="btn">Signup</button>					
						<a ng-click="closeForm11()" type="submit" class="btn">Close</a>
					</center>
				</form>
				<form name="otpForm" ng-show="isOTP">
					<div class="form-group">
						<label for="OTP">OTP:</label>
						<input type="text"  num-only class="form-control" name="OTP" 
						ng-model="verifyOtpObj.otp" min="0"
						required>
						<div style="color:red">
	                       <span ng-show="otpForm.OTP.$dirty && otpForm.OTP.$invalid">
	                          <span ng-show="otpForm.OTP.$error.required">*OTP is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button style="display: block; margin: 0 auto; background: #274069; border-radius: 0; color:#fff" type="submit" ng-disabled="otpForm.$invalid" ng-click="verifyOtp()" class="btn">Verify</button>
					</center>
					<a style="margin-left:21px" ng-click="resendOTP(signup)">Resend OTP?</a>
				</form>
			</uib-tab>
		</uib-tabset>
		<p class="copyrighted-form">Powered By Jetsmart</p>
	</div>

	<!-- Payment Modal -->
	<div class="payment-frm-overlay" ng-show="isPaymentForm" ng-click="openPayment()"></div>
	<div class="payment-frm-overlay-login booking-form" ng-show="isPaymentForm">			
		<div class="inner-header">
			<h2>Payment</h2>
		</div>
		<div class="inner-body">
			<form name="paymentForm">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="Name">Name</label>
							<input type="text" class="form-control" name="name" ng-model="paymentData.name"
							required>
							<div style="color:red">
		                       <span ng-show="paymentForm.name.$dirty && paymentForm.name.$invalid">
		                          <span ng-show="paymentForm.name.$error.required">*Name is required.</span>
		                      </span>
			                </div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" class="form-control"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" ng-model="paymentData.email"
							required>
							<div style="color:red">
		                       <span ng-show="paymentForm.email.$dirty && paymentForm.email.$invalid">
		                          <span ng-show="paymentForm.email.$error.pattern">*Please Enter a valid email id.</span>
		                          <span ng-show="paymentForm.email.$error.required">*Email id is required.</span>
		                      </span>
			                </div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="phone_no">Phone Number:</label>
							<input type="text"  num-only maxlength="10" minlength="10" min="0" class="form-control" name="phone_no" ng-model="paymentData.phone_no"
							required>
							<div style="color:red">
		                       <span ng-show="paymentForm.phone_no.$dirty && paymentForm.phone_no.$invalid">
		                          <span ng-show="paymentForm.phone_no.$error.required">*Phone no. is required.</span>
		                      </span>
		                      <span ng-show="((paymentForm.phone_no.$error.minlength || paymentForm.phone_no.$error.maxlength) && paymentForm.phone_no.$dirty) && !(paymentForm.phone_no.$error.pattern) ">
		                              *Phone number should be 10 digits
		                          </span>
			                </div>
						</div>
					</div>
					<div class="col-md-6 col-sm-6">
						<div class="form-group">
							<label for="amount">Amount:</label>
							<input type="text"  num-only class="form-control" min="0" name="amount" ng-model="paymentData.amount"
							required>
							<div style="color:red">
		                       <span ng-show="paymentForm.amount.$dirty && paymentForm.amount.$invalid">
		                          <span ng-show="paymentForm.amount.$error.required">*Amount is required.</span>
		                      </span>
			                </div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="form-group">
							<label for="remarks">Remarks:</label>
							<input type="text" class="form-control" name="remarks" ng-model="paymentData.remarks"
							>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<center>
							<button type="submit" ng-disabled="paymentForm.$invalid" ng-click="payment()" class="btn">Pay</button>
							<a ng-click="closePayment()" type="submit" class="btn">Close</a>
						</center>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- Payment Modal End -->

	<button class="btn offer-tgl"  ng-hide="tglOffer;!showOffer" ng-click="tglOffer = !tglOffer;">Offers <span class="rot"><i class="fa fa-certificate" aria-hidden="true"></i></span></button>
	<div class="offer-wrapper-overlay" ng-class="{'active': tglOffer}" ng-click="tglOffer = false"></div>
	<div class="offer-wrapper" ng-class="{'active': tglOffer}" >
		<div class="offer-wrapper-heading text-center">
			<button class="close" ng-click="tglOffer = !tglOffer"><i class="fa fa-times" style="font-size: 30px;" aria-hidden="true"></i></button>
			OFFERS
		</div>
		<div class="row" >
		<!-- ng-click="checkUser()"  -->
			<div class="col-md-4" ng-repeat="x in offers" ng-click="checkUser(x)">

				<div class="card-wrapper" >
					<div class="card" style="position: relative;">		
						<div class="card-title">
							<h2 style="font-size: 16px;">{{x.aircratft_id.jet_name}}({{x.aircratft_id.flight_number}})</h2>
							<p class="text-muted" style="font-size: 11px;">{{x.departureDate | date:'dd MMM yy'}}, {{x.departureTime}} <span style="float: right; font-size: 15px; color: rgba(15, 22, 38, 1)"><i class="fa fa-at" aria-hidden="true"></i> {{x.price_per_seat | number:0}}/seat </span></p>
						</div>
						<div class="card-body" style="background: url({{x.aircratft_id.image_gallary[0] || '/media/aircraftPics/SUPER~KINGAIR~C90~A/1508160156399.jpg'}}) center center; background-size: cover;">
						<img ng-if="x.remainingSeats==0" src="assets/img/Sold-Out.png" style="position: absolute;bottom: 0;right: 0px;height: 100px;width: 100px;" />
						</div>
						<div class="card-footer row">
							<p class="col-sm-4 col-md-4 col-xl-4"><i class="fa fa-plane" aria-hidden="true"></i> {{x.originNew}}</p>
							<p class="col-sm-4 col-md-4 col-xl-4"><i class="fa fa-plane fa-rotate-90" aria-hidden="true"></i> {{x.destinationNew}}</p>
							<p class="col-sm-2 col-md-2 col-xl-2"> <img src="assets/img/seats.png" style="width: 10px;">Total:{{x.no_of_seats}}</p>
							<p class="col-sm-2 col-md-2 col-xl-2"> <img src="assets/img/seats.png" style="width: 10px;">Available: {{x.remainingSeats}}</p>
						</div>
					</div>
					
				</div>
			</div>

			<!--  -->

			<!--  -->
		</div>
		
	</div>
	<style type="text/css">
		.offer-tgl{
			position: fixed;
			bottom: 20px;
			right: 20px;
			background: #ee4e0c;
			padding: 10px 40px;
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: 2px;
			border: 2px solid;
			font-weight: 500;
			border-radius: 0;
			transition: all 0.1s ease-in-out;
		}
		.rot{
			position: absolute;
			color: red;
			position: absolute;
			color: red;
			top: -50%;
			right: -10%;
			font-size: 30px;
			/*text-shadow: -1px 1px 1px #fff;*/

			-webkit-animation-name: spin;
		    -webkit-animation-duration: 4000ms;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-timing-function: linear;

		    -moz-animation-name: spin;
		    -moz-animation-duration: 4000ms;
		    -moz-animation-iteration-count: infinite;
		    -moz-animation-timing-function: linear;

		    -ms-animation-name: spin;
		    -ms-animation-duration: 4000ms;
		    -ms-animation-iteration-count: infinite;
		    -ms-animation-timing-function: linear;

		    animation-name: spin;
		    animation-duration: 4000ms;
		    animation-iteration-count: infinite;
		    animation-timing-function: linear;
		}
		@-ms-keyframes spin { 
	        from { 
	            -ms-transform: rotate(0deg); 
	        } to { 
	            -ms-transform: rotate(360deg); 
	        }
	    }
	    @-moz-keyframes spin { 
	        from { 
	            -moz-transform: rotate(0deg); 
	        } to { 
	            -moz-transform: rotate(360deg); 
	        }
	    }
	    @-webkit-keyframes spin { 
	        from { 
	            -webkit-transform: rotate(0deg); 
	        } to { 
	            -webkit-transform: rotate(360deg); 
	        }
	    }
	    @keyframes spin { 
	        from { 
	            transform: rotate(0deg); 
	        } to { 
	            transform: rotate(360deg); 
	        }
	    }
		.offer-tgl:hover{
			transform: scale(1.2);
			color: #FFF;
		}
		.offer-wrapper-overlay, .offer-wrapper{
			position: fixed;
			top: 100%;
			z-index: 9999;
			transition: all 0.5s ease-in-out;
		}
		.offer-wrapper-overlay{
			height: 100%;
			width: 100%;
			left: 0%;
			background: rgba(0,0,0,0.5);
		}
		.offer-wrapper{
			width: 80%;
			height: 80%;
			left: 10%;
			background: #fff;
			border-bottom: 5px solid rgba(15, 22, 38, 1);
			overflow-x: hidden;
			overflow-y: auto;
		}
		.offer-wrapper-heading{
			background: #ee4e0c;
			padding: 5px 10px;
		    font-size: 24px;
		    color: #fff;
		    font-weight: 700;
		    letter-spacing: 2px;
		}
		.offer-wrapper.active{
			top:10%;
		}
		.offer-wrapper-overlay.active{
			top:0%;
		}
		.card-wrapper{
			padding: 20px;
			width: 100%;
			height: 100%;
		}
		.card-wrapper p, .card-wrapper h2{
			margin: 0;
			margin-bottom: 5px;
		}
		.card-wrapper .card {
			background: #fff;
			color: #0f1626;
			box-shadow: 3px 3px 20px rgba(0,0,0,0.4);
		    padding: 0/*5px 15px*/;
		    width: 100%;
		    transition: all 0.15s ease-in-out;
		    overflow: hidden;
		}
		.card-wrapper .card .card-body{
			min-height: 200px;
		}
		/*.card-wrapper .card:hover{
			background: #ee4e0c;
			color: #fff;
			transform: scale(1.04);
		}*/
		.card-wrapper .card .card-footer{
			color: #000;
			padding: 10px;
			padding-top: 0;
		}
		.card-wrapper .card .card-footer p{
			font-size: 12px;
			color: #0f1626;
			border-top: 1px solid #0f1626;
			padding-top: 12px;
		}
		.card-wrapper .card .card-title {
			font-weight: 500;
			letter-spacing: 1px;
			padding: 5px 10px;
			color: #f04d00;
			border-bottom: 1px solid #ee4e0c;

		}
		.card-wrapper .card .card-title h2{
			font-weight: inherit;
		}
	</style>
	