<head>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/video.js"></script>
	<script src="assets/js/headroom.min.js"></script>
</head>
	<header id="home">
		<!-- Video Section -->
		<div class="homepage-hero-module set-max-height" style="background-image: url('assets/img/ourteam.jpg');">
		    <div class="video-overlay"></div>
		    <div class="banner-content-wrapper">
		    	<div class="banner-content">
		    		<h1>Team and The Investors</h1>
		    	</div>
		    </div>
		</div>
		<!-- Video Section End -->
		<!-- Logo and Menu -->
		<div class="headroom" id="headroom">
			<div class="menu-wrapper">
				<div class="row">
					<!-- Menu Toggle -->
					<div class="logo-wrapper">
						<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
						<ul class="header-tag">
							<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
						</ul>
						<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>
						<a href="" ng-hide="userInfo.user_name" ng-click="openLoginForm()" class="custom-header-link-position"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a>
						<a href="" ng-show="userInfo.user_name" style="float: right" class="custom-header-link-position"><i class="fa fa-user" aria-hidden="true"></i> Welcome {{userInfo.user_name}}</a>
					</div>					
				</div>
			</div>
		</div>
		<div class="menu-overlay"></div>		
		<ul class="menu" id="menu">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="about">About</a></li>
			<li ng-if="showPayment"><a href=""  ng-click="openPayment()">Payment</a></li>
			<li><a ui-sref="emptyLeg">Empty Leg</a></li>
			<li><a ui-sref="ourTeam">Our Team</a></li>
			<li><a ui-sref="faqs">FAQs</a></li>
			<li><a ui-sref="contact">Contact</a></li>
			<li ng-show="!userInfo.user_name" ng-click="openLoginForm()"><a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a></li>
			<li ng-show="userInfo.user_name"><a ui-sref="history">Booking History</a></li>
			<li ng-show="userInfo.user_name" ng-click="logout();showPayment = false;"><a href="javascript:void(0)">Logout</a></li>
		</ul>
		<!-- Logo and Menu End -->
	</header>
	<!-- Booking Area -->
	<div class="booking-module-wrapper">
		<!-- <a href="javascript:void(0);" class="booking-tgl">Book Now</a> -->
		<div class="book-overlay"></div>
		<div class="booking-area">
			<div class="booking-form">
				<form>
					<div class="status">
						<div class="pure-radiobutton">
							<input type="radio" id="oneWay" name="tripType" class="radio" value="on" checked>
							<label for="oneWay" data-reactid="155">One Way</label>
						</div>
						<div class="pure-radiobutton">
							<input type="radio" id="roundTrip" name="tripType" class="radio" value="on">
							<label for="roundTrip">Round Trip</label>
						</div>
						<div class="divider"></div>
						<span class="Advanced-filter-label">Advanced Filter</span>
						<label class="switch">
							<input type="checkbox" >
							<span class="slider round"></span>
						</label>
					</div>
					<div class="for-multicity">
					<div class="inlable-wrap inline-block">
						<label>From</label>
						<input type="text" name="from" required>
					</div>
					<div class="inlable-wrap inline-block">
						<label>To</label>
						<input type="text" name="to" required>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Date</label>
						<input type="text" id="date">
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Time</label>
						<input type="text" id="time">
					</div>
					</div>
					<div class="return-date-wrapper">
						<div class="inlable-wrap inline-block">
							<label>Return on Date</label>
							<input type="text" id="returndate">
						</div>
						<div class="inlable-wrap inline-block">
							<label>Return on Date</label>
							<input type="text" id="returntime">
						</div>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Traveller</label>
						<select>
							<option value="0" selected hidden disabled>0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Nationality</label>
						<select>
							<option value="Indian" selected hidden disabled>Indian</option>
							<option value="Indian">Indian</option>
							<option value="Other Nationalities">Other Nationalities</option>
						</select>
					</div>
					<!-- advanced filter -->
					<div class="advanced-booking-engine">
						<div class="advanced-booking">
							<div class="inlable-wrap inline-block">
								<label>Price</label>
								<select>
									<option value="0" selected hidden disabled>All</option>
									<option value="1">1,00,000 - 2,00,000</option>
									<option value="2">2,00,000 - 3,00,000</option>
									<option value="2">3,00,000 and More</option>
								</select>
							</div>
							<div class="inlable-wrap inline-block">
								<label>Seat</label>
								<select>
									<option value="0" selected hidden disabled>1</option>
									<option value="1">2 - 4</option>
									<option value="2">4 - 6</option>
									<option value="2">6 or More</option>
								</select>
							</div>
							<div class="inlable-wrap inline-block">
								<label>Cabin Height</label>
								<select>
									<option value="0" selected hidden disabled>4'7"</option>
									<option value="1">4'7"</option>
									<option value="1">5'7"</option>
									<option value="1">6'7"</option>
								</select>
							</div><br>
							<div class="inlable-wrap inline-block">
								<div class="filter-grp">
									<h5>Aircraft type</h5>
									<div class="pure-radiobutton">
										<input type="checkbox" id="heavyjets" name="tripType" class="radio" value="on">
										<label for="heavyjets">Heavy Jet</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="smidjets" name="tripType" class="radio" value="on">
										<label for="smidjets">Super-Mid Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="msizejets" name="tripType" class="radio" value="on">
										<label for="msizejets">Mid-size Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="lightjets" name="tripType" class="radio" value="on">
										<label for="lightjets">Light Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="turboprop" name="tripType" class="radio" value="on">
										<label for="turboprop">Turbo Props</label>
									</div>
								</div>
							</div>
							<div class="inlable-wrap inline-block">
								<div class="filter-grp">
									<h5>Facility</h5>
									<div class="pure-radiobutton">
										<input type="checkbox" id="flight-attendant" name="tripType" class="radio" value="on">
										<label for="flight-attendant">Flight Attendant</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="lavatory" name="tripType" class="radio" value="on">
										<label for="lavatory">Lavatory</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="satellite-phone" name="tripType" class="radio" value="on">
										<label for="satellite-phone">Satellite Phone</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="wifi" name="tripType" class="radio" value="on">
										<label for="wifi">Wifi</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<center>
						<a href="javascript:void(0);" class="book-btn">Add More City</a>
						<button type="submit">Search</button>
						<a href="javascript:void(0);" class="close-booking-tgl">Close</a>
					</center>
				</form>
			</div>
		</div>
	</div>
	<!-- Booking Area End -->
	<!-- Our Team Section -->
	<section id="our-team">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<div class="member-toggle">
						<ul>
							<li class="our-team-tgl active"">Our Team</li>
							<li class="our-investor-tgl">Our Investors</li>
						</ul>
					</div>
				</div>
				<!-- Team Member Section -->
				<div class="custom-team-member-section">
	                <!-- Team Member -->
	                <div class="col-md-5">
						<div class="team-member">
							<img src="assets/img/team-member-2.jpg" alt="Erfan Haque">
							<div class="member-panel">
								<h4>Anoop Sehan</h4>
								<label class="member-profile">CEO</label>
								<p>Anoop Sehan has over 30 years of leadership experience in P & L, Business Development, Marketing, Sales, Operations in Airlines and Travel Related Services.</p>
								<p>Having worked his way up to leadership position through a deep understanding of the Business Development and Sales process, Anoop entered the Technology Solutions for Travel Related Services as early as 2001, reflective of his vision and understanding of changing trends in the travel business.</p>
								<p>A people’s leader, he strongly believes that combining right people with the right processes is the only route to customer engagement and business performance.</p>
								<!-- <ul>
									<li><a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul> -->
							</div>
						</div>
					</div>
	                <!-- Team Member End -->
	                <!-- Team Member -->
	            	<div class="col-md-5">	
						<div class="team-member">
							<img src="assets/img/team-member-1.png" alt="Erfan Haque">
							<div class="member-panel">
								<h4>Vishal Tandon</h4>
								<label class="member-profile">Head of Operations</label>
								<p>Vishal Tandon comes with over 15 years of managerial and commercial experience in managing Flight operations, Airport Management, Air Charter Sales and Business Development. A keen strategist with expertise in managing the entire operations with key focus on profitability by ensuring optimal utilization of resources. Prior to joining JetSmart as a Head of Operations, he served in several executive positions in General Aviation and well versed about the Charter Market. He holds a master degree from Symbiosis, Pune.</p>
								<!-- <ul>
									<li><a href="https://www.linkedin.com/in/vishal-tandon-17ba5617/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
								</ul> -->
							</div>
						</div>
					</div>
	                <!-- Team Member End -->
	                <div class="col-md-10 col-md-10 col-md-push-2 col-md-push-2">
	                	<div class="team-member merge-content">
	                		<p><b>JetSmart</b> Team collective experience including leadership team is over 110 years. With domain expertise in Sales, Operations, Regulatory Affairs, and Ground Handling Services make JetSmart team formidable. JetSmart team are passionate, leaves no stone unturned to ensure work excellence and transparency. They play an important role in JetSmart optimum performance & complete satisfaction delivery towards our customers.</p>
	                	</div>
	                </div>
                </div>
                <!-- Team Member Section End -->
                <!-- Inverstor section -->
                <div class="custom-inverstor-member-section">
                	<div class="col-md-5">
                		<div class="inverstor-member">
							<img src="assets/img/tcv.jpg" alt="tcv">
							<div class="member-panel">
								<p>Travel Capitalist Ventures is the first multi-stage travel-focused investment firm.</p>
								<p>We identify and grow successful travel companies of all sizes in high growth verticals and niches within travel.</p>
								<ul>
									<li><a href="http://www.travelcapitalist.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
                	</div>
                	<div class="col-md-5">
                		<div class="inverstor-member">
							<img src="assets/img/ig.jpg" alt="ig">
							<div class="member-panel">
								<p>3 Former Airline Executives bringing 100 years of airline, operations and management experience.</p>
								<ul>
									<li><a href="javascript:void(0);" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div>
                	</div>
                </div>
		  	</div>
		</div>
	</section>
	<!-- Our Team End -->
	<!-- Testimonial Section End -->
	<footer>
		<div class="bottom-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<p class="member-of">
						<small>Member of</small><br>
						<img src="assets/img/baoa.png">
						</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<ul>
							<li><a ui-sref="about">About</a></li>
							<li><a ui-sref="termsCondition">Terms & Conditions</a></li>
							<li><a ui-sref="disclaimer">Disclaimer</a></li>
							<li><a ui-sref="policy">Privacy Policy</a></li>
							<li><a ui-sref="contact">Contact Us</a></li>
						</ul>
						
					</div>
					<div class="col-md-3 col-sm-3">
						<ul class="social-links">
							<li><a href="https://www.facebook.com/jetsmart.in/?fref=ts&ref=br_tf" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/jet_smart/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-12">
						<p class="copyright center">© 2018 JetSmart.in  All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	<!-- Datepicker script -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-material-datetimepicker.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="assets/js/moment-with-locales.min.js"></script>
	<script src="assets/js/bootstrap-material-datetimepicker.js"></script>
	</footer>
	
<div class="frm-overlay" ng-show="isLoginForm" ng-click="openLoginForm()"></div>
	<div class="frm-login booking-form" ng-show="isLoginForm">
		<!-- <p style="margin-bottom: 35px;"><span class="close" >X</span></p> -->
		<uib-tabset active="activeJustified" justified="true">
			<uib-tab index="0" heading="Login">
				<form name="loginForm" ng-if="!forgot">
					<div class="form-group">
						<label for="user_name">Username / Email:</label>
						<input type="user_name" class="form-control" name="user_name" 
						ng-model="login.user_name"
						required>
						<div style="color:red">
	                       <span ng-show="loginForm.user_name.$dirty && loginForm.user_name.$invalid">
	                          <span ng-show="loginForm.user_name.$error.required">*Username/Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" 
						ng-model="login.password"
						required>
						<div style="color:red">
	                       <span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
	                          <span ng-show="loginForm.password.$error.required">*Password is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button type="submit" ng-click="submitLogin(login)" ng-disabled="loginForm.$invalid"  class="btn">Login</button>
						<a ng-click="openLoginForm()" type="submit" class="btn">Close</a>
					</center>
				</form>
				<form  name="forgotForm" ng-if="forgot">
					<div class="form-group">
						<label for="user_name">Enter Email:</label>
						<input type="user_name" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" name="em" 
						ng-model="forgotPwd.email"
						required>
						<div style="color:red">
	                       <span ng-show="forgotForm.em.$dirty && forgotForm.em.$invalid">
	                          <span ng-show="forgotForm.em.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="forgotForm.em.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button ng-click="submitforgotPassword(forgotPwd)" ng-disabled="forgotForm.$invalid" type="submit" class="btn">Submit</button>
					</center>
				</form>
				<a ng-if="!forgot" style="margin-left:21px" ng-click="forgotPassword(login.user_name)">Forgot Password?</a>
				<a ng-if="forgot" style="margin-left:21px" ng-click="loginClick()">Login?</a>
			</uib-tab>
			<uib-tab index="1" heading="Signup">
				<form  name="signUpForm" ng-hide="isOTP">
					<div class="form-group">
						<label for="user_name">Username:</label>
						<input type="text" class="form-control" name="user_name" 
						ng-model="signup.user_name"
						required maxlength="30">
						<div style="color:red">
	                       <span ng-show="signUpForm.user_name.$dirty && signUpForm.user_name.$invalid">
	                          <span ng-show="signUpForm.user_name.$error.required">*Username is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  class="form-control" name="email"
						ng-model="signup.email"
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
	                          <span ng-show="signUpForm.email.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="signUpForm.email.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="phoneNumber">Phone Number:</label>
						<input type="text"  num-only class="form-control" name="phoneNumber" 
						ng-model="signup.phone_number" min="0" maxlength="10" minlength="10" 
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.phoneNumber.$dirty && signUpForm.phoneNumber.$invalid">
	                          <span ng-show="signUpForm.phoneNumber.$error.required">*Phone no. is required.</span>
	                      </span>
	                      <span ng-show="((signUpForm.phoneNumber.$error.minlength || signUpForm.phoneNumber.$error.maxlength) && signUpForm.phoneNumber.$dirty) && !(signUpForm.phoneNumber.$error.pattern) ">
                                  *Phone number should be 10 digits
                              </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" 
						ng-model="signup.password"
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.password.$dirty && signUpForm.password.$invalid">
	                          <span ng-show="signUpForm.password.$error.required">*Password is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Confirm Password:</label>
						<input type="password" class="form-control" name="cPassword" 
						ng-model="signup.cPassword"
						required>
						<div style="color:red">
							<span class="errorMsg" ng-show="signup.cPassword!=signup.password && signup.cPassword.length>=0">Password do not match.</span> 
						    <span class="errorMsg" ng-show="myForm2.cPassword.$dirty && myForm2.cPassword.$invalid">
						        <span class="errorMsg" ng-show="myForm2.cPassword.$error.required">Confirm Password is required.</span>
						    </span>
		                </div>
					</div>
					<center>
						<button type="submit" ng-click="submitSignup(signup)" ng-disabled="signUpForm.$invalid || (signup.password != signup.cPassword)" class="btn">Signup</button>					
						<a ng-click="openLoginForm()" type="submit" class="btn">Close</a>
					</center>
				</form>
				<form name="otpForm" ng-show="isOTP">
					<div class="form-group">
						<label for="OTP">OTP:</label>
						<input type="text"  num-only class="form-control" name="OTP" 
						ng-model="verifyOtpObj.otp" min="0"
						required>
						<div style="color:red">
	                       <span ng-show="otpForm.OTP.$dirty && otpForm.OTP.$invalid">
	                          <span ng-show="otpForm.OTP.$error.required">*OTP is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button style="display: block; margin: 0 auto; background: #274069; border-radius: 0; color:#fff" type="submit" ng-disabled="otpForm.$invalid" ng-click="verifyOtp()" class="btn">Verify</button>
					</center>
					<a style="margin-left:21px" ng-click="resendOTP(signup)">Resend OTP?</a>
				</form>
			</uib-tab>
		</uib-tabset>
		<p class="copyrighted-form">Powered By Jetsmart</p>
	</div>

	<!-- Payment Modal -->
	<div class="payment-frm-overlay" ng-show="isPaymentForm" ng-click="openPayment()"></div>
	<div class="payment-frm-overlay-login booking-form" ng-show="isPaymentForm">			
		<div class="inner-header">
			<h2>Payment</h2>
		</div>
		<div class="inner-body">
			<form name="paymentForm">
				<div class="form-group">
					<label for="Name">Name</label>
					<input type="text" class="form-control" name="name" ng-model="paymentData.name"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.name.$dirty && paymentForm.name.$invalid">
                          <span ng-show="paymentForm.name.$error.required">*Name is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" ng-model="paymentData.email"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.email.$dirty && paymentForm.email.$invalid">
                          <span ng-show="paymentForm.email.$error.pattern">*Please Enter a valid email id.</span>
                          <span ng-show="paymentForm.email.$error.required">*Email id is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="phone_no">Phone Number:</label>
					<input type="text"  num-only maxlength="10" minlength="10" min="0" class="form-control" name="phone_no" ng-model="paymentData.phone_no"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.phone_no.$dirty && paymentForm.phone_no.$invalid">
                          <span ng-show="paymentForm.phone_no.$error.required">*Phone no. is required.</span>
                      </span>
                      <span ng-show="((paymentForm.phone_no.$error.minlength || paymentForm.phone_no.$error.maxlength) && paymentForm.phone_no.$dirty) && !(paymentForm.phone_no.$error.pattern) ">
                              *Phone number should be 10 digits
                          </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="amount">Amount:</label>
					<input type="text"  num-only class="form-control" min="0" name="amount" ng-model="paymentData.amount"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.amount.$dirty && paymentForm.amount.$invalid">
                          <span ng-show="paymentForm.amount.$error.required">*Amount is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="remarks">Remarks:</label>
					<input type="text" class="form-control" name="remarks" ng-model="paymentData.remarks"
					>
				</div>
				<center>
					<button type="submit" ng-disabled="paymentForm.$invalid" ng-click="payment()" class="btn">Pay</button>
					<a ng-click="closePayment()" type="submit" class="btn">Close</a>
				</center>
			</form>
		</div>
	</div>
	<!-- Payment Modal End -->

	<script type="text/javascript">
			$('a.mobile-tgl').click(function(){
			var body = $('body');
			$('body').toggleClass('active-menu');
			$('.booking-tgl').addClass('remove_booking_tgl');		
		});
		$('a.mobile-tgl, ul.menu').click(function(e){
			e.stopPropagation();	
		});
		$('body').click(function(){
			$('body').removeClass('active-menu');			
			$('.booking-tgl').removeClass('remove_booking_tgl');
		});

		$(window).scroll(function() {
			var elementPosition = $('section').offset().top - $(window).scrollTop() - 300;
			if (elementPosition <  0) {
				$('.booking-tgl').addClass('visible_tgl');
			} 
			else {
				$('.booking-tgl').removeClass('visible_tgl');
			}
		});
	</script>