<section id="search-result-wrapper">
		<!-- Menu -->
			<!-- <a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a> -->
			<div class="menu-overlay"></div>		
			<!-- <ul class="menu" id="menu">
				<li><a ui-sref="home">Home</a></li>
				<li><a ui-sref="about">About</a></li>
				<li><a ui-sref="ourTeam">Our Team</a></li>
				<li><a ui-sref="faqs">FAQs</a></li>
				<li><a ui-sref="contact">Contact</a></li>
				<li ng-show="userInfo" ><a ui-sref="history">Booking History</a></li>
				<li ng-show="userInfo" style="cursor: pointer;"><a  ng-click="logout()">Logout</a></li>
				<li ng-show="!userInfo" style="cursor: pointer;"><a ng-click="loginForm()">Login</a></li>
			</ul> -->
			<ul class="menu" id="menu">
				<li><a ui-sref="home">Home</a></li>
				<li><a ui-sref="about">About</a></li>
				<li ng-if="showPayment"><a href="" ng-click="openPayment()">Payment</a></li>
				<li><a ui-sref="emptyLeg">Empty Leg</a></li>
				<li><a ui-sref="ourTeam">Our Team</a></li>
				<li><a ui-sref="faqs">FAQs</a></li>
				<li><a ui-sref="contact">Contact</a></li>
				<li ng-show="!userInfo.user_name" ng-click="openLoginForm()"><a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a></li>
				<!-- <li ng-show="!userInfo.user_name" ng-click="changePwd()"><a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true" ng-show="userInfo.user_name"></i> Change Password</a></li> -->
				<li ng-show="userInfo.user_name"><a ui-sref="history">Booking History</a></li>
				<li ng-show="userInfo.user_name" ng-click="logout();showPayment = false;"><a href="javascript:void(0)">Logout</a></li>
			</ul>
				
		<!-- Menu End -->
		<!-- Top Left Button -->
		<div class="logo-wrapper">
			<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
			<ul class="header-tag">
				<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
			</ul>
			<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>
						<a href="" ng-hide="userInfo.user_name" ng-click="loginForm()" class="custom-header-link-position"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a>
						<a href="" ng-show="userInfo.user_name" style="float: right" class="custom-header-link-position"><i class="fa fa-user" aria-hidden="true"></i> Welcome {{userInfo.user_name}}</a>
		</div>
		<!-- <div class="info-filter-btn">
			<a href="javascript:void(0);" class="filter-tgl"><i class="fa fa-filter" aria-hidden="true"></i></a>
		</div> -->
		<!-- -->
	<div id="pdfFormat">
		<div class="pdf-sub-header">
			<ul>
				<li>DATE: {{todayDate}}</li>
				<li>Mr./Ms. {{booking.user.user_name}}</li>
				<li>Email : {{booking.user.email}}</li>
			</ul>
		</div>
		<div class="invoice-header">
			<span>
				Quotation Number:
				<b>{{booking.aircraft._id}}</b>
			</span>
		</div>

		<div class="pdf-section">
			<span>
				Aircraft:
			</span>
			<table cellspacing="0" cellpadding="0">
				<tr class="tr-head">
					<td>Name</td>
					<td>Type</td>
					<td>No of Passenger</td>
					<td>Pilot</td>
					<td>Crew</td>
					<td>Baggage</td>
				</tr>
				<tr>
					<td>{{booking.aircraft.documents.jet_name}}</td>
					<td>{{booking.aircraft.documents.aircraft_type}}</td>
					<td>{{booking.localData.traveller}}</td>
					<td>{{booking.aircraft.documents.pilot}}</td>
					<td>{{booking.aircraft.documents.crew_members?booking.aircraft.documents.crew_members:0}}</td>
					<td>
					{{(booking.aircraft.documents.aircraft_type.toLowerCase()=='turbo prop' || booking.aircraft.documents.aircraft_type.toLowerCase()=='light jet')?'10':'15'}}</td>
				</tr>
			</table>
		</div>

		<div class="pdf-section">
			<span>
				Positioning / Repositioning:
			</span>
			<table cellspacing="0" cellpadding="0">
				<tr class="tr-head">
					<td>Type</td>
					<td>Departure</td>
					<td>Arrival</td>
					<td>Flying Time(HH:MM)</td>
				</tr>
				<tr ng-repeat="x in booking.aircraft.duration track by $index" ng-if="x.data.positioning || x.data.repositioning">
					<td>{{x.data.positioning ? 'Positioning' : ''}}{{x.data.repositioning ? 'Repositioning' : ''}}</td>
					<td>{{x.info.originName}}</td>
					<td>{{x.info.destinationName}}</td>
					<td>{{x.duration | dateconvertor1}}</td>
				</tr>
			</table>
		</div>

		<div class="pdf-section">
			<span>
				Itinerary:
			</span>
			<table cellspacing="0" cellpadding="0">
				<tr class="tr-head">
					<td>Date</td>
					<td>Departure</td>
					<td>Arrival</td>
					<td>Flying Time(HH:MM)</td>
					<td>Flying</td>
				</tr>
				<tr ng-repeat="x in booking.aircraft.duration track by $index">
					<td>{{x.departureDate}}</td>
					<td>{{x.info.originName}}</td>
					<td>{{x.info.destinationName}}</td>
					<td>{{x.duration | dateconvertor1}}</td>
					<td>{{x.data.positioning || x.data.repositioning ? 'Without Passenger' : 'With Passenger'}}</td>
				</tr>
			</table>
		</div>

		<div class="pdf-section">
			<span>
				Cost:
			</span>
			<table cellspacing="0" cellpadding="0">
				<tr class="tr-head">
					<td>Flying Cost</td>
					<td>Ground Handling</td>
					<td>Crew Charges</td>
					<td>Other Charges</td>
					<td>Sub Total</td>
					<td>GST @ 18%</td>
					<td>Grand Total</td>
				</tr>
				<tr>
					<td>{{booking.aircraft.netFlyingCost | roundoff}}</td>
					<td>{{booking.aircraft.groundHandlingCharges}}</td>
					<td>{{booking.aircraft.totalCrewCharge}}</td>
					<td>-</td>
					<td>{{booking.aircraft.netcost | roundoff}}</td>
					<td>{{booking.aircraft.gst | roundoff}}</td>
					<td>{{booking.aircraft.total | roundoff}}</td>
				</tr>
			</table>
		</div>
	</div>
		<!-- Top Left Button End -->
		<div class="container">
			<div class="row">
				<!-- Flight Status -->
				<div class="col-xs-12 over-hidden">
					<!-- Booking Status -->
					<div class="booking-status-wrapper">
						<h3>Smart <span>Search</span> Result</h3>
						<div class="booking-status">
							<!-- From to Destination -->
							<div class="from-to-destination border-right">
								<div class="from comm-class">
									<p class="place-code head">Date</p>
									<p class="place-timing-details details">{{departureDate }}</p>
								</div>								
							</div>
							<!-- From to Destination End -->
							<!-- From to Destination -->
							<div class="time-count border-right">
								<div class="from comm-class">
									<p class="place-code head">Time</p>
									<p class="place-timing-details details">{{departureTime}}</p>
								</div>								
							</div>
							<!-- From to Destination End -->					
							<!-- From to Destination -->
							<div class="no-of-pessenger border-right">
								<p class="pessenger head">AIRCRAFT TYPE</p>
								<p class="custom-badge">
									<label ng-show="!filterOptions.aircraft_type.heavy_jet && !filterOptions.aircraft_type.super_mid_jet && !filterOptions.aircraft_type.mid_jet && !filterOptions.aircraft_type.light_jet && !filterOptions.aircraft_type.turbo_props">All</label>
									<label ng-show="filterOptions.aircraft_type.heavy_jet">Heavy Jets <span><i ng-click="filterOptions.aircraft_type.heavy_jet = false" class="fa fa-times" aria-hidden="true"></i></span></label>
									<label ng-show="filterOptions.aircraft_type.super_mid_jet">Super-Mid Jets <span><i ng-click="filterOptions.aircraft_type.super_mid_jet = false" class="fa fa-times" aria-hidden="true"></i></span></label>
									<label ng-show="filterOptions.aircraft_type.mid_jet">Mid-Size Jets <span><i ng-click="filterOptions.aircraft_type.mid_jet = false" class="fa fa-times" aria-hidden="true"></i></span></label>
									<label ng-show="filterOptions.aircraft_type.light_jet">Light Jets <span><i ng-click="filterOptions.aircraft_type.light_jet = false" class="fa fa-times" aria-hidden="true"></i></span></label>
									<label ng-show="filterOptions.aircraft_type.turbo_props">Turbo Props <span><i ng-click="filterOptions.aircraft_type.turbo_props = false" class="fa fa-times" aria-hidden="true"></i></span></label>
								</p>
							</div>
							<!-- From to Destination End -->
							<!-- Type of Flight -->
							<div class="no-of-pessenger border-right">
								<p class="pessenger head">FACILITY</p>
								<p class="custom-badge">
									<label ng-show="!filterOptions.facility.flight_attendence && !filterOptions.facility.lavatory && !filterOptions.facility.satellite_phone && !filterOptions.facility.wifi">All</label>
									<label ng-show="filterOptions.facility.flight_attendence">Flight Attendant <span><i ng-click="filterOptions.facility.flight_attendence = false" class="fa fa-times" aria-hidden="true"></i></span></label>
									<label ng-show="filterOptions.facility.lavatory">Lavatory <span><i ng-click="filterOptions.facility.lavatory = false" class="fa fa-times" aria-hidden="true"></i></span></label>
									<label ng-show="filterOptions.facility.satellite_phone">Satellite Phone <span><i ng-click="filterOptions.facility.satellite_phone = false" class="fa fa-times" aria-hidden="true"></i></span></label>
									<label ng-show="filterOptions.facility.wifi">Wifi <span><i ng-click="filterOptions.facility.wifi = false" class="fa fa-times" aria-hidden="true"></i></span></label>
									<label ng-show="filterOptions.facility.baggage">Baggage <span><i ng-click="filterOptions.facility.baggage = false" class="fa fa-times" aria-hidden="true"></i></span></label>
								</p>
							</div>
							<!-- Type of Flight End -->
							<!-- From to Destination -->
							<div class="passegner-count border-right">
								<div class="from comm-class">
									<p class="place-code head">Passegner</p>
									<p class="place-timing-details details">{{traveller}}</p>
								</div>								
							</div>
							<!-- From to Destination End -->
							<!-- Modify Button -->
							<div class="modify-btn border-right center">
								<a href="javascript:void(0);" class="btn search-booking-tgl">Modify Search</a>
								<a href="javascript:void(0);" class="btn filter-tgl">Filter Search</a>
							</div>
							<!-- Type of Flight End -->
							<!-- Form for Modification -->
							<div class="booking-module-wrapper" modify-search>
								<div class="book-overlay"></div>
								<div class="booking-area">
									<div class="booking-form">
										<form name="surhForm" autocomplete="off" ng-submit="submitSearch(searchObj)">
															<div class="status">
																<div class="pure-radiobutton">
																	<input type="radio" id="oneWay" name="tripType" class="radio" value="oneWay" ng-model="searchObj.tripType">
																	<label for="oneWay" data-reactid="155">One Way</label>
																</div>
																<div class="pure-radiobutton">
																	<input type="radio" id="roundTrip" name="tripType" class="radio" value="roundTrip" ng-model="searchObj.tripType">
																	<label for="roundTrip">Round Trip</label>
																</div>
																<div class="pure-radiobutton">
																	<input type="radio" id="multicity" name="tripType" ng-change="addMulticityByRadioBtn()" class="radio" value="multicity" ng-model="searchObj.tripType">
																	<label for="multicity">Multicity</label>
																</div>
																<div class="divider"></div>
																<label class="switch">
																	<input type="checkbox" ng-model="searchType">
																	<span class="slider round"></span>
																</label>
																<span class="Advanced-filter-label">Advanced Filter</span>
															</div>
															<!-- <div class="advanced-booking-container"  ng-class="{'cls-active':searchType}"> -->
																<!-- <div class="advanced-booking-engine" ng-class="{'cls-active':searchType}"> -->
																<div class="advanced-booking-engine" ng-class="{'cls-active':searchType}">
																	<div class="advanced-booking">
																		<div class="inlable-wrap block">
																			<div class="filter-grp">
																				<h5>Aircraft type</h5>
																				<div class="pure-radiobutton">
																					<input type="checkbox" id="heavyjets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.heavy_jet">
																					<label for="heavyjets">Heavy Jet</label>
																				</div>
																				<div class="pure-radiobutton">
																					<input type="checkbox" id="smidjets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.super_mid_jet">
																					<label for="smidjets">Super-Mid Jets</label>
																				</div>
																				<div class="pure-radiobutton">
																					<input type="checkbox" id="msizejets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.mid_size_jet">
																					<label for="msizejets">Mid-size Jets</label>
																				</div>
																				<div class="pure-radiobutton">
																					<input type="checkbox" id="lightjets" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.light_jet">
																					<label for="lightjets">Light Jets</label>
																				</div>
																				<div class="pure-radiobutton">
																					<input type="checkbox" id="turboprop" name="tripType" class="radio" value="on" ng-model="searchObj.aircraft_type.turbo_props">
																					<label for="turboprop">Turbo Props</label>
																				</div>
																			</div>
																		</div>
																		<div class="inlable-wrap block">
																			<div class="filter-grp">
																				<h5>Facility</h5>
																				<div class="pure-radiobutton">
																					<input type="checkbox" id="flight-attendant" name="tripType" class="radio" value="on" ng-model="searchObj.facility.flight_attendant">
																					<label for="flight-attendant">Flight Attendant</label>
																				</div>
																				<div class="pure-radiobutton">
																					<input type="checkbox" id="lavatory" name="tripType" class="radio" value="on" ng-model="searchObj.facility.lavatory">
																					<label for="lavatory">Lavatory</label>
																				</div>
																				<div class="pure-radiobutton">
																					<input type="checkbox" id="satellite-phone" name="tripType" class="radio" value="on" ng-model="searchObj.facility.satellite_phone">
																					<label for="satellite-phone">Satellite Phone</label>
																				</div>
																				<div class="pure-radiobutton">
																					<input type="checkbox" id="wifi" name="tripType" class="radio" value="on" ng-model="searchObj.facility.wifi">
																					<label for="wifi">Wifi</label>
																				</div>
																				<div class="pure-radiobutton">
																					<input type="checkbox" id="baggage" name="tripType" class="radio" value="on" ng-model="searchObj.facility.baggage">
																					<label for="wifi">Baggage</label>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															<!-- </div> -->
															<!-- first roots -->
															<div class="inlable-wrap inline-block">
																<label>From</label>
																<input type="text" ng-model="searchObj.roots[0].originName"
																	uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
																	class="form-control" required>
																<img src="assets/img/from-blue.png" alt="place-from">
																<img src="assets/img/from-org.png" alt="place-from">
															</div>
															<div class="inlable-wrap inline-block">
																<label>To</label>
																<input type="text" ng-model="searchObj.roots[0].destinationName"
																	uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
																 	class="form-control" ng-focus="toggle.stopScroll = true" ng-blur="autoFill(0); toggle.stopScroll = false" required>
																<!-- <input type="text" name="to" required ng-model="searchObj.roots[0].destinationName"> -->
																<img src="assets/img/to-blue.png" alt="place-to">
																<img src="assets/img/to-org.png" alt="place-to">
															</div>
															<div class="inlable-wrap inline-block">
																<label>Departure Date</label>
																<input type="text" date-picker date="" ng-change="changeDat(0)" min-date="today"
																	ng-model="searchObj.roots[0].departureDate" required>
																<img src="assets/img/dep-blue.png" alt="Departure-Date">
															</div>
															<div class="inlable-wrap inline-block">
																<label>Departure Time</label>
																<!-- <input type="text" bt-time ng-model="searchObj.roots[0].departureTime" required>
																<img src="assets/img/dept-blue.png" alt="Departure-Time">
 -->															<!-- <div class="input-group date">
												                    <input type="text" bt-time ng-model="searchObj.roots[0].departureTime" required>
												                    <span class="input-group-addon">
												                        <span class="glyphicon glyphicon-time"></span>
												                    </span>
												                </div> -->
												                <div class="input-group"
																    moment-picker="searchObj.roots[0].departureTime"
																    format="LT" show-header="false">
																   	<input class="form-control"
																        ng-model="searchObj.roots[0].departureTime"
																        ng-required="true"
																        ng-model-options="{ updateOn: 'blur' }">
																</div>
																<img src="assets/img/dept-blue.png" alt="Departure-Time">
															</div>
															<!-- first roots -->
															<!-- multicity -->
															<span class="multicity-box">
																<div class="for-multicity" ng-repeat="x in searchObj.roots track by $index" ng-hide="$first">
																<a href="javascript:void(0);" class="add more-city" ng-click="addMulticity($index)" ng-show="$last"><i class="fa fa-plus" aria-hidden="true"></i></a>
																<a href="javascript:void(0);" class="minus more-city" ng-click="removeMulticity($index); $event.stopPropagation();" ng-show="$last && $index != 1"><i class="fa fa-minus" aria-hidden="true"></i></a>
																<div class="inlable-wrap inline-block">
																	<label>From</label>
																	<input type="text" class="form-control" 
																		uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
																		ng-model="searchObj.roots[$index].originName" disabled>
																	<img src="assets/img/from-blue.png" alt="place-from">
																	<img src="assets/img/from-org.png" alt="place-from">
																</div>
																<div class="inlable-wrap inline-block">
																	<label>To</label>
																	<input type="text" class="form-control"
																		uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
																		ng-model="searchObj.roots[$index].destinationName" 
																		ng-required="searchObj.tripType == 'multicity'" 
																		ng-blur="autoFill($index)">
																	<img src="assets/img/to-blue.png" alt="place-to">
																	<img src="assets/img/to-org.png" alt="place-to">
																</div>
																<div class="inlable-wrap inline-block">
																	<label>Departure Date</label>
																	<input type="text" date-picker 
																	ng-change="changeDat($index)"
																		date="searchObj.roots[$index-1].departureDate" min-date="{{searchObj.roots[$index-1].departureDate || 'today'}}"
																	ng-disabled="!searchObj.roots[$index-1].departureDate"
																	ng-model="searchObj.roots[$index].departureDate" ng-required="searchObj.tripType == 'multicity'" >
																	<img src="assets/img/dep-blue.png" alt="Departure-Date">
																</div>
																<div class="inlable-wrap inline-block">
																	<label>Departure Time</label>
																	<!-- <input type="text" ng-model="x.departureTime" bt-time ng-model="searchObj.roots[$index].departureTime" ng-required="searchObj.tripType == 'multicity'" > -->
																	<!-- <div class="input-group date">
													                    <input type="text" ng-model="x.departureTime" bt-time class="form-control" ng-model="searchObj.roots[$index].departureTime" ng-required="searchObj.tripType == 'multicity'">
													                    <span class="input-group-addon">
													                        <span class="glyphicon glyphicon-time"></span>
													                    </span>
													                </div> -->
													                <div class="input-group"
																	    moment-picker="searchObj.roots[$index].departureTime"
																	    format="LT"  show-header="false">
																	   	<input class="form-control"
																	        ng-model="searchObj.roots[$index].departureTime"
																	        ng-required="searchObj.tripType == 'multicity'"
																	        ng-model-options="{ updateOn: 'blur' }">
																	</div>
																	<img src="assets/img/dept-blue.png" alt="Departure-Time">
																</div>

	
	
															</div>
															</span>
															<!-- end multicity -->
															<!-- round trip -->
															<div class="return-date-wrapper">
															<!-- <div class="inlable-wrap inline-block">
																<label>From</label>
																<input type="text">
																<img src="assets/img/from-blue.png" alt="place-from">
																<img src="assets/img/from-org.png" alt="place-from">
															</div>
															<div class="inlable-wrap inline-block">
																<label>To</label>
																<input type="text">
																<img src="assets/img/to-blue.png" alt="place-to">
																<img src="assets/img/to-org.png" alt="place-to">
															</div> -->
																<div class="inlable-wrap inline-block">
																	<label>Return Date</label>
																	<input type="text" id="returndate" date-picker 
																		date="searchObj.roots[0].departureDate" min-date="{{searchObj.roots[0].departureDate || 'today'}}"
																		ng-model="searchObj.roots[1].departureDate"
																		ng-disabled="!searchObj.roots[0].departureDate"
																		ng-required="searchObj.tripType == 'roundTrip'">
																	<img src="assets/img/returndate-blue.png" alt="Departure-Date">
																	<img src="assets/img/returndate-org.png" alt="Departure-Date">
																</div>
																<div class="inlable-wrap inline-block">
																	<label>Return Time</label>
																	<!-- <input type="text" id="returntime" bt-time
																		ng-model="searchObj.roots[1].departureTime"
																		ng-required="searchObj.tripType == 'roundTrip'">
																	<img src="assets/img/returntime-blue.png" alt="Departure-Time">
																	<img src="assets/img/returntime-org.png" alt="Departure-Time"> -->
																	<!-- <div class="input-group date">
												                    <input type="text" id="returntime" bt-time
																		ng-model="searchObj.roots[1].departureTime"
																		ng-required="searchObj.tripType == 'roundTrip'">
												                    <span class="input-group-addon">
												                        <span class="glyphicon glyphicon-time"></span>
												                    </span>
												                </div> -->
												                 <div class="input-group"
																    moment-picker="searchObj.roots[1].departureTime"
																    format="LT"  show-header="false">
																   	<input class="form-control"
																        ng-model="searchObj.roots[1].departureTime"
																        ng-required="searchObj.tripType == 'roundTrip'"
																        ng-model-options="{ updateOn: 'blur' }">
																</div>
																</div>
															</div>
															<!-- end round trip -->
															<div class="inlable-wrap inline-block">
																<label>Traveller</label>
																<select ng-model="searchObj.traveller">
																	<option value="1">1</option>
																	<option value="2">2</option>
																	<option value="3">3</option>
																	<option value="4">4</option>
																	<option value="5">5</option>
																	<option value="6">6</option>
																	<option value="7">7</option>
																	<option value="8">8</option>
																	<option value="9">9</option>
																	<option value="10">10</option>
																	<option value="11">11</option>
																	<option value="12">12</option>
																	<option value="13">13</option>
																	<option value="14">14</option>
																	<option value="15">15</option>
																</select>
															</div>
															<div class="inlable-wrap inline-block">
																<label>Nationality</label>
																<select ng-model="searchObj.nationality">
																	<option value="Indian">Indian</option>
																	<option value="Other Nationalities">Other Nationalities</option>
																</select>
															</div>
															<!-- advanced filter -->
															<!-- <div class="advanced-booking-engine"  ng-class="{'cls-active':searchType}">
																<div class="advanced-booking">
																	<div class="inlable-wrap inline-block">
																		<label>Price</label>
																		<select ng-model="searchObj.price">
																			<option value="10000000"> &lt; 10000000 </option>
																			<option value="5000000"> &lt; 5000000 </option>
																			<option value="2500000"> &lt; 2500000 </option>
																			<option value="1000000"> &lt; 1000000 </option>
																		</select>
																	</div> 
																	<div class="inlable-wrap inline-block">
																		<label>Seat</label>
																		<select>
																			<option value="1">1</option>
																			<option value="2">2</option>
																			<option value="3">3</option>
																			<option value="4">4</option>
																			<option value="5">5</option>
																			<option value="6">6</option>
																			<option value="7">7</option>
																			<option value="8">8</option>
																			<option value="9">9</option>
																			<option value="10">10</option>
																			<option value="11">11</option>
																			<option value="12">12</option>
																			<option value="13">13</option>
																			<option value="14">14</option>
																			<option value="15">15</option>
																		</select>
																	</div>
																</div>
															</div> -->
															<center>
																<button type="button" ng-click="resetSearchForm()">Reset</button>
																<a href="javascript:void(0);" class="close-booking-tgl">Close</a>
																<button type="submit">Search</button>
															</center>
														</form>
									</div>
								</div>
							</div>
							<!-- Form for Modification End -->
						</div>
					</div>
					<!-- Booking Status End -->					
					<!-- Filter -->
					<div class="filter-wrappper">
						<div class="filter-form">
							<form>
								<!-- Price -->
								<!-- <div class="filter-grp">
									<h5>Price (₹ {{filterOptions.price}})</h5>
									<input type="range" name="" min="1000" max="10000000" step="1000" ng-model="filterOptions.price">
									<label class="left">1000</label>
									<label class="right">10000000</label>
								</div> -->
								<!-- Aircraft type -->
								<div class="filter-grp">
									<h5>Aircraft type</h5>
									<div class="pure-radiobutton">
										<input type="checkbox"
											ng-model="filterOptions.aircraft_type.heavy_jet" 
											value="HEAVY JET" 
											id="heavyjets_1" 
											name="tripType" class="radio" value="on">
										<label for="heavyjets_1">Heavy Jet</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											ng-model="filterOptions.aircraft_type.super_mid_jet" 
											value="SUPER MID JET" 
											id="smidjets_1" 
											name="tripType" class="radio" value="on">
										<label for="smidjets_1">Super-Mid Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" 
											ng-model="filterOptions.aircraft_type.mid_jet" 
											value="MID JET"
											id="msizejets_1" name="tripType" class="radio" value="on">
										<label for="msizejets_1">Mid-size Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" 
											ng-model="filterOptions.aircraft_type.light_jet" 
											value="LIGHT JET"
											id="lightjets_1" name="tripType" class="radio" value="on">
										<label for="lightjets_1">Light Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" 
											ng-model="filterOptions.aircraft_type.turbo_props" 
											value="TP"
											id="turboprop_1" name="tripType" class="radio" value="on">
										<label for="turboprop_1">Turbo Props</label>
									</div>
								</div>
								<!-- Base -->
								<div class="filter-grp">
									<h5>Bases</h5>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_0"
											ng-model="filterOptions.base[0]" 
											ng-true-value="'5a3b98f630eac9846fbd9f24'"
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_0">New Delhi</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_1"
											ng-model="filterOptions.base[1]" 
											ng-true-value="'5a3b99cb30eac9846fbda21a'" 
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_1">Mumbai</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_2"
											ng-model="filterOptions.base[2]" 
											ng-true-value="'5a3b99cb30eac9846fbda21c'" 
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_2">Pune</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_3"
											ng-model="filterOptions.base[3]" 
											ng-true-value="'5a3b98f630eac9846fbd9eeb'" 
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_3">Bangalore</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_4"
											ng-model="filterOptions.base[4]" 
											ng-true-value="'5a3b99cb30eac9846fbda25a'" 
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_4">Chennai</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_5"
											ng-model="filterOptions.base[5]" 
											ng-true-value="'5a3b99cb30eac9846fbda230'" 
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_5">Hydrabad</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_6"
											ng-model="filterOptions.base[6]" 
											ng-true-value="'5a3b98f630eac9846fbd9f32'" 
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_6">Ahemdabad</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_7"
											ng-model="filterOptions.base[7]" 
											ng-true-value="'5a3b99cb30eac9846fbda268'" 
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_7">Kolkata</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_8"
											ng-model="filterOptions.base[8]" 
											ng-true-value="'5a3b99cb30eac9846fbda242'" 
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_8">Bhopal</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_9"
											ng-model="filterOptions.base[9]" 
											ng-true-value="'5a3b98f630eac9846fbd9f10'" 
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_9">Raigarh</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											id="base_10"
											ng-model="filterOptions.base[10]" 
											ng-true-value="'5a3b99cb30eac9846fbda1e1'" 
											ng-false-value=""
											name="tripType" class="radio">
										<label for="base_10">Indore</label>
									</div>
								</div>
								<!-- Facility -->
								<div class="filter-grp">
									<h5>Facility</h5>
									<div class="pure-radiobutton">
										<input type="checkbox" 
											ng-model="filterOptions.facility.flight_attendence"
											id="flight-attendant_1" name="tripType" class="radio" value="on">
										<label for="flight-attendant_1">Flight Attendant</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" 
											ng-model="filterOptions.facility.lavatory"
											id="lavatory_1" name="tripType" class="radio" value="on">
										<label for="lavatory_1">Lavatory</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" 
											ng-model="filterOptions.facility.satellite_phone"
											id="satellite-phone_1" name="tripType" class="radio" value="on">
										<label for="satellite-phone_1">Satellite Phone</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											ng-model="filterOptions.facility.wifi"
											id="wifi_1" name="tripType" class="radio" value="on">
										<label for="wifi_1">Wifi</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox"
											ng-model="filterOptions.facility.baggage"
											id="baggage_1" name="tripType" class="radio" value="on">
										<label for="baggage_1">Baggage</label>
									</div>
								</div>
								<!-- Seating -->
								<div class="filter-grp">
									<h5>Seating ({{filterOptions.seat}})</h5>
									<input type="range" name="" min="1" max="15" step="1" ng-model="filterOptions.seat">
									<label class="left">1</label>
									<label class="right">15</label>
								</div>
								<!-- <center><a style="cursor: pointer;" class="btn" ng-click=searchFilter(filterOptions)>Filter</a>
								<a href="javascript:void" class="btn">Clear</a></center> -->
							</form>
						</div>
					</div>
					<!-- Filter -->
					<style type="text/css">
						.flights-details-wrapper .flight-detail-inner:first-child .comm-class:first-child  p.place-code:after, .flights-details-wrapper .flight-detail-inner:last-child .comm-class:last-child p:after{display: none;}
						.flight-detail-inner .comm-class{
						}
						.flight-detail-inner-wrapper{
							max-height: 325px !important;
						}
						@media only screen and (max-width: 768px){
							.flight-detail-inner-wrapper{
								max-height: 190px !important;
							}
						}
					</style>
					<!-- <pre>{{searchResult | json}}</pre> -->
					<!-- Available Flights -->
					<div flight-info-toggle class="available-flights-wrapper padding" more-info ng-repeat="x in searchResult | searchFilter:filterOptions">
					<!-- | searchFilter:filterOptions -->
						<div class="available-flights">
							<!-- Price -->
							<div class="flight-fare">
								<h3><i class="fa fa-inr" aria-hidden="true"></i>{{x.total | currency:'':0}} <sub><a href="/terms-and-conditions.html" target="_blank">*</a></sub></h3>
							</div>
							<!-- Price End -->
							<!-- Flights image -->
							<div class="flights-image owl-carousel owl-theme">

								<div class="item" owl-carousel-item ng-repeat="i in x.documents.image_gallary">
								<!-- x.documents.image_gallary -->
									<img ng-src="{{i}}" alt="" style="max-height: 390px; width: 100%;">
								</div>
								<!-- <div class="item" owl-carousel-item>
									<img src="assets/img/default-slide.jpg" alt="" style="max-height: 390px; width: 100%;" >
								</div> -->
							</div>							
							<!-- Flights image End -->
							<!-- Flight-Details -->
							<div class="flights-details-wrapper">
								<h4>Cost* <a ng-click="downldPdf(x)">(Quotation)</a></h4>
								<p class="close-flights-details">
									<i class="fa fa-times" aria-hidden="true"></i></p>
								<div class="flight-detail-inner-wrapper" style="">
									<div class="flight-detail-inner inline-block" style=" padding-top: 10px;">
										<div class="from comm-class" style="width: 50%; text-align: left;">
											<p class="place-code head"><span>Flying Cost</span></p>
										</div>
										<div class="to comm-class" style="width: 50%; text-align: right; padding-right: 10px">
											<p class="place-code head"><span>₹ {{x.netFlyingCost | currency:'':0}}</span></p>
										</div>
									</div>
									<div class="flight-detail-inner inline-block" style=" padding-top: 10px;">
										<div class="from comm-class" style="width: 50%; text-align: left;">
											<p class="place-code head"><span>Ground Handling</span></p>
										</div>
										<div class="to comm-class" style="width: 50%; text-align: right;padding-right: 10px">
											<p class="place-code head"><span>₹ {{x.groundHandlingCharges | currency:'':0}}</span></p>
										</div>
									</div>
									<div class="flight-detail-inner inline-block" style=" padding-top: 10px;">
										<div class="from comm-class" style="width: 50%; text-align: left;">
											<p class="place-code head"><span>Crew Charges</span></p>
										</div>
										<div class="to comm-class" style="width: 50%; text-align: right;padding-right: 10px">
											<p class="place-code head"><span>₹ {{x.totalCrewCharge | currency:'':0}}</span></p>
										</div>
									</div>
									<div class="flight-detail-inner inline-block" style=" padding-top: 10px;">
										<div class="from comm-class" style="width: 50%; text-align: left;">
											<p class="place-code head"><span>Other Charges</span></p>
										</div>
										<div class="to comm-class" style="width: 50%; text-align: right; padding-right: 10px">
											<p class="place-code head"><span>As per actual</span></p>
										</div>
									</div>
									<div class="flight-detail-inner" style=" padding-top: 25px;">
										<div class="from comm-class" style="width: 50%; text-align: left;">
											<p class="place-code head">Sub Total</p>
										</div>
										<div class="to comm-class" style="width: 50%; text-align: right; padding-right: 10px">
											<p class="place-code head">₹ {{x.netcost  | currency:'':0}}</p>
										</div>
									</div>
									<div class="flight-detail-inner" style=" padding-top: 10px;">
										<div class="from comm-class" style="width: 50%; text-align: left;">
											<p class="place-code head"><span>GST (18%)</span></p>
										</div>
										<div class="to comm-class" style="width: 50%; text-align: right; padding-right: 10px">
											<p class="place-code head"><span>₹ {{x.gst | currency:'':0}}</span></p>
										</div>
									</div>
									<div class="flight-detail-inner grand-total" style=" padding-top: 10px;">
										<div class="from comm-class" style="width: 50%; text-align: left; ">
											<p class="place-code head">Grand Total<label> *<sup style="font-size:10px"> <a style="text-decoration:underline;" href="http://jetsmart.in/terms-and-conditions.html">T&C </a>Apply</label></p>
										</div>
										<div class="to comm-class" style="width: 50%; text-align: right; padding-right: 10px">
											<p class="place-code head">₹ {{x.total | currency:'':0}}</p>
										</div>
									</div>
									
								</div>
							</div>
							<!-- Flight-Details-End -->
							<div class="flights-details">								
								<div class="info-heading-wrapper">
									<h3>{{x.documents.jet_name}}</h3>
									<h5>{{x.documents.aircraft_type}}</h5>
								</div>
								<div class="info-button-wrapper">
									<a href="javascript:void(0);" class="btn view-info-tgl">View</a>
									<div>
										<a href="javascript:void(0);" class="more-info-tgl btn">Cost</a><br>
										<a href="javascript:void(0);" class="btn" ng-click="bookingInquiry(x)">Booking</a>
									</div>
								</div>
								<div class="flight-from-to-destination-wrapper">
									<div class="heading">
										<h3>Flight Duration & Stops</h3>
									</div>
									<div class="status-wrapper">
										<div class="start">
											<div class="place-wrap">
												<span class="place-code">{{x.duration[0].info.originName}}</span>
												<span class="place-code" ng-hide="x.duration[0].data.positioning">{{::searchObj.roots[0].departureDate}}</span>
												<span class="place-code" ng-hide="x.duration[0].data.positioning">{{::searchObj.roots[0].departureTime}}</span>
											</div>
										</div>
										<style type="text/css">
											.base-dot{
												background: #ee4e0c !important;
											}
										</style>
										<div class="slot" ng-repeat="i in x.duration">
											<div class="dot" ng-class="{'base-dot': i.data.positioning}"></div>
											<div class="dot" ng-show="i.data.base" style="background: none;border: 3px solid #ee4e0c;width: 23px;height: 23px;top: 23px;left: -12px;"></div>
											<div class="place-wrap">
												<span class="place-code">{{i.info.destinationName}}</span>
												<span class="place-code">{{::searchObj.roots[ x.duration[0].data.positioning ? $index : $index + 1].departureDate}}</span>
												<span class="place-code">{{::searchObj.roots[x.duration[0].data.positioning ? $index : $index + 1].departureTime}}</span>
											</div>
											<span class="time">{{i.hours}} Hr {{i.min}} Min</span>
										</div>

										<div class="stop">
											<div class="dot" style="background: #ee4e0c;"></div>
											<div class="dot" style="background: none;border: 3px solid #ee4e0c;width: 23px;height: 23px;top: 23px;left: -12px;"></div>
										</div>
									</div>
								</div>
								<div class="flight-details">
									<ul>
										<li data-toggle="tooltip" data-placement="top"><img src="assets/img/seats.png" alt="seats" uib-tooltip="Total Passangers: {{x.documents.passangers}}"> <span>{{x.documents.passangers || 'N/A'}}</span></li>
										<li data-toggle="tooltip" data-placement="top" uib-tooltip="Total Baggage Per Pessenger: {{(x.documents.aircraft_type.toLowerCase()=='turbo prop' || x.documents.aircraft_type.toLowerCase()=='light jet')?'10':'15'}} Kg"><img src="assets/img/baggage.png" alt="baggage"> <span>{{(x.documents.aircraft_type.toLowerCase()=='turbo prop' || x.documents.aircraft_type.toLowerCase()=='light jet')?'10':'15'}} Kg/pax</span></li>
										<li data-toggle="tooltip" data-placement="top" uib-tooltip="Pilot: {{x.documents.pilot}}"><img src="assets/img/pilot.png" alt="pilot"> <span>{{x.documents.pilot}}</span></li>
										<li data-toggle="tooltip" data-placement="top" uib-tooltip="Wifi: {{x.documents.facilities.wifi || 'Not-Available'}}"><img src="assets/img/wifi.png" alt="wifi"> <span>{{x.documents.facilities.wifi || 'N/A'}}</span></li>
										<li data-toggle="tooltip" data-placement="top" uib-tooltip="Lavaorty: {{x.documents.facilities.lavatory}}"><img src="assets/img/lavaorty.png" alt="lavaorty"> <span>{{x.documents.facilities.lavatory || 'N/A'}}</span></li>
										<li data-toggle="tooltip" data-placement="top" uib-tooltip="Flight Attendant: {{x.documents.crew_members || 'Not-Available'}}"><img src="assets/img/air-hostess.png" alt="air-hostess.png"> <span>{{x.documents.crew_members || 'N/A'}}</span></li>
										<li data-toggle="tooltip" data-placement="top" uib-tooltip="Speed: {{x.documents.speed}} knot/hr"><img src="assets/img/speed.png" alt="speed"> <span>{{x.documents.speed || 'N/A'}} knot/hr</span></li>
										<li data-toggle="tooltip" data-placement="top" uib-tooltip="Cabin Height: {{x.documents.cabin_information.cabin_hight || 'Not-Available'}}"><img src="assets/img/cabin-height.png" alt="cabin-height"> <span>{{x.documents.cabin_information.cabin_hight || 'N/A'}}</span></li>
										<li data-toggle="tooltip" data-placement="top" uib-tooltip="Sat Phone: Not-Available"><img src="assets/img/phone-receiver.png" alt="phone-receiver"> <span>N/A</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- Available Flights End -->
				</div>
				<!-- Flight Status -->
			</div>
		</div>
	</section>

<div class="frm-overlay" ng-show="isLoginForm" ng-click="bookingInquiry()"></div>
<div class="frm-login booking-form" ng-show="isLoginForm">
	<!-- <p style="margin-bottom: 35px;"><span class="close" ng-click="bookingInquiry()">X</span></p> -->
	<uib-tabset active="activeJustified" justified="true">
		<uib-tab index="0" heading="Login">
			<form name="loginForm" ng-if="!forgot">
					<div class="form-group">
						<label for="user_name">Username / Email:</label>
						<input type="user_name" class="form-control" name="user_name" 
						ng-model="login.user_name"
						required>
						<div style="color:red">
	                       <span ng-show="loginForm.user_name.$dirty && loginForm.user_name.$invalid">
	                          <span ng-show="loginForm.user_name.$error.required">*Username/Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" 
						ng-model="login.password"
						required>
						<div style="color:red">
	                       <span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
	                          <span ng-show="loginForm.password.$error.required">*Password is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button type="submit" ng-click="submitLogin(login)" ng-disabled="loginForm.$invalid"  class="btn">Login</button>
						<a ng-click="openLoginForm()" type="submit" class="btn">Close</a>
					</center>
				</form>
				<form  name="forgotForm" ng-if="forgot">
					<div class="form-group">
						<label for="user_name">Enter Email:</label>
						<input type="user_name" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" name="em" 
						ng-model="forgotPwd.email"
						required>
						<div style="color:red">
	                       <span ng-show="forgotForm.em.$dirty && forgotForm.em.$invalid">
	                          <span ng-show="forgotForm.em.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="forgotForm.em.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button ng-click="submitforgotPassword(forgotPwd)" ng-disabled="forgotForm.$invalid" type="submit" class="btn">Submit</button>
					</center>
				</form>
				<a ng-if="!forgot" style="margin-left:21px" ng-click="forgotPassword(login.user_name)">Forgot Password?</a>
				<a ng-if="forgot" style="margin-left:21px" ng-click="loginClick()">Login?</a>
		</uib-tab>
		<uib-tab index="1" heading="Signup">
				<form  name="signUpForm" ng-hide="isOTP">
					<div class="form-group">
						<label for="user_name">Username:</label>
						<input type="text" class="form-control" name="user_name" 
						ng-model="signup.user_name"
						required maxlength="30">
						<div style="color:red">
	                       <span ng-show="signUpForm.user_name.$dirty && signUpForm.user_name.$invalid">
	                          <span ng-show="signUpForm.user_name.$error.required">*Username is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  class="form-control" name="email"
						ng-model="signup.email"
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
	                          <span ng-show="signUpForm.email.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="signUpForm.email.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="phoneNumber">Phone Number:</label>
						<input type="text"  num-only class="form-control" name="phoneNumber" 
						ng-model="signup.phone_number" min="0" maxlength="10" minlength="10" 
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.phoneNumber.$dirty && signUpForm.phoneNumber.$invalid">
	                          <span ng-show="signUpForm.phoneNumber.$error.required">*Phone no. is required.</span>
	                      </span>
	                      <span ng-show="((signUpForm.phoneNumber.$error.minlength || signUpForm.phoneNumber.$error.maxlength) && signUpForm.phoneNumber.$dirty) && !(signUpForm.phoneNumber.$error.pattern) ">
                                  *Phone number should be 10 digits
                              </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" 
						ng-model="signup.password"
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.password.$dirty && signUpForm.password.$invalid">
	                          <span ng-show="signUpForm.password.$error.required">*Password is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Confirm Password:</label>
						<input type="password" class="form-control" name="cPassword" 
						ng-model="signup.cPassword"
						required>
						<div style="color:red">
							<span class="errorMsg" ng-show="signup.cPassword!=signup.password && signup.cPassword.length>=0">Password do not match.</span> 
						    <span class="errorMsg" ng-show="myForm2.cPassword.$dirty && myForm2.cPassword.$invalid">
						        <span class="errorMsg" ng-show="myForm2.cPassword.$error.required">Confirm Password is required.</span>
						    </span>
		                </div>
					</div>
					<center>
						<button type="submit" ng-click="submitSignup(signup)" ng-disabled="signUpForm.$invalid || (signup.password != signup.cPassword)" class="btn">Signup</button>					
						<a ng-click="openLoginForm()" type="submit" class="btn">Close</a>
					</center>
				</form>
				<form name="otpForm" ng-show="isOTP">
					<div class="form-group">
						<label for="OTP">OTP:</label>
						<input type="text"  num-only class="form-control" name="OTP" 
						ng-model="verifyOtpObj.otp" min="0"
						required>
						<div style="color:red">
	                       <span ng-show="otpForm.OTP.$dirty && otpForm.OTP.$invalid">
	                          <span ng-show="otpForm.OTP.$error.required">*OTP is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button style="display: block; margin: 0 auto; background: #274069; border-radius: 0; color:#fff" type="submit" ng-disabled="otpForm.$invalid" ng-click="verifyOtp()" class="btn">Verify</button>
					</center>
					<a style="margin-left:21px" ng-click="resendOTP(signup)">Resend OTP?</a>
				</form>
			</uib-tab>
	</uib-tabset>
	
</div>
	<!-- Datepicker script -->
	<script type="text/javascript">

			$('a.mobile-tgl').click(function(){
			var body = $('body');
			$('body').toggleClass('active-menu');
			$('.booking-tgl').addClass('remove_booking_tgl');		
		});
		$('a.mobile-tgl, ul.menu').click(function(e){
			e.stopPropagation();	
		});
		// $('body').click(function(){
		// 	$('body').removeClass('active-menu');			
		// 	$('.booking-tgl').removeClass('remove_booking_tgl');
		// });

		$(window).scroll(function() {
			var elementPosition = $('section').offset().top - $(window).scrollTop() - 300;
			if (elementPosition <  0) {
				$('.booking-tgl').addClass('visible_tgl');
			} 
			else {
				$('.booking-tgl').removeClass('visible_tgl');
			}
		});

		// Filter
		$(document).ready(function(){
			$('a.filter-tgl').click(function(){
				$('body').toggleClass('active-filter');
			});
			$('.filter-wrappper, a.filter-tgl').click(function(e){
				e.stopPropagation();
			});
			// $('body').click(function(){
			// 	$('body').removeClass('active-filter');
			// });
		});

		// Booking Toggle
		$(document).ready(function(){
			$('a.booking-tgl, .modify-btn .search-booking-tgl').click(function(e){
				$('.booking-module-wrapper').toggleClass('active-booking');
				e.stopPropagation();
			});
			$('.booking-area').click(function(e){
				e.stopPropagation();
			});
			// $('.close-booking-tgl, body').click(function(){
			// 	$('.booking-module-wrapper').removeClass('active-booking');
			// });
			$('.close-booking-tgl').click(function(){
				$('.booking-module-wrapper').removeClass('active-booking');
			});
		});
	</script>