<section id="search-result-wrapper">
<!-- Menu -->
			<!-- <a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a> -->
			<div class="menu-overlay"></div>		
			<ul class="menu" id="menu">
				<li><a ui-sref="home">Home</a></li>
				<li><a ui-sref="about">About</a></li>
				<li><a ui-sref="ourTeam">Our Team</a></li>
				<li><a ui-sref="faqs">FAQs</a></li>
				<li><a ui-sref="contact">Contact</a></li>
				<li ng-show="userInfo" ><a ui-sref="history">Booking History</a></li>
				<li ng-show="userInfo" style="cursor: pointer;"><a  ng-click="logout()">Logout</a></li>
				<li ng-show="!userInfo" style="cursor: pointer;"><a ng-click="loginForm()">Login</a></li>
			</ul>

		<!-- Menu End -->
		<!-- Top Left Button -->
		<div class="logo-wrapper">
			<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
			<ul class="header-tag">
				<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
			</ul>

			<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>
			<a href="" ng-hide="userInfo.user_name" ng-click="loginForm()" class="custom-header-link-position"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a>
						<a href="" ng-show="userInfo.user_name" style="float: right" class="custom-header-link-position"><i class="fa fa-user" aria-hidden="true"></i> Welcome {{userInfo.user_name}}</a>
		</div>
		<!-- <div class="info-filter-btn">
			<a href="javascript:void(0);" class="filter-tgl"><i class="fa fa-filter" aria-hidden="true"></i></a>
		</div> -->
		<!-- -->
		
<form ng-submit="payment()">
	<div class="inquery-wrapper-page">
		<div class="container">
			<div class="row">
				<div ng-show="showAircraft">
					<div class="booking-status-wrapper custom-margin-bottom custom-table-form">
							<h3>Itinerary Details</h3>					
							<div class="custom-table-wrapper">
								<table>
									<tr class="form-group clearfix">
										<th class="col-sm-4">Origin</th>
										<th class="col-sm-4">Destination</th>
										<th class="col-sm-3">Departure</th>
									</tr>
									<tr class="form-group clearfix">
										<td class="col-sm-4">{{detail.originName}}</td>
										<td class="col-sm-4">{{detail.destinationName}}</td>
										<td class="col-sm-3">{{detail.departureDate | date}}, {{detail.departureTime}}</td>
									</tr>
								</table>
							</div>
						</div>	
						<div class="booking-status-wrapper custom-margin-bottom">
							<h3>Ferry Detail</h3>
							<div class="form-group clearfix">
								<label class="col-sm-3">Number of Seats available for sale</label>
								<div class="col-sm-3"> {{detail.remainingSeats}}</div>
					            <label class="col-sm-3">Choose No of Seat</label>
								<div class="col-sm-3">
									<input type="number" name="Seat" ng-model="selectedSeat" placeholder="Enter No. of Seats" required>
								</div>
							</div>
						</div>
					
					<div class="booking-status-wrapper">
						<h3>Cost</h3>
						<div class="form-group clearfix">
							<label class="col-sm-3">Price per Seat</label>
							<div class="col-sm-3">₹ {{detail.price_per_seat| currency:'':0}}</div>
							<label class="col-sm-3">Total</label>
							<div class="col-sm-3">₹ {{(detail.price_per_seat * selectedSeat)| currency:'':0}}</div>
						</div>
						<div style="text-align: center;margin:10px">
							<button type="submit" class="submit_btn" >Click here to Pay</button>
							<!-- <button  ng-click="payment()" class="submit_btn" >Submit</button> -->
							<!-- <button ng-click="goBack()" class="submit_btn" >Back</button> -->
						</div> 
					</div> 
				</div>
			</div>
		</div>
	</div>
</form>
<form ng-submit="externalPayment()" ng-show="externalUser">
	<div class="inquery-wrapper-page">
	<div class="container">
		<div class="row">
			<div >
				<div class="booking-status-wrapper custom-margin-bottom">
					<h3>Aircraft</h3>
					<div class="form-group clearfix">
						<label class="col-sm-3">Jet Name</label>
						<div class="col-sm-3"> {{extUser.aircratft_id.jet_name}}</div>
			            <label class="col-sm-3">Type</label>
						<div class="col-sm-3">{{extUser.aircratft_id.aircraft_type}}</div>
					</div>
				</div>
				<div class="booking-status-wrapper custom-margin-bottom custom-table-form">
					<h3>Itinerary Details</h3>					
					<div class="custom-table-wrapper">
						<table>
							<tr class="form-group clearfix">
								<th class="col-sm-1">S.No</th>
								<th class="col-sm-4">Origin</th>
								<th class="col-sm-4">Destination</th>
								<th class="col-sm-3">Departure</th>
							</tr>
							<tr ng-repeat="x in extUser.roots" class="form-group clearfix">
								<td class="col-sm-1"> {{$index+1}}</td>
								<td class="col-sm-4">{{x.originName}}</td>
								<td class="col-sm-4">{{x.destinationName}}</td>
								<td class="col-sm-3">{{x.departureDate | date}}, {{x.departureTime}}</td>
							</tr>
						</table>
					</div>
				</div>	
				<div class="booking-status-wrapper">
					<h3>Cost</h3>
					<div class="form-group clearfix">
						<label class="col-sm-3">Flying Cost</label>
						<div class="col-sm-3">₹ {{extUser.costs.flyingcost | currency:'':0}}</div>
						<label class="col-sm-3">Ground Handling</label>
						<div class="col-sm-3">₹ {{extUser.costs.ground_handling | currency:'':0}}</div>
					</div>
					<div class="form-group clearfix">
						<label class="col-sm-3">Crew Charges</label>
						<div class="col-sm-3">₹ {{extUser.costs.crew_charges | currency:'':0}}</div>
						<label class="col-sm-3">Other Charges</label>
						<div class="col-sm-3">{{extUser.costs.other_charges | currency:'':0}}</div>
					</div>
					<div class="form-group clearfix">
						<label class="col-sm-3">Sub Total</label>
						<div class="col-sm-3">₹ {{extUser.costs.sub_total  | currency:'':0}}</div>
						<label class="col-sm-3">GST (18%)</label>
						<div class="col-sm-3">₹ {{extUser.costs.gst | currency:'':0}}</div>
					</div>
					<div class="form-group clearfix">
						<label class="col-sm-3">Grand Total *<sup style="font-size:10px"> <a style="text-decoration:underline;" href="http://jetsmart.in/terms-and-conditions.html">T&C </a>Apply</label>
						<div class="col-sm-3" style="font-weight: bold;">₹ {{extUser.costs.grand_total | currency:'':0}}</div>
					</div>			
					<div style="text-align: center;margin:10px">
						<button  ng-click="externalPayment()" class="submit_btn" >Pay</button>
						<!-- <button ng-click="goBack()" class="submit_btn" >Back</button> -->
					</div> 
				</div> 
			</div>
		</div>
	</div>
</div>
</form>
<div ng-show="showPaymentDetail">
	<div class="booking-status-wrapper custom-margin-bottom">
		<h3>Payment Detail</h3>
		<div class="form-group clearfix">
			<label class="col-sm-3">Payment Id</label>
			<div class="col-sm-3"> {{paymentDetail.id}}</div>
            <label class="col-sm-3">Amount</label>
			<div class="col-sm-3">{{(paymentDetail.amount/100)  | currency:'':0}}{{paymentDetail.currency}}</div>
		</div>
		<div class="form-group clearfix">
			<label class="col-sm-3">Order Id</label>
			<div class="col-sm-3">{{paymentDetail.description}}</div>
			<label class="col-sm-3">Bank Name</label>
			<div class="col-sm-3">{{paymentDetail.bank}}</div>
		</div>
		<div class="form-group clearfix">
			<label class="col-sm-3">Email</label>
			<div class="col-sm-3">{{paymentDetail.email}}</div>
			<label class="col-sm-3">Contact No.</label>
			<div class="col-sm-3">{{paymentDetail.contact}}</div>
		</div>
		<div class="form-group clearfix">
			<label class="col-sm-3">Payment Method</label>
			<div class="col-sm-3">{{paymentDetail.method}}</div>
		</div>
		<div style="text-align: center;margin:10px">
			<button  ng-click="nextForm()" class="submit_btn" >Next</button>
			<!-- <button ng-click="showPaymentDetail = false;start =false;showAircraft = true" class="submit_btn" >Back</button> -->
		</div> 
	</div>
</div>
<form ng-submit="createInquiry()"  name="myForm"   ng-hide="isDetailsSubmit || isAllOk" class="edit-employee-detail-form common-form" style="margin:20px;background-image: url(../img/search-banner.jpg);">
 <div  ng-show="start">
	<fieldset>
		<div  class="booking-status-wrapper custom-form-inner-page-design custom-margin-bottom">
			<h3>Contact details</h3>
			<div class="form-group clearfix">
				<label class="col-sm-3">Salutation</label>
				<div class="col-sm-9">
					<select style="height: 28px;" ng-model="contactDetails.title" name="sal" required>
						<option style="display:none" selected="selected" value=""></option>
						<option value="Mr.">Mr.</option>
						<option value="Mrs.">Mrs.</option>
						<option value="Ms.">Ms.</option>
						<option value="Dr.">Dr.</option>
					</select>
					<div style="color:red">
                       <span ng-show="myForm.sal.$dirty && myForm.sal.$invalid">
                          <span ng-show="myForm.sal.$error.required">*Salutation is required.</span>
                      </span>
	                </div>
	             </div>
			</div>
			<div class="form-group clearfix">
				<label class="col-sm-3">Full Name</label>
				<div class="col-sm-3">
	                <input type="text" name="fullName" ng-model="contactDetails.name" 
					placeholder="full name" required>
					<div style="color:red">
                       <span ng-show="myForm.fullName.$dirty && myForm.fullName.$invalid">
                          <span ng-show="myForm.fullName.$error.required">*Name is required.</span>
                      </span>
	                </div>
	              </div>
	              <label class="col-sm-3">Email</label>
					<div class="col-sm-3">
						<input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" ng-model="contactDetails.email" 
						placeholder="email" required>
						<div style="color:red">
	                       <span ng-show="myForm.email.$dirty && myForm.email.$invalid">
	                          <span ng-show="myForm.email.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="myForm.email.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
		             </div>
			</div>
			
			<div class="form-group clearfix">
				<label class="col-sm-3">Contact Number</label>
				<div class="col-sm-3">
					<input type="text"  num-only  min="0" maxlength="10" minlength="10" name="phoneNumber" ng-model="contactDetails.phone_number"
					placeholder="contact number" required>
					<div style="color:red">
                       <span ng-show="myForm.phoneNumber.$dirty && myForm.phoneNumber.$invalid">
                          <span ng-show="myForm.phoneNumber.$error.required">*Contact no. is required.</span>
                      </span>
                      <span ng-show="((myForm.phoneNumber.$error.minlength || myForm.phoneNumber.$error.maxlength) && myForm.phoneNumber.$dirty) && !(myForm.phoneNumber.$error.pattern) ">
                              *Contact number should be 10 digits
                          </span>
	                </div>
	             </div>
	             <label class="col-sm-3">Alternate Contact Number</label>
				<div class="col-sm-3">
					<input type="text"  num-only min="0" maxlength="10" minlength="10" name="phoneNumberAlt"  ng-model="contactDetails.alternate_number" 
					placeholder="alternate number" >
					<div style="color:red">
                       <span ng-show="myForm.phoneNumberAlt.$dirty && myForm.phoneNumberAlt.$invalid">
                          <span ng-show="myForm.phoneNumberAlt.$error.required">*Alternate Contact no. is required.</span>
                      </span>
                      <span ng-show="((myForm.phoneNumberAlt.$error.minlength || myForm.phoneNumberAlt.$error.maxlength) && myForm.phoneNumberAlt.$dirty) && !(myForm.phoneNumberAlt.$error.pattern) ">
                              *Alternate Contact number should be 10 digits
                          </span>
	                </div>
	             </div>
			</div>
	</fieldset>

	<!-- <fieldset>Passenger Details</fieldset> -->
	<div class="booking-status-wrapper custom-form-inner-page-design">
		<h3>Passenger Details</h3>
		<div class="custom-table-wrapper">
			<table class="details-table">
				<tr>
					<td>S.No</td>
					<td>Salutation</td>
					<td>Full Name</td>
					<td>Age</td>
					<td>Type</td>
					<td>Gender</td>
					<td>Nationality</td>
					<td>Food</td>
					<td>Identification</td>
					<td>{{identity}} Number</td>
					<td></td>
				</tr>
				<tr ng-repeat="x in arrDetail track by $index">
					<td>{{$index+1}}.</td>
					<td>
						<select style="height: 28px;width: 90px;" ng-model="x.title" required>
							<option style="display:none" selected="selected" value=""></option>
							<option value="Mr." selected>Mr.</option>
							<option value="Mrs.">Mrs.</option>
							<option value="Ms.">Ms.</option>
							<option value="Dr.">Dr.</option>
						</select>
						<div style="color:red">
	                       <span ng-show="myForm.salutat.$dirty && myForm.salutat.$invalid">
	                          <span ng-show="myForm.salutat.$error.required">*Salutations is required.</span>
	                      </span>
		                </div>
					</td>
					<td>
						<input type="text" name="paessangName{{$index}}" style="width: 182px;" ng-model="x.name" placeholder="full name" required>
						<div style="color:red">
	                       <span ng-show="myForm.paessangName{{$index}}.$dirty && myForm.paessangName{{$index}}.$invalid">
	                          <span ng-show="myForm.paessangName{{$index}}.$error.required">*Name is required.</span>
	                      </span>
		                </div>
					</td>
					<td>
						<input style="width: 89px;" type="text"  num-only name="age{{$index}}" min="0" maxlength="3" ng-model="x.age" ng-change="ageType(x.age, $index)" placeholder="age" required>
						<div style="color:red">
	                       <span ng-show="myForm.age{{$index}}.$dirty && myForm.age{{$index}}.$invalid">
	                          <span ng-show="myForm.age{{$index}}.$error.required">*Age is required.</span>
	                      </span>
		                </div>
					</td>
					<td>
						<input style="width: 89px;" type="text" name="" ng-model="x.ageUserType" placeholder="type" disabled>
						
					</td>

					<td>
						<!-- <input style="width: 89px;" type="text" name="" ng-model="x.gender" placeholder="gender" disabled> -->
						<select style="width: 89px;" name="gender{{$index}}" ng-model="x.gender" required>
						  <option style="display:none" selected="selected" value=""></option>
					      <option value="Male">Male</option>
					      <option value="Female">Female</option>
					    </select> 
					    <div style="color:red">
	                       <span ng-show="myForm.gender{{$index}}.$dirty && myForm.gender{{$index}}.$invalid">
	                          <span ng-show="myForm.gender{{$index}}.$error.required">*Gender is required.</span>
	                      </span>
		                </div>
					</td>
					
					<td>
						<select style="height: 28px;width: 90px;" name="nation{{$index}}" ng-model="x.nationlity" required>
							 <option style="display:none" selected="selected" value=""></option>
							<option value="indian">Indian</option>
							<option value="other">other</option>
						</select>
						<div style="color:red">
	                       <span ng-show="myForm.nation{{$index}}.$dirty && myForm.nation{{$index}}.$invalid">
	                          <span ng-show="myForm.nation{{$index}}.$error.required">*Nationality is required.</span>
	                      </span>
		                </div>
					</td>
					<td>
						<select style="height: 28px;width: 90px;" name="foodType{{$index}}" ng-model="x.food" required>
							 <option style="display:none" selected="selected" value=""></option>
							<option value="veg">veg</option>
							<option value="non veg">non veg</option>
						</select>
						<div style="color:red">
	                       <span ng-show="myForm.foodType{{$index}}.$dirty && myForm.foodType{{$index}}.$invalid">
	                          <span ng-show="myForm.foodType{{$index}}.$error.required">*Food is required.</span>
	                      </span>
		                </div>
					</td>
					<td>
						<select style="height: 28px;width: 90px;" name="id{{$index}}" ng-model="x.identification" required>
						 	<option style="display:none" selected="selected" value=""></option>
							<option value="Adhaar" >Adhaar Card</option>
							<option ng-if="x.age >= 18" value="Dl">Driving Licence</option>
							<option value="Passport">Passport</option>
						</select>
						<div style="color:red">
	                       <span ng-show="myForm.id{{$index}}.$dirty && myForm.id{{$index}}.$invalid">
	                          <span ng-show="myForm.id{{$index}}.$error.required">*Identification is required.</span>
	                      </span>
		                </div>
					</td>
					<td>
						<input type="text" name="idNo{{$index}}" style="width: 182px;" ng-model="x.identification_no" placeholder="id number" required>
						<div style="color:red">
	                       <span ng-show="myForm.idNo{{$index}}.$dirty && myForm.idNo{{$index}}.$invalid">
	                          <span ng-show="myForm.idNo{{$index}}.$error.required">*Identification no. is required.</span>
	                      </span>
		                </div>
					</td>
					<td>
						<i class="fa fa-plus-circle" style="font-size:31px;color:#0F1626" ng-click="addPasenger(x)"></i>
						<i class="fa fa-minus-circle" ng-if="arrDetail.length > 1" style="font-size:31px;color:#0F1626" ng-click="rmPasenger(x)"></i>
					</td>
				</tr>
			</table>
		</div>
		<div style="text-align: center;margin:10px">
			<button type="submit" class="submit_btn" ng-disabled="myForm.$invalid" >Submit</button>
			<!-- <button ng-click="start = false;showPaymentDetail =true;showAircraft = false" class="submit_btn" >Back</button> -->
		</div>

	</div>
	</div>
</form>
</section>
<script type="text/javascript">
			$('a.mobile-tgl').click(function(){
			var body = $('body');
			$('body').toggleClass('active-menu');
			$('.booking-tgl').addClass('remove_booking_tgl');		
		});
		$('a.mobile-tgl, ul.menu').click(function(e){
			e.stopPropagation();	
		});
		$('body').click(function(){
			$('body').removeClass('active-menu');			
			$('.booking-tgl').removeClass('remove_booking_tgl');
		});

		$(window).scroll(function() {
			var elementPosition = $('section').offset().top - $(window).scrollTop() - 300;
			if (elementPosition <  0) {
				$('.booking-tgl').addClass('visible_tgl');
			} 
			else {
				$('.booking-tgl').removeClass('visible_tgl');
			}
		});
	</script>