<head>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/video.js"></script>
	<script src="assets/js/headroom.min.js"></script>
</head>
	<header id="home">
		<!-- Video Section -->
		<div class="homepage-hero-module set-max-height" style="background-image: url('assets/img/legal.jpg');">
		    <div class="video-overlay"></div>
		    <div class="banner-content-wrapper">
		    	<div class="banner-content">
		    		<h1>Legal</h1>
		    	</div>
		    </div>
		</div>
		<!-- Video Section End -->
		<!-- Logo and Menu -->
		<div class="headroom" id="headroom">
			<div class="menu-wrapper">
				<div class="row">
					<!-- Menu Toggle -->
					<div class="logo-wrapper">
						<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
						<ul class="header-tag">
							<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
						</ul>
						<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>	
						<a href="" ng-hide="userInfo.user_name" ng-click="openLoginForm()" class="custom-header-link-position"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a>
						<a href="" ng-show="userInfo.user_name" style="float: right" class="custom-header-link-position"><i class="fa fa-user" aria-hidden="true"></i> Welcome {{userInfo.user_name}}</a>
					</div>			
				</div>
			</div>
		</div>
		<div class="menu-overlay"></div>					
		<ul class="menu" id="menu">
			<li><a ui-sref="home">Home</a></li>
			<li><a ui-sref="about">About</a></li>
			<li ng-if="showPayment"><a href=""  ng-click="openPayment()">Payment</a></li>
			<li><a ui-sref="emptyLeg">Empty Leg</a></li>
			<li><a ui-sref="ourTeam">Our Team</a></li>
			<li><a ui-sref="faqs">FAQs</a></li>
			<li><a ui-sref="contact">Contact</a></li>
			<li ng-show="!userInfo.user_name" ng-click="openLoginForm()"><a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a></li>
			<li ng-show="userInfo.user_name"><a ui-sref="history">Booking History</a></li>
			<li ng-show="userInfo.user_name" ng-click="logout();showPayment = false;"><a href="javascript:void(0)">Logout</a></li>
		</ul>
		<!-- Logo and Menu End -->
	</header>
	<!-- Booking Area -->
	<!-- <div class="booking-module-wrapper">
		<a href="javascript:void(0);" class="booking-tgl">Book Now</a>
		<div class="book-overlay"></div>
		<div class="booking-area">
			<div class="booking-form">
				<form>
					<div class="status">
						<div class="pure-radiobutton">
							<input type="radio" id="oneWay" name="tripType" class="radio" value="on" checked>
							<label for="oneWay" data-reactid="155">One Way</label>
						</div>
						<div class="pure-radiobutton">
							<input type="radio" id="roundTrip" name="tripType" class="radio" value="on">
							<label for="roundTrip">Round Trip</label>
						</div>
						<div class="divider"></div>
						<span class="Advanced-filter-label">Advanced Filter</span>
						<label class="switch">
							<input type="checkbox" >
							<span class="slider round"></span>
						</label>
					</div>
					<div class="for-multicity">
					<div class="inlable-wrap inline-block">
						<label>From</label>
						<input type="text" name="from" required>
					</div>
					<div class="inlable-wrap inline-block">
						<label>To</label>
						<input type="text" name="to" required>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Date</label>
						<input type="text" id="date">
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Time</label>
						<input type="text" id="time">
					</div>
					</div>
					<div class="return-date-wrapper">
						<div class="inlable-wrap inline-block">
							<label>Return on Date</label>
							<input type="text" id="returndate">
						</div>
						<div class="inlable-wrap inline-block">
							<label>Return on Date</label>
							<input type="text" id="returntime">
						</div>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Traveller</label>
						<select>
							<option value="0" selected hidden disabled>0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Nationality</label>
						<select>
							<option value="Indian" selected hidden disabled>Indian</option>
							<option value="Indian">Indian</option>
							<option value="Other Nationalities">Other Nationalities</option>
						</select>
					</div> -->
					<!-- advanced filter -->
					<!-- <div class="advanced-booking-engine">
						<div class="advanced-booking">
							<div class="inlable-wrap inline-block">
								<label>Price</label>
								<select>
									<option value="0" selected hidden disabled>All</option>
									<option value="1">1,00,000 - 2,00,000</option>
									<option value="2">2,00,000 - 3,00,000</option>
									<option value="2">3,00,000 and More</option>
								</select>
							</div>
							<div class="inlable-wrap inline-block">
								<label>Seat</label>
								<select>
									<option value="0" selected hidden disabled>1</option>
									<option value="1">2 - 4</option>
									<option value="2">4 - 6</option>
									<option value="2">6 or More</option>
								</select>
							</div>
							<div class="inlable-wrap inline-block">
								<label>Cabin Height</label>
								<select>
									<option value="0" selected hidden disabled>4'7"</option>
									<option value="1">4'7"</option>
									<option value="1">5'7"</option>
									<option value="1">6'7"</option>
								</select>
							</div><br>
							<div class="inlable-wrap inline-block">
								<div class="filter-grp">
									<h5>Aircraft type</h5>
									<div class="pure-radiobutton">
										<input type="checkbox" id="heavyjets" name="tripType" class="radio" value="on">
										<label for="heavyjets">Heavy Jet</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="smidjets" name="tripType" class="radio" value="on">
										<label for="smidjets">Super-Mid Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="msizejets" name="tripType" class="radio" value="on">
										<label for="msizejets">Mid-size Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="lightjets" name="tripType" class="radio" value="on">
										<label for="lightjets">Light Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="turboprop" name="tripType" class="radio" value="on">
										<label for="turboprop">Turbo Props</label>
									</div>
								</div>
							</div>
							<div class="inlable-wrap inline-block">
								<div class="filter-grp">
									<h5>Facility</h5>
									<div class="pure-radiobutton">
										<input type="checkbox" id="flight-attendant" name="tripType" class="radio" value="on">
										<label for="flight-attendant">Flight Attendant</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="lavatory" name="tripType" class="radio" value="on">
										<label for="lavatory">Lavatory</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="satellite-phone" name="tripType" class="radio" value="on">
										<label for="satellite-phone">Satellite Phone</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="wifi" name="tripType" class="radio" value="on">
										<label for="wifi">Wifi</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<center>
						<a href="javascript:void(0);" class="book-btn">Add More City</a>
						<button type="submit">Search</button>
						<a href="javascript:void(0);" class="close-booking-tgl">Close</a>
					</center>
				</form>
			</div>
		</div>
	</div> -->
	<!-- Booking Area End -->
	<section id="legal">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="legal-links">
						<ul>
							<li><a ui-sref="about">About</a></li>
							<li><a ui-sref="termsCondition">Terms & Conditions</a></li>
							<li><a ui-sref="disclaimer">Disclaimer</a></li>
							<li><a ui-sref="policy">Privacy Policy</a></li>
							<li><a ui-sref="contact">Contact Us</a></li>
						</ul>
					</div>	
				</div>
				<div class="col-md-9 col-sm-9">
					<div class="legal-content-wrapper">
						<h1>GENERAL TERMS &amp; CONDITIONS</h1>
						<h4>Introduction</h4>
						<p>Welcome to jetsmart.in (&quot;Website&quot;) provided by IndJets India Private Limited (&quot;Company&quot;). Any
						service rendered to you through this Website by the Company including but not limited to
						information about the services, products, photographs of the products and/or services, terms and
						conditions, transactions that may be implemented through this Website, purchase of the services,
						performance of the services and all other services in relation thereto (&quot;Services&quot;) shall be subject to
						the terms and conditions and you are deemed to have accepted these terms and conditions (&quot;Terms
						and Conditions&quot;).</p>
						<h4>General Terms And Conditions</h4>
						<p>The Terms and Conditions together with any other the terms and conditions on the Website, shall
						constitute an agreement between the user and the Company (&quot;User Agreement&quot;) and govern your
						use of this Website. By using this Website you agree to be bound by and comply with the terms and
						conditions of the User Agreement, including specifically the Terms and Conditions contained herein.
						If you are not agreeable to any of the terms and conditions of the User Agreement, please do not
						use or view this Website.</p>
						<p>All Services and information displayed on this Website constitute an &quot;invitation to offer&quot;. Your order
						for a purchase of the Service(s) constitutes your &quot;offer&quot; which shall be subject to the Terms and
						Conditions as listed below. The Company reserves the right to accept or reject your offer. Our
						acceptance of your order shall take place upon us agreeing to undertake to perform the Services
						ordered by you on this Website. No act or omission by the Company prior to our express acceptance
						of the Service(s) shall constitute acceptance of your offer.</p>
						<h4>Passenger Eligibility</h4>
						<p>Use of this Website is available only to persons who can form legally binding contracts under
						applicable law. Persons who are &quot;incompetent to contract&quot; within the meaning of the Indian
						Contract Act, 1872, i.e. persons below the age of eighteen (18) years are not eligible to use this
						Website.</p>
						<p>You may use the Website by registering as a member or as a guest user.</p>
						<p>The Company reserves the right to terminate your account and refuse to continue providing you
						with access to this Website including but not limited to the Services, if the Company discovers that
						you are under the age of eighteen (18) years. This Website is not available to persons whose
						accounts have been suspended or terminated by the Company for any reason whatsoever. Those
						who choose to access this Website from outside India are responsible for compliance with local laws
						if and to the extent local laws are applicable.</p>
						<h4>Account And Registration Obligations</h4>
						<p>When you register on this Website, you shall create a username and a password (&quot;Your Account&quot;).
						You are solely responsible for any use of the Service(s) with Your Account and details of the person
						who will be receiving the Services (&quot;Passenger&quot;).</p>
						<p>&quot;Your Information&quot; is defined as any information you provide to us in the registration, purchasing
						and/or use of the Service(s) or through any e-mail feature, blog, etc.</p>
						<p>&quot;Passenger Information&quot; is defined as any information you provide to us regarding the Passenger
						including any personal or other relevant information.</p>
						<h4>You also understand and agree:</h4>
						<ol class="p1">
							<li>To provide true, accurate, current and complete information about yourself or the
							Passenger, as prompted by this Website&#39;s registration form (such information being the
							&quot;Registration Data&quot;).</li>
							<li>To maintain and promptly update the Registration Data to keep it true, accurate, current
							and complete. If you provide any information that is untrue, inaccurate, incomplete, or not
							current or if the Company has reasonable grounds to suspect that such information is
							untrue, inaccurate, not current or not in accordance with the User Agreement, the Company
							has the right to indefinitely suspend or terminate your account and refuse to provide you
							with access to this Website and/or cease to render any of the Service(s) to you, without any
							further obligations under this User Agreement or any other terms and conditions whether
							provided on this Website or otherwise.</li>
							<li>That the Service(s) purchased through this Website are for a fixed period of time as specified
							in the description of such Service(s) (&quot;Service Period&quot;). On the expiry of the Service Period
							for a Service, all Company obligations towards you for such Service shall cease.</li>
							<li>That you authorise the Company to use Your Information and Comments (defined below), as
							may be required from time to time, in relation to fulfilling its continuing obligations.</li>
							<li>That you have the prior written consent to provide the Passenger&#39;s personal and any
							relevant information.</li>
							<li>That any calls made to the Company by you the Passenger or any third party in relation to
							the Services being provided may be recorded. You agree to obtain consents from the
							Passenger required for these purposes.</li>
						</ol>
						<h4>Net Banking / Credit / Debit Card Details</h4>
						<p>Please note that the net banking/credit/debit card payment gateway is maintained, operated and
							processed by EBS Payment Gateway. You agree and acknowledge that the Company bears no
							responsibility for payment made through net banking / credit card / debit card to avail the Service(s)
							through this Website. The Company is not liable for any actions under this payment mechanism.</p>
						<p>You agree, understand and confirm that the details provided by you for availing of the Service(s)
							through this Website shall be correct and accurate and you shall not use any banking facility which is
							not lawfully owned by you or not authorised to be used by you. You further agree and undertake to
							provide the correct and valid details to the Company. Further, the said information will not
							be utilised and shared by the Company with any of the third parties unless required for fraud
							verifications or by law, regulation or court order. The Company shall not be liable for any
							net banking /debit /credit card/fraud. The liability for use of a debit/credit card or net banking
							facility fraudulently shall be on you and the onus to &quot;prove otherwise&quot; shall be exclusively on you.</p>
						<h4>Fraudulent / Declined Transactions</h4>
						<p>The Company reserves the right to recover the cost of the Service(s), collection charges and lawyers’
							fees from you if you are found using a net banking/credit/debit card, the Service(s) and/or this
							Website fraudulently. In such an event, the Company reserves the right to initiate legal proceedings
							against you for fraudulent use of this Website and any other unlawful acts or acts or omissions in
							breach of these Terms and Conditions. You hereby indemnify the Company against any costs,
							damages, claims or other demands in relation to violation of any of your obligations under the Terms
							and Conditions.</p>
						<h4>Pricing</h4>
						<p>The Company has taken all due care to ensure accurate description of the Services and pricing
							information on this Website. However, there may be pricing or typographical errors. The Company
							does not and cannot confirm the price of the Service(s) until after you place an order to avail such
							Service(s) through this Website. In the event that a Service is listed at an incorrect price or with
							incorrect information due to an error in pricing or Service information, the Company shall have the
							right, at our sole discretion, to refuse or cancel any orders placed for that Service, unless the
							Company has already commenced rendering the Service. In the event that a Service is incorrectly
							priced, the Company may, at its discretion, either contact you for instructions or cancel your order to
							avail such Service and notify you of such cancellation. Unless the Service ordered by you has been
							rendered by the Company, your offer will not be deemed accepted and the Company shall have the
							right to modify the price of such Service and contact you for further instructions using the e-mail
							address provided by you as part of the Registration Data, or cancel the order and notify you of such
							cancellation.</p>
						<p>Your order for the Service(s) shall be debited to your account and duly notified to you by e-mail that
							the payment has been processed, without prejudice to the right of the Company to accept or reject
							the offer. The payment shall be processed prior to the Company rendering the Service(s) that you
							have ordered. If the Company has to cancel the order after it has processed the payment, the said
							amount will be refunded to you in accordance with the Company&#39;s cancellation and refund policy. In
							the event of unforeseen circumstances, Company reserves the right to make changes in the &#39;product
							offering&#39; as deals are limited. Company deals/offers are 100% non-refundable and nor can
							be cancelled or changed.</p>
							<p>Prices and availability of the Services are subject to change without notice.</p>
						<h4>Electronic Communications</h4>
						<p>When you visit this Website or send e-mails to us, you are communicating with us electronically. You
							consent to receive communications from us electronically. We will communicate with you by e-mail
							or by posting notices on this Website. You agree that all agreements, notices, disclosures and other
							communications that we provide to you electronically satisfy any legal requirement that such
							communications be in writing. You agree that you will update your e-mail address and other contact
							details regularly. If the Company is desirous of sending a communication by e-mail, it shall send it to
							your e-mail address available on its records and it shall be deemed to have been received by you
							once it is reflected as sent in the outbox of the Company&#39;s relevant e-mail ID.</p>
						<p>You agree and confirm:</p>
						<ol class="p1">
							<li>That in the event that the Passenger or you are unable to receive the Service(s) on account
								of an inaccuracy or mistake by you (i.e., including but not limited to you providing us with a
								wrong name or address or any other wrong information) and any inconvenience or delay
								that ensues are a result of such mistake, shall not be the Company&#39;s liability and losses
								incurred by the Company as a result of such inaccuracy or mistake may be claimed from you.</li>
							<li>That your Passenger and you shall use the Services rendered by the Company, its affiliates,
								consultants, third party service providers and contracted companies, for lawful purposes
								only and comply with the Terms and Conditions, all applicable laws and regulations while
								using any of the Services and using this Website including but not limited to transacting on
								this Website.</li>
							<li>The Company reserves the right to confirm and validate the information and other details provided by you at any point of 		time. If upon confirmation, your details are found not to be true (wholly or partly), the Company has the right in its sole 	discretion to reject the registration and debar you from using this Website without prior intimation whatsoever.</li>
							<li>That you are accessing this Website and transacting at your sole risk and are using your best
								and prudent judgement before entering into any transaction through this Website.</li>
							<li>That before placing an order to avail any Service, you will check the Service description
								carefully. By placing an order to avail of a Service, you agree to be bound by the conditions
								of sale included in the Service&#39;s description.</li>
						</ol>
						<p>You shall not use this Website for any of the following purposes:</p>
						<ol class="p1">
							<li>Disseminating any unlawful, harassing, libellous, abusive, threatening, harmful, vulgar,
								obscene, or otherwise objectionable material.</li>
							<li>Transmitting material that encourages conduct that constitutes a criminal offence; results in
								civil liability or otherwise breaches any relevant laws, regulations or code of practice.</li>
							<li>Gaining unauthorised access to other computer systems.</li>
							<li>Interfering with any other person&#39;s use or enjoyment of this Website.</li>
							<li>Breaching any applicable laws.</li>
							<li>Interfering or disrupting networks or web sites connected to this Website.</li>
							<li>Reproducing or distributing content, accessing content for unlawful use and/or selling the
								acquired content. &quot;Content&quot; shall include any content acquired from this Website, whether
								directly or through a link including intellectual property, whether protected by copyright,
								trade mark or not, available and accessible on this Website, and includes the Services
								offered on this Website.</li>
							<li>Making, transmitting or storing electronic copies of materials protected by copyright without
								the written permission of the Company.</li>
							<li>Accessing or trying to access any account other than Your Account.</li>
						</ol>
						<h4>Modification Of The User Agreement</h4>
						<p>The Company may at any time modify the terms and conditions of the User Agreement without any
							prior notification to you. You can access the latest version of the User Agreement at any given time
							on this Website address Jetsmart.in You should regularly review the terms and conditions of the
							User Agreement on this Website. In the event the modified terms and conditions of the User
							Agreement are not acceptable to you, you should discontinue using the Service(s) and any other
							services offered on and/or through this Website. However, if you continue to use the Service(s), you
							shall be deemed to have agreed to accept and abide by the modified terms and conditions of the
							User Agreement.</p>
						<h4>Governing Law And Jurisdiction</h4>
						<p>The User Agreement shall be construed in accordance with the applicable laws of India. The Courts
							at Bangalore, India shall have sole and exclusive jurisdiction in any proceedings arising out of this
							User Agreement.</p>
						<p>Any dispute or difference either in interpretation or otherwise, of any terms of this User Agreement,
							shall be referred to and finally resolved by arbitration under the Arbitration and Conciliation Act,
							1996. The number of arbitrators shall be three (3): one each nominated by you and the Company
							and the third arbitrator chosen by the two (2) arbitrators so nominated. The above arbitration shall
							be conducted in English and the arbitration shall be held in Bangalore, India.</p>
						<h4>Reviews, Feedback, Submissions</h4>
						<p>All reviews, comments, feedback, suggestions, ideas, and other submissions disclosed, submitted or
							offered to the Company on or through this Website or otherwise disclosed, submitted or offered in
							connection with your use of this Website or purchase of the Service(s) (collectively, the
							&quot;Comments&quot;) shall be and remain the Company property. Such disclosure, submission or offer of any
							Comments shall constitute an assignment to the Company of all worldwide rights, titles, and
							interests in all copyrights and other intellectual properties in the Comments. Thus, the Company
							owns exclusively all such rights, titles, and interests and shall not be limited in any way in its use,
							commercial or otherwise, of any Comments. The Company shall be entitled to use, reproduce,
							disclose, modify, adapt, create derivative works from, publish, display and distribute any Comments
							you submit for any purpose whatsoever, without restriction and without compensating you in any
							way. The Company is and shall be under no obligation: (1) to maintain any Comments in confidence;
							(2) to pay you any compensation for any Comments; and/or (3) to respond to any Comments. You
							agree that any Comments submitted by you to this Website shall not violate this policy or any right
							of any third party, including copyright, trademark, privacy or other personal or proprietary right(s),
							and shall not cause injury to any person or entity, including the Company. You further agree that no
							Comments submitted by you to this Website shall be or contain libellous or otherwise unlawful,
							threatening, abusive or obscene material, or contain software viruses, political campaigning,
							commercial solicitation, chain letters, mass mailings or any form of &quot;spam&quot;. The Company may not
							regularly review your Comments, but does reserve the right (but not the obligation) to monitor and
							edit or remove any Comments. You grant the Company the right to use the name that you submit in
							connection with any Comments. You agree not to use a false e-mail address, impersonate any
							person or entity, or otherwise mislead as to the origin of any Comments you submit. You are and
							shall remain solely responsible for the content of any Comments you make and you agree to
							indemnify the Company, its affiliates, service providers and third parties, for all claims resulting from
							any Comments you submit. The Company and its affiliates take no responsibility and assume no
							liability for any Comments submitted by you or any third party.</p>
						<h4>Copyright &amp; Trademark</h4>
						<p>You agree and confirm that:</p>
						<ol class="p1">
							<li>Unless otherwise expressly stated, copyright, database right and all other proprietary rights,
								title and interest in all material presented on this Website (including but not limited to the
								Content, graphical images, text, video clips, reprographics, sounds, demos, patches and
								other files) (&quot;IP&quot;) is owned by or licensed to the Company and/or its affiliates and is
								protected or covered by copyright, trade mark, intellectual property law and/or other
								proprietary rights.</li>
							<li>You shall not display, print or download extracts from this Website, whether for your
								personal or non-personal use, and you shall not commercialise any IP in any way.</li>
							<li>You shall not (whether directly or indirectly including through the use of any program)
								create a database in an electronic or another form by downloading and storing all or any
								part of the pages from this Website.</li>
							<li>Unless with our prior written permission, no part of this Website shall be reproduced or
								transmitted to or stored on any other website, nor shall any of its pages or part thereof be
								disseminated in any electronic or nonelectronic form.</li>
							<li>Nothing on this Website or your use of the Service(s) shall be construed as conferring on you
								or any party, any licence or other rights under the intellectual property or other proprietary
								rights of the Company, its affiliates or any third party, whether implied or otherwise.</li>
							<li>The Company bears no responsibility for claims relating to infringement of any intellectual
								property rights in relation to the Service(s) and/or their content.</li>
							<li>References on this Website to any names, marks, products or services of third parties or
								hypertext links to third party sites or information are provided solely as a convenience to
								you and do not in any way constitute or imply the Company&#39;s endorsement, sponsorship or
								recommendation of the third party, information, product or service. The Company is not
								responsible for the content of any third party websites and does not make any
								representations regarding the content or accuracy of material on such websites. If you
								decide to link to any such third party websites, you do so entirely at your own risk.</li>
							</ol>
						<h4>Objectionable Material</h4>
						<p>You agree to use this Website and the Service(s) at your sole risk and that to the fullest extent permitted by applicable law, the Company shall have no liability to you for the Service(s) that may be deemed offensive, indecent, or objectionable to you.</p>
						<h4>Indemnity</h4>
						<p>By accessing this Website, you agree to defend, indemnify and hold harmless the Company, its employees, directors, officers, agents and successors and assigns from and against any and all claims, liabilities, damages, losses, costs and expenses, including attorney's fees, caused by or arising out of claims based upon your actions or inactions, which may result in any loss or liability to the Company or any third party including but not limited to breach of any warranties, representations or undertakings or in relation to the non-fulfilment of any of your obligations under this User Agreement or arising out of your violation of any applicable laws, regulations including but not limited to intellectual property rights, payment of statutory dues and taxes, claim of libel, defamation, violation of rights of privacy or publicity, delay, misrepresentation or misinformation, loss of service by other users of this Website and infringement of intellectual property or other rights or in relation to any claims arising due to providing the Passenger Information. This clause shall survive the expiry or termination of this User Agreement.</p>
						<h4>Termination</h4>
						<p>Upon the expiry of the Service Period, the User Agreement shall stand terminated.</p>
						<p>The Company may, at its sole discretion, terminate your registration or restrict your access to certain parts of the Service(s), if there is an indication that you have breached this User Agreement or if you have not signed into Your Account with your username in the past twelve (12) months. Such termination shall be without any liability to the Company. Upon any termination/expiry of the User Agreement, you must promptly destroy all materials downloaded or otherwise obtained from this Website, as well as all copies of such materials, whether made under the User Agreement or otherwise. The Company's right to any Comments and/or Your Information shall survive any termination of the User Agreement. Any such termination of the User Agreement shall not cancel your obligation to pay for the Service(s) already ordered from this Website or affect any liability that may have arisen under the User Agreement.</p>
						<p>Consequent to termination, you shall not access to this Website or the Service(s) rendered unless otherwise agreed or permitted by the Company in writing.</p>
						<h4>Limitation of Liability and Disclaimers</h4>
						<p>This Website is provided without any warranties or guarantees and in an "As Is" condition. You must bear the risks associated with the use of this Website. This Website provides services from third parties. While the Company tries to ensure that the services included on this Website are correct, reputable and of high quality, it cannot accept responsibility if this is not the case. The Company shall not be responsible in any manner whatsoever for any damage, errors or omissions or for the results obtained from the use of such services or for any technical problems you may experience with this Website. The Company shall not be liable in any form or manner whatsoever for the products and services and the intellectual property rights in relation to the products and services on this Website. This disclaimer constitutes an essential part of the User Agreement.</p>
						<p>To the fullest extent permitted by applicable law, the Company or the third parties shall not be liable for any indirect, incidental, special, incidental, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses arising out of or in connection with this Website, the Service(s), the use of the products / services or the User Agreement. Without prejudice to the generality of the foregoing, the total liability of the Company to you for all liabilities arising out of the User Agreement be it in tort or contract is limited to the value of the Service purchased by you.</p>
						<h4>Website Security</h4>
						<p>You are prohibited from violating or attempting to violate the security of this Website, including, without limitation, (a) accessing data not intended for you or logging onto a server or an account which you are not authorized to access; (b) attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization; (c) attempting to interfere with service to any other user, host or network, including, without limitation, via means of submitting a virus to this Website, overloading, "flooding," "spamming," "mail bombing" or "crashing". Violations of system or network security may result in civil or criminal liability. The Company will investigate occurrences that may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations. You agree not to use any device, software or routine to interfere or attempt to interfere with the proper working of this Website or any activity being conducted on this Website. You agree, further, not to use or attempt to use any engine, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search this Website other than the search engine and search agents available from the Company on this Website and other than generally available third party web browsers (e.g. Microsoft Explorer).</p>
						<h4>Entire Agreement</h4>
						<p>If any part of the User Agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed to be superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the User Agreement shall continue in effect. Unless otherwise specified herein, the User Agreement constitutes the entire agreement between you and the Company with respect to the Service and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between you and the Company with respect to the Service(s). The Company's failure to act with respect to a breach by you or others does not waive its right to act with respect to subsequent or similar breaches.</p>
						<h4>Specific Terms and Conditions</h4>
						<p>In addition to the general terms and conditions mentioned above, the following specific terms and conditions shall be applicable to the Service(s) availed. You acknowledge and agree that as and when you purchase a specific Service from the Company, the corresponding specific terms and conditions for such Service shall be applicable and you agree to the same. The Terms and Conditions will be applicable to all Passengers purchasing the Service(s). In the event you do not agree to the terms and conditions of any Service, do not purchase such Service. Any terms and conditions specific to an Operator shall also be applicable and construed to be a part of these terms and conditions. All Terms and Conditions are subject to changes or additions as per any rules, regulations prescribed by the Directorate General of Civil Aviation ("DGCA"), Ministry of Civil Aviation.</p>
						<ol class="p1">
							<li>A Ticket is offered to the passengers on the condition of acceptance of these terms and conditions. The terms and conditions shall be deemed to constitute a legally binding contract between JetSmart and the Passenger. If these terms and conditions are not acceptable to the passenger, the Passenger is requested not to proceed with the booking.</li>
							<li>Boarding gates will be open 1hr prior and will be closed 30 min prior to departure.</li>
							<li>The total price displayed on the Site includes all applicable government taxes.</li>
							<li>Ticket booking happens on first come first basis. If the payment happens for a seat and booking did not get confirmed (May be due to parallel booking) either JetSmart would arrange another seat or a full refund as per the passenger discretion.</li>
							<li>If you have any specific requirements, you should advise us of those requirements at least 48 hours prior to your travel. Passengers with specific requirements should ensure that they are at the boarding gate when the announcement for pre-boarding is made.</li>
							<li>Wheelchairs and mobility aids that cannot be lifted manually into the aircraft hold, will only be accepted for travel if both airports can provide the facilities to load/unload the device. Please note that some airports may not have sufficient equipment for lifting heavy wheelchairs and mobility aids. Notifying us 48 hours prior to your departure will enable us to establish this and use reasonable efforts to accommodate your needs.</li>
							<li>You must be reasonably satisfied that before you board the aircraft you are medically fit to fly. If you have any reason to suspect, or ought reasonably to know, that you have a condition which might be aggravated by the normal operation of an aircraft or could cause you difficulty if you do not have medical assistance before the flight has ended then you should not fly. If you have any doubt whatsoever you are obliged to seek professional medical advice before flying with us. Whenever you are aware of a health condition of the type just mentioned, but have been advised that you are fit to fly provided certain precautions are taken (for example, use of medication), it is your responsibility to ensure that all such precautions are in fact taken before, during and after your flight, as the case may be and that you are able to produce written evidence of your fitness to fly, if requested to do so - JetSmart may amend or modify terms and conditions from time to time without prior notice - JetSmart will provide the passengers with alternate means of transport to final destination in case of diversion to an alternate airport - JetSmart will not be responsible for any cancellation due to forced majeure or any delays due to weather deterioration - JetSmart will provide carriage only to the Passenger named in the E -Ticket. You will be required to produce appropriate identification at check-in - International transaction fee may exist if booking happens from outside India - The prices displayed on the website are with taxes and may vary from time to time-based on government regulations</li>
							<li>Terms for Booking of Charter
								<p>The Website provides a comprehensive choice of charter operators ("Operators"), and prices, through its network. Any information published on the Website is subject to change and no guarantee or representation is made about the accuracy or completeness of the information contained herein.</p>
							</li>
							<li>Booking
								<p>The carriage of Passengers by the Operator may be on (i) per seat basis, ("Empty Seat") or (ii) the portion of the journey/itinerary ("Empty Leg") or (iii) by way of chartering the whole aircraft on per flight basis ("Charter"). The booking may be hence made for a Charter or an Empty Seat/Leg.</p>
								<p>Empty Legs are generated when a Passenger books a charter flight from an airport which is not the same as the one where the aircraft is based at. They are also generated when the booked charter is a one-way flight. The Operator reserves the right to market and sell these Empty Legs separately as deemed fit, as long as the original Charter flight is not adversely affected. The Passenger, while agreeing to these Terms and Conditions, acknowledges and agrees to the said right of the Operator. The Operator has the exclusive discretion to offer any discounts, if any, on the Return/Ferry Legs to the Passenger.</p>
								<p>In case an e-mail/SMS confirmation gets delayed or fails due to technical reasons or as a result of incorrect e-mail ID / phone number as provided while booking, the itinerary will be considered 'booked' as long as the booking reflects with the Company and the Operator. The Company or the Operator shall not be in any way held liable for any such reasons and shall not be required to return any booking amount to the Passenger.</p>
							</li>
							<li>Charges
								<p>Unless otherwise stated, 100% advance payment will be required for any booking. The advance will need to be paid based on the price which includes flying charges, cost of the fuel/ oil, maintenance, landing, day & night parking, meals, navigation fees, dispatch cost, crew accommodation, crew waiting charges, ground handling cost & service tax or any other charges as may be applicable. All invoices are payable in Indian Rupee (INR).</p>
								<p>Airports. In case of non-availability of parking space, if the aircraft is required to be re-positioned to another airport or go on a local flight to clear the parking bay for scheduled flights, the cost of such repositioning of aircraft will be billed at actual after the flight is conducted. In all such cases, the Passenger will be liable to pay the Operators directly and the Company shall not be liable for any such dealings.</p>
								<p>In a given trip, if the Charter is not required to fly on a particular day, 2 (two) hours of flying time shall be charged as "Non-Flying Day Charges".</p>
								<p>The day detention charges of crew members will vary depending on the city the Charter is being hired. Tier I cities will be charged at a higher rate than Tier II & III cities. The first four hours of waiting time will be free of charge and the fees will charged for any time after the initial four hours.</p>
								<p>Watch Hour charges: Extension of Watch Hours i.e., the charges laid down by the airports in India for extension of air traffic control hours by the airport will be levied as miscellaneous charges.</p>
								<p>Extra charges shall be levied by the Operator for usage of a satellite phone, the internet or any special food & beverage provided on board or any other charges that are not a part of the cost of Charter. Charges shall also be levied for any damage and excess wear & tear caused to the flight as determined by the Operator at its sole discretion.</p>
							</li>
							<li>Timings
								<p>Flight times are subject to change at short notice and the timings shown on the Website are only indicative. Flights are subject to cancellation by the Operator at short notice for any unforeseen developments such as technical snag, a defect in the aircraft, operational constraints, security risk, and weather or flight safety.</p>
							</li>
							<li>Booking or Name Changes
								<p>Passengers should all times verify accuracy of details provided. On the date of departure, only the Passengers, whose names have been provided at the time of booking will allowed to check in. In case of booking of Charter, name change option will be available if any such changes are notified at least 24 hours prior to scheduled departure of the Charter. Passengers whose names do not appear in the manifest will be denied boarding. For Passengers who have booked Empty Seats only Passengers whose names are provided at the time of booking will be permitted to check in and no name changes are allowed or transferable at any time unless the Passenger pays a name change charge of Rs. 2000 (Rupees Two Thousand Only) and gives a minimum notice of at least 6(six) hours.</p>
								<p>In the event, any of the locations include defence airfield passport details, along with confirmed departure & arrival timings of the Passenger are to be provided at least 3 (three) working days prior to departure of the flight for Indian nationals and 5 (five) working days for foreigners nationals. There cannot be any change in Passenger details on submission of these details.</p>
							</li>
							<li>Lost baggage
								<p>JetSmart - IndJets India Private Limited is not liable for any loss or damage to Passengers' baggage.</p>
							</li>
							<li>Special Assistance
								<p>Passengers requiring wheelchair, stretcher, travelling with infants should inform the Operator in advance, at the time of booking, for any special assistance.</p>
							</li>
							<li>Security & Safety Regulations
								<p>The Operator reserves the right to refuse to carry any person it considers unfit to travel or may constitute risks to the aircraft or to the persons on board as may be prescribed by under the rules and regulations of the DGCA.</p>
							</li>
							<li>Right to Refuse
								<p>If at any stage it is found that the aircraft with the booked load, etc will be overloaded, the Operator shall have the right to offload and the decision will be binding. The Operator shall have the right to refuse boarding to any person to be intoxicated or under the influence of any illicit drug or substance or any person as may be prescribed by under the rules and regulations of the DGCA.</p>
							</li>
							<li>Amenities on Board
								<p>Amenities shown on the website have been provided by the Operator. The Company provides this information in good faith as provided by the Operator to help Passengers in making an informed decision and the liability of the amenity not made available lies with the Operator.</p>
							</li>
							<li>Other Restrictions
								<p>No alcohol is served on board (for domestic flights) and smoking is strictly prohibited. Pets are not allowed on any flights.</p>
							</li>
							<li>Travel Requirements
								<p>Passengers are required to furnish the following after arriving at the Airport before check in.</p>
								<ul class="p2">
									<li>Printouts of the booked details with a valid proof of identification.</li>
									<li>All Foreign Nationals need to carry their Passport with valid documents.</li>
								</ul>
								<p>Passengers shall be required to check-in at least 30 (thirty) minutes before boarding or as required by the Operator. Passengers who do not report for check in will be denied boarding, which will result in no show and the amount paid will be forfeited. In the event of delay in reporting by the Passenger or last minute rescheduling of the flight due to the Passenger's requirement, the Operator shall put in its best efforts to accommodate the revised schedule but the same cannot be guaranteed because of departure/arrival slots at some airports.</p>
							</li>
							<li>Change of flight
								<p>In case the Operator changes the flight type, the differential amount, if any, will be refunded upon being intimated by the Passenger or additional cost may have to be paid by the Passenger, as the case may be.</p>
							</li>
							<li>Deficiency of Service
								<p>No waiver by the Company for any of the provision of these Terms and Conditions shall be waived except as set forth in writing and signed by its duly authorized representative. Grievances or Concerns to the flight journey should be reported to the Company support team at the earliest.</p>
							</li>
							<li>Cancellations, Reschedules & Re Booking
								<p>If a flight be curtailed/diverted/held over due to factors like weather; air traffic control; mechanical failures; acts of terrorism; force majeure; strikes; hostilities; disturbances; regulations; manpower; labour unrest; etc which are beyond the Operator's control, the right to cancel or delay a flight without prior notice lies with the Operator.</p>
								<p>Weather, technical problems and air traffic delays can affect flight plans while chartering an aircraft. The Civil Aviation Authorities have many regulations concerning weather, types of aircraft and pilot capabilities. Some aircraft are equipped with technologies that allow operations in complex weather conditions.</p>
								<p>The Captain is in command of the flight and has sole authority before and during the flight with regards to the safe operation of the aircraft. The Captain will not fly an aircraft if the weather conditions do not meet the standards, certifications or any other factors affecting the safe operation of the flight. By accepting these Terms and Conditions, you agree to the authority of the Captain and the crew of the aircraft and the relevant regulations governing the decisions they make regarding the operation of your flight.</p>
								<p>If due to sudden deterioration of weather en-route /destination, the aircraft cannot land at the destination or diverted due to defence services activity and has to return to the starting point or divert to some other airport, the actual flying time would be chargeable by the operator and balance if any, should be payable/refundable, as the case may be. In the event the flight being cancelled by the Operator for any cause (except force majeure), 100% of the amount to book the Charter, Empty Seat will be refunded within 30 days from cancellation. The Company shall incur no liability other than the refund to be paid. Refund amount will not be paid in cash.</p>
								<p>In the event the Passenger makes any cancellation of a Charter, the Invoice amount will be refunded after deducting the following charges:</p>
								<ul class="p2">
									<li>No refund for 'no-shows' or any cancellation within 48 hrs.</li>
									<li>JetSmart should be contacted for any refund and cancellation. For any delay, not caused by JetSmart, (intimated less than 12 hours prior to the scheduled departure) which is beyond 5 hours from the scheduled departure Flight time duty limitations may apply on the crew & the flight could be termed as the last minute cancellation' resulting in 100% cancellation.</li>
									<li>In the event that a flight is cancelled for any cause (except force majeure), 100% of the amount used for booking a seat will be refunded. The Company shall incur no liability other than the refund to be paid. Refund amount will not be paid in cash but credited to the account.</li>
									<li>Terms and conditions may vary for passengers based on the seat booked</li>
									<li>100% cancellation applies if the booking is cancelled within 24 Hours</li>
									<li>10% cancellation applies if the booking is cancelled up to 24 hrs</li>
								</ul>
							</li>
							<li>Infant
								<p>An infant must be under 24 months throughout the entire itinerary you are booking. This includes both onward and return journeys. If the infant is 24 months or above on the return journey, you will need to make a separate booking. Infants must be accompanied by an adult at least 18 years of age Infants must have valid proof-of-age documents showing that the infant is less than two years old</p>
								<p>If your conduct or the conduct of your passenger endanger the aircraft or any passenger or property while on board, or you obstruct or hinder the crew in the performance of their duties, or fail to comply with any instruction of the crew, including but not limited to, those with respect to smoking in any form, drugs, alcohol, or use any threatening, abusive or insulting words towards the crew or behave in a manner which causes discomfort, inconvenience, damage or injury to the crew or other passengers on the flight, we may take such measures as we deem necessary to prevent continuation of such conduct including restraint. You may be disembarked and refused onward carriage at any point and may be prosecuted for offenses committed on board the aircraft</li>
							</li>
							<li>Baggage
								<ul class="p2">
									<li>Only one cabin baggage not exceeding 5kg will be allowed with these dimensions (55 Cm + 35 Cm + 20 Cm).</li>
									<li>Items such as the following will not be permitted to be carried on the person / in Cabin baggage or in registered baggage while travelling on board our flights. The list given below is not exhaustive and prevailing rules will apply.</li>
									<li>Items which cannot Be Carried In Hand Baggage
										<ul>
											<li>Personal Items - Lighters, Scissors-metal with pointed tips, Realistic replica of toy weapon.</li>
											<li>Sharp Objects - Box Cutters, Ice Axes/Ice Picks, Knives (any length and type except round-bladed, butter, and plastic cutlery).</li>
											<li>Guns and Firearm - Ammunition, BB guns, Compressed Air Guns, Firearms, Parts of Guns and Firearms, Pellet Guns.</li>
											<li>Axes and hatchets</li>
											<li>Martial Arts/Self Defense Items</li>
										</ul>
									</li>
								</ul>
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="bottom-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<p class="member-of">
						<small>Member of</small><br>
						<img src="assets/img/baoa.png">
						</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<ul>
							<li><a ui-sref="about">About</a></li>
							<li><a ui-sref="termsCondition">Terms & Conditions</a></li>
							<li><a ui-sref="disclaimer">Disclaimer</a></li>
							<li><a ui-sref="policy">Privacy Policy</a></li>
							<li><a ui-sref="contact">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3">
						<ul class="social-links">
							<li><a href="https://www.facebook.com/jetsmart.in/?fref=ts&ref=br_tf" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/jet_smart/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-12">
						<p class="copyright center">© 2018 JetSmart.in  All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	<!-- Datepicker script -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-material-datetimepicker.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="assets/js/moment-with-locales.min.js"></script>
	<script src="assets/js/bootstrap-material-datetimepicker.js"></script>
	</footer>

<div class="frm-overlay" ng-show="isLoginForm" ng-click="openLoginForm()"></div>
	<div class="frm-login booking-form" ng-show="isLoginForm">
		<!-- <p style="margin-bottom: 35px;"><span class="close" >X</span></p> -->
		<uib-tabset active="activeJustified" justified="true">
			<uib-tab index="0" heading="Login">
				<form name="loginForm" ng-if="!forgot">
					<div class="form-group">
						<label for="user_name">Username / Email:</label>
						<input type="user_name" class="form-control" name="user_name" 
						ng-model="login.user_name"
						required>
						<div style="color:red">
	                       <span ng-show="loginForm.user_name.$dirty && loginForm.user_name.$invalid">
	                          <span ng-show="loginForm.user_name.$error.required">*Username/Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" 
						ng-model="login.password"
						required>
						<div style="color:red">
	                       <span ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
	                          <span ng-show="loginForm.password.$error.required">*Password is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button type="submit" ng-click="submitLogin(login)" ng-disabled="loginForm.$invalid"  class="btn">Login</button>
						<a ng-click="openLoginForm()" type="submit" class="btn">Close</a>
					</center>
				</form>
				<form  name="forgotForm" ng-if="forgot">
					<div class="form-group">
						<label for="user_name">Enter Email:</label>
						<input type="user_name" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" class="form-control" name="em" 
						ng-model="forgotPwd.email"
						required>
						<div style="color:red">
	                       <span ng-show="forgotForm.em.$dirty && forgotForm.em.$invalid">
	                          <span ng-show="forgotForm.em.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="forgotForm.em.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button ng-click="submitforgotPassword(forgotPwd)" ng-disabled="forgotForm.$invalid" type="submit" class="btn">Submit</button>
					</center>
				</form>
				<a ng-if="!forgot" style="margin-left:21px" ng-click="forgotPassword(login.user_name)">Forgot Password?</a>
				<a ng-if="forgot" style="margin-left:21px" ng-click="loginClick()">Login?</a>
			</uib-tab>
			<uib-tab index="1" heading="Signup">
				<form  name="signUpForm" ng-hide="isOTP">
					<div class="form-group">
						<label for="user_name">Username:</label>
						<input type="text" class="form-control" name="user_name" 
						ng-model="signup.user_name"
						required maxlength="30">
						<div style="color:red">
	                       <span ng-show="signUpForm.user_name.$dirty && signUpForm.user_name.$invalid">
	                          <span ng-show="signUpForm.user_name.$error.required">*Username is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="email">Email address:</label>
						<input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  class="form-control" name="email"
						ng-model="signup.email"
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.email.$dirty && signUpForm.email.$invalid">
	                          <span ng-show="signUpForm.email.$error.pattern">*Please Enter a valid email id.</span>
	                          <span ng-show="signUpForm.email.$error.required">*Email id is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="phoneNumber">Phone Number:</label>
						<input type="text"  num-only class="form-control" name="phoneNumber" 
						ng-model="signup.phone_number" min="0" maxlength="10" minlength="10" 
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.phoneNumber.$dirty && signUpForm.phoneNumber.$invalid">
	                          <span ng-show="signUpForm.phoneNumber.$error.required">*Phone no. is required.</span>
	                      </span>
	                      <span ng-show="((signUpForm.phoneNumber.$error.minlength || signUpForm.phoneNumber.$error.maxlength) && signUpForm.phoneNumber.$dirty) && !(signUpForm.phoneNumber.$error.pattern) ">
                                  *Phone number should be 10 digits
                              </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" class="form-control" name="password" 
						ng-model="signup.password"
						required>
						<div style="color:red">
	                       <span ng-show="signUpForm.password.$dirty && signUpForm.password.$invalid">
	                          <span ng-show="signUpForm.password.$error.required">*Password is required.</span>
	                      </span>
		                </div>
					</div>
					<div class="form-group">
						<label for="password">Confirm Password:</label>
						<input type="password" class="form-control" name="cPassword" 
						ng-model="signup.cPassword"
						required>
						<div style="color:red">
							<span class="errorMsg" ng-show="signup.cPassword!=signup.password && signup.cPassword.length>=0">Password do not match.</span> 
						    <span class="errorMsg" ng-show="myForm2.cPassword.$dirty && myForm2.cPassword.$invalid">
						        <span class="errorMsg" ng-show="myForm2.cPassword.$error.required">Confirm Password is required.</span>
						    </span>
		                </div>
					</div>
					<center>
						<button type="submit" ng-click="submitSignup(signup)" ng-disabled="signUpForm.$invalid || (signup.password != signup.cPassword)" class="btn">Signup</button>					
						<a ng-click="openLoginForm()" type="submit" class="btn">Close</a>
					</center>
				</form>
				<form name="otpForm" ng-show="isOTP">
					<div class="form-group">
						<label for="OTP">OTP:</label>
						<input type="text"  num-only class="form-control" name="OTP" 
						ng-model="verifyOtpObj.otp" min="0"
						required>
						<div style="color:red">
	                       <span ng-show="otpForm.OTP.$dirty && otpForm.OTP.$invalid">
	                          <span ng-show="otpForm.OTP.$error.required">*OTP is required.</span>
	                      </span>
		                </div>
					</div>
					<center>
						<button style="display: block; margin: 0 auto; background: #274069; border-radius: 0; color:#fff" type="submit" ng-disabled="otpForm.$invalid" ng-click="verifyOtp()" class="btn">Verify</button>
					</center>
					<a style="margin-left:21px" ng-click="resendOTP(signup)">Resend OTP?</a>
				</form>
			</uib-tab>
		</uib-tabset>
		<p class="copyrighted-form">Powered By Jetsmart</p>
	</div>

	<!-- Payment Modal -->
	<div class="payment-frm-overlay" ng-show="isPaymentForm" ng-click="openPayment()"></div>
	<div class="payment-frm-overlay-login booking-form" ng-show="isPaymentForm">			
		<div class="inner-header">
			<h2>Payment</h2>
		</div>
		<div class="inner-body">
			<form name="paymentForm">
				<div class="form-group">
					<label for="Name">Name</label>
					<input type="text" class="form-control" name="name" ng-model="paymentData.name"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.name.$dirty && paymentForm.name.$invalid">
                          <span ng-show="paymentForm.name.$error.required">*Name is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" ng-model="paymentData.email"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.email.$dirty && paymentForm.email.$invalid">
                          <span ng-show="paymentForm.email.$error.pattern">*Please Enter a valid email id.</span>
                          <span ng-show="paymentForm.email.$error.required">*Email id is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="phone_no">Phone Number:</label>
					<input type="text"  num-only maxlength="10" minlength="10" min="0" class="form-control" name="phone_no" ng-model="paymentData.phone_no"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.phone_no.$dirty && paymentForm.phone_no.$invalid">
                          <span ng-show="paymentForm.phone_no.$error.required">*Phone no. is required.</span>
                      </span>
                      <span ng-show="((paymentForm.phone_no.$error.minlength || paymentForm.phone_no.$error.maxlength) && paymentForm.phone_no.$dirty) && !(paymentForm.phone_no.$error.pattern) ">
                              *Phone number should be 10 digits
                          </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="amount">Amount:</label>
					<input type="text"  num-only class="form-control" min="0" name="amount" ng-model="paymentData.amount"
					required>
					<div style="color:red">
                       <span ng-show="paymentForm.amount.$dirty && paymentForm.amount.$invalid">
                          <span ng-show="paymentForm.amount.$error.required">*Amount is required.</span>
                      </span>
	                </div>
				</div>
				<div class="form-group">
					<label for="remarks">Remarks:</label>
					<input type="text" class="form-control" name="remarks" ng-model="paymentData.remarks"
					>
				</div>
				<center>
					<button type="submit" ng-disabled="paymentForm.$invalid" ng-click="payment()" class="btn">Pay</button>
					<a ng-click="closePayment()" type="submit" class="btn">Close</a>
				</center>
			</form>
		</div>
	</div>
	<!-- Payment Modal End -->

	<script type="text/javascript">
			$('a.mobile-tgl').click(function(){
			var body = $('body');
			$('body').toggleClass('active-menu');
			$('.booking-tgl').addClass('remove_booking_tgl');		
		});
		$('a.mobile-tgl, ul.menu').click(function(e){
			e.stopPropagation();	
		});
		$('body').click(function(){
			$('body').removeClass('active-menu');			
			$('.booking-tgl').removeClass('remove_booking_tgl');
		});

		$(window).scroll(function() {
			var elementPosition = $('section').offset().top - $(window).scrollTop() - 300;
			if (elementPosition <  0) {
				$('.booking-tgl').addClass('visible_tgl');
			} 
			else {
				$('.booking-tgl').removeClass('visible_tgl');
			}
		});
	</script>
