<!-- 
<table>
	<tr>
		<th style="padding: 5px">Booing Number</th>
		<th style="padding: 5px">Name</th>
		<th style="padding: 5px">Date</th>
		<th style="padding: 5px">Action</th>
	</tr>
	<tr ng-repeat="item in BookingList" style="border: 1px solid #000">
		<td style="padding: 5px">{{item.bookingNumber}}</td>
		<td style="padding: 5px">{{item.contact.title + ' ' + item.contact.name}}</td>
		<td style="padding: 5px">{{item.created_at | date}}</td>
		<td style="padding: 5px">view</td>
	</tr>
</table> -->

<section id="search-result-wrapper">
<!-- Menu -->
			<button ng-click="downldPdf()" ng-show="!showform" class="custom_print_ticket"><i class="fas fa-print"></i> Print Ticket</button>
			<div class="clearfix"></div>
			<!-- <a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a> -->
			<div class="menu-overlay"></div>		
			<ul class="menu" id="menu">
				<li><a ui-sref="home">Home</a></li>
				<li><a ui-sref="about">About</a></li>
				<li><a ui-sref="ourTeam">Our Team</a></li>
				<li><a ui-sref="faqs">FAQs</a></li>
				<li><a ui-sref="contact">Contact</a></li>
				<li ng-show="userInfo" ><a ui-sref="history">Booking History</a></li>
				<li ng-show="userInfo" style="cursor: pointer;"><a  ng-click="logout()">Logout</a></li>
				<li ng-show="!userInfo" style="cursor: pointer;"><a ng-click="loginForm()">Login</a></li>
			</ul>
			
		<!-- Menu End -->
		<!-- Top Left Button -->
		<div class="logo-wrapper">
			<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
			<ul class="header-tag">
				<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
			</ul>

			<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>
			<!-- <a href="" ng-hide="userInfo.user_name" ng-click="openLoginForm()" class="custom-header-link-position"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Register</a> -->
			<a href="" ng-show="userInfo.user_name" style="float: right" class="custom-header-link-position"><i class="fa fa-user" aria-hidden="true"></i> Welcome {{userInfo.user_name}}</a>
		</div>
	<div style="margin: 0 20px 20px;">
		<div class="booking-status-wrapper booking_view_histroy_wrapper">
			<h3>Booking Detail</h3>
			<div class="overflow_table_hidden">
				<div>
					<div class="form-group clearfix">
						<label class="col-sm-3">Booking Number</label>
						<label class="col-sm-3">Order Id</label>
						<label class="col-sm-3">Amount</label>
					</div>
					<div class="form-group clearfix" style="font-weight: none">
						<div class="col-sm-3"> {{BookingDetail.result.bookingNumber}}</div>
						<div class="col-sm-3">{{BookingDetail.bookingResult.order_id}}</div>
						<div class="col-sm-3">{{BookingDetail.bookingResult.amount}}</div>
					</div>
				</div>
			</div>
		</div>  
		<form ng-submit="submit()" name="myForm">
		<div class="booking-status-wrapper booking_view_histroy_wrapper" ng-show="!showform">
			<h3>Contact Details</h3>
			<div class="overflow_table_hidden">
				<div>
					<div class="form-group clearfix">
						<label class="col-sm-3">Name</label>
						<label class="col-sm-3">Email</label>
						<label class="col-sm-3">Phone Number</label>
						<label class="col-sm-3">Alternate No.</label>
					</div>
					<div class="form-group clearfix" >
						<div class="col-sm-3"> {{BookingDetail.result.contact.title +' '+ BookingDetail.result.contact.name}}</div>
						<div class="col-sm-3">{{BookingDetail.result.contact.email}}</div>
						<div class="col-sm-3">{{BookingDetail.result.contact.phone_number}}</div>
						<div class="col-sm-3">{{BookingDetail.result.contact.alternate_number}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="booking-status-wrapper booking_view_histroy_wrapper custom-form-inner-page-design custom-margin-bottom" ng-show="showform">
			<h3>Contact details</h3>
			<div class="overflow_table_hidden">
				<div class="form-group clearfix">
					<label class="col-sm-3">Salutation</label>
					<div class="col-sm-9">
						<select style="height: 28px;" ng-model="contactDetails.title" name="sal" required>
							<option style="display:none" selected="selected" value=""></option>
							<option value="Mr.">Mr.</option>
							<option value="Mrs.">Mrs.</option>
							<option value="Ms.">Ms.</option>
							<option value="Dr.">Dr.</option>
						</select>
						<div style="color:red">
	                       <span ng-show="myForm.sal.$dirty && myForm.sal.$invalid">
	                          <span ng-show="myForm.sal.$error.required">*Salutation is required.</span>
	                      </span>
		                </div>
		             </div>
				</div>
				<div class="form-group clearfix">
					<label class="col-sm-3">Full Name</label>
					<div class="col-sm-3">
		                <input type="text" name="fullName" ng-model="contactDetails.name" 
						placeholder="full name" required>
						<div style="color:red">
	                       <span ng-show="myForm.fullName.$dirty && myForm.fullName.$invalid">
	                          <span ng-show="myForm.fullName.$error.required">*Name is required.</span>
	                      </span>
		                </div>
		             </div>
		             <label class="col-sm-3">Email</label>
					<div class="col-sm-3">
							<input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="email" ng-model="contactDetails.email" 
							placeholder="email" required>
							<div style="color:red">
		                       <span ng-show="myForm.email.$dirty && myForm.email.$invalid">
		                          <span ng-show="myForm.email.$error.pattern">*Please Enter a valid email id.</span>
		                          <span ng-show="myForm.email.$error.required">*Email id is required.</span>
		                      </span>
			                </div>
			        </div>
				</div>
				
				<div class="form-group clearfix">
					<label class="col-sm-3">Contact Number</label>
					<div class="col-sm-3">
						<input type="text"  num-only  min="0" maxlength="10" minlength="10" name="phoneNumber" ng-model="contactDetails.phone_number"
						placeholder="contact number" required>
						<div style="color:red">
	                       <span ng-show="myForm.phoneNumber.$dirty && myForm.phoneNumber.$invalid">
	                          <span ng-show="myForm.phoneNumber.$error.required">*Contact no. is required.</span>
	                      </span>
	                      <span ng-show="((myForm.phoneNumber.$error.minlength || myForm.phoneNumber.$error.maxlength) && myForm.phoneNumber.$dirty) && !(myForm.phoneNumber.$error.pattern) ">
	                              *Contact number should be 10 digits
	                          </span>
		                </div>
		             </div>
		             <label class="col-sm-3">Alternate Contact Number</label>
					<div class="col-sm-3">
						<input type="text"  num-only min="0" maxlength="10" minlength="10" name="phoneNumberAlt"  ng-model="contactDetails.alternate_number" 
						placeholder="alternate number" >
						<div style="color:red">
	                       <span ng-show="myForm.phoneNumberAlt.$dirty && myForm.phoneNumberAlt.$invalid">
	                          <span ng-show="myForm.phoneNumberAlt.$error.required">*Alternate Contact no. is required.</span>
	                      </span>
	                      <span ng-show="((myForm.phoneNumberAlt.$error.minlength || myForm.phoneNumberAlt.$error.maxlength) && myForm.phoneNumberAlt.$dirty) && !(myForm.phoneNumberAlt.$error.pattern) ">
	                              *Alternate Contact number should be 10 digits
	                          </span>
		                </div>
		             </div>
				</div>
			</div>
		</div>

		<div class="booking-status-wrapper booking_view_histroy_wrapper" ng-show="!showform">
			<h3>Passenger Details</h3>
			<div class="overflow_table_hidden">
				<div>
					<div class="form-group clearfix">
						<label class="col-sm-1">S.No</label>
						<label class="col-sm-2">Full Name</label>
						<label class="col-sm-1">Age</label>
						<label class="col-sm-2">Food</label>
						<label class="col-sm-2">Nationality</label>
						<label class="col-sm-2">Identification</label>
						<label class="col-sm-2">Identification Number</label>
					</div>
					<div ng-repeat="x in BookingDetail.result.pessanger_detail" class="form-group clearfix">
						<div class="col-sm-1"> {{$index+1}}</div>
						<div class="col-sm-2">{{x.title +' '+x.name}}</div>
						<div class="col-sm-1">{{x.age}}</div>
						<div class="col-sm-2">{{x.food}}</div>
						<div class="col-sm-2">{{x.nationlity}}</div>
						<div class="col-sm-2"> {{x.identification}}</div>
						<div class="col-sm-2"> {{x.identification_no}}</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="booking-status-wrapper booking_view_histroy_wrapper custom-form-inner-page-design" ng-show="showform">
			<h3>Passenger Details</h3>
				<div class="custom-table-wrapper">
					<div class="overflow_table_hidden">
						<table class="details-table">
							<tr>
								<td>S.No</td>
								<td>Salutation</td>
								<td>Full Name</td>
								<td>Age</td>
								<td>Type</td>
								<td>Nationality</td>
								<td>Food</td>
								<td>Identification</td>
								<td>{{identity}} Number</td>
								<td></td>
							</tr>
							<tr ng-repeat="x in arr track by $index">
								<td>{{$index+1}}.</td>
								<td>
									<select style="height: 28px;width: 90px;" ng-model="x.title" required>
										<option style="display:none" selected="selected" value=""></option>
										<option value="Mr." selected>Mr.</option>
										<option value="Mrs.">Mrs.</option>
										<option value="Ms.">Ms.</option>
										<option value="Dr.">Dr.</option>
									</select>
									<div style="color:red">
				                       <span ng-show="(myForm.salutat.$dirty && myForm.salutat.$invalid)">
				                          <span ng-show="myForm.salutat.$error.required">*Salutations is required.</span>
				                      </span>
					                </div>
								</td>
								<td>
									<input type="text" name="paessangName{{$index}}" style="width: 182px;" ng-model="x.name" placeholder="full name" required>
									<div style="color:red">
				                       <span ng-show="myForm.paessangName{{$index}}.$dirty && myForm.paessangName{{$index}}.$invalid">
				                          <span ng-show="myForm.paessangName{{$index}}.$error.required">*Name is required.</span>
				                      </span>
					                </div>
								</td>
								<td>
									<input style="width: 89px;" type="text"  num-only name="age{{$index}}" min="0" maxlength="3" ng-model="x.age" ng-change="ageType(x.age, $index)" placeholder="age" required>
									<div style="color:red">
				                       <span ng-show="myForm.age{{$index}}.$dirty && myForm.age{{$index}}.$invalid">
				                          <span ng-show="myForm.age{{$index}}.$error.required">*Age is required.</span>
				                      </span>
					                </div>


								</td>
								<td>
									<input style="width: 89px;" type="text" name="" ng-model="x.ageUserType" placeholder="type" disabled>
									
								</td>

								<td>
									<!-- <input style="width: 89px;" type="text" name="" ng-model="x.gender" placeholder="gender" disabled> -->
									<select style="width: 89px;" name="gender{{$index}}" ng-model="x.gender" required>
									  <option style="display:none" selected="selected" value=""></option>
								      <option value="Male">Male</option>
								      <option value="Female">Female</option>
								    </select> 
								    <div style="color:red">
				                       <span ng-show="myForm.gender{{$index}}.$dirty && myForm.gender{{$index}}.$invalid">
				                          <span ng-show="myForm.gender{{$index}}.$error.required">*Gender is required.</span>
				                      </span>
					                </div>
								</td>
								
								<td>
									<select style="height: 28px;width: 90px;" name="nation{{$index}}" ng-model="x.nationlity" required>
										 <option style="display:none" selected="selected" value=""></option>
										<option value="indian">Indian</option>
										<option value="other">other</option>
									</select>
									<div style="color:red">
				                       <span ng-show="myForm.nation{{$index}}.$dirty && myForm.nation{{$index}}.$invalid">
				                          <span ng-show="myForm.nation{{$index}}.$error.required">*Nationality is required.</span>
				                      </span>
					                </div>
								</td>
								<td>
									<select style="height: 28px;width: 90px;" name="foodType{{$index}}" ng-model="x.food" required>
										 <option style="display:none" selected="selected" value=""></option>
										<option value="veg">veg</option>
										<option value="non veg">non veg</option>
									</select>
									<div style="color:red">
				                       <span ng-show="myForm.foodType{{$index}}.$dirty && myForm.foodType{{$index}}.$invalid">
				                          <span ng-show="myForm.foodType{{$index}}.$error.required">*Food is required.</span>
				                      </span>
					                </div>
								</td>
								<td>
									<select style="height: 28px;width: 90px;" name="id{{$index}}" ng-model="x.identification" required>
									 	<option style="display:none" selected="selected" value=""></option>
										<option value="Adhaar" >Adhaar Card</option>
										<option ng-if="x.age >= 18" value="Dl">Driving Licence</option>
										<option value="Passport">Passport</option>
									</select>
									<div style="color:red">
				                       <span ng-show="myForm.id{{$index}}.$dirty && myForm.id{{$index}}.$invalid">
				                          <span ng-show="myForm.id{{$index}}.$error.required">*Identification is required.</span>
				                      </span>
					                </div>
								</td>
								<td>
									<input type="text" name="idNo{{$index}}" style="width: 182px;" ng-model="x.identification_no" placeholder="id number" required>
									<div style="color:red">
				                       <span ng-show="myForm.idNo{{$index}}.$dirty && myForm.idNo{{$index}}.$invalid">
				                          <span ng-show="myForm.idNo{{$index}}.$error.required">*Identification no. is required.</span>
				                      </span>
					                </div>
								</td>
								<td>
									<i class="fa fa-plus-circle" style="font-size:31px;color:#0F1626" ng-click="addPasenger(x)"></i>
									<i class="fa fa-minus-circle" ng-if="arr.length > 1" style="font-size:31px;color:#0F1626" ng-click="rmPasenger(x)"></i>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div style="text-align: center;margin:10px">
					<button type="submit" class="submit_btn" ng-disabled="myForm.$invalid">Submit</button>
				</div>
			</div>
		</form>
		<div class="booking-status-wrapper booking_view_histroy_wrapper">
				<h3>Aircarft Details</h3>
				<div>
					<div class="form-group clearfix">
						<label class="col-sm-3">Jet Name</label>
						<label class="col-sm-9">Type</label>
					</div>
					<div class="form-group clearfix" style="font-weight: none" ng-if="BookingDetail.result.aircraftId">
						<div class="col-sm-3"> {{BookingDetail.result.aircraftId.jet_name}}</div>
						<div class="col-sm-9">{{BookingDetail.result.aircraftId.aircraft_type}}</div>
					</div>
					<div class="form-group clearfix" style="font-weight: none" ng-if="BookingDetail.result.flight_id">
						<div class="col-sm-3"> {{BookingDetail.result.flight_id.aircraft_name}}</div>
						<div class="col-sm-9">{{BookingDetail.result.flight_id.aircraft_type}}</div>
					</div>
					<div class="form-group clearfix" style="font-weight: none" ng-if="BookingDetail.result.empty_jetId">
						<div class="col-sm-3"> {{BookingDetail.result.empty_jetId.aircraft_name}}</div>
						<div class="col-sm-9">{{BookingDetail.result.empty_jetId.aircraft_type}}</div>
					</div>
				</div>
		</div>   
		<div class="booking-status-wrapper booking_view_histroy_wrapper">
				<h3>Itinerary Details</h3>
				<div>
					<div class="form-group clearfix">
						<label class="col-sm-1">S.No</label>
						<label class="col-sm-4">Origin</label>
						<label class="col-sm-4">Destination</label>
						<label class="col-sm-3">Departure</label>
					</div>
					<div ng-repeat="x in BookingDetail.result.roots" class="form-group clearfix">
						<div class="col-sm-1"> {{$index+1}}</div>
						<div class="col-sm-4">{{x.originName}}</div>
						<div class="col-sm-4">{{x.destinationName}}</div>
						<div class="col-sm-3">{{x.departureDate | date:'dd MMM yy hh:mm'}}</div>
					</div>
				</div>
		</div>	
	</div>


	<!-- PDF download -->
	<div id="pdfFormat">
		<div class="pdf-sub-header">
			<ul>
				<li>DATE: {{todayDate}}</li>
				<li>Mr./Ms. {{loginUser.user_name}}</li>
				<li>Email : {{loginUser.email}}</li>
			</ul>
		</div>
		<div class="invoice-header">
			<span>
				Invoice Number:
				<b>{{BookingDetail.result.bookingNumber}}</b>
			</span>
		</div>

		<div class="pdf-section">
			<span>
				Aircraft:
			</span>
			<table cellspacing="0" cellpadding="0">
				<tr class="tr-head">
					<td>Name</td>
					<td>Type</td>
					<td>Total Fare</td>
				</tr>
				<tr ng-if="BookingDetail.result.aircraftId">
					<td>{{BookingDetail.result.aircraftId.jet_name}}</td>
					<td>{{BookingDetail.result.aircraftId.aircraft_type}}</td>
					<td>{{BookingDetail.bookingResult.amount}}</td>
				</tr>
				<tr ng-if="BookingDetail.result.flight_id">
					<td>{{BookingDetail.result.flight_id.aircraft_name}}</td>
					<td>{{BookingDetail.result.flight_id.aircraft_type}}</td>
					<td>{{BookingDetail.bookingResult.amount}}</td>
				</tr>
				<tr ng-if="BookingDetail.result.empty_jetId">
					<td>{{BookingDetail.result.empty_jetId.aircraft_name}}</td>
					<td>{{BookingDetail.result.empty_jetId.aircraft_type}}</td>
					<td>{{BookingDetail.bookingResult.amount}}</td>
				</tr>
			</table>
		</div>

		<div class="pdf-section">
			<span>
				Passrenger:
			</span>
			<table cellspacing="0" cellpadding="0">
				<tr class="tr-head">
					<td>S.No.</td>
					<td>Full Name</td>
					<td>Age</td>
					<td>Food</td>
					<td>Nationality</td>
					<td>Identification</td>
					<td>Identification Number</td>
				</tr>
				<tr ng-repeat="x in BookingDetail.result.pessanger_detail">
					<td> {{$index+1}}</td>
						<td >{{x.title +' '+x.name}}</td>
						<td>{{x.age}}</td>
						<td>{{x.food}}</td>
						<td>{{x.nationlity}}</td>
						<td> {{x.identification}}</td>
						<td> {{x.identification_no}}</td>
				</tr>
			</table>
		</div>

		<div class="pdf-section">
			<span>
				Itinerary:
			</span>
			<table cellspacing="0" cellpadding="0">
				<tr class="tr-head">
					<td>S.No</td>
					<td>Origin</td>
					<td>Destination</td>
					<td>Departure Date</td>
				</tr>
				<tr ng-repeat="x in BookingDetail.result.roots">
					<td>{{$index+1}}</td>
					<td>{{x.originName}}</td>
					<td>{{x.destinationName}}</td>
					<td>{{x.departureDate | date:'dd MMM yy hh:mm'}}</td>
				</tr>
			</table>

		</div>
	</div>
</section>
<script type="text/javascript">
			$('a.mobile-tgl').click(function(){
			var body = $('body');
			$('body').toggleClass('active-menu');
			$('.booking-tgl').addClass('remove_booking_tgl');		
		});
		$('a.mobile-tgl, ul.menu').click(function(e){
			e.stopPropagation();	
		});
		$('body').click(function(){
			$('body').removeClass('active-menu');			
			$('.booking-tgl').removeClass('remove_booking_tgl');
		});

		$(window).scroll(function() {
			var elementPosition = $('section').offset().top - $(window).scrollTop() - 300;
			if (elementPosition <  0) {
				$('.booking-tgl').addClass('visible_tgl');
			} 
			else {
				$('.booking-tgl').removeClass('visible_tgl');
			}
		});
	</script>