<div class="row">
    <!-- begin col-6 -->
    <div class="col-md-12 ui-sortable">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
            <div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">Add/Edit Aircraft</h4>
            </div>
            <div class="panel-body">
            <!-- <form id="uploadForm" enctype="multipart/form-data" action="/media/upload" method="post">
                    <input type="file" name="imgs" id="filesAirCraft" class="inputfile"  data-multiple-caption="{count} files selected" multiple image-uploader/>
                    <label for="filesAirCraft" id="upload-content" image-uploader1>Choose a file</label>
                    <input type="submit" value="Upload Image" name="submit">
                </form> -->
                <form class="form-horizontal" name="aircraftForm" ng-submit="submitForm(aircraftForm.$valid)" novalidate>
                    
                    <!-- Multiple -->
                    
                    <div class="form-group" style="height: 40px;line-height: 20px;">
                        <label class="col-md-3 control-label">Aircraft Images</label>
                        <div class="col-md-9">
                            <input type="file" name="file" id="filesAirCraft" class="inputfile"  data-multiple-caption="{count} files selected" multiple image-uploader file-model = "myFile"/>
                            <label for="filesAirCraft" id="upload-content" image-uploader1>Choose a file</label>
                            <button ng-click="uploadFile();" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload</button>
                            <span id="spinningSquaresG" ng-show="isFileUploading">
                                <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
                                <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
                            </span>
                            <!-- <button ng-click>upload</button> -->
                            <!-- <droplet ng-model="interface"></droplet> -->
                            <!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">
                                
                            </droplet> -->
                        </div>
                    </div>
                    <div class="form-group" style="height: 50px;line-height: 50px; margin-top:10px">
                        <label class="col-md-3 control-label">Image Gallary</label>
                        <div class="col-md-9 " style="overflow-x: auto;overflow-y: hidden;">
                            <div class="cls-gallary">
                                <div class="gallary-img" ng-repeat="x in aircraft.files track by $index">
                                    <img ng-src="{{x.file}}" class="thumb">
                                    <a class="btn btn-xs btn-icon btn-circle btn-danger delete-img" data-click="panel-remove" ng-click="removeFile(x)"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':aircraftForm.jet_name.$valid && !aircraftForm.jet_name.$pristine,'has-error':aircraftForm.jet_name.$invalid && !aircraftForm.jet_name.$pristine}">
                        <label class="col-md-3 control-label">Aircraft Name</label>
                        <div class="col-md-9">
                            <input type="text" name="jet_name" class="form-control" ng-model="newAircraft.jet_name" placeholder="Enter the name" required>
                        </div>
                    </div>
                    <!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">
                                
                            </droplet> -->

                    <div class="form-group" ng-class="{'has-success':aircraftForm.jet_price.$valid && !aircraftForm.jet_price.$pristine,'has-error':aircraftForm.jet_price.$invalid && !aircraftForm.jet_price.$pristine}">
                        <label class="col-md-3 control-label">Aircraft Price</label>
                        <div class="col-md-9">
                            <input type="text" name="jet_price" class="form-control" ng-model="newAircraft.jet_price" placeholder="INR/hour" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Aircraft Type</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="newAircraft.aircraft_type">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':aircraftForm.baggage.$valid && !aircraftForm.baggage.$pristine,'has-error':aircraftForm.baggage.$invalid && !aircraftForm.baggage.$pristine}">
                        <label class="col-md-3 control-label">Baggage</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" name="baggage" ng-model="newAircraft.baggage" required="">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':aircraftForm.pilot.$valid && !aircraftForm.pilot.$pristine,'has-error':aircraftForm.pilot.$invalid && !aircraftForm.pilot.$pristine}">
                        <label class="col-md-3 control-label">Number of Pilots</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" name="pilot" ng-model="newAircraft.pilot" required="">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':aircraftForm.seats.$valid && !aircraftForm.seats.$pristine,'has-error':aircraftForm.seats.$invalid && !aircraftForm.seats.$pristine}">
                        <label class="col-md-3 control-label">Number of Seats</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" ng-model="newAircraft.seats" name="seats" required="">
                        </div>
                    </div>
                    <!-- <div class="form-group" ng-class="{'has-success':aircraftForm.seats.$valid && !aircraftForm.seats.$pristine,'has-error':aircraftForm.seats.$invalid && !aircraftForm.seats.$pristine}">
                        <label class="col-md-3 control-label">Number of Seats</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" ng-model="newAircraft.seats">
                        </div>
                    </div> -->
                    <div class="form-group" ng-class="{'has-success':aircraftForm.passangers.$valid && !aircraftForm.passangers.$pristine,'has-error':aircraftForm.passangers.$invalid && !aircraftForm.passangers.$pristine}">
                        <label class="col-md-3 control-label">Number of Passangers</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" name="passangers" ng-model="newAircraft.passangers" required="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Aminities</label>
                        <div class="col-md-9">
                            <div class="checkbox">
                                <label style="margin-right: 15px;">
                                    <input type="checkbox" value="" ng-model="newAircraft.facilities.wifi">
                                    wifi
                                </label>
                                <label style="margin-right: 15px;">
                                    <input type="checkbox" value="" ng-model="newAircraft.facilities.lavatory">
                                    lavatory
                                </label>
                                <label style="margin-right: 15px;">
                                    <input type="checkbox" value="" ng-model="newAircraft.facilities.flight_attendence">
                                    Attendies
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Speed of Aircraft</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control" ng-model="newAircraft.speed">
                        </div>
                    </div>

                    <div>
                        <div class="form-group">
                            <legend class="col-md-3 control-label">Add Bases</legend>
                            <div class="col-md-9" style="text-align: right;">
                                <a href="javascript:;" ng-click="addBase()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="i in newAircraft.bases track by $index">
                            <label class="col-md-3 control-label">Base</label>
                            <div class="col-md-8">
                                <select ng-model="newAircraft.bases[$index]" class="form-control"
                                    ng-options="x._id as x.cityName for x in citiesList">
                                </select>
                            </div>
                            <div class="col-md-1">
                                <a ng-show="$last" href="javascript:;" ng-click="removeBase()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <button type="submit" ng-disabled="aircraftForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
    <!-- end col-6 -->
    <!-- begin col-6 -->
</div>
<script type="text/javascript">
    (function(){

        // var inputs = document.querySelectorAll( '.inputfile' );
        // Array.prototype.forEach.call( inputs, function( input )
        // {
        //     var label    = input.nextElementSibling,
        //         labelVal = label.innerHTML;

        //     input.addEventListener( 'change', function( e )
        //     {
        //         var fileName = '';
        //         if( this.files && this.files.length > 1 )
        //             fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
        //         else
        //             fileName = e.target.value.split( '\\' ).pop();

        //         if( fileName )
        //             label.querySelector( 'span' ).innerHTML = fileName;
        //         else
        //             label.innerHTML = labelVal;
        //     });
        // });
    })()
</script>
                
