<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->
            <a ng-show="accessEmp.Aircraft.editAircraft" href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">Aircrafts</h4>
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->
</div>
          <div class="row custom-top-added-form" style="padding: 0 15px" ng-show="isPopupOpen">
            <button class="close" ng-click="isPopupOpen = !isPopupOpen"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
            
          <h2 class="col-md-12">{{Title}} Aircraft</h2>

          <!-- FORM -->
          <form class="form-horizontal" name="addEditForm"  ng-submit="submitForm(addEditForm.$valid)" novalidate>

                    <div class="col-md-12">
                       <div class="form-group" style="height: 40px;line-height: 20px;">
                        <label class="col-md-3 control-label">Aircraft Images</label>
                        <div class="col-md-9">
                        <input type="file" name="file" id="filesAirCraft" class="inputfile"  data-multiple-caption="{count} files selected" multiple image-uploader file-model = "myFile"/>
                        <label for="filesAirCraft"  image-uploader1>Choose a file</label>
                        <button ng-click="uploadFile();" type="button" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload</button>
                         <!-- <input type="button" ng-click="uploadFile()" ng-hide="isFileUploading" value="Upload"> -->
                        
                        <span id="spinningSquaresG" ng-show="isFileUploading">
                            <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
                            <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
                        </span>
                            <!-- <button ng-click>upload</button> -->
                            <!-- <droplet ng-model="interface"></droplet> -->
                            <!-- <droplet ng-model="interface" style="width:500px;height: 100px; background: red;">
                                
                            </droplet> -->
                        </div>
                    </div>
                    </div>

                    <div class="col-md-12">
                       <div class="form-group" style="height: 100px;line-height: 100px; margin-top:10px">
                        <label class="col-md-3 control-label">Image Gallary</label>
                        <div class="col-md-9 " style="overflow-x: auto;overflow-y: hidden;">
                            <div class="cls-gallary">
                                <div class="gallary-img" ng-repeat="x in aircraft.files track by $index">
                                    <!-- <img ng-if="x.file" ng-src="{{x.file}}" class="thumb"> -->
                                     <img ng-src="{{x}}" class="thumb">
                                    <a class="btn btn-xs btn-icon btn-circle btn-danger delete-img" data-click="panel-remove" ng-click="removeFile(x,index)"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                    <!-- Aircraft -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.jet_name.$valid && !aircraftForm.jet_name.$pristine,
                            'has-error':aircraftForm.jet_name.$invalid && !aircraftForm.jet_name.$pristine}">
                            <label class=" control-label">Aircraft Name</label>
                            <input type="text" name="jet_name" class="form-control" ng-model="new.jet_name" placeholder="" required>
                        </div>
                    </div>
                    
                    <!-- aircraft_type -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.aircraft_type.$valid && !aircraftForm.aircraft_type.$pristine,
                            'has-error':aircraftForm.aircraft_type.$invalid && !aircraftForm.aircraft_type.$pristine}">
                            <label class=" control-label">Aircraft Type</label>
                            <select name="aircraft_type" class="form-control" ng-model="new.aircraft_type" ng-options="x as x for x in ['HEAVY JET', 'SUPER MID JET', 'MID JET','LIGHT JET','TURBO PROP']" required></select>
                        </div>
                    </div>

                    <!-- speed -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.speed.$valid && !aircraftForm.speed.$pristine,
                            'has-error':aircraftForm.speed.$invalid && !aircraftForm.speed.$pristine}">
                            <label class=" control-label">Aircraft Speed</label>
                            <input type="number" name="speed" class="form-control" ng-model="new.speed" placeholder="" required>
                        </div>
                    </div>

                    <!-- weight -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.weight.$valid && !aircraftForm.weight.$pristine,
                            'has-error':aircraftForm.weight.$invalid && !aircraftForm.weight.$pristine}">
                            <label class=" control-label">Aircraft Weight</label>
                            <input type="number" name="weight" class="form-control" ng-model="new.weight" placeholder="" required>
                        </div>
                    </div>

                    <!-- passangers -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.passangers.$valid && !aircraftForm.passangers.$pristine,
                            'has-error':aircraftForm.passangers.$invalid && !aircraftForm.passangers.$pristine}">
                            <label class=" control-label">Passangers</label>
                            <input type="number" name="passangers" class="form-control" ng-model="new.passangers" placeholder="" required>
                        </div>
                    </div>

                    <!-- pilot -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.pilot.$valid && !aircraftForm.pilot.$pristine,
                            'has-error':aircraftForm.pilot.$invalid && !aircraftForm.pilot.$pristine}">
                            <label class=" control-label">pilot</label>
                            <input type="number" name="pilot" class="form-control" ng-model="new.pilot" placeholder="" required>
                        </div>
                    </div>

                    <!-- aircraft_max_range -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.aircraft_max_range.$valid && !aircraftForm.aircraft_max_range.$pristine,
                            'has-error':aircraftForm.aircraft_max_range.$invalid && !aircraftForm.aircraft_max_range.$pristine}">
                            <label class=" control-label">Aircraft Max Range</label>
                            <input type="number" name="aircraft_max_range" class="form-control" ng-model="new.aircraft_max_range" placeholder="" required>
                        </div>
                    </div>

                    <!-- baggage -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.baggage.$valid && !aircraftForm.baggage.$pristine,
                            'has-error':aircraftForm.baggage.$invalid && !aircraftForm.baggage.$pristine}">
                            <label class=" control-label">Baggage</label>
                            <input type="text" name="baggage" class="form-control" ng-model="new.baggage" placeholder="" required>
                        </div>
                    </div>

                    <!-- minimum_distance -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.minimum_distance.$valid && !aircraftForm.minimum_distance.$pristine,
                            'has-error':aircraftForm.minimum_distance.$invalid && !aircraftForm.minimum_distance.$pristine}">
                            <label class=" control-label">Minimum Distance</label>
                            <input type="number" name="minimum_distance" class="form-control" ng-model="new.minimum_distance" placeholder="" required>
                        </div>
                    </div>

                    <!-- crew_members -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.crew_members.$valid && !aircraftForm.crew_members.$pristine,
                            'has-error':aircraftForm.crew_members.$invalid && !aircraftForm.crew_members.$pristine}">
                            <label class=" control-label">Crew Members</label>
                            <input type="number" name="crew_members" class="form-control" ng-model="new.crew_members" placeholder="" required>
                        </div>
                    </div>

                    <!-- cabin_information -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.cabin_information.cabin_hight.$valid && !aircraftForm.cabin_information.cabin_hight.$pristine,
                            'has-error':aircraftForm.cabin_information.cabin_hight.$invalid && !aircraftForm.cabin_information.cabin_hight.$pristine}">
                            <label class=" control-label">Cabin Hight</label>
                            <input type="text" name="cabin_information.cabin_hight" class="form-control" ng-model="new.cabin_information.cabin_hight" placeholder="0'0''" required>
                        </div>
                    </div>

                    <!-- crew_charges -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':aircraftForm.crew_charges.$valid && !aircraftForm.crew_charges.$pristine,
                            'has-error':aircraftForm.crew_charges.$invalid && !aircraftForm.crew_charges.$pristine}">
                            <label class=" control-label">Crew Charges</label>
                            <input type="number" name="crew_charges" class="form-control" ng-model="new.crew_charges" placeholder="0'0''" required>
                        </div>
                    </div>

                    <!-- facilities -->
                    <div class="col-md-12" style="padding-right: 30px">
                        <label class=" control-label">facilities</label>
                        <div class="checkbox">
                            <label style="margin-right: 15px;">
                                <input type="checkbox" value=""
                                    ng-model="new.facilities.wifi"
                                    ng-true-value="'YES'"
                                    ng-checked="new.facilities.wifi == 'YES'">
                                wifi
                            </label>
                            <label style="margin-right: 15px;">
                                <input type="checkbox" value=""
                                    ng-model="new.facilities.lavatory"
                                    ng-true-value="'YES'"
                                    ng-checked="new.facilities.lavatory == 'YES'">
                                Lavatory
                            </label>
                            <label style="margin-right: 15px;">
                                <input type="checkbox" value=""
                                    ng-model="new.facilities.flight_attendence"
                                    ng-true-value="'YES'"
                                    ng-checked="new.facilities.flight_attendence == 'YES'">
                                Flight Attendies
                            </label>
                            <label style="margin-right: 15px;">
                                <input type="checkbox" value=""
                                    ng-true-value="'YES'"
                                    ng-model="new.facilities.satellite_phone"
                                    ng-checked="new.facilities.satellite_phone == 'YES'">
                                Satellite Phone
                            </label>
                            <label style="margin-right: 15px;">
                                <input type="checkbox" value=""
                                    ng-model="new.facilities.baggage"
                                    ng-true-value="'YES'"
                                    ng-checked="new.facilities.baggage == 'YES'">
                                Baggage
                            </label>
                        </div>
                    </div>

                    <!-- bases -->
                    <!-- <div class="col-md-12" >
                        <div class="form-group">
                            <label class="col-md-3 control-label" style="text-align: left;">Bases</label>
                            <div class="col-md-9" style="text-align: right;">
                                <a href="javascript:;" ng-click="addBase()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="i in new.bases track by $index">
                            <div class="col-md-1">{{$index+1}}</div>
                            <div class="col-md-6">
                                <select ng-model="i.base_city" class="form-control"
                                    ng-options="x._id as x.cityName for x in baseCity">
                                </select>
                            </div>
                            
                            <div class="col-md-5">
                                <input type="number" name="" class="form-control" ng-model="i.base_price" placeholder="" >
                            </div>
                            <div class="col-md-1">
                                <a ng-show="$last && !$first" href="javascript:;" ng-click="removeBase()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                    </div> -->

                    <div class="col-md-12"><!-- ng-hide="Title == 'Update'" -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" style="text-align: left;">Bases</label>
                        </div>
                        <div class="form-group" ng-repeat="x in new.bases">
                            <div class="col-md-1">{{$index+1}}</div>
                            <label class="col-md-3">{{x.city}}</label>
                            <div class="col-md-8">
                                <input type="number" name="" class="form-control" ng-model="x.base_price" placeholder="" >
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12" ng-hide="Title == ''">
                        <div class="form-group">
                            <!-- <label class="col-md-3 control-label"></label> -->
                            <div class="col-md-12 center">
                                <button type="submit" style=" padding: 6px 25px;" class="btn btn-sm">Submit</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
          <!-- /FORM -->
      </div>
      <!-- end form -->

    <div class="panel-body">
    <button ng-click="exportDataXLS()">Download Xls</button>
    <button ng-click="exportDataPdf()">Download pdf</button>
         <div id="exportable">
            <table id="data-table" class="table table-striped table-bordered">
                <thead>
                    <tr ng-show="!show">
                        <td colspan="6">Filters</td>
                    </tr>
                    <tr ng-show="!show">
                        <td><input ng-model="jetSearch.jet_name" type="text" class="" style="width: 100%" placeholder="Search by Jet Name"></td>
                        <td><input ng-model="jetSearch.passangers" type="text" class="" style="width: 100%" placeholder="Search by Passangers"></td>
                        <td><input ng-model="jetSearch.status" type="text" class="" style="width: 100%" placeholder="Search by Status"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Passangers</th>
                        <th>Status</th>
                        <th ng-show="accessEmp.Aircraft.editAircraft">Edit</th>
                        <th>View</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" 
                        ng-repeat="x in (aircraftsDownload | filter:jetSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                        <td>{{x.jet_name}}</td>
                        <td>{{x.passangers}}</td>
                        <td>{{x.status}}</td>
                        <td ng-show="accessEmp.Aircraft.editAircraft"><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                        <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                        <td><a ng-click="openModal('Delete',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div ng-show="showPagination">
            <ul uib-pagination total-items="(aircraftsDownload | filter:jetSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<!-- end panel-->
<div id="exportTab">
    <table ng-show="show" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Passangers</th>
                    <th>Status</th>  
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in aircraftsDownload | filter:jetSearch">
                    <td>{{x.jet_name}}</td>
                    <td>{{x.passangers}}</td>
                    <td>{{x.status}}</td>
                </tr>
            </tbody>
        </table>
</div>




<script type="text/ng-template" id="aircraft-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Aircraft</h4>
            </div>
    <div class="panel-body">
        <div class="gallary-img">
            <img ng-repeat="i in new.image_gallary track by $index" ng-src="{{i}}" class="thumb" style="max-width: 120px; display: inline-block;margin-right: 2px;">
        </div>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Jet Name</td>
                <td>{{new.jet_name}}</td>
            </tr>
            <tr>
                <td>Aircraft Type</td>
                <td>{{new.aircraft_type}}</td>
            </tr>
            <tr>
                <td>Aircraft Speed</td>
                <td>{{new.speed}}</td>
            </tr>
            <tr>
                <td>Aircraft Weight</td>
                <td>{{new.weight}}</td>
            </tr>
            <tr>
                <td>Passangers</td>
                <td>{{new.passangers}}</td>
            </tr>
            <tr>
                <td>Pilot</td>
                <td>{{new.pilot}}</td>
            </tr>
            <tr>
                <td>Aircraft Max Range</td>
                <td>{{new.aircraft_max_range}}</td>
            </tr>
            <tr>
                <td>Baggage</td>
                <td>{{new.baggage}}</td>
            </tr>
            <tr>
                <td>Minimum Distance</td>
                <td>{{new.minimum_distance}}</td>
            </tr>
            <tr>
                <td>Crew Members</td>
                <td>{{new.crew_members}}</td>
            </tr>
            <tr>
                <td>Crew Charges</td>
                <td>{{new.crew_charges}}</td>
            </tr>
        </table>
        <hr>
        <h2>Facilities</h2>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Lavatory</td>
                <td>{{new.facilities.lavatory || 'N/A'}}</td>
            </tr>
            <tr>
                <td>Wifi</td>
                <td>{{new.facilities.wifi || 'N/A'}}</td>
            </tr>
            <tr>
                <td>Flight Attendies</td>
                <td>{{new.facilities.flight_attendie || 'N/A'}}</td>
            </tr>
            <tr>
                <td>Satellite Phone</td>
                <td>{{new.facilities.satellite_phone || 'N/A'}}</td>
            </tr>
        </table>
        <hr>
        <h2>Bases</h2>
        <table class="table table-striped table-bordered">
            <tr ng-repeat="x in new.bases">
                <td>{{x.base}}</td>
                <td>{{x.base_price}}</td>
            </tr>
        </table>
    </div>
</div>
</script>
