<div class="row">
				<!-- begin col-6 -->
	<div class="col-md-12 ui-sortable">
		<!-- begin panel -->
		<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
			<div class="panel-heading">
				<!-- <div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
				</div> -->
				<h4 class="panel-title">Add Flights</h4>
			</div>
			<div class="panel-body">
<!-- <form id="uploadForm" enctype="multipart/form-data" action="/media/upload" method="post">

		<input type="file" name="imgs" id="filesAirCraft" class="inputfile"	data-multiple-caption="{count} files selected" multiple image-uploader/>
						<label for="filesAirCraft" id="upload-content" image-uploader1>Choose a file</label>
		<input type="submit" value="Upload Image" name="submit">

	</form> -->


				<form class="form-horizontal" name="tripForm" ng-submit="searchRoot(tripForm.$valid)" novalidate ng-hide="isSearchResult">
					
					<!-- Multiple -->
					
					<div class="form-group">
						<label class="col-md-3 control-label">Select Aircraft</label>
						<div class="col-md-9">
							<select class="form-control" ng-options="x.jet_name as x.jet_name for x in aircrafts" ng-model="new.aircraft" ng-change="selectedValue(new.aircraft)" required> <option style="display:none" value=""></option></select>
						</div>
					</div>
					<!-- <div>
						<span ng-repeat="x in baseVal" ng-if="x.base_price != 0">{{x.base_price}}</span>
					</div> -->
					 <div class="form-group">
						<label class="col-md-3 control-label">Trip Type</label>
						<div class="col-md-9 row">
							<div class="col-sm-4">
								<label>
									<input type="radio" value="oneWay" name="tripType" ng-model="new.tripType"> Oneway
								</label>
							</div>
							<div class="col-sm-4">
								<input type="radio" value="roundTrip" name="tripType" ng-model="new.tripType"> Round Trip
							</div>
							<div class="col-sm-4" >
								<input type="radio" value="multicity" name="tripType" ng-model="new.tripType"> Multicity
							</div>
						</div>

					</div>
					 <div class="form-group">
					<label class="col-md-12 control-label" style="text-align:left">Journy</label>
					 </div>

					<div class="form-group"><!-- one trip fileds -->
						<div class="col-md-3">
						<label class="control-label">From</label>
							<input type="text" ng-model="new.roots[0].originName"
								uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
								class="form-control" required>
						</div>
						<div class="col-md-3">
							<label class="control-label">To</label>
							<input type="text" ng-model="new.roots[0].destinationName"
								uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
								class="form-control" ng-focus="toggle.stopScroll = true" ng-blur="autoFill(0); toggle.stopScroll = false" required>
						</div>

						<!-- <div class="col-md-3">
							<label class="control-label">Departure Date</label>
							<input type="text" class="form-control"
								ng-model="new.roots[0].departureDate"
								uib-datepicker-popup="dd MMMM yyyy"
								is-open="popup[0]" ng-required="true" 
								close-text="Close" 
								ng-focus="popup[0] = true"/>
						</div> -->

				        <div class="col-md-3">
				            <div class="form-group">
				            	<label class="control-label">Departure Date</label>
				                <div class='input-group date' >
				                    <input type='text' date-picker class="form-control" ng-model="new.roots[0].departureDate" ng-required="true" />
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
						        
						   

						<!-- <div class="col-md-3">
							<label class="control-label">Departure Time</label>
							<input type="text" class="form-control"
								ng-model="new.roots[0].departureTime" required>
						</div>
 -->
				        <div class="col-md-3">
				            <div class="form-group">
				            	<label class="control-label">Departure Time</label>
				                <div class='input-group date' >
				                    <input type="text" time-picker class="form-control"
										ng-model="new.roots[0].departureTime" required>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-time"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
					</div>

					<section ng-show="new.tripType == 'roundTrip'">
						<!-- <div class="col-md-3">
							<label class="control-label">Departure Date</label>
							<input type="text" class="form-control"
								ng-model="x.departureDate"
								uib-datepicker-popup="dd MMMM yyyy"
								is-open="popup[$index]" ng-required="new.tripType == 'roundTrip'"
								close-text="Close" 
								ng-focus="popup[$index] = true"/>
						</div> -->
						<div class="col-md-3">
					            <div class="form-group">
					            	<label class="control-label">Departure Date</label>
					                <div class='input-group date'>
					                    <input type='text' date-picker class="form-control" ng-model="x.departureDate" ng-required="new.tripType == 'roundTrip'" />
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
					                </div>
					            </div>
					        </div>

						<!-- <div class="col-md-3">
							<label class="control-label">Departure Time</label>
							<input type="text" class="form-control"
								ng-model="x.departureTime" ng-required="new.tripType == 'roundTrip'">
						</div> -->
						<div class="col-md-3">
				            <div class="form-group">
				            	<label class="control-label">Departure Time</label>
				                <div class='input-group date' >
				                    <input type="text" time-picker class="form-control"
										ng-model="x.departureTime" ng-required="new.tripType == 'roundTrip'">
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-time"></span>
				                    </span>
				                </div>
				            </div>
			        	</div>

					</section>



					<section ng-show="new.tripType == 'multicity'">
						<fieldset class="multicity" ng-repeat="x in new.roots" ng-hide="$first">
							<div class="col-md-3">
							<label class="control-label">From</label>
								<input type="text" ng-model="x.originName"
									uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
									class="form-control" ng-required="new.tripType == 'multicity'">
							</div>

							<div class="col-md-3">
								<label class="control-label">To</label>
								<input type="text" ng-model="x.destinationName"
									uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
									class="form-control" ng-focus="toggle.stopScroll = true" ng-blur="autoFill($index); toggle.stopScroll = false" ng-required="new.tripType == 'multicity'">
							</div>

							<!-- <div class="col-md-3">
								<label class="control-label">Departure Date</label>
								<input type="text" class="form-control"
									ng-model="x.departureDate"
									uib-datepicker-popup="dd MMMM yyyy"
									is-open="popup[$index]" ng-required="new.tripType == 'multicity'" 
									close-text="Close" 
									ng-focus="popup[$index] = true"/>
							</div> -->

							 <div class="col-md-3">
					            <div class="form-group">
					            	<label class="control-label">Departure Date</label>
					                <div class='input-group date'  >
					                    <input type='text' date-picker class="form-control" ng-model="x.departureDate" ng-required="new.tripType == 'multicity'" />
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-calendar"></span>
					                    </span>
					                </div>
					            </div>
					        </div>

							<!-- <div class="col-md-3">
								<label class="control-label">Departure Time</label>
								<input type="text" class="form-control"
									ng-model="x.departureTime" ng-required="new.tripType == 'multicity'">
							</div> -->

							<div class="col-md-3">
					            <div class="form-group">
					            	<label class="control-label">Departure Time</label>
					                <div class='input-group date' >
					                    <input type="text" time-picker class="form-control"
											ng-model="x.departureTime" ng-required="new.tripType == 'multicity'">
					                    <span class="input-group-addon">
					                        <span class="glyphicon glyphicon-time"></span>
					                    </span>
					                </div>
					            </div>
				        	</div>

							


							<div class="col-md-12 text-right" ng-show="$last">
								<button class="btn" ng-hide="$index == 1" ng-click="removeRoot($index)">Remove</button>
								<button class="btn" ng-click="addRoot()">Add</button>
							</div>
						</fieldset>
					</section>

					<div calss="form-group">

						<div class="col-md-12">
							<label class="control-label"></label>
							<button type="submit"  style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
						</div>

					</div>

				</form>
				<section ng-show="isSearchResult">
					
					<button class="btn btn-info" ng-click="isSearchResult = !isSearchResult">Back</button>

					<div class="pdf-section">
						<h1>Aircraft:</h1>
						<table class="table table-stripped" cellspacing="0" cellpadding="0">
							<tr class="tr-head">
								<td>Name</td>
								<td>Type</td>
								<!-- <td>No of Passenger</td> -->
								<td>Pilot</td>
								<td>Crew</td>
								<td>Baggage</td>
							</tr>
							<tr>
								<td>{{systemFair.documents.jet_name}}</td>
								<td>{{systemFair.documents.aircraft_type}}</td>
								<!-- <td>{{systemFair.traveller}}</td> -->
								<td>{{systemFair.documents.pilot}}</td>
								<td>{{systemFair.documents.crew_members?systemFair.documents.crew_members:0}}</td>
								<td>
								{{(systemFair.documents.aircraft_type.toLowerCase()=='turbo prop' || systemFair.documents.aircraft_type.toLowerCase()=='light jet')?'10':'15'}}</td>
							</tr>
						</table>
					</div>

					<div class="pdf-section">
						<h1>Positioning / Repositioning:</h1>
						<table class="table table-striped" cellspacing="0" cellpadding="0">
							<tr class="tr-head">
								<td>Type</td>
								<td>Departure</td>
								<td>Arrival</td>
								<td>Flying Time(HH:MM)</td>
							</tr>
							<tr ng-repeat="x in systemFair.duration track by $index" ng-if="x.data.positioning || x.data.repositioning">
								<td>{{x.data.positioning ? 'Positioning' : ''}}{{x.data.repositioning ? 'Repositioning' : ''}}</td>
								<td>{{x.info.originName}}</td>
								<td>{{x.info.destinationName}}</td>
								<td>{{x.hours +':'+x.min }}</td>
							</tr>
						</table>
					</div>

					<div class="pdf-section">
						<h1>Itinerary:</h1>
						<table class="table table-striped" cellspacing="0" cellpadding="0">
							<tr class="tr-head">
								<td>Date</td>
								<td>Departure</td>
								<td>Arrival</td>
								<td>Flying Time(HH:MM)</td>
								<td>Flying</td>
							</tr>
							<tr ng-repeat="x in systemFair.duration track by $index" ng-if="!x.data.positioning && !x.data.repositioning">
								<td>{{x.departureDate}}</td>
								<td>{{x.info.originName}}</td>
								<td>{{x.info.destinationName}}</td>
								<td>{{x.hours +':'+x.min }}</td>
								<td>{{x.data.positioning || x.data.repositioning ? 'Without Passenger' : 'With Passenger'}}</td>
							</tr>
						</table>
					</div>

					<hr>

					<form class="form-horizontal" ng-submit="saveBooking()">
						<div class="form-group">
							<label class="col-md-12"><input type="checkbox" ng-model="isUseSystemFair" ng-change="setUserFair()"> Use System Fair</label>
						</div>
						<div class="form-group">
	                        <legend class="col-md-3 control-label">COSTS</legend>
	                        <legend class="col-md-4 control-label">SYSTEM COSTS</legend>
	                        <legend class="col-md-4 control-label text-left" ng-hide="isUseSystemFair">USER'S COST</legend>
	                    </div>
						<div class="form-group">
	                        <label class="col-md-3 control-label">Flying Cost</label>
	                        <label class="col-md-4 control-label" ng-class="{'text-muted': !isUseSystemFair}">{{::systemFair.netFlyingCost}}</label>
	                        <div class="col-md-5">
	                        	<input type="number" name="agent_name" placeholder="Hours" class="form-control" ng-disabled="isUseSystemFair" ng-change="changeFlyingCost()" ng-model="userFair.netHour" ng-hide="isUseSystemFair">

	                        	<input type="number" style="margin-top: 8px;" ng-model="userFair.netRate" placeholder="Per Hour Rate" name="agent_name" class="form-control" ng-change="changeFlyingCost()" ng-disabled="isUseSystemFair" ng-hide="isUseSystemFair">

	                            <input type="number" style="margin-top: 8px;" name="agent_name" class="form-control" placeholder="Net flying cost" ng-disabled="isUseSystemFair" ng-model="userFair.netFlyingCost" ng-hide="isUseSystemFair">
	                        </div>
	                    </div>
						<div class="form-group">
	                        <label class="col-md-3 control-label">Ground Handling</label>
	                        <label class="col-md-4 control-label" ng-class="{'text-muted': !isUseSystemFair}">{{::systemFair.groundHandlingCharges}}</label>
	                        <div class="col-md-5">
	                            <input type="number" name="agent_name" class="form-control" ng-disabled="isUseSystemFair" ng-model="userFair.groundHandlingCharges" ng-hide="isUseSystemFair">
	                        </div>
	                    </div>
						<div class="form-group">
	                        <label class="col-md-3 control-label">Crew Charges</label>
	                        <label class="col-md-4 control-label" ng-class="{'text-muted': !isUseSystemFair}">{{::systemFair.totalCrewCharge}}</label>
	                        <div class="col-md-5">
	                            <input type="number" name="agent_name" class="form-control" ng-disabled="isUseSystemFair" ng-model="userFair.totalCrewCharge" ng-hide="isUseSystemFair">
	                        </div>
	                    </div>
						<div class="form-group">
	                        <label class="col-md-3 control-label">Other Charges</label>
	                        <label class="col-md-4 control-label" ng-class="{'text-muted': !isUseSystemFair}">{{::systemFair.otherCharges}}</label>
	                        <div class="col-md-5">
	                            <input type="number" name="agent_name" class="form-control" ng-disabled="isUseSystemFair" ng-model="userFair.otherCharges" ng-hide="isUseSystemFair">
	                        </div>
	                    </div>
						<div class="form-group">
	                        <label class="col-md-3 control-label">Sub Total</label>
	                        <label class="col-md-4 control-label" ng-class="{'text-muted': !isUseSystemFair}">{{::systemFair.netcost}}</label>
	                        <label class="col-md-5 control-label text-left" ng-hide="isUseSystemFair">{{userFair.netcost = userFair.netFlyingCost + userFair.groundHandlingCharges + userFair.totalCrewCharge + userFair.otherCharges | roundoff}}</label>
	                    </div>
						<div class="form-group">
	                        <label class="col-md-3 control-label">GST @ 18%</label>
	                        <label class="col-md-4 control-label" ng-class="{'text-muted': !isUseSystemFair}">{{::systemFair.gst}}</label>
	                        <label class="col-md-5 control-label text-left" ng-hide="isUseSystemFair">{{userFair.gst = userFair.netcost * 0.18 | roundoff}}</label>
	                    </div>
						<div class="form-group">
	                        <label class="col-md-3 control-label">Grand Total</label>
	                        <label class="col-md-4 control-label" ng-class="{'text-muted': !isUseSystemFair}">{{::systemFair.total}}</label>
	                        <label class="col-md-5 control-label text-left" ng-hide="isUseSystemFair">{{userFair.total = userFair.gst + userFair.netcost | roundoff}}</label>
	                    </div>

	                    <hr>

	                    <div calss="form-group">
	                    	<div class="col-md-12">
	                    		<label class="control-label">Client Name</label>
	                    		<input type="text" class="form-control" class="" required="" name="" ng-model="cName">

	                    		<label class="control-label">Client Address</label>
	                    		<textarea type="text" class="form-control" class="" required="" name="" ng-model="cAddress"></textarea> 

	                    		<label class="control-label">Email To Send Quotation</label>
	                    		<input type="email" class="form-control" class="" required="" name="" ng-model="emailToSend">
	                    		<button type="submit" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Send &#38; Download</button>
	                    	</div>
	                    </div>

					</form>
				</section>
				
			</div>
		</div>
		<!-- end panel -->
	</div>
	<!-- end col-6 -->
	<!-- begin col-6 -->
</div>

<!-- <script type="text/ng-template" id="journey-Modal.html"> 

</script> -->

<!-- BEGIN PDF -->
<div id="pdfFormat" style="display: none;">
    <!-- <div class="pdf-sub-header">
        <ul>
            <li>DATE: {{invoice.created_at | date}}</li>
            <li>Mr./Ms. {{invoice.booking_id.contact.title}} {{invoice.booking_id.contact.name}}</li>
            <li>Email : {{invoice.booking_id.contact.email}}</li>
        </ul>
    </div> -->
    <!-- <div class="pdf-header">
		<ul>
			<li><img src="http://35.154.217.225/assets/img/operator-logo.jpg" style="width:100px;height:50px"></li>
			<li>{{userDetailll.user_name}}</li>
			<li>{{userDetailll.address1}}</li>
			<li>{{userDetailll.phone_number}}</li>
			<li>{{userDetailll.email}}</li>
			<li>CIN: {{userDetailll.sinNumber}}</li>
			<li>GST: {{userDetailll.gst}}</li>
		</ul>
	</div> -->

	

    <div class="pdf-header">
		
		<!-- <ul style="text-align: left !important; display: inline-block; width: 49%; vertical-align: top; padding: 15px 0 0; margin: 0; list-style: none;">
			<br>
			<li style="text-align: left !important; display: block;">Name : {{cName}}</li>
			<li style="text-align: left !important; display: block;"> Address :{{cAddress}}</li>
			
		</ul> -->
		<ul >
			<li><img src="https://gojetsmart.com/assets/img/logo.png" style="width:100px;height:50px"></li>
			<li>{{userDetailll.user_name}}</li>
			<li>{{userDetailll.address1}}</li>
			<li>{{userDetailll.phone_number}}</li>
			<li>{{userDetailll.email}}</li>
			<li>CIN: {{userDetailll.sinNumber}}</li>
			<li>GST: {{userDetailll.gst}}</li>
		</ul>
	</div>
	<br>
	<div class="pdf-sub-header">
			<ul>
				<li>Name : {{cName}}</li>
				<li>Address :{{cAddress}}</li>
				
			</ul>
		</div>
	<div class="clearfix"></div>
    <div class="invoice-header">
        <span >
            Quotation Number:
            <b>{{msg}}</b>
        </span>
    </div>
    <br>
    <div class="clearfix"></div>
    <div class="pdf-section">
        <span>
            Aircraft:
        </span>
        <table cellspacing="0" cellpadding="0">
            <tr class="tr-head">
                <td>Name</td>
                <td>Type</td>
                <td>No of Passenger</td>
                <td>Pilot</td>
                <td>Crew</td>
                <td>Baggage</td>
            </tr>
            <tr>
                <td>{{invoice.aircraft}}</td>
                <td>{{invoice.aircraft.documents.aircraft_type}}</td>
                <td>{{booking.localData.traveller}}</td>
                <td>{{booking.aircraft.documents.pilot}}</td>
                <td>{{booking.aircraft.documents.crew_members?booking.aircraft.documents.crew_members:0}}</td>
                <td>
                {{(booking.aircraft.documents.aircraft_type.toLowerCase()=='turbo prop' || booking.aircraft.documents.aircraft_type.toLowerCase()=='light jet')?'10':'15'}}</td>
            </tr>
        </table>
    </div>

	<div class="pdf-section">
			<h1>Positioning / Repositioning:</h1>
			<table class="table table-striped" cellspacing="0" cellpadding="0">
				<tr class="tr-head">
					<td>Type</td>
					<td>Departure</td>
					<td>Arrival</td>
					<td>Flying Time(HH:MM)</td>
				</tr>
				<tr ng-repeat="x in systemFair.duration track by $index" ng-if="x.data.positioning || x.data.repositioning">
					<td>{{x.data.positioning ? 'Positioning' : ''}}{{x.data.repositioning ? 'Repositioning' : ''}}</td>
					<td>{{x.info.originName}}</td>
					<td>{{x.info.destinationName}}</td>
					<td>{{x.hours +':'+x.min }}</td>
				</tr>
			</table>
		</div>

    <div class="pdf-section">
		<h1>Itinerary:</h1>
		<table class="table table-striped" cellspacing="0" cellpadding="0">
			<tr class="tr-head">
				<td>Date</td>
				<td>Departure</td>
				<td>Arrival</td>
				<td>Flying Time(HH:MM)</td>
				<td>Flying</td>
			</tr>
			<tr ng-repeat="x in systemFair.duration track by $index" ng-if="!x.data.positioning && !x.data.repositioning">
				<td>{{x.departureDate}}</td>
				<td>{{x.info.originName}}</td>
				<td>{{x.info.destinationName}}</td>
				<td>{{x.hours +':'+x.min }}</td>
				<td>{{x.data.positioning || x.data.repositioning ? 'Without Passenger' : 'With Passenger'}}</td>
			</tr>
		</table>
	</div>

    <div class="pdf-section">
        <span>
            Cost:
        </span>
        <table cellspacing="0" cellpadding="0">
            <tr class="tr-head">
                <td>Flying Cost</td>
                <td>Ground Handling</td>
                <td>Crew Charges</td>
                <td>Other Charges</td>
                <td>Sub Total</td>
                <td>GST @ 18%</td>
                <td>Grand Total</td>
            </tr>
            <tr>
                <td>{{invoice.costs.flyingcost}}</td>
                <td>{{invoice.costs.ground_handling}}</td>
                <td>{{invoice.costs.crew_charges}}</td>
                <td>{{invoice.costs.other_charges}}</td>
                <td>{{invoice.costs.sub_total}}</td>
                <td>{{invoice.costs.gst}}</td>
                <td>{{invoice.costs.grand_total}}</td>
            </tr>
        </table>
    </div>

    <div class="pdf-section">
		<span>
			Payment:
			<p class="note">
				 100% advance to be remitted in the favour of IndJets India Pvt. Ltd. as per the banking details given below. Payments can also be paid through our secured payment gateway at our website www.jetsmart.in .
			</p>
		</span>
		<table cellspacing="0" cellpadding="0">
			<tr class="tr-head">
				<td>Name of Benef<b style="font-weight:600">i</b>ciary</td>
				<td>Bank</td>
				<td>Bank Address</td>
				<td>Account Number</td>
				<td>IFSC Code</td>
			</tr>
			<tr>
				<td>{{userDetailll.bank.beneficiary_name}}</td>
				<td>{{userDetailll.bank.bank_name}}</td>
				<td>{{userDetailll.bank.bank_address}}</td>
				<td>{{userDetailll.bank.account_no}}</td>
				<td>{{userDetailll.bank.ifsc_code}}</td>
			</tr>
		</table>
	</div>
</div>
<!-- END PDF -->