
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
        </div>
        <h4 class="panel-title">Aircrafts  ({{aircrafts.length}})</h4>
    </div>
    <!-- <div class="row" style="padding: 0 15px; ">
        <div class="col-md-12"><h2>Filter</h2></div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="jetSearch.jet_name" type="text" class="form-control" placeholder="Search by Jet Name">
            </div>
        </div>
    </div> -->
    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td colspan="6">Filter</td>
                </tr>
                <tr>
                    <td><input ng-model="airportSearch.jet_name" type="text" class="" style="width: 100%" placeholder="Search by Jet Name"></td>
                    <td><input ng-model="airportSearch.flight_number" type="text" class="" style="width: 100%" placeholder="Search by Registration No."></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Jet Name</th>
                    <th>Registration Number</th>
                    <th>Speed</th>
                    <th>Distance</th>
                    <th>Status</th>
                    <!-- <th>Edit</th> -->
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in (aircrafts | filter:airportSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))"   >
                    <td>{{x.jet_name}}</td>
                    <td>{{x.flight_number}}</td>
                    <td>{{x.speed}}</td>
                    <td>{{x.minimum_distance}}</td>
                    <td>{{x.is_active}}</td>
                    <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="showPagination">
            <ul uib-pagination total-items="(aircrafts | filter:airportSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
</div>
<!-- end panel-->


<script type="text/ng-template" id="aircraft-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Aircraft</h4>
            </div>
    <div class="panel-body">
        <div class="gallary-img">
            <img ng-repeat="i in new.image_gallary track by $index" ng-src="{{i}}" class="thumb" style="max-width: 120px; display: inline-block;margin-right: 2px;">
        </div>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Jet Name</td>
                <td>{{new.jet_name}}</td>
            </tr>
            <tr>
                <td>AOP No.</td>
                <td>{{new.AOP_NO}}</td>
            </tr>
            <tr>
                <td>Aircraft Type</td>
                <td>{{new.aircraft_type}}</td>
            </tr>
            <tr>
                <td>Aircraft Speed</td>
                <td>{{new.speed}}</td>
            </tr>
            <tr>
                <td>Aircraft Weight</td>
                <td>{{new.weight}}</td>
            </tr>
            <!-- <tr>
                <td>Passangers</td>
                <td>{{new.passangers}}</td>
            </tr> -->
            <tr>
                <td>Pilot</td>
                <td>{{new.pilot}}</td>
            </tr>
            <!-- <tr>
                <td>Aircraft Max Range</td>
                <td>{{new.aircraft_max_range}}</td>
            </tr> -->
            <tr>
                <td>Baggage</td>
                <td>{{new.baggage}}</td>
            </tr>
            <tr>
                <td>Minimum Distance</td>
                <td>{{new.minimum_distance}}</td>
            </tr>
           <!--  <tr>
                <td>Crew Members</td>
                <td>{{new.crew_members}}</td>
            </tr>
            <tr>
                <td>Crew Charges</td>
                <td>{{new.crew_charges}}</td>
            </tr> -->
        </table>
        <hr>
        <h2>Facilities</h2>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Lavatory</td>
                <td>{{new.facilities.lavatory || 'N/A'}}</td>
            </tr>
            <tr>
                <td>Wifi</td>
                <td>{{new.facilities.wifi || 'N/A'}}</td>
            </tr>
            <tr>
                <td>Flight Attendies</td>
                <td>{{new.facilities.flight_attendie || 'N/A'}}</td>
            </tr>
            <tr>
                <td>Satellite Phone</td>
                <td>{{new.facilities.satellite_phone || 'N/A'}}</td>
            </tr>
             <tr>
                <td>Baggage</td>
                <td>{{new.facilities.baggage || 'N/A'}}</td>
            </tr>
        </table>
        <hr>
        <h2>Bases</h2>
        <table class="table table-striped table-bordered">
            <tr ng-repeat="x in new.bases">
                <td>{{x.base}}</td>
                <td>{{x.base_price}}</td>
            </tr>
        </table>
    </div>
</div>
</script>



<!-- <script type="text/ng-template" id="aircraft-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                
                <h4 class="panel-title">{{Title}} Aircraft</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="aircraftForm" ng-submit="submitForm(aircraftForm.$valid)" novalidate>

                  

        
                    <div class="form-group" ng-class="{'has-success':aircraftForm.jet_name.$valid && !aircraftForm.jet_name.$pristine,'has-error':aircraftForm.jet_name.$invalid && !aircraftForm.jet_name.$pristine}">
                        <label class="col-md-3 control-label">Aircraft Name</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="text" name="jet_name" class="form-control" ng-model="new.jet_name" placeholder="Enter the name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">AOP No.</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="text" name="AOP_NO" class="form-control" ng-model="new.AOP_NO" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label">Aircraft Type</label>
                        <div class="col-md-9">
                            <select ng-disabled="type == 'view'" class="form-control" ng-model="new.aircraft_type">
                                <option value="HEAVY JET">Heavy Jet</option>
                                <option value="SUPER MID JET">Super-Mid Jets</option>
                                <option value="MID JET">Mid-Size Jets</option>
                                <option value="LIGHT JET">Light Jets</option>
                                <option value="Turbo Prop">Turbo Prop</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <label class="col-md-3 control-label">Minimum Distance</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" name="" ng-model="new.minimum_distance" required="">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':aircraftForm.baggage.$valid && !aircraftForm.baggage.$pristine,'has-error':aircraftForm.baggage.$invalid && !aircraftForm.baggage.$pristine}">
                        <label class="col-md-3 control-label">Baggage</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" name="baggage" ng-model="new.baggage" required="">
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-success':aircraftForm.pilot.$valid && !aircraftForm.pilot.$pristine,'has-error':aircraftForm.pilot.$invalid && !aircraftForm.pilot.$pristine}">
                        <label class="col-md-3 control-label">Number of Pilots</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" name="pilot" ng-model="new.pilot" required="">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-md-3 control-label">Facilities</label>
                        <div class="col-md-9">
                            <div class="checkbox">
                                <label style="margin-right: 15px;">
                                    <input ng-disabled="type == 'view'" type="checkbox" value=""
                                        ng-model="new.facilities.wifi"
                                        ng-checked="new.facilities.wifi == 'YES'">
                                    wifi
                                </label>
                                <label style="margin-right: 15px;">
                                    <input ng-disabled="type == 'view'" type="checkbox" value=""
                                        ng-model="new.facilities.lavatory"
                                        ng-checked="new.facilities.lavatory == 'YES'">
                                    Lavatory
                                </label>
                                <label style="margin-right: 15px;">
                                    <input ng-disabled="type == 'view'" type="checkbox" value=""
                                        ng-model="new.facilities.flight_attendence"
                                        ng-checked="new.facilities.flight_attendence == 'YES'">
                                    Flight Attendies
                                </label>
                                <label style="margin-right: 15px;">
                                    <input ng-disabled="type == 'view'" type="checkbox" value=""
                                        ng-model="new.facilities.satellite_phone"
                                        ng-checked="new.facilities.satellite_phone == 'YES'">
                                    Satellite Phone
                                </label>
                                <label style="margin-right: 15px;">
                                    <input ng-disabled="type == 'view'" type="checkbox" value=""
                                        ng-model="new.facilities.baggage"
                                        ng-checked="new.facilities.baggage == 'YES'">
                                    Baggage
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Speed of Aircraft</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" ng-model="new.speed">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Weight of Aircraft</label>
                        <div class="col-md-9">
                            <input ng-disabled="type == 'view'" type="number" class="form-control" ng-model="new.weight">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-9">
                            <button ng-hide="type == 'view'" type="submit" ng-disabled="aircraftForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                        </div>
                    </div>
                </form>
    </div>
</div>
</script>
 