<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Aircraft</h4>
            </div>
    <div class="panel-body">
        <div class="gallary-img">
            <img ng-repeat="i in new.image_gallary track by $index" ng-src="{{i}}" class="thumb" style="max-width: 120px; display: inline-block;margin-right: 2px;">
        </div>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Jet Name</td>
                <td>{{new.jet_name}}</td>
            </tr>
            <tr>
                <td>AOP No.</td>
                <td>{{new.AOP_NO}}</td>
            </tr>
            <tr>
                <td>Aircraft Type</td>
                <td>{{new.aircraft_type}}</td>
            </tr>
            <tr>
                <td>Aircraft Speed</td>
                <td>{{new.speed}}</td>
            </tr>
            <tr>
                <td>Aircraft Weight</td>
                <td>{{new.weight}}</td>
            </tr>
            <!-- <tr>
                <td>Passangers</td>
                <td>{{new.passangers}}</td>
            </tr> -->
            <tr>
                <td>Pilot</td>
                <td>{{new.pilot}}</td>
            </tr>
            <!-- <tr>
                <td>Aircraft Max Range</td>
                <td>{{new.aircraft_max_range}}</td>
            </tr> -->
            <tr>
                <td>Baggage</td>
                <td>{{new.baggage}}</td>
            </tr>
            <tr>
                <td>Minimum Distance</td>
                <td>{{new.minimum_distance}}</td>
            </tr>
           <!--  <tr>
                <td>Crew Members</td>
                <td>{{new.crew_members}}</td>
            </tr>
            <tr>
                <td>Crew Charges</td>
                <td>{{new.crew_charges}}</td>
            </tr> -->
        </table>
        <hr>
        <h2>Facilities</h2>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Lavatory</td>
                <td>{{new.facilities.lavatory || 'N/A'}}</td>
            </tr>
            <tr>
                <td>Wifi</td>
                <td>{{new.facilities.wifi || 'N/A'}}</td>
            </tr>
            <tr>
                <td>Flight Attendies</td>
                <td>{{new.facilities.flight_attendie || 'N/A'}}</td>
            </tr>
            <tr>
                <td>Satellite Phone</td>
                <td>{{new.facilities.satellite_phone || 'N/A'}}</td>
            </tr>
             <tr>
                <td>Baggage</td>
                <td>{{new.facilities.baggage || 'N/A'}}</td>
            </tr>
        </table>
        <hr>
        <h2>Bases</h2>
        <table class="table table-striped table-bordered">
            <tr ng-repeat="x in new.bases">
                <td>{{x.base}}</td>
                <td>{{x.base_price}}</td>
            </tr>
        </table>
    </div>
</div>