<!-- <div class="row">
	<div class="col-md-12">
		<div class="img-box">
			<img src="" alt="logo">
		</div>
	</div>
	<div class="col-md-12" style="text-align: center; background: #000; color:#fff; font-weight: bold">
		NAME : {{userDetail.user_name}}
	</div>
	<div class="col-md-4">Code : {{userDetail.code}}</div>
	<div class="col-md-4">AOP No : {{userDetail.AOP_NO}}</div>
	<div class="col-md-12">Fax : {{userDetail.fax}}</div>
	<div class="col-md-4">City : {{userDetail.city}}</div>
	<div class="col-md-4">State : {{userDetail.state}}</div>
</div>
 -->



<div id="page-wrapper" class="page-wrapper">
            <div class="container-fluid">
              <div class="row">
				 <div class="top-content">
					<div class="page-head">
					   <h2 style="text-align:center">Account Detail</h2>
					</div>
				 </div>
			  </div>
			</div>
			<div class="main-container">
			<!-- <div class="text-center table-header-text">My Profile</div> -->
				          <div class="basic-profile view-catg-page">
						         <div class="profile-img">
	                                  <div class="profile-img text-center">
			                            <div> 
			                               	<img src="{{userDetail.logo || 'https://www.abcgaragedoorllc.com/wp-content/uploads/2014/01/profile-placeholder.jpg'}}" style="width: 200px;height: 200px;border-radius: 100%;"> </div>				                        
			                            </div>
                                         
                                   </div>

								<form class="show-employee-detail-form common-form" style="text-align:right;margin-top: 20px;">
									<div class="form-group clearfix">
										<label class="col-sm-2">Name :</label>
										<div class="col-sm-4 text-left">{{userDetail.user_name}}</div>
										<label class="col-sm-2">Email :</label>
										<div class="col-sm-4 text-left">{{userDetail.email}}</div>
									</div>
									
									<div class="form-group clearfix">
										<label class="col-sm-2">Phone Number :</label>
										<div class="col-sm-4 text-left">{{userDetail.phone_number}}</div>
										<label class="col-sm-2">Website :</label>
										<div class="col-sm-4 text-left">{{userDetail.website}}</div>
									</div>
									
									<div class="form-group clearfix">
										<label class="col-sm-2">Code : </label>
										<div class="col-sm-4 text-left">{{userDetail.code}}</div>
										<label class="col-sm-2">Address Line 1 :</label>
										<div class="col-sm-4 text-left">{{userDetail.address1}}</div>
									</div>
									
									<div class="form-group clearfix">
										<label class="col-sm-2">Fax :</label>
										<div class="col-sm-4 text-left">{{userDetail.fax}}</div>
										<label class="col-sm-2">Address Line 2 :</label>
										<div class="col-sm-4 text-left">{{userDetail.address2}}</div>
									</div>
									
									<div class="form-group clearfix"><label class="col-sm-2">City :</label>
										<div class="col-sm-4 text-left">{{userDetail.cityName}}</div>
										<label class="col-sm-2">Pincode :</label>
										<div class="col-sm-4 text-left">{{userDetail.pincode}}</div>
									</div>
									
									<div class="form-group clearfix">
										<label class="col-sm-2">State :</label>
										<div class="col-sm-4 text-left">{{userDetail.stateName}}</div>
										<label class="col-sm-2">Account Id:</label>
										<div class="col-sm-4 text-left">{{userDetail.account_id}}</div>
									</div>
									<hr style="border-color:rgba(0, 0, 0, 0.3);">

									<div class="form-group clearfix">
										<label class="col-sm-2">CIN Number :</label>
										<div class="col-sm-4 text-left">{{userDetail.sinNumber}}</div>
										<label class="col-sm-2">GST Number :</label>
										<div class="col-sm-4 text-left">{{userDetail.gst}}</div>
									</div>

									<div class="form-group clearfix">
										<label class="col-sm-2">PAN Number :</label>
										<div class="col-sm-4 text-left">{{userDetail.panCardNumber}}</div>
										<label class="col-sm-2">PAN Image :</label>
										<div class="col-sm-4 text-left">
											<img ng-src="{{userDetail.panCardImage}}" ng-click="openImage()" style="max-width: 150px; width: 100%;cursor: pointer;">
										</div>
									</div>
									<hr style="border-color:rgba(0, 0, 0, 0.3);">
									<!-- <h3>Bank Details</h3> -->
									<div class="form-group clearfix">
										<label class="col-sm-2">Bank Name :</label>
										<div class="col-sm-4 text-left">{{userDetail.bank.bank_name}}</div>
										<label class="col-sm-2">IFSC Code:</label>
										<div class="col-sm-4 text-left">{{userDetail.bank.ifsc_code}}</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-sm-2">Account Number:</label>
										<div class="col-sm-4 text-left">{{userDetail.bank.account_no}}</div>
										<label class="col-sm-2">Account Type:</label>
										<div class="col-sm-4 text-left">{{userDetail.bank.account_type}}</div>
									</div>
									<div class="form-group clearfix">
										<label class="col-sm-2">Baneficiary Name:</label>
										<div class="col-sm-4 text-left">{{userDetail.bank.beneficiary_name}}</div>
									</div>
									<!-- <div class="form-group clearfix">
										<label class="col-sm-2">Job Info</label>
										<div class="col-sm-10">
                                        <table class="table table-bordered table-striped table-hover">
											  <thead>
												<tr>
													<th>S.No</th>
													<th>Joining_year</th>
				                                    <th>Job_designation</th>
													<th>Final_year</th>
													<th>Company_name</th>
				                                    
												</tr>
											  </thead>
											  <tbody>
												<tr ng-repeat="x in user_details.job_info">
													
													<td>{{$index+1}}</td>
													<td>{{x.joining_year}}</td>
													<td>{{x.job_designation}}</td>
				                                    <td>{{x.final_year}}</td>
													<td>{{x.company_name}}</td>
													
												</tr>
								
								
										</tbody>
										</table>
										</div>
									</div> -->
									<!-- <div class="form-group clearfix">
										<label class="col-sm-2">Academic Info</label>
										<div class="col-sm-10">
											<table class="table table-bordered table-striped table-hover">
											  <thead>
												<tr>
													<th>S.No</th>
													<th>Qualification</th>
				                                    <th>Joining_year</th>
													<th>Final_year</th>
													<th>College_name</th>
				                                    
												</tr>
											  </thead>
											  <tbody>
												<tr ng-repeat="y in user_details.academic_info">
													
													<td>{{$index+1}}</td>
													<td>{{y.qualification}}</td>
													<td>{{y.joining_year}}</td>
				                                    <td>{{y.final_year}}</td>
													<td>{{y.college_name}}</td>
													
												</tr>
								
								
										</tbody>
										</table>
										</div>
									</div> -->
									
								</form>
					<uib-accordion>	
								<div uib-accordion-group class="panel-default" is-open="">
									<uib-accordion-heading>Key Person<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></uib-accordion-heading>
									<div class="row" ng-repeat="x in userDetail.keyPerson">
										<div class="form-group clearfix">
											<label class="col-sm-2">Baneficiary Name:</label>
											<div class="col-sm-4 text-left">{{userDetail.bank.beneficiary_name}}</div>
										</div>
									</div>
								</div>

								<!-- <div uib-accordion-group class="panel-default" is-open="">
									<uib-accordion-heading>Sale / Revenue<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></uib-accordion-heading>
									<div class="row">
										<div class="col-md-12">
										</div>
									</div>
								</div>
								<div uib-accordion-group class="panel-default" is-open="">
									<uib-accordion-heading>Sales Call / Sales Visit Detail<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></uib-accordion-heading>
									<div class="row">
										<div class="col-md-12">
										</div>
									</div>
								</div> -->
				</uib-accordion>
							</div>
							
						</div>
					
			</div>

 <style type="text/css">
	.row > div{
		padding: 8px !important;
	}
	.img-box{
		display: block;
		width: 100px;
		height: 100px;
		background: #ccc;
		border-radius: 50%;
		border: 3px solid #fff;
		margin: 0 auto;
		overflow: hidden;
	}
	.img-box img{
		width: 100%;
	}
	.panel-title > a, .panel-title > a:hover,.panel-title > a:focus,.panel-title > a:active{
		background: #333 !important;
		color: #fff !important;
		outline: none !important;
		font-weight: bold;
		border-radius: 5px;
	}
</style>
            <!-- /.container-fluid -->

