<!-- <small ng-init="value = 30"><em>Section in Progress...</em></small>
<uib-progressbar class="progress-striped active" value="value" type="info">Section in under development...</uib-progressbar> -->
<div class="row">
	<div class="col-xs-12">
		<div class="cst-cards row" style="padding: 0px 0px 0px 20px">
			<!-- ui-sref="main.aircraft.list" -->
			<div class="col-md-4 col-sm-4" style="padding-left: 10px">
				<div class="cst-card" >
					<div class="static">{{aircrafts.length}}</div>
					<div class="heading">Number of Aircrafts</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4" style="padding-left: 10px">
				<div class="cst-card" ui-sref="main.flight.list">
					<div class="static">{{bookings}}</div>
					<div class="heading">Number of Bookings</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4" style="padding-left: 10px">
				<div class="cst-card" ><!-- ui-sref="main.aircraft.list" -->
					<div class="static">
						0
					</div>
					<div class="heading">
						Number of Payments{{calendarEvent}}
					</div>
				</div>
			</div>
		</div>
		<br><br>
	</div>
	<div class="col-lg-10 col-md-10 col-lg-push-1 col-md-push-1 col-sm-12" ng-if="isEvents" style="background: #fff; padding: 10px; border-radius: 5px;">
		<!-- <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div> -->
		<div class="row" style="height: 114px;">

	        <div class="col-md-6 text-center" >
	          <div class="btn-group">

	            <button
	              class="btn btn-primary"
	              mwl-date-modifier
	              date="viewDate"
	              decrement="calendarView">
	              Previous
	            </button>
	            <button class="btn btn-default" mwl-date-modifier date="viewDate" set-to-today style="color: #0f1626 !important; background-color: #eee !important;">Today</button>
	            <button
	              class="btn btn-primary"
	              mwl-date-modifier
	              date="viewDate"
	              increment="calendarView">
	              Next
	            </button>
	          </div>
	        </div>

	        <br class="visible-xs visible-sm">

	        <div class="col-md-6 text-center">
	          <div class="btn-group">
	            <label class="btn btn-primary" ng-model="calendarView" ng-click="clickEvent(calendarView)" uib-btn-radio="'year'">Year</label>
	            <label class="btn btn-primary" ng-model="calendarView" ng-click="clickEvent(calendarView)" uib-btn-radio="'month'">Month</label>
	            <label class="btn btn-primary" ng-model="calendarView" ng-click="clickEvent(calendarView)" uib-btn-radio="'week'">Week</label>
	            <label class="btn btn-primary" ng-model="calendarView" ng-click="clickEvent(calendarView)" uib-btn-radio="'day'">Day</label>
	          </div>
	        </div>

	      </div>
	      <mwl-calendar
				view="calendarView"
			    view-date="viewDate"
			    events="eventddd"
			    view-title="calendarTitle"
			    on-event-click="eventClicked(calendarEvent)"
			    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
				    cell-is-open="true">
		 </mwl-calendar>
		 
					<br><br>
		<style type="text/css">
			.fc-today {
			    background: #333 !important;
			    border: none !important;
			    /*border-top: 5px solid #007aff !important;*/
			    color: #FFF;
			    font-weight: bold;
			}
		</style>
	</div>	
</div>
<style type="text/css">
	.cst-cards{
	}
	.cst-cards .cst-card{
		background: #fff;
	    vertical-align: middle;
		/*width: 100%;*/
		margin-top: 10px;
		height: auto;
		padding: 10px;
		text-align: center;
		border-radius: 5px;
		box-shadow: 0 5px 15px rgba(0,0,0,0.25);
		cursor: pointer;
	}
	.cst-cards .cst-card.cst-card-auto{
		width: auto;
	}
	.cst-cards .cst-card:last-child{
		margin-right: 0;
	}
	.cst-cards .cst-card .static{
		font-size: 50px;
		display: block;
		font-weight: bold;
		letter-spacing: 3px;
		opacity: 0.75;
	}
	.cst-cards .cst-card .heading{
		display: block;
	    font-size: 18px;
	    font-weight: bold;
	    letter-spacing: 1px;
	}
</style>