<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Booking</h4>
            </div>
    <div class="panel-body">
    	<div class="row">
    		<!-- contant Person and booking details -->
    		<div class="col-md-12">
    			 <table class="table table-striped table-bordered">
    			 	<tr>
    			 		<td>Booking Number</td>
    			 		<td>{{new.bookingNumber}}</td>
    			 	</tr>
    			 	<tr>
    			 		<td>Created at</td>
    			 		<td>{{new.time}}</td>
    			 	</tr>
    			 	<tr>
    			 		<td>Contact Person</td>
    			 		<td>{{new.contact.title+' '+new.contact.name}}</td>
    			 	</tr>
    			 	<tr>
    			 		<td>Contact Number / Alternate Number</td>
    			 		<td>{{new.contact.phone_number+' / '+new.contact.alternate_number}}</td>
    			 	</tr>
    			 	<tr>
    			 		<td>Email</td>
    			 		<td>{{new.contact.email}}</td>
    			 	</tr>
    			 	<tr>
    			 		<td>Status</td>
    			 		<td>{{new.status}}</td>
    			 	</tr>
    			 </table>
    			 <hr>
    			 <h2>Pessanger Details</h2>
                 <div class="table-crew-member">
    			 <table class="table table-striped table-bordered">
    			 	<thead>
    			 		<th>#</th>
    			 		<th>Name</th>
    			 		<th>Age</th>
    			 		<th>Nationlity</th>
    			 		<th>Food</th>
    			 		<th>Identification</th>
                        <th>Identification Number</th>
                        <th>Edit</th>
    			 	</thead>
    			 	<tr ng-repeat="x in new.pessanger_detail">
    			 		<td>{{$index+1}}</td>
    			 		<td>{{x.title+' '+x.name}}</td>
    			 		<td>{{x.age}}</td>
    			 		<td>{{x.nationlity}}</td>
    			 		<td>{{x.food}}</td>
    			 		<td>{{x.identification}}</td>
                        <td>{{x.identification_no}}</td>
                        <td> <a ng-click="addPassanger('Edit',x)"><i class="fa fa-edit"></i></a></td>
    			 	</tr>
    			 </table>
                 <p class="add-crew-member">
                    <a ng-click="addPassanger('Add')">Add</a>
                 </p>
             </div>
    			 <hr>
    			 <h2>Aircraft Destinations</h2>
    			 <table class="table table-striped table-bordered">
    			 	<thead>
    			 		<th>#</th>
    			 		<th>Origin</th>
    			 		<th>Destination</th>
    			 		<th>Departure Time</th>
    			 	</thead>
    			 	<tr ng-repeat="x in new.roots">
    			 		<td>{{$index+1}}</td>
    			 		<td>{{x.originName}}</td>
    			 		<td>{{x.destinationName}}</td>
    			 		<td>{{x.deptime}}</td>
    			 	</tr>
    			 </table>
    		</div>
    	</div>
    </div>
</div>

<script type="text/ng-template" id="passenger-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{actionTaken}} Passanger</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="addEditPass" ng-submit="submitData(addEditPass.$valid)" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" >
                        <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Salutation</label>
                        <div class="col-md-12">
                            <select  class="form-control" ng-model="addPassData.title">
                                <option style="display:none" selected="selected" value=""></option>
                                    <option value="Mr." selected>Mr.</option>
                                    <option value="Mrs.">Mrs.</option>
                                    <option value="Ms.">Ms.</option>
                                    <option value="Dr.">Dr.</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-success':addEditPass.crewname.$valid && !addEditPass.crewname.$pristine,'has-error':addEditPass.crewname.$invalid && !addEditPass.crewname.$pristine}">
                    <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Passanger Name</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="crewname" placeholder="Passanger Name" ng-model="addPassData.name" required>
                    </div>
                    </div>                
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-success':addEditPass.desig.$valid && !addEditPass.desig.$pristine,'has-error':addEditPass.desig.$invalid && !addEditPass.desig.$pristine}">
                        <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Age</label>
                        <div class="col-md-12">
                        <input type="number" min="0" placeholder="Age" nam="desig" class="form-control"
                                                ng-model="addPassData.age" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" >
                        <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Gender</label>
                        <div class="col-md-12">
                          
                            <select  class="form-control" ng-model="addPassData.gender">
                                 <option style="display:none" selected="selected" value=""></option>
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" >
                    <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Nationality</label>
                    <div class="col-md-12">
                        <select  class="form-control" ng-model="addPassData.nationlity">
                            <option style="display:none" selected="selected" value=""></option>
                            <option value="indian">Indian</option>
                            <option value="other">other</option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" >
                    <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Food</label>
                    <div class="col-md-12">
                        <select  class="form-control" ng-model="addPassData.food">
                             <option style="display:none" selected="selected" value=""></option>
                           <option value="veg">veg</option>
                                <option value="non veg">non veg</option>
                        </select>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                <div class="form-group" >
                    <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Identity Type</label>
                    <div class="col-md-12">
                        <select  class="form-control" ng-model="addPassData.identification" required>
                                <option style="display:none" selected="selected" value=""></option>
                                <option value="Adhaar" >Adhaar Card</option>
                                <option ng-if="addPassData.age >= 18" value="Dl">Driving Licence</option>
                                <option value="Passport">Passport</option>
                            </select>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" >
                    <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Identification No.</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" name="passportName" placeholder="Identification No." ng-model="addPassData.identification_no" required>
                    </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <!-- <label class="col-md-6 control-label"></label> -->
                        <div class="col-md-12 text-center">
                            <button type="submit" ng-disabled="addEditPass.$invalid" style=" padding: 6px 25px; margin-bottom: 0px !important;" class="btn btn-sm btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</script>