<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
        </div>
        <h4 class="panel-title">Booking</h4>
    </div>
    <!-- <div class="row" style="padding: 0 15px; ">
        <div class="col-md-12"><h2>Filter</h2></div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="bookingSearch.bookingNumber" type="text" class="form-control" placeholder="Search by Booking Number">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="bookingSearch.contact.name" type="text" class="form-control" placeholder="Search by Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="bookingSearch.contact.email" type="text" class="form-control" placeholder="Search by Email">
            </div>
        </div> -->

    
    <div class="panel-body">
        <button ng-click="exportDataXLS()">Download Xls</button>
        <button ng-click="exportDataPdf()">Download pdf</button>
        <table id="data-table" class="table table-striped table-bordered">

            <thead>
                <tr ng-show="!show">
                    <td colspan="5">Filters</td>
                </tr>
                <tr ng-show="!show">
                    <td> <input ng-model="bookingSearch.bookingNumber" style="width: 100%" type="text" class="" placeholder="Search by Booking Number"></td>
                    <td><input ng-model="bookingSearch.contact.name" style="width: 100%" type="text" class="" placeholder="Search by Name"></td>
                    <!-- <td></td> -->
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Booking Number</th>
                    <th>Contact Person (Number)</th>
                    <!-- <th>Created at</th> -->
                    <th>Number of Destinations</th>
                    <th>Number of pessanger</th>
                    <th ng-show="!show">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in (Bookings | filter:bookingSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                    <td>{{x.bookingNumber}}</td>
                    <td>{{x.contact.title+' '+x.contact.name+' ('+x.contact.phone_number+')'}}</td>
                    <!-- <td>{{x.time}}</td> -->
                    <td>{{x.roots.length}}</td>
                    <td>{{x.pessanger_detail.length}}</td>
                    <td ng-show="!show">
                        <a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a>
                        
                    </td>
                    
                </tr>
            </tbody>

        </table>
        <div ng-show="showPagination">
            <ul uib-pagination total-items="(Bookings | filter:bookingSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<!-- end panel-->

<div id="exportTab">
    <table ng-show="show" class="table table-striped table-bordered">
         <thead>
                <tr>
                    <th>Booking Number</th>
                    <th>Contact Person (Number)</th>
                    <th>Created at</th>
                    <th>Number of Destinations</th>
                    <th>Number of pessanger</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in Bookings | filter:bookingSearch">
                    <td>{{x.bookingNumber}}</td>
                    <td>{{x.contact.title+' '+x.contact.name+' ('+x.contact.phone_number+')'}}</td>
                    <td>{{x.time}}</td>
                    <td>{{x.roots.length}}</td>
                    <td>{{x.pessanger_detail.length}}</td>
                </tr>
            </tbody>
        </table>
</div>
<script type="text/ng-template" id="booking-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Booking</h4>
            </div>
    <div class="panel-body">
    	<div class="row">
    		<!-- contant Person and booking details -->
    		<div class="col-md-12">
    			 <table class="table table-striped table-bordered">
    			 	<tr>
    			 		<td>Booking Number</td>
    			 		<td>{{new.bookingNumber}}</td>
    			 	</tr>
    			 	<tr>
    			 		<td>Created at</td>
    			 		<td>{{new.time}}</td>
    			 	</tr>
    			 	<tr>
    			 		<td>Contact Person</td>
    			 		<td>{{new.contact.title+' '+new.contact.name}}</td>
    			 	</tr>
    			 	<tr>
    			 		<td>Contact Number / Alternate Number</td>
    			 		<td>{{new.contact.phone_number+' / '+new.contact.alternate_number}}</td>
    			 	</tr>
    			 	<tr>
    			 		<td>Email</td>
    			 		<td>{{new.contact.email}}</td>
    			 	</tr>
    			 	<tr>
    			 		<td>Status</td>
    			 		<td>{{new.status}}</td>
    			 	</tr>
    			 </table>
    			 <hr>
    			 <h2>Pessanger Details</h2>
    			 <table class="table table-striped table-bordered">
    			 	<thead>
    			 		<th>#</th>
    			 		<th>Name</th>
    			 		<th>Age</th>
    			 		<th>Nationlity</th>
    			 		<th>Food</th>
    			 		<th>Passport Number</th>
    			 	</thead>
    			 	<tr ng-repeat="x in new.pessanger_detail">
    			 		<td>{{$index+1}}</td>
    			 		<td>{{x.title+' '+x.name}}</td>
    			 		<td>{{x.age}}</td>
    			 		<td>{{x.nationlity}}</td>
    			 		<td>{{x.food}}</td>
    			 		<td>{{x.passportNumber}}</td>
    			 	</tr>
    			 </table>
    			 <hr>
    			 <h2>Aircraft Destinations</h2>
    			 <table class="table table-striped table-bordered">
    			 	<thead>
    			 		<th>#</th>
    			 		<th>Origin</th>
    			 		<th>Destination</th>
    			 		<th>Departure Time</th>
    			 	</thead>
    			 	<tr ng-repeat="x in new.roots">
    			 		<td>{{$index+1}}</td>
    			 		<td>{{x.originName}}</td>
    			 		<td>{{x.destinationName}}</td>
    			 		<td>{{x.time}}</td>
    			 	</tr>
    			 </table>
    		</div>
    	</div>
    </div>
</div>
</script>