@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
	
/* Admin Panel */
body {
	background: rgba(102, 102, 102, 0.1);
	color: #000;
	font-family: 'Open Sans', sans-serif !important; 
	font-weight: 400;
}

header.dashboard-header {
	padding: 14px 0;
}
li.dropdown.navbar-user a.dropdown-toggle {
    font-size: 20px;
    text-transform: capitalize;
    top: 4px;
    right: 4px;
    color: #0f1626;
}
.sidebar {
	position: fixed;
	padding-top: 78px;
    background: #0f1626;
    width: 250px;
    overflow: auto;
    height: 100%;
}
.sidebar .nav > li > a {
	padding: 12px 20px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 100;
    cursor: pointer;
    margin-bottom: 0;
}
.sidebar .sub-menu > li > a {
	font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
}
.breadcrumb {
    background-color: #ffffff;
}
.navbar-nav > li > a .label, .sidebar .nav > li.active > a, .sidebar .nav > li.active > a:focus, .sidebar .nav > li.active > a:hover, .navbar-nav > li > a .user-image.online:before, .page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a, .page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a, .page-sidebar-minified .sidebar .nav > li.has-sub.active > a, .label.label-theme, .btn.btn-scroll-to-top {
    background: #ec4f20 !important;
    font-weight: 500;
}
.sidebar .sub-menu > li > a:hover, .sidebar .sub-menu > li > a:focus, .sidebar .sub-menu > li.active > a, .sidebar .sub-menu > li.active > a:hover, .sidebar .sub-menu > li.active > a:focus{
	background: rgba(237, 84, 38, 0.9) !important;
    font-weight: 500 !important;	
}

.navbar-brand>img {
    display: block;
    position: relative;
    top: -13px;
    max-width: 140px;
}

.content {
    margin-left: 250px;
    padding: 95px 25px 20px 25px;
}
button {
	background: #0f1626;
	border: none !important;
	color: #fff !important;
	padding: 10px 20px;
	border-radius: 0 !important;
	margin: 15px 15px 15px 0px !important;
	font-size: 14px !important;
	letter-spacing: 1.5px;
}

.panel-inverse .panel-heading {
    background: #0f1626;
    padding: 15px 15px;
}
.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.table th {
    text-align: center;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 10px 10px;
	line-height: normal;
	vertical-align: top;
	border-top: 1px solid #ddd;
	font-size: 14px;
    text-align: center;
    text-transform: capitalize;
}
.table>tbody>tr>td input, .table>tbody>tr>th input, .table>tfoot>tr>td input, .table>tfoot>tr>th input, .table>thead>tr>td input, .table>thead>tr>th input {
	padding: 10px;
    outline: 0;
    border: 1px solid #ddd;
}
.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background: rgba(57, 77, 123, 0.21);
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background: #0f1626 !important;
    border-color: #0f1626 !important;
}
.pagination>li>a, .pagination>li>span {
	color: #0f1626;	
}
.panel {
    margin-bottom: 0;
}
.panel-body.ng-scope {
    background: #fff;
}
.btn.btn-primary {
	color: #fff;
    background: #0f1626;
    border-color: #0f1626;
}
.btn.btn-warning {
	color: #fff;
    background: #ec4f20;
    border-color: #ec4f20;	
}

.row.custom-top-added-form {
    margin: 0;
    position: relative;
}
.form-horizontal .control-label {
    text-align: left;
    padding-left: 0;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
}
.row.custom-top-added-form h2 {
    padding: 0;
    font-size: 25px;
}
.row.custom-top-added-form button.close {
    position: absolute;
    top: 0;
    right: 0;
    color: #0f1626;
    opacity: 1;
    z-index: 2;
}
.form-control:focus {
	border-color: #eee!important;
    outline: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.form-horizontal .form-group {
	margin-right: 0;
    margin-left: 0;
}

.inputfile:focus + label, .inputfile + label:hover {
	border: 1px solid #222222 !important;
	box-shadow: none !important;
	transform: scale(1) !important;
}
.dropdown-menu>li>a {
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #0f1626 !important;
    font-size: 16px;
    letter-spacing: 1px;
    display: block;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.dropdown-menu>li:last-child>a {	
    border-bottom: 0px solid #eee;
    padding-bottom: 7px;
    margin-bottom: 0px;	
}
td.link-color {
    text-align: center;
}
td.link-color a {
    color: #0f1626;
    font-weight: 600;
    position: relative;
    top: 6px;
    cursor: pointer;
}
td.link-color a:before {
    content: "\f019";
    font-family: fontawesome;
    font-size: 10px;
    margin-right: 8px;
}
select.col-select-company {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: 0;
}

.custom-label-center-align .control-label {
    text-align: center !important;
}
.custom-label-center-align label.col-md-1.control-label.ng-binding {
    text-align: center !important;
}
.col-md-1.custom-label-center-align {
    text-align: center;
    padding-left: 0;
}

form.view .form-control[disabled], form.view .form-control[readonly], form.view fieldset[disabled] .form-control {
    border: 0;
    box-shadow: none;
    -webkit-appearance: none;
    resize: none;
    cursor: text;
    color: #000;
    background-color: transparent;
    padding: 15px 0;
    height: initial;
}
form.view div.col-md-12:nth-child(even) {
    background: rgba(15, 22, 38, 0.12);
}
form.view .form-group.col-md-6 {
    margin: 0;
}

form.view .control-label {
    text-align: left;
    padding-left: 0;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 15px 0;
}
form.view legend {
    margin-top: 15px;
    display: block;
    margin-bottom: 0;
    padding: 10px 22px;
    color: #fff;
    background: #0f1626;
}
.custom-legend-styling {
    padding: 0 1px!important;
    margin: 0 0px !important;
    width: initial !important;
    margin-top: 15px !important;
    margin-bottom: 0;
    color: #fff;
    background: #0f1626;
}
.custom-legend-styling label {
    background: transparent !important;
    color: #fff;
}

/* Extra */
.slimScrollBar {     
    display: none !important; 
}
.panel-body button {
    color: #fff !important;
}
.cst-cards .cst-card {  
    border: 2px solid rgba(15, 22, 38, 0.2);
    margin-top: 5px !important;
    background: #f5f5f5 !important;
}
.pagination > li > a, .pagination > li > span {
    color: #0f1626 !important;
}
ol.breadcrumb li a {
    color: #0f1626;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #222 !important;
    border-color: #222 !important;
    color: #fff !important;
}

/* Operator View */
.custom-operator-view {
    margin: -15px 0px;
}
.custom-operator-view > .row > div {
    padding: 0;
}
.custom-operator-view .custom_detail {
    margin-bottom: 8px;
}
.custom-operator-view .custom_detail h2 {
    margin: 0;
    background: #eee;
    padding: 10px 15px;
    font-size: 16px;
    letter-spacing: 1px;
    border-right: 1px solid #fff;
    color: #000;
}
.custom-operator-view .custom_detail select {
    border: 0 !important;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px 15px;
    margin: 0;
    color: #000;
    letter-spacing: 0.3px;
    font-size: 13px;
    line-height: normal;
    word-break: break-all;
    height: initial;
    background: transparent;
    text-transform: capitalize;
}
/*.custom-operator-view .custom_detail h2:last-child {
    border-right: 0;
}*/
.custom-operator-view .custom_detail p {
    padding: 10px 15px;
    margin: 0;
    color: #000;
    letter-spacing: 0.3px;
    font-size: 15px;
    line-height: normal;
    word-break: break-all;
}
.custom-operator-view .flex-model .custom_detail {
    margin: 0 -15px;
}
.flex-model .custom_detail table {
    width: 100%;
}
h2.last-custom-heading {
    color: #000;
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 22px;
}
.table-crew-member p.add-crew-member {
    margin: -20px 0 20px;
    text-align: right;
    padding: 0;
}
.table-crew-member p.add-crew-member a {
    padding: 10px 43px;
    border-radius: 0 !important;
    margin: 0 !important;
    font-size: 14px !important;
    letter-spacing: 1.5px;
    background: #0f1626;
    display: inline-block;
    color: #fff;
}