/* import files only */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,700,900');

/* 1. Basic */
/* 2. Form */
/* 3. Header */
	/* 3.1. Logo */
	/* 3.2. Menu */
/* 4. Body Section */
/* 5. Miscllenious Pages Section */
	/* 5.1. Home page*/
	/* 5.2. About page*/	
	/* 5.3. Contact-us page*/
/* 6. Footer */
	/* 6.1. Copyright */
/* 7. Media Queries */


/* 1. Basic */
body{
	margin: 0;
	font-family: Montserrat;
	line-height: 1.5;
	font-size: 15px;
	background: #fff;
    -webkit-overflow-scrolling: touch;
}
body {
    /*background: #1c92d2;*/
    /*background: -moz-linear-gradient(top, #f2fcfe 0%, #1c92d2 100%);
    background: -webkit-linear-gradient(top, #f2fcfe 0%,#1c92d2 100%);
    background: linear-gradient(to bottom, #f2fcfe 0%,#1c92d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2fcfe', endColorstr='#1c92d2',GradientType=1 );*/
}

html, body {
    height: 100%;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #094469;
}

::selection {
    color: #fff; 
    background: #094469;
}
.center{text-align:center}.right{text-align:right}
.red{color:red}.blue{color:red}.white{color:white}.brown{color:brown}.green{color:green}
img{width: 100%;}.img{width: 100%;}

.round {
  position: relative;
}

.cls-autocomplete{
	position: relative;
	z-index: 100;
}
/*.cls-autocomplete .form-control{
	position: absolute;
}*/
.cls-autocomplete .autocomplete-container{
	position: absolute;
    width: 92%;
    left: 0;
    top: 40px;
    max-height: 200px;
    overflow-y: auto;
    background-color: rgba(125, 125, 125, 0.95);
    padding: 10px;
    margin-left: 4%;
    border-radius: 4px;
    border: 1px solid rgba(130, 130, 130, 0.95);
}
.cls-autocomplete .autocomplete-container ul{
	padding-left: 0px;
	margin-top: 0;
}
.cls-autocomplete .autocomplete-container ul li{
	list-style: none;
    font-size: 12px;
    padding: 10px 5px;
    border-bottom: 1px solid #a9a9a9;
    margin-bottom: 5px;
    color: #fff;
    cursor: pointer;
}
.cls-autocomplete .autocomplete-container ul li:last-child{
	border-bottom:none;
}
.cls-autocomplete .autocomplete-container ul li span{
	margin-right: 5px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    transition: all .2s ease-in-out;
    font-size: 1.25em;
    font-weight: 400;
    color: #222222;
    padding: 5px 20px;
    background-color: transparent;
    display: inline-block;
    border: 1px solid #222222;
    margin-right: 20px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    border: 1px solid #222222;
    box-shadow: 1px 1px 10px 3px #000;
    color: #red;
    transform: scale(1.1);
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile + label i.fa{
	font-size: 90px;
    color: #ccc;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);  
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
/*.inputfile:focus + label i.fa,.inputfile + label i.fa:hover{
-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}*/
.cls-gallary{
}
.cls-gallary .gallary-img{
	display: inline-block;
	width:100px;
	height: 100px;
	padding: 10px;
	position: relative;
}
.cls-gallary .gallary-img img.thumb{
	position: absolute;
	z-index: 0;
	width:90px;
	height: 90px;
}
.cls-gallary .gallary-img .delete-img{
	position: absolute;
    top: 0px;
    right: -9px;
    z-index: 1;
    font-size: 14px;
    width: 20px;
    height: 20px;
    line-height: 18px;
}
.content{
	margin-left: 220px;
    padding: 20px 25px;
}
.cls-view{
	text-align: center;
    color: #000;
    font-size: 17px;
    border-bottom: 1px solid rgba(138, 138, 138, 0.72);
    background-color: #d7dfe2;
    padding: 6px 3px;
}
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.movableAddress-body{
	padding: 2px 10px;
    max-height: 350px;
    overflow-y: auto;
}
.movableAddress-body > .round{
	border-bottom: 1px solid #ccc;
    margin-top: 12px;
}
.movableAddress-body > .round > div{
	display: inline-block;
    margin-left: 20px;
    min-height: 40px;
    margin-top: -7px;
}
.movableAddress-body > .round > div >span.coin{
	display: block;
    color: #585353;
    font-weight: 300;
}
.modal-footer-custom{
	position: absolute;
    background: #fff;
    width: 100%;
    margin-top: -5px;
    border-radius: 0 0 5px 5px;
    border-top: 2px solid #c1bebe;
}
.modal-footer-custom button{
	float: right;
}
    
a{
	text-decoration: none;
	color: blue;
	transition: 0.4s ease all;
	-webkit-transition: 0.4s ease all;
	-moz-transition: 0.4s ease all;

}
a:hover{
	color: red;
}
p{
	margin: 0 0 10px;
}
h1, h2, h3, h4, h5, h6{
	margin: 10px 0 15px;	
    font-family: inherit;
    line-height: 1.6;
}

h1{
	font-weight: 300;
}

/* 2. Form */
form{
	display: block;
	margin: 0 0 20px;
}
form > input, 
form > input[type="text"], 
form > textarea {
        display: block;
    margin: 10px 0 20px;
    width: 100%;
    height: 50px;
    padding: 6px 10px;
    text-align: left;
    font-family: inherit;
    line-height: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
form > input:hover, 
form > input[type="text"]:hover, 
form > textarea:hover{
	outline: none;
	border-color: #1c92d2;
	transition: 0.4s all ease;
}
form > input:focus, 
form > input[type="text"]:focus, 
form > textarea:focus{
	outline: none;
	border-color: #1c92d2;
	transition: 0.4s all ease;
}

button {
    background: #1c92d2;
    border: none !important;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0 !important;
    margin: 15px 15px 15px 0px !important;
    font-size: 12px !important;
    letter-spacing: 1px;
}

/* 3. Header */
	/* 3.1. Logo */
	.custom-logo{}

	.custom-logo img {
	    display: none;
	}
	.custom-logo p {
	    margin: 0;
	    position: relative;
	    padding: 20px 0;
	    width: auto;
	    display: inline-block;
	}
	.custom-logo p img {
	    max-width: 200px;
	}
	.custom-logo p img + label {
	    display: block;
	    position: absolute;
	    color: #094469;
	    bottom: 10px;
	    right: 6px;
	    margin: 0;
	    font-weight: 400;
	}
	
	/* 3.2. Menu */
	.custom-menu-wrapper{}
	.custom-menu ul {
	    display: block;
	    padding: 30px 0 0;
	    margin: 0;
	    list-style: none;
	    text-align: right;
	}
	.custom-menu ul li{
		display: inline-block;
		padding: 0 10px;
		margin-bottom: 5px;
	}
	.custom-menu ul li img {
	    max-width: 25px;
	    display: inline-block;
	}
	.custom-menu ul li a{
		text-decoration: none;
	}
	.custom-menu ul li a span {
	    color: #000;
	    position: relative;
	    top: 1px;
	    font-size: 20px;
	}
	.custom-menu ul li a span.bal {
	    font-size: 15px;
	    text-transform: uppercase;
	    background: #094469;
	    display: inline-block;
	    color: #FFF;
	    padding: 2px 10px;
	    position: relative;
	    top: 0px;
	}
	/* Pagination */
	.pagination-wrapper {
	    padding: 30px 0;
	}
	.pagination-wrapper p {
	    background: #094469;
	    display: inline-block;
	    margin: 0;
	    cursor: pointer;
	}
	.pagination-wrapper p a {
	    color: #fff;
	    font-size: 15px;
	    font-weight: 400;
	    padding: 5px 20px;
	    display: block;
	    text-decoration: none;
	}
	.pagination-wrapper p a i {
	    position: relative;
	    margin: 0 5px;
	    top: 1px;
	}
/* 4. Body Section */


/* 5. Miscllenious Pages Section */
	/* 5.1. Home page*/
	/* 5.2. About page*/	
	/* 5.3. Contact-us page*/
	/* Login */
	.login-form-wrapper {
	    background: rgba(255,255,255,1);
	    padding: 30px;
	    margin: 60px 0 0;
	}
	.login-form-wrapper h3 {
	    font-size: 35px;
	    color: #000;
	    font-weight: 300;
	    margin: 15px 0 15px;
	    line-height: 1.4;
	}
	.login-form-wrapper p {
	    font-size: 15px;
	    color: #000;
	    margin: 0;
	    line-height: normal;
	    font-weight: 300;
	}

	.login-form-wrapper button {
	    background: #1c92d2;
	    border: 0;
	    height: 50px;
	    padding: 10px 30px;
	    color: #fff;
	    width: 50%;
	    border-radius: 25px;
	}
	/* Dashboard */
	header.dashboard-header {
	    background: #fff;
	    /*background: -moz-linear-gradient(left, #ffffff 0%, #d0d4dd 100%);
	    background: -webkit-linear-gradient(left, #ffffff 0%,#d0d4dd 100%);
	    background: linear-gradient(to right, #ffffff 0%,#d0d4dd 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0d4dd',GradientType=1 );*/
	    box-shadow: 0px 2px 6px #000;
	    position: fixed;
	    width: 100%;
	    z-index: 99999;
	    /*border-bottom: 1px solid rgba(0,0,0,0.4);*/
	}
	header.dashboard-header .sub-header{
		padding: 10px 50px;
		font-size: 16px;
		text-align: center;
	}
	header.dashboard-header .sub-header span.badge{
		font-weight: normal;
		background: #1c92d2;
		padding: 10px 12px;
		margin-top: 0;
		font-size: 12px;
		border-radius: 0;
	}
	header.dashboard-header .sub-header button{
		display: block;
		background: #1c92d2;
		border: none;
		color: #fff;
		padding: 5px 20px;
		border-radius: 30px;
		margin-left: auto;
		margin-right: 0;
		margin-top: 10px;
	}
	input[type=search]{
		padding: 10px 20px;
	    border-radius: 0 !important;
	    margin: 15px 0px 15px 15px !important;
	    font-size: 12px !important;
        width: 10% !important;
        transition: 0.3s ease all;
        -webkit-transition: 0.3s ease all;
        -moz-transition: 0.3s ease all;
	}
	input[type=search]:focus{
		width: 20% !important;
	}
	.right{
		text-align: right;
	}
	.logout{
		display: block;
		color: #000;
	    position: relative;
	    top: 1px;
	    font-size: 20px;
	    text-align: right;
	}
	.dashboard-mainarea {
		padding: 0;
	    padding-top: 76px;
	}
	.dashboard-mainarea .func-btn{
		margin-bottom: 15px;
	}
	.dashboard-mainarea .deposit-btn{
		background: #fff;
		border: none;
		color: #1c92d2;
		padding: 5px 20px;
		border-radius: 30px;
		float: right;
	}
	.dashboard-mainarea .table{
		margin: 0 auto;
		background: #fff;
	    width: 90%;
        text-align: center;
	}
	.dashboard-mainarea .table th	{
		background: #1c92d2;
		color: #fff;
	}
	.dashboard-mainarea .table tr.less{
		background: #FFE4B5;
	}
	.m-btn{
		display: block;
	    background: #1c92d2;
	    border: none;
	    color: #fff;
	    padding: 5px 20px;
	    border-radius: 30px;
	}
	a.moveToMaster{
		color: #fff;
	    background-color: #1c92d2;
	    padding: 10px 20px;
	    font-size: 13px;
	    font-weight: 400;
	}
	a.logout {
	    background: #1c92d2;
	    border: none !important;
	    color: #fff;
	    padding: 10px 20px;
	    border-radius: 0 !important;
	    font-size: 12px !important;
	    letter-spacing: 1px;
	    position: relative;
	}
	a.logout:after {
	    content: "\f08b";
	    font-family: fontawesome;
	    margin-left: 7px;
	}
	header.dashboard-header .sub-header {
	    font-size: 15px;
	    font-weight: 300;
	    text-align: center;
	}	
	/* fancybox */
	.fancymodal-content {
	    padding: 0 !important;
	    background: #fff !important;
	}
	.modal-header {
	    background: #1c92d2;
	    color: #fff;
	    text-align: center;
	    font-size: 22px;
	}
	.modal-header h3 {
	    font-weight: 300;
	}
	.fancymodal .fancymodal-close:before {
		color:#fff;
	}
	.modal-body ul {
	  padding: 0 10px;
	}
	.modal-body ul li {
        font-weight: 300;
	    list-style: none;
	    padding: 15px 0px;
	    border-bottom: 1px solid #ccc;
	}
	.modal-body ul li:last-child {
	    margin-bottom: 0px;
	}

	.modal-body>ul>li>span:first-child {
	    display: block;
	    font-weight: 400;
	    text-decoration: underline;
	    margin-left: 5px;
	}
.modal-body>ul>li>span:last-child {
    display: block;
    font-weight: 300;
    margin-left: 15px;
    color: #6f6e6e;
}

.modal-body>ul>li> table{
	width:100%;
}

.modal-body>ul>li> table tr:last-child{
	color:#c0c0c0;
}
.modal-body>ul>li> table td{
	    padding-left: 17px;
    padding-top: 5px;
}
	/*.accounts-heading {
	    padding: 50px 0 0;
	}
	.accounts-heading h1, .accounts-summary-heading h1 {
	    font-weight: 200;
	    font-size: 50px;
	    margin-bottom: 0;
	}
	.accounts-heading h6 {
	    font-size: 15px;
	    text-transform: uppercase;
	    background: #094469;
	    display: inline-block;
	    color: #FFF;
	    padding: 2px 10px;
	}*/
	/* Accounts Summary */
	.accounts-logo {
	    width: 45px;
	    height: 45px;
	    display: inline-block;
	    vertical-align: middle;
        margin-right: 10px;
	}
	.accounts-logo img {
	    width: 100%;
	    height: 100%;
	}
	p.acc-details > span {
	    font-size: 15px;
	    background: #094469;
	    display: inline-block;
	    color: #FFF;
	    padding: 2px 10px;
	    margin: 0;
	}
	p.acc-no {
	    font-size: 25px;
	    color: #094469;
	    font-weight: 400;
	}
	.account-summary {
    	width: auto;
	    display: inline-block;
	    vertical-align: middle;
	}
	.accounts-wrapper {
	    margin: 20px 0;
	    /*border-bottom: 1px solid #000;*/
	    padding-bottom: 20px;
	    width: calc(100%/2.1);
	    margin-right: 2%;
	    background: #fff;
	    padding: 20px;
	    display: inline-block;
	}
	p.acc-add {
	    font-weight: 300;
	    margin: 0;
	    background: rgba(9,68,105,0.1);
	    padding-right: 10px;
	    color: #000;
        font-size: 12px;
	}
	p.acc-add img {
	    width: 25px;
	    margin-right: 5px;
	    cursor: pointer;
	}
	/* Table */
	section.dashboard-mainarea.ng-scope > div {
	    width: 90%;
	    margin: 0 auto;
	}
	button.m-btn {
		margin-top: 0 !important;
		margin-bottom: 10px !important;
		margin-right: auto !important;
		margin-left: auto !important;
	}
	.dashboard-mainarea .table tr > td {
	    padding-top: 15px !important;
	    padding-bottom: 0;
        font-weight: 300;
	}
	.dashboard-mainarea .table tr:first-child > th {
	    padding: 15px 10px;
	    font-size: 18px;
	    font-weight: 300;
	    text-align: center;
	}
	.dashboard-mainarea .table tr.ng-scope:nth-child(odd) {
	    background: #eee;
	}
	.dashboard-mainarea .table tr > td a {
 	   color: #1c92d2;
	    font-weight: 400;
	    text-decoration: none;
	}
	/* Account Page */
	.account-holder-icon {
	    display: inline-block;
	    vertical-align: middle;
	    margin-right: 10px;
	}
	.account-holder-icon img {
	    max-width: 40px;
	}
	.account-holder-details {
	    display: inline-block;
	    vertical-align: middle;
	}
	.account-holder-details-wrapper {
	    margin-top: 40px;
	}
	.account-holder-details h1 {
	    color: #094469;
	    margin-bottom: 0;
	    line-height: 1.2;
	}
	p.account-balance {
	    color: #094469;
	}
	p.account-balance span.bal {
	    background: #094469;
	    display: inline-block;
	    color: #FFF;
	    padding: 2px 10px;
	    margin-right: 10px;
	}
	p.account-address {
	    margin: 10px 0 15px;
	    color: #000;
	}
	p.account-address img {
	    width: 20px;
	    margin-right: 5px;
	}
	.account-holder-details-wrapper {
	    margin-top: 40px;
	    border-bottom: 10px solid #094469;
	    padding-bottom: 40px;
	}
	.account-transaction-wrapper {
	    margin-top: 50px;
	    margin-bottom: 50px;
	}
	.account-transaction-wrapper h1 {
	    color: #094469;
	}
	.account-transaction-wrapper h1 span {
	    background: #094469;
	    display: inline-block;
	    color: #FFF;
	    padding: 2px 10px;
	}
	/* Dashboard */
	.transaction-table {
	    text-align: center;
	}
	.account-transaction-wrapper h1 {
	    font-weight: 300;
	}
	.account-transaction-wrapper h1 + p {
	    background: #094469;
	    display: inline-block;
	    color: #FFF;
	    padding: 2px 5px;
	    font-weight: 500;
	    margin: 0;
	    text-transform: capitalize;
	}
	.transaction-table-row:nth-child(odd) {
	    background: #ccc;
	}
	.transaction-table-row:nth-child(even) {
	    background: #fff;
	}
	.transaction-table-row > div.head {
		font-weight: 400;
	    text-transform: uppercase;
	}
	span.add {
	    width: 100%;
	    overflow: auto;
	    display: block;
	}
	.transaction-table-row > div {
	    padding: 10px 0;
	    font-size: 16px;
	    font-weight: 300;
	    color: #000;
	}
	.transaction-date {
	    display: inline-block;
	    width: 20%;
        vertical-align: top;
	}
	.transaction-date {
	    text-align: center;
	}
	.transaction-date span.date {
	    display: block;
	    font-size: 25px;
	    font-weight: 400;
	    color: #094469;
	}
	.transaction-date span.month {
	    display: block;
	    margin-top: -10px;
	    font-size: 14px;
	}
	.curreny-transaction {
	    display: inline-block;
	    width: 50%;
        vertical-align: top;	
	}
	.full-transaction {
	    display: inline-block;
	    width: 25%;
        vertical-align: top;
	}
/* 6. Footer */
	/* 6.1. Copyright */
	/* 6.2. Social Icons */
	.social-links ul {
		padding: 0;
		margin: 0;
		display: block;
		list-style: none;
		text-align: center;
	}
	.social-links ul li {
		display: inline-block;
		padding: 0 10px;
	}
	.social-links ul li a {
		font-size: 20px;
		line-height: 1;
		color: #000;
		text-decoration: none;
	}
	.social-links ul li a:hover {
		color: red;
	}
	
/* 7. Media Queries */
/* Large devices Desktops */
	@media(max-width: 1200px){}
/* Medium devices Desktops */
	@media(min-width: 992px){
		.custom-ipad-view{
			display: none !important;
		}
	}
	@media(max-width: 991px){}
/* Small devices Tablets */
	@media(min-width: 768px){
		.custom-mobile-view{
			display: none !important;
		}
	}
	@media(max-width: 767px){
		.table-responsive{
			width: 100%;
		}
		.custom-desktop-view{
			display: none !important;
		}
		.dashboard-header .row > div {
		    padding: 0;
		}
		body:after {
		    content: "";
		    background-size: 100%;
		    opacity: 0.2;
		}
		.custom-menu ul {
		    text-align: center;
		    padding: 5px 0 10px;
		}
		.custom-logo {
		    text-align: center;
		}
		.accounts-wrapper {
	    	width: 100%;
		    margin-right: 0;
	        margin-bottom: 0;
		}
		.accounts-heading h1, .accounts-summary-heading h1 {
		    font-size: 30px;
		}
		.accounts-heading h6{
			font-size: 12px;
		}
		p.acc-no{
		    font-size: 20px;
		}
		p.acc-ether > span{
			font-size: 12px;
		}
		.accounts-wrapper:last-child {
		    border-bottom: 0;
		}
		.pagination-wrapper {
		    padding: 20px 0;
		}
		.transaction-table-row > div.head{
		    font-size: 12px;
		}
		span.add{
			font-size: 15px;
		}
		.transaction-date span.date{
			font-size: 20px;
		}
		.account-transaction-wrapper h1 {
		    font-weight: 300;
		    font-size: 25px;
		}
	}

/* Extra Small devices Phones */
	@media(max-width: 500px){
		p.account-address {
		    margin: 10px 0 15px;
		    color: #000;
		    font-size: 10px;
		}
		p.account-balance {
		    font-size: 12px;
		}
	}


	/*Loader*/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #1c92d2;
  font-size: 4px;
  /*margin: 80px auto;*/
  position: relative;
  /*text-indent: -9999em;*/
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/*Model popup*/
.remi-model{
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
	width: 100%;
	height: 100%;
	z-index: 9999999;
	display: none;
}
.remi-model .model-content-container{
	position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    background: rgba(255,255,255,1);
    transform: translate(-50%,-50%);
    box-shadow: 0 0 25px rgba(0,0,0,1);
	border-radius: 15px;
	padding: 20px 30px;
}
.remi-model .model-content-container .model-header{
	border-bottom: 1px solid rgba(0,0,0,0.25);
}
.remi-model .model-content-container .model-header .close-btn{
	position: absolute;
    right: -22px;
    top: -22px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #1c92d2;
    color: #fff;
    border: none;
    font-size: 20px;
    text-shadow: 0px 1px 2px rgba(0,0,0,.5);
}
.remi-model .model-content-container .model-header h4{
	color: #1c92d2;
}

.remi-model .model-content-container .model-header h4 span{
	font-weight: normal;
	color: #000;
}
.detail-btn,
.detail-btn:hover,
.detail-btn:visited,
.detail-btn:active,
.detail-btn:focus{
	background: #1c92d2;
    border-radius: 30px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}
.model-show{
	display: block;
}