<!DOCTYPE html>
<html lang="en">
<head>
	<title>JetSmart</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/stylesheet.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- favicon -->
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="assets/js/main.js"></script>
	<script src="assets/js/video.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<!-- Owl Stylesheets -->
	<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css">
	<link rel="stylesheet" href="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css">
	<!-- Owl javascript -->
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>
    <script>
		$(document).ready(function() {
		var owl = $('.owl-carousel.owl-theme');
		owl.owlCarousel({
			margin: 0,
			nav: true,
			center:true,
	        autoplayHoverPause:true,
			loop: true,
			responsive: {
			  0: {
				items: 1
			  },
			  600: {
				items: 1
			  },
			  1000: {
				items: 1
			  }
			}
			})
		});
	  </script>
</head>
<body>
	<header id="home">
		<!-- Video Section -->
		<div class="homepage-hero-module set-max-height" style="background-image: url('assets/img/fleet.jpg');">
		    <div class="video-overlay"></div>
		    <div class="banner-content-wrapper">
		    	<div class="banner-content">
		    		<h1>About Us</h1>
		    	</div>
		    </div>
		</div>
		<!-- Video Section End -->
		<!-- Logo and Menu -->
		<div class="headroom" id="headroom">
			<div class="menu-wrapper">
				<div class="row">
					<!-- Menu Toggle -->
					<div class="logo-wrapper">
						<a href="/"><img src="assets/img/logo.png" alt="jetsmart" style="width: initial;"></a>
						<ul class="header-tag">
							<li>Fly <span class="active-rotate">in Style</span><span>Smart</span><span>JetSmart</span></li>
						</ul>
						<a href="javascript:void(0);" class="mobile-tgl"><span>Menu</span><span>Close</span></a>
					</div>					
				</div>
			</div>
		</div>
		<!-- <div class="menu-overlay"></div>
		<ul class="menu" id="menu">
			<li><a href="/">Home</a></li>
			<li><a ui-sref="about">About</a></li>
			<li><a ui-sref="emptyLeg">Empty Leg</a></li>
			<li><a href="ourteam.html">Our Team</a></li>
			<li><a href="faqs.html">FAQs</a></li>
			<li><a href="contact.html">Contact</a></li>
			
		</ul> -->
		<div class="menu-overlay"></div>					
		<ul class="menu" id="menu">
			<li><a ui-sref="/">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li ng-if="showPayment"><a href="" ng-click="openPayment()">Payment</a></li>
			<li><a ui-sref="emptyLeg.html">Empty Leg</a></li>
			<li><a href="ourteam.html">Our Team</a></li>
			<li><a href="faqs.html">FAQs</a></li>
			<li><a href="contact.html">Contact</a></li>
			<li ng-show="!userInfo.user_name" ng-click="openLoginForm()"><a href="javascript:void(0)"><i class="fa fa-user-o" aria-hidden="true"></i> Login/Signup</a></li>
			
			<li ng-show="userInfo.user_name"><a ui-sref="history">Booking History</a></li>
			<li ng-show="userInfo.user_name" ng-click="logout()"><a href="javascript:void(0)">Logout</a></li>
		</ul>
		<!-- Logo and Menu End -->
	</header>
	<!-- Booking Area -->
	<!-- <div class="booking-module-wrapper">
		<a href="javascript:void(0);" class="booking-tgl">Book Now</a>
		<div class="book-overlay"></div>
		<div class="booking-area">
			<div class="booking-form">
				<form>
					<div class="status">
						<div class="pure-radiobutton">
							<input type="radio" id="oneWay" name="tripType" class="radio" value="on" checked>
							<label for="oneWay" data-reactid="155">One Way</label>
						</div>
						<div class="pure-radiobutton">
							<input type="radio" id="roundTrip" name="tripType" class="radio" value="on">
							<label for="roundTrip">Round Trip</label>
						</div>
						<div class="divider"></div>
						<span class="Advanced-filter-label">Advanced Filter</span>
						<label class="switch">
							<input type="checkbox" >
							<span class="slider round"></span>
						</label>
					</div>
					<div class="for-multicity">
					<div class="inlable-wrap inline-block">
						<label>From</label>
						<input type="text" name="from" required>
					</div>
					<div class="inlable-wrap inline-block">
						<label>To</label>
						<input type="text" name="to" required>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Date</label>
						<input type="text" id="date">
					</div>
					<div class="inlable-wrap inline-block">
						<label>Departure Time</label>
						<input type="text" id="time">
					</div>
					</div>
					<div class="return-date-wrapper">
						<div class="inlable-wrap inline-block">
							<label>Return on Date</label>
							<input type="text" id="returndate">
						</div>
						<div class="inlable-wrap inline-block">
							<label>Return on Date</label>
							<input type="text" id="returntime">
						</div>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Traveller</label>
						<select>
							<option value="0" selected hidden disabled>0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="inlable-wrap inline-block">
						<label>Nationality</label>
						<select>
							<option value="Indian" selected hidden disabled>Indian</option>
							<option value="Indian">Indian</option>
							<option value="Other Nationalities">Other Nationalities</option>
						</select>
					</div> -->
					<!-- advanced filter -->
					<!-- <div class="advanced-booking-engine">
						<div class="advanced-booking">
							<div class="inlable-wrap inline-block">
								<label>Price</label>
								<select>
									<option value="0" selected hidden disabled>All</option>
									<option value="1">1,00,000 - 2,00,000</option>
									<option value="2">2,00,000 - 3,00,000</option>
									<option value="2">3,00,000 and More</option>
								</select>
							</div>
							<div class="inlable-wrap inline-block">
								<label>Seat</label>
								<select>
									<option value="0" selected hidden disabled>1</option>
									<option value="1">2 - 4</option>
									<option value="2">4 - 6</option>
									<option value="2">6 or More</option>
								</select>
							</div>
							<div class="inlable-wrap inline-block">
								<label>Cabin Height</label>
								<select>
									<option value="0" selected hidden disabled>4'7"</option>
									<option value="1">4'7"</option>
									<option value="1">5'7"</option>
									<option value="1">6'7"</option>
								</select>
							</div><br>
							<div class="inlable-wrap inline-block">
								<div class="filter-grp">
									<h5>Aircraft type</h5>
									<div class="pure-radiobutton">
										<input type="checkbox" id="heavyjets" name="tripType" class="radio" value="on">
										<label for="heavyjets">Heavy Jet</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="smidjets" name="tripType" class="radio" value="on">
										<label for="smidjets">Super-Mid Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="msizejets" name="tripType" class="radio" value="on">
										<label for="msizejets">Mid-size Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="lightjets" name="tripType" class="radio" value="on">
										<label for="lightjets">Light Jets</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="turboprop" name="tripType" class="radio" value="on">
										<label for="turboprop">Turbo Props</label>
									</div>
								</div>
							</div>
							<div class="inlable-wrap inline-block">
								<div class="filter-grp">
									<h5>Facility</h5>
									<div class="pure-radiobutton">
										<input type="checkbox" id="flight-attendant" name="tripType" class="radio" value="on">
										<label for="flight-attendant">Flight Attendant</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="lavatory" name="tripType" class="radio" value="on">
										<label for="lavatory">Lavatory</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="satellite-phone" name="tripType" class="radio" value="on">
										<label for="satellite-phone">Satellite Phone</label>
									</div>
									<div class="pure-radiobutton">
										<input type="checkbox" id="wifi" name="tripType" class="radio" value="on">
										<label for="wifi">Wifi</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<center>
						<a href="javascript:void(0);" class="book-btn">Add More City</a>
						<button type="submit">Search</button>
						<a href="javascript:void(0);" class="close-booking-tgl">Close</a>
					</center>
				</form>
			</div>
		</div>
	</div> -->
	<!-- Booking Area End -->
	<section id="why-us-section">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="why-us-content">
						<h2 class="tag"><span class="head-line"></span>Why<span class="head-line"></span></h2>
						<h3>JetSmart ?</h3>
						<div class="process-in-steps">
							<h5>Leading India Jet Charter Aviation Company and Technology Platform</h5>
							<p>JetSmart is an innovative jet charter booking platform in India with the availability of 300 + planes. This ensures the best value for a drama-free jet charter experience. JetSmart built a custom designed online portal and jet management software to generate revenue and save time for jet owners and jet management companies.</p>
							<h5>Customised To You</h5>
							<p>We pride ourselves on the attention to detail and never asking for the same information twice however you purchase your jet charter experience.<br>
							We customise your jet charter experience to you -- to your schedule, passengers, preferences, likes, dislikes, dietary needs, religious preferences, budget and need.</p>
						</div>
					</div>	
				</div>
				<div class="col-md-5">
					<div class="why-us-image">
						<img src="assets/img/why-us.jpg" alt="why-us">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="how-we-work-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-5 col-sm-4">
					<div class="work-process-content">
						<h2 class="tag"><span class="head-line"></span>JetSmart<span class="head-line"></span></h2>
						<h3>How JetSmart Works?</h3>
					</div>
				</div>
				<div class="col-md-7 col-sm-8 col-md-pull-1">					
					<div class="custom-process-in-steps">
						<p><span>Need a charter?</span> Call, search online or we'll contact you to <b>(a)</b> understand your needs and <b>(b)</b> offer a jet charter solution. We customise your trip to the time, locations, dietary needs, schedule, catering, staffing, security, logistics and all other services to ensure your trip is a success.</p>
						<p><span>Own a jet?</span> Allow us to earn you revenue through our network of leading executives, corporates and celebrities through our custom built, easy to use and power web based management software.</p>
						<p><span>Special charters?</span> Group charter requests? Our team has experience handling 3 to 30,000 people charters on a one-off or ongoing basis with equipment sourced locally or through our global contacts.</p>
						<p><span>Are you a travel agency or OTA?</span> Connect with our API to easily sell our inventory in real time through your channel as we do with over 10 leading partners around the world.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="clearfix"></div>
	<section id="our-value-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-md-push-2 col-md-push-2">
					<div class="our-value-links">
						<h2 class="tag"><span class="head-line"></span>JetSmart<span class="head-line"></span></h2>
						<h3>Core Values</h3>
						<div class="pointer">
							<ul class="tabs">
								<li class="tab-link current" data-tab="tab-1"><a href="javascript:void(0);">Drama Free Charters</a></li>
								<li class="tab-link" data-tab="tab-2"><a href="javascript:void(0);">Trust</a></li>
								<li class="tab-link" data-tab="tab-3"><a href="javascript:void(0);">Doing What It Takes</a></li>		
							</ul>
						</div>
						<div class="our-value-description">
							<div class="our-value-description-position">
								<div class="about-tab-content current" id="tab-1">
									<div class="our-value">
										<h2>Experience A Technology</h2>
										<p>Our experienced team and in-house developed technology ensures a drama free experience in an otherwise complicated jet charter environment. Subsequent bookings are even faster as we get to know what you do and don’t like.</p>
									</div>
								</div>
								<div class="about-tab-content" id="tab-2">
									<div class="our-value">
										<h2>Easy To Lose. Very Difficult To Earn.</h2>
										<p>We treat your jet charter as if it was our jet charter. Where there is a problem, we will notify you immediately. We will always tell you the truth and be transparent in our dealing. We will always do our best to avoid any problems from coming and solving them on your behalf along the way.</p>
									</div>
								</div>
								<div class="about-tab-content" id="tab-3">
									<div class="our-value">
										<h2>Making it Look Easy</h2>
										<p>Chartering a jet is a complicated experience we shield our passengers from. Safety, regulations, airport timings, equipment, watch hours, weather, staff, traffic and more are just some of the issue we monitor to ensure your trip is a successful one. Allow us to help you and we'll earn your trust trip after trip.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="bottom-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<p class="member-of">
						<small>Member of</small><br>
						<img src="assets/img/baoa.png">
						</p>
					</div>
					<div class="col-md-6 col-sm-6">
						<ul>
							<li><a href="about.html">About</a></li>
							<li><a href="terms-and-conditions.html">Terms & Conditions</a></li>
							<li><a href="disclaimer.html">Disclaimer</a></li>
							<li><a href="policy.html">Privacy Policy</a></li>
							<li><a href="contact.html">Contact Us</a></li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-3">
						<ul class="social-links">
							<li><a href="https://www.facebook.com/jetsmart.in/?fref=ts&ref=br_tf" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="https://www.instagram.com/jet_smart/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<div class="col-xs-12">
						<p class="copyright center">© 2017 JetSmart.in  All Rights Reserved.</p>
					</div>
				</div>
			</div>
		</div>
	<!-- Datepicker script -->
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-material-datetimepicker.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="assets/js/moment-with-locales.min.js"></script>
	<script src="assets/js/bootstrap-material-datetimepicker.js"></script>
	</footer>
</body>
</html>
