<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
        </div>
        <h4 class="panel-title">Payment</h4>
    </div>
    <!-- <div class="row" style="padding: 0 15px; ">
        <div class="col-md-12"><h2>Filter</h2></div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="bookingSearch.bookingNumber" type="text" class="form-control" placeholder="Search by Booking Number">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="bookingSearch.contact.name" type="text" class="form-control" placeholder="Search by Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input ng-model="bookingSearch.contact.email" type="text" class="form-control" placeholder="Search by Email">
            </div>
        </div> -->
    </div>
    <div class="panel-body">
        <button ng-click="exportDataXLS()">Download Xls</button>
        <button ng-click="exportDataPdf()">Download pdf</button>
        <table id="data-table" class="table table-striped table-bordered">

            <thead>
                <tr ng-show="!show">
                    <td colspan="5">Filters</td>
                </tr>
                <tr ng-show="!show">
                    <td> <input ng-model="paymentSearch.payment_id" style="width: 100%" type="text" class="" placeholder="Search by Payment Id"></td>
                    <td><input ng-model="paymentSearch.booking_id.bookingNumber" style="width: 100%" type="text" class="" placeholder="Search by Booking Number"></td>
                    <!-- <td><input ng-model="paymentSearch.order_id" style="width: 100%" type="text" class="" placeholder="Search by Order Id"></td> -->
                    <td></td>
                    <td></td>
                    <td></td>
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                    <!-- <td></td> -->
                </tr>
                <tr>
                    <th>Payment Id</th>
                    <th>Booking Number</th>
                    <!-- <th>Order Id</th> -->
                    <!-- <th>Created at</th> -->
                    <th>Amount</th>
                    <!-- <th>Currency</th> -->
                    <th>Passengers</th>
                    <th ng-show="!show">View</th>
                    <!-- <th>Download</th> -->
                    <!-- <th>Split Payment</th> -->
                </tr>
            </thead>

            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in (paymentList | filter:paymentSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                    <td>{{x.payment_id}}</td>
                    <td>{{x.booking_id.bookingNumber}}</td>
                    <!-- <td>{{x.order_id}}</td> -->
                    <!-- <td>{{x.time}}</td> -->
                    <td>{{x.amount}}</td>
                    <!-- <td>{{x.currency}}</td> -->
                    <td>{{x.booking_id.pessanger_detail.length}}</td>
                    <td ng-show="!show"><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                    <!-- <td class="link-color"><a ng-click="downldPdf(x)">Invoice</a></td> -->
                    <!-- <td><a ng-click="split(x.payment_id)">Split</a></td> -->
                </tr>
            </tbody>
        </table>
        <div ng-show="showPagination">
            <ul uib-pagination total-items="(paymentList | filter:paymentSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<!-- end panel-->

<div id="exportTab">
    <table ng-show="show" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Payment Id</th>
                <th>Booking Number</th>
                <th>Order Id</th>
                <th>Created at</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Passengers</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in paymentList | filter:paymentSearch" ng-if="x.payment_id">
                <td>{{x.payment_id}}</td>
                <td>{{x.booking_id.bookingNumber}}</td>
                <td>{{x.order_id}}</td>
                <td>{{x.time}}</td>
                <td>{{x.amount}}</td>
                <td>{{x.currency}}</td>
                <td>{{x.booking_id.pessanger_detail.length}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="payInvoice.html">
    <div id="pdfPayInvoice">
            <div class="pdf-sub-header">
                Invoice
            </div>
            <div class="pdf-section">
                <ul>
                    <li>DATE: {{todayDate}}</li>
                    <li>Booking Number: {{pay.booking_id.bookingNumber}}</li>
                    <li>Order Id : {{pay.order_id}}</li>
                    <li>Amount: {{pay.amount}}</li>
                </ul>
            </div>
    </div>
</script>

<!-- BEGIN PDF -->
<div id="pdfFormat" style="display:none">
    <div class="pdf-sub-header">
        <ul>
            <li>DATE: {{invoice.created_at | date}}</li>
            <li>Mr./Ms. {{invoice.booking_id.contact.title}} {{invoice.booking_id.contact.name}}</li>
            <li>Email : {{invoice.booking_id.contact.email}}</li>
        </ul>
    </div>
    <div class="invoice-header">
        <span>
            Invoice Number:
            <b>{{booking.aircraft._id}}</b>
        </span>
    </div>

    <div class="pdf-section">
        <span>
            Aircraft:
        </span>
        <table cellspacing="0" cellpadding="0">
            <tr class="tr-head">
                <td>Name</td>
                <td>Type</td>
                <td>No of Passenger</td>
                <td>Pilot</td>
                <td>Crew</td>
                <td>Baggage</td>
            </tr>
            <tr>
                <td>{{booking.aircraft.documents.jet_name}}</td>
                <td>{{booking.aircraft.documents.aircraft_type}}</td>
                <td>{{booking.localData.traveller}}</td>
                <td>{{booking.aircraft.documents.pilot}}</td>
                <td>{{booking.aircraft.documents.crew_members?booking.aircraft.documents.crew_members:0}}</td>
                <td>
                {{(booking.aircraft.documents.aircraft_type.toLowerCase()=='turbo prop' || booking.aircraft.documents.aircraft_type.toLowerCase()=='light jet')?'10':'15'}}</td>
            </tr>
        </table>
    </div>

    <div class="pdf-section">
        <span>
            Positioning / Repositioning:
        </span>
        <table cellspacing="0" cellpadding="0">
            <tr class="tr-head">
                <td>Type</td>
                <td>Departure</td>
                <td>Arrival</td>
                <td>Flying Time(HH:MM)</td>
            </tr>
            <tr ng-repeat="x in booking.aircraft.duration track by $index" ng-if="x.data.positioning || x.data.repositioning">
                <td>{{x.data.positioning ? 'Positioning' : ''}}{{x.data.repositioning ? 'Repositioning' : ''}}</td>
                <td>{{x.info.originName}}</td>
                <td>{{x.info.destinationName}}</td>
                <td>{{x.duration | dateconvertor1}}</td>
            </tr>
        </table>
    </div>

    <div class="pdf-section">
        <span>
            Itinerary:
        </span>
        <table cellspacing="0" cellpadding="0">
            <tr class="tr-head">
                <td>Date</td>
                <td>Departure</td>
                <td>Arrival</td>
                <td>Flying Time(HH:MM)</td>
                <td>Flying</td>
            </tr>
            <tr ng-repeat="x in booking.aircraft.duration track by $index">
                <td>{{x.departureDate}}</td>
                <td>{{x.info.originName}}</td>
                <td>{{x.info.destinationName}}</td>
                <td>{{x.duration | dateconvertor1}}</td>
                <td>{{x.data.positioning || x.data.repositioning ? 'Without Passenger' : 'With Passenger'}}</td>
            </tr>
        </table>
    </div>

    <div class="pdf-section">
        <span>
            Cost:
        </span>
        <table cellspacing="0" cellpadding="0">
            <tr class="tr-head">
                <td>Flying Cost</td>
                <td>Ground Handling</td>
                <td>Crew Charges</td>
                <td>Other Charges</td>
                <td>Sub Total</td>
                <td>GST @ 18%</td>
                <td>Grand Total</td>
            </tr>
            <tr>
                <td>{{booking.aircraft.netFlyingCost}}</td>
                <td>{{booking.aircraft.groundHandlingCharges}}</td>
                <td>{{booking.aircraft.totalCrewCharge}}</td>
                <td>-</td>
                <td>{{booking.aircraft.netcost}}</td>
                <td>{{booking.aircraft.gst}}</td>
                <td>{{booking.aircraft.total}}</td>
            </tr>
        </table>
    </div>
</div>
<!-- END PDF -->

<script type="text/ng-template" id="booking-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Payment</h4>
            </div>
    <div class="panel-body">
        <div class="row">
            <!-- contant Person and booking details -->
            <div class="col-md-12">
                 <table class="table table-striped table-bordered">
                    <tr>
                        <td>Payment Id</td>
                        <td>{{new.payment_id}}</td>
                    </tr>
                    <tr>
                        <td>Booking Number</td>
                        <td>{{new.booking_id.bookingNumber}}</td>
                    </tr>
                    <tr>
                        <td>Created at</td>
                        <td>{{new.time}}</td>
                    </tr>
                    <tr>
                        <td>Order Id</td>
                        <td>{{new.order_id}}</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>{{new.amount}}</td>
                    </tr>
                    <tr>
                        <td>Currency</td>
                        <td>{{new.currency}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{new.status}}</td>
                    </tr>
                 </table>
                 <hr>
                 <h2>Pessanger Details</h2>
                 <table class="table table-striped table-bordered">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Nationlity</th>
                        <th>Food</th>
                        <th>Passport Number</th>
                    </thead>
                    <tr ng-repeat="x in new.booking_id.pessanger_detail">
                        <td>{{$index+1}}</td>
                        <td>{{x.title+' '+x.name}}</td>
                        <td>{{x.age}}</td>
                        <td>{{x.nationlity}}</td>
                        <td>{{x.food}}</td>
                        <td>{{x.passportNumber}}</td>
                    </tr>
                 </table>
                 <hr>
                 <h2>Aircraft Destinations</h2>
                 <table class="table table-striped table-bordered">
                    <thead>
                        <th>#</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Departure Time</th>
                    </thead>
                    <tr ng-repeat="x in new.booking_id.roots">
                        <td>{{$index+1}}</td>
                        <td>{{x.originName}}</td>
                        <td>{{x.destinationName}}</td>
                        <td>{{x.time}}</td>
                    </tr>
                 </table>
            </div>
        </div>
    </div>
</div>
</script>

<script type="text/ng-template" id="country-Modal.html">
    <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
        <div class="panel-heading">
                    <!-- <div class="panel-heading-btn">
                        <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                    </div> -->
                    <h4 class="panel-title">Split Payment</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" name="addEditForm" ng-submit="splitPayment()" novalidate>
                        <div class="form-group" ng-class="{'has-success':addEditForm.accountId.$valid && !addEditForm.accountId.$pristine,'has-error':addEditForm.accountId.$invalid && !addEditForm.accountId.$pristine}">
                            <label class="col-md-3 control-label">Account Id</label>
                            <div class="col-md-9">
                                <input type="text" name="accountId" class="form-control" ng-model="new.account" placeholder="Enter Account no." required>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-success':addEditForm.amt.$valid && !addEditForm.amt.$pristine,'has-error':addEditForm.amt.$invalid && !addEditForm.amt.$pristine}">
                            <label class="col-md-3 control-label">Amount</label>
                            <div class="col-md-9">
                                <input type="text" name="amt" class="form-control" ng-model="new.amount" placeholder="Enter Amount" required>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="col-md-3 control-label">Currency</label>
                            <div class="col-md-9">
                                <input type="text" name="currencyCode" class="form-control" ng-model="new.currency" placeholder="Enter the currency" >
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <button type="submit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
        </div>
    </div>
</script>