
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Payment</h4>
            </div>
    <div class="panel-body">
        <div class="row">
            <!-- contant Person and booking details -->
            <div class="col-md-12">
                 <table class="table table-striped table-bordered">
                    <tr>
                        <td>Payment Id</td>
                        <td>{{new.payment_id}}</td>
                    </tr>
                    <tr>
                        <td>Booking Number</td>
                        <td>{{new.booking_id.bookingNumber}}</td>
                    </tr>
                    <tr>
                        <td>Created at</td>
                        <td>{{new.time}}</td>
                    </tr>
                    <tr>
                        <td>Order Id</td>
                        <td>{{new.order_id}}</td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td>{{new.amount}}</td>
                    </tr>
                    <tr>
                        <td>Currency</td>
                        <td>{{new.currency}}</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{new.status}}</td>
                    </tr>
                 </table>
                 <hr>
                 <h2>Pessanger Details</h2>
                 <table class="table table-striped table-bordered">
                    <thead>
                        <th>#</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Nationlity</th>
                        <th>Food</th>
                        <th>Identification</th>
                        <th>Identification Number</th>
                    </thead>
                    <tr ng-repeat="x in new.booking_id.pessanger_detail">
                        <td>{{$index+1}}</td>
                        <td>{{x.title+' '+x.name}}</td>
                        <td>{{x.age}}</td>
                        <td>{{x.nationlity}}</td>
                        <td>{{x.food}}</td>
                        <td>{{x.identification}}</td>
                        <td>{{x.identification_no}}</td>
                    </tr>
                 </table>
                 <hr>
                 <h2>Aircraft Destinations</h2>
                 <table class="table table-striped table-bordered">
                    <thead>
                        <th>#</th>
                        <th>Origin</th>
                        <th>Destination</th>
                        <th>Departure</th>
                    </thead>
                    <tr ng-repeat="x in new.booking_id.roots">
                        <td>{{$index+1}}</td>
                        <td>{{x.originName}}</td>
                        <td>{{x.destinationName}}</td>
                        <td>{{x.destime}}</td>
                    </tr>
                 </table>
                 <hr>
                 <h2 ng-if="new.split_information">Split Payment Detail</h2>
                 <table ng-if="new.split_information" class="table table-striped table-bordered">
                    <thead>
                       
                        <th>Amount</th>
                        <th>Transaction Id</th>
                        <th>Account Id</th>
                    </thead>
                    <tr ng-repeat="x in new.booking_id.roots">
                        
                        <td>{{new.split_information.split_amount}}</td>
                        <td>{{new.split_information.transaction_id}}</td>
                        <td>{{new.split_information.recipient_id}}</td>
                    </tr>
                 </table>
            </div>
        </div>
    </div>
</div>
