<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->

            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
            
        </div>
        <h4 class="panel-title">Operator</h4>
    </div>

     <div class="row custom-top-added-form" style="padding: 0 15px" ng-show="isPopupOpen">
            <button class="close" ng-click="isPopupOpen = !isPopupOpen"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
            
          <h2 class="col-md-12">{{Title}} Aircraft</h2>

          <!-- FORM -->
          <form class="form-horizontal" name="addEditForm" ng-disabled="addEditForm.$invalid" ng-submit="addAircraft(addEditForm.$valid)" novalidate>

                    <!-- Aircraft -->
                    <div class="col-md-6" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':addEditForm.jet_name.$valid && !addEditForm.jet_name.$pristine,
                            'has-error':addEditForm.jet_name.$invalid && !addEditForm.jet_name.$pristine}">
                            <label class=" control-label">Operator Name</label>
                            <input type="text" name="user" class="form-control" ng-model="opr" placeholder="" required>
                        </div>
                    </div>
                    
                    <!-- aircraft_type -->
                    <div class="col-md-6" style="padding-right: 30px">
                        <div class="form-group" ng-class="{
                            'has-success':addEditForm.aircraft_type.$valid && !addEditForm.aircraft_type.$pristine,
                            'has-error':addEditForm.aircraft_type.$invalid && !addEditForm.aircraft_type.$pristine}">
                            <label class=" control-label">Choose Aircraft</label>

                            <input type="button" ng-click="aircraftPop()" value="Select Aircraft" style="background: #0f1626; border: 0px; color: #fff; float: right; margin-left: 15px; ">

                            <!-- <select name="jet" class="form-control" ng-model="new" ng-options="x as x.jet_name for x in aircraftsDownload" required></select> -->
                        </div>
                        <div class="listing_box_wrapper">
                            <div ng-repeat="data in airD" class="list">{{$index+1}} : {{data.jet_name}}<br/></div>
                        </div>
                    </div>

                    <div class="col-md-12" style="padding-right: 30px">
                        <div class="form-group text-center" style="justify-content: center;">
                                <button ng-hide="type == 'view'" type="submit" ng-disabled="aircraftForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
          <!-- /FORM -->
      </div>
      <!-- end form -->

    <div class="panel-body">
        <button ng-click="exportDataXLS()">Download Xls</button>
        <button ng-click="exportDataPdf()">Download pdf</button>
       
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr ng-show="!show">
                    <th colspan="7"></th>
                </tr>
                <tr ng-show="!show">
                    <td><input type="text" style="width: 100%" ng-model="operatorSearch.user_name" placeholder="Search by Name"></td>
                    <td><input type="text" style="width: 100%" ng-model="operatorSearch.email" placeholder="Search by email"></td>
                    <td></td>
                    <td></td>
                    <td ng-show="accessEmp.Operator.editOperator"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Operator Name</th>
                    <th>email</th>
                    <th>Status</th>
                    <th ng-show="!show">Aircraft</th>
                    <th ng-show="accessEmp.Operator.editOperator && !show">Edit</th>
                    <th ng-show="!show">View</th>
                    <th ng-show="accessEmp.Operator.editOperator && !show">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in (userList | filter:operatorSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                    <td>{{x.user_name}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.is_active}}</td>
                    <td ng-show="!show"><a ng-click="openModal('aircraftAdd',x)" style="color:black" data-click="panel-remove"><i style="color:black" class="ion-jet"></i>Add</a></td>
                    <td ng-show="accessEmp.Operator.editOperator && !show"><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td ng-show="!show"><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                     <td ng-show="!show && accessEmp.Operator.editOperator"><a ng-click="openModal('Delete',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
        <div ng-show="showPagination">
            <ul uib-pagination total-items="(userList | filter:operatorSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<!-- end panel-->

<div id="exportTab">
    <table ng-show="show" class="table table-striped table-bordered">
     <thead>
            <tr>
                <th>Operator Name</th>
                <th>email</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in userList | filter:operatorSearch">
                <td>{{x.user_name}}</td>
                <td>{{x.email}}</td>
                <td>{{x.is_active}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="user-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Operator</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>

            <div class="form-group"
                ng-class="{'has-success':userForm.user_name.$valid && !userForm.user_name.$pristine,
                            'has-error':userForm.user_name.$invalid && !userForm.user_name.$pristine}">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-9 ">
                    <input type="text" name="user_name" class="form-control" ng-model="newUser.user_name" ng-disabled="Title == ''" required>
                </div>
            </div>
<!-- 
            <div class="form-group"
                ng-class="{'has-success':userForm.AOP_NO.$valid && !userForm.AOP_NO.$pristine,
                            'has-error':userForm.AOP_NO.$invalid && !userForm.AOP_NO.$pristine}">
                <label class="col-md-3 control-label">AOP No.</label>
                <div class="col-md-9 ">
                    <input type="text" name="AOP_NO" class="form-control" ng-model="newUser.AOP_NO" ng-disabled="true" required>
                </div>
            </div> -->


            <div class="form-group"
                ng-class="{'has-success':userForm.code.$valid && !userForm.code.$pristine,
                            'has-error':userForm.code.$invalid && !userForm.code.$pristine}">
                <label class="col-md-3 control-label">Code</label>
                <div class="col-md-9 ">
                    <input type="text" name="code" class="form-control" ng-model="newUser.code" ng-disabled="true" required>
                </div>
            </div>

            <!-- <div class="form-group"
                ng-class="{'has-success':userForm.first_name.$valid && !userForm.first_name.$pristine,
                            'has-error':userForm.first_name.$invalid && !userForm.first_name.$pristine}">
                <label class="col-md-3 control-label">First Name</label>
                <div class="col-md-9 ">
                    <input type="text" name="first_name" class="form-control" ng-model="newUser.first_name" ng-disabled="Title == ''" required>
                </div>
            </div>


            <div class="form-group"
                ng-class="{'has-success':userForm.last_name.$valid && !userForm.last_name.$pristine,
                            'has-error':userForm.last_name.$invalid && !userForm.last_name.$pristine}">
                <label class="col-md-3 control-label">Last Name</label>
                <div class="col-md-9 ">
                    <input type="text" name="last_name" class="form-control" ng-disabled="Title == ''" ng-model="newUser.last_name" required>
                </div>
            </div> -->

            <div class="form-group"
                ng-class="{'has-success':userForm.local_address1.$valid && !userForm.local_address1.$pristine,
                            'has-error':userForm.local_address1.$invalid && !userForm.local_address1.$pristine}">
                <label class="col-md-3 control-label">Address Line 1</label>
                <div class="col-md-9 ">
                    <input type="text" name="local_address1" class="form-control" ng-disabled="Title == ''" ng-model="newUser.address1" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Address Line 2</label>
                <div class="col-md-9 ">
                    <input type="text" name="local_address2" class="form-control" ng-disabled="Title == ''" ng-model="newUser.address2">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">State</label>
                <div class="col-md-9"">
                    <select class="form-control" name="State" ng-model="newUser.state" ng-disabled="Title==''"
                        ng-options="x._id as x.stateName for x in Countries[0].states"
                        ng-change="createCityArray(newUser.state)">
                    </select>
                </div>
            </div>

            <div class="form-group"
                    ng-class="{'has-success':userForm.city.$valid && !userForm.city.$pristine,
                            'has-error':userForm.city.$invalid && !userForm.city.$pristine}">
                <label class="col-md-3 control-label">City</label>
                <div class="col-md-9">
                    <select class="form-control" name="city" ng-model="newUser.city" ng-disabled="newUser.state=='' || Title == ''"
                        ng-options="x._id as x.cityName for x in State.cities">
                    </select>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':userForm.pin_code.$valid && !userForm.pin_code.$pristine,
                            'has-error':userForm.pin_code.$invalid && !userForm.pin_code.$pristine}">
                <label class="col-md-3 control-label">Pincode</label>
                <div class="col-md-9 ">
                    <input type="text" name="pin_code" class="form-control" ng-disabled="Title == ''" ng-model="newUser.pincode" required>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':userForm.email_id.$valid && !userForm.email_id.$pristine,
                            'has-error':userForm.email_id.$invalid && !userForm.email_id.$pristine}">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-9 ">
                    <input type="email" name="email_id" class="form-control" ng-disabled="Title == ''" ng-model="newUser.email" required>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':userForm.phone_number.$valid && !userForm.phone_number.$pristine,
                            'has-error':userForm.phone_number.$invalid && !userForm.phone_number.$pristine}">
                <label class="col-md-3 control-label">Phone Number</label>
                <div class="col-md-9 ">
                    <input type="text" name="phone_number" class="form-control" ng-disabled="Title == ''" ng-model="newUser.phone_number" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Fax Number</label>
                <div class="col-md-9 ">
                    <input type="text" name="fax_number" class="form-control" ng-disabled="Title == ''" ng-model="newUser.fax" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">PAN Image</label>
                <div class="col-md-9 ">
                    <img src="{{newUser.panCardImage}}" style="height: 100px;width: 169px;margin-bottom: 10px;" ng-if="newUser.panCardImage">
                    <input type="file" name="file" id="filesAirCraft" class="inputfile" ng-show="nn" image-uploader file-model = "myFile"/><br/>
                    <label  ng-hide="Title==''" for="filesAirCraft" image-uploader1>Choose a file</label>
                    <button  ng-hide="Title==''" ng-click="uploadFile();" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload</button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Pan Card Number</label>
                <div class="col-md-9 ">
                    <input type="text" name="pan_number" class="form-control" ng-disabled="Title == ''" ng-model="newUser.panCardNumber" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">GST</label>
                <div class="col-md-9 ">
                    <input type="text" name="gst" class="form-control" ng-disabled="Title == ''" ng-model="newUser.gst" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">SIN Number</label>
                <div class="col-md-9 ">
                    <input type="text" name="sin_number" class="form-control" ng-disabled="Title == ''" ng-model="newUser.sinNumber" required>
                </div>
            </div>

            <!-- <div class="form-group"
                ng-class="{'has-success':userForm.password.$valid && !userForm.password.$pristine,
                            'has-error':userForm.password.$invalid && !userForm.password.$pristine}">
                <label class="col-md-3 control-label">Password</label>
                <div class="col-md-9 ">
                    <input type="password" name="password" class="form-control" ng-disabled="Title == ''" ng-model="newUser.password" required>
                </div>
            </div> -->
            <hr>
            <legend>Operator Jet(s)</legend>
            <div class="form-group" ng-repeat="jet in userAircrafts">
                <label class="col-md-3 control-label">{{$index + 1}}</label>
                <div class="col-md-9">
                    <input type="text" name="fax_number" class="form-control" ng-disabled="Title == ''" ng-model="jet.jet_name" readonly>
                </div>
            </div>
            <div class="form-group" ng-show="userAircrafts.length < 1">
                <label class="col-md-12 control-label" style="text-align: left;">No Aircraft Found</label>
            </div>

           <!--  <hr>

            <legend>User Access</legend>
            <div class="form-group">
                <label class="col-md-3 control-label">Aircraft</label>
                <div class="col-md-9 ">
                    <label>
                        <input type="checkbox" ng-model="newUser.access_level.Aircraft.viewAircraft">View
                    </label>
                    <label>
                        <input type="checkbox" ng-model="newUser.access_level.Aircraft.editAircraft">Edit
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Airport</label>
                <div class="col-md-9 ">
                    <label>
                        <input type="checkbox" ng-model="newUser.access_level.Airport.viewAirport">View
                    </label>
                    <label>
                        <input type="checkbox" ng-model="newUser.access_level.Airport.editAirport">Edit
                    </label>
                </div>
            </div> -->

            <div class="form-group" ng-hide="Title==''">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-disabled="userForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
</script>

<script type="text/ng-template" id="country-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">Select Aircrafts</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="formAir" novalidate>
            <div class="form-group" >
                <label class="col-md-12 control-label text-left" style="padding-left: 15px;">Aircrafts</label>
                <div class="col-md-4" ng-repeat="x in aircraftsDownload">
                    <input type="checkbox" name="chk" class="form-control custom_modal_checkbox" ng-model="x.aircraftDataaa" ng-change="selectedAir(x.aircraftDataaa,x,$index)" placeholder="Enter the country name" ng-disabled="Title==''" required>
                    <label>{{x.jet_name}}</label>
                </div>
            </div>
            
        </form>
    </div>
</div>
</script>

<style type="text/css">
    .listing_box_wrapper {
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        margin-top: -12px;
        margin-left: -14px;
        padding: 10px 10px;        
    }
    .listing_box_wrapper .list {
        width: calc(100%/2.1);
        display: inline-block;
        vertical-align: text-bottom;
    }
    input.custom_modal_checkbox {
        display: inline-block;
        height: 14px;
        width: initial;
        vertical-align: top;
        overflow: hidden;
        margin-right: 7px;
    }
    input.custom_modal_checkbox + label {
        display: inline-block;
        vertical-align: text-bottom;
        width: 79%;
        max-width: none;
        font-weight: normal;
        font-size: 12px;
    }
</style>