<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                
                <h4 class="panel-title">{{Title}} Operator</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" ng-class="{'view': Title == ''}" name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
         <div class="col-md-12">
                <div class="col-md-12">
                    <img src="{{newUser.logo}}" style="height: 100px;width: 169px;margin-bottom: 10px;" ng-if="newUser.logo">
                            <input type="file" name="file" id="logoAirCraft" class="inputfile" ng-show="nn" image-uploader file-model = "myFile"/><br/>
                            <label  ng-hide="Title==''" for="logoAirCraft" image-uploader1>Choose a logo</label>
                            <button type="button"  ng-hide="Title==''" ng-click="uploadFile('logo');" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload</button>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6"
                    ng-class="{'has-success':userForm.user_name.$valid && !userForm.user_name.$pristine,
                                'has-error':userForm.user_name.$invalid && !userForm.user_name.$pristine}">
                    <label class="col-md-3 control-label">Name</label>
                    <div class="col-md-9 ">
                        <input type="text" name="user_name" class="form-control" ng-model="newUser.user_name" ng-disabled="Title == ''" required>
                    </div>
                </div>
                <div class="form-group col-md-6"
                    ng-class="{'has-success':userForm.code.$valid && !userForm.code.$pristine,
                                'has-error':userForm.code.$invalid && !userForm.code.$pristine}">
                    <label class="col-md-3 control-label">Code</label>
                    <div class="col-md-9 ">
                        <input type="text" name="code" class="form-control" ng-model="newUser.code" ng-disabled="true" required>
                    </div>
                </div>

            </div>
            
            <div class="col-md-12">
                <div class="form-group col-md-6"
                    ng-class="{'has-success':userForm.local_address1.$valid && !userForm.local_address1.$pristine,
                                'has-error':userForm.local_address1.$invalid && !userForm.local_address1.$pristine}">
                    <label class="col-md-3 control-label">Address Line 1</label>
                    <div class="col-md-9 ">
                        <textarea name="local_address1" class="form-control" ng-disabled="Title == ''" ng-model="newUser.address1" required></textarea> 
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Address Line 2</label>
                    <div class="col-md-9 ">
                        <textarea type="text" name="local_address2" class="form-control" ng-disabled="Title == ''" ng-model="newUser.address2"></textarea>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">State</label>
                    <div class="col-md-9">
                        <select class="form-control" name="State" ng-model="newUser.state" ng-disabled="Title==''"
                            ng-options="x._id as x.stateName for x in Countries[0].states"
                            ng-change="createCityArray(newUser.state)">
                        </select>
                    </div>
                </div>

                <div class="form-group col-md-6"
                        ng-class="{'has-success':userForm.city.$valid && !userForm.city.$pristine,
                                'has-error':userForm.city.$invalid && !userForm.city.$pristine}">
                    <label class="col-md-3 control-label">City</label>
                    <div class="col-md-9">
                        <select class="form-control" name="city" ng-model="newUser.city" ng-disabled="newUser.state=='' || Title == ''"
                            ng-options="x._id as x.cityName for x in State.cities">
                        </select>
                    </div>
                </div>

            </div>
            <div class="col-md-12">
                 <div class="form-group col-md-6"
                    ng-class="{'has-success':userForm.pin_code.$valid && !userForm.pin_code.$pristine,
                                'has-error':userForm.pin_code.$invalid && !userForm.pin_code.$pristine}">
                    <label class="col-md-3 control-label">Pincode</label>
                    <div class="col-md-9 ">
                        <input type="text" name="pin_code" class="form-control" ng-disabled="Title == ''" ng-model="newUser.pincode" required>
                    </div>
                </div>

                <div class="form-group col-md-6"
                    ng-class="{'has-success':userForm.email_id.$valid && !userForm.email_id.$pristine,
                                'has-error':userForm.email_id.$invalid && !userForm.email_id.$pristine}">
                    <label class="col-md-3 control-label">Email</label>
                    <div class="col-md-9 ">
                        <input type="email" name="email_id" class="form-control" ng-disabled="Title == ''" ng-model="newUser.email" required>
                    </div>
                </div>
            </div>
            
           <div class="col-md-12">
               <div class="form-group col-md-6"
                    ng-class="{'has-success':userForm.phone_number.$valid && !userForm.phone_number.$pristine,
                                'has-error':userForm.phone_number.$invalid && !userForm.phone_number.$pristine}">
                    <label class="col-md-3 control-label">Phone Number</label>
                    <div class="col-md-9 ">
                        <input type="text" name="phone_number" class="form-control" ng-disabled="Title == ''" ng-model="newUser.phone_number" required>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Fax Number</label>
                    <div class="col-md-9 ">
                        <input type="text" name="fax_number" class="form-control" ng-disabled="Title == ''" ng-model="newUser.fax" required>
                    </div>
                </div>
           </div>

            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">PAN Image</label>
                    <div class="col-md-9 ">
                        <img src="{{newUser.panCardImage}}" style="height: 100px;width: 169px;margin-bottom: 10px;" ng-if="newUser.panCardImage">
                        <input type="file" name="file" id="filesAirCraft" class="inputfile" ng-show="nn" image-uploader file-model = "myFile"/><br/>
                        <label  ng-hide="Title==''" for="filesAirCraft" image-uploader1>Choose a file</label>
                        <button type="button"  ng-hide="Title==''" ng-click="uploadFile('pan');" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload</button>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Pan Card Number</label>
                    <div class="col-md-9 ">
                        <input type="text" name="pan_number" class="form-control" ng-disabled="Title == ''" ng-model="newUser.panCardNumber" required>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">GST</label>
                    <div class="col-md-9 ">
                        <input type="text" name="gst" class="form-control" ng-disabled="Title == ''" ng-model="newUser.gst" required>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">CIN Number</label>
                    <div class="col-md-9 ">
                        <input type="text" name="sin_number" class="form-control" ng-disabled="Title == ''" ng-model="newUser.sinNumber" required>
                    </div>
                </div>
            </div>
             <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Razorpay Account Id</label>
                    <div class="col-md-9 ">
                        <input type="text" name="accountId" class="form-control" ng-disabled="Title == ''" ng-model="newUser.account_id" required>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Password</label>
                    <div class="col-md-9 ">
                        <input type="text" name="accountId" class="form-control" ng-disabled="Title == ''" ng-model="newUser.password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Profitable Percentage (in %)</label>
                    <div class="col-md-9 ">
                        <input type="text" name="accountId" class="form-control" ng-disabled="Title == ''" ng-model="newUser.profitable_percentage" required>
                    </div>
                </div>
                
            </div>

            <div class="clearfix"></div>
            <legend>Bank Detail(s)</legend>
            <div class="col-md-12">
            	 
	                <div class="form-group col-md-6">
	                    <label class="col-md-3 control-label">Bank name</label>
	                    <div class="col-md-9 ">
	                        <input type="text" name="accountType" class="form-control" ng-disabled="Title == ''" ng-model="newUser.bank.bank_name" required>
	                    </div>
	                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Branch IFSC Code</label>
                    <div class="col-md-9 ">
                        <input type="text" name="ifsc" class="form-control" ng-disabled="Title == ''" ng-model="newUser.bank.ifsc_code" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Bank Account Type</label>
                    <div class="col-md-9 ">
                        <input type="text" name="accountType" class="form-control" ng-disabled="Title == ''" ng-model="newUser.bank.account_type" required>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Bank Account No</label>
                    <div class="col-md-9 ">
                        <input type="text" name="accountNo" class="form-control" ng-disabled="Title == ''" ng-model="newUser.bank.account_no" required>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            	<div class="form-group col-md-6">
                    <label class="col-md-3 control-label">Beneficiary name</label>
                    <div class="col-md-9 ">
                        <input type="text" name="sin_number" class="form-control" ng-disabled="Title == ''" ng-model="newUser.bank.beneficiary_name" required>
                    </div>
                </div>
            </div>

             <!--  Revenue DETAILS -->
                        <div class="form-group custom-label-center-align" style="padding: 0 50px;">
                            <label class="col-md-12 control-label" style="text-align: center;background: #ccc">REVENUE</label>
                        </div>

                        <div class="form-group custom-label-center-align" >
                            <label class="col-md-1 control-label">SNo</label>
                            <label class="col-md-4 control-label" style="text-align: left;">Month</label>
                            <label class="col-md-4 control-label" style="text-align: left;">Total Amount</label>
                            
                            <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.Revenu()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                        </div>

                        <div class="form-group custom-label-center-align" ng-repeat="x in newUser.Revenu track by $index">
                            <label class="col-md-1 control-label">{{$index+1}}</label>
                            <div class="col-md-4">
                                <!-- <input     type="text" class="form-control" name="" ng-model="x.month"> -->
                                 <select ng-model="x.month" class="form-control" ng-options="currMonth for currMonth in months"></select>
                            </div>
                            
                            <div class="col-md-4">
                                <input  type="number" class="form-control" name="" ng-model="x.total_amount">
                            </div>
                            <div class="col-md-1 custom-label-center-align">
                                <a ng-show="$last" href="javascript:;" ng-click="remove.Revenu()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <!-- Revenue  DETAILS -->

                        <!--  OWNER MANAGEMENT TEAM -->
                        <div class="form-group" style="padding: 0 50px;">
                            <label class="col-md-12 control-label" style="text-align: center;background: #ccc">OWNER MANAGEMENT TEAM</label>
                        </div>

                        <div class="form-group custom-label-center-align">
                            <label class="col-md-1 control-label">SNo</label>
                            <label class="col-md-2 control-label" style="text-align: left;">Name</label>
                            <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
                            <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
                            <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
                            <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
                            <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.owner_manegement_team()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                        </div>

                        <div class="form-group custom-label-center-align" ng-repeat="x in newUser.owner_manegement_team track by $index">
                            <label class="col-md-1 control-label">{{$index+1}}</label>
                            <div class="col-md-2">
                                <input  type="text" class="form-control" name="" ng-model="x.name">
                            </div>
                            <div class="col-md-2">
                                <input  type="text" class="form-control" name="" ng-model="x.designation">
                            </div>
                            <div class="col-md-2">
                                <input  type="date" class="form-control" name="" ng-model="x.date_of_birth">
                            </div>
                            <div class="col-md-2">
                                <input  type="date" class="form-control" name="" ng-model="x.anniversery">
                            </div>
                            <div class="col-md-2">
                                <input  type="number"  class="form-control" name="" ng-model="x.mobile">
                            </div>
                            <div class="col-md-1 custom-label-center-align">
                                <a ng-show="$last" href="javascript:;" ng-click="remove.owner_manegement_team()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                            </div>
                        </div>                    
                        <!-- END OWNER MANAGEMENT TEAM -->

                        <!--  KEY PERSONNEL DETAILS -->
                        <div class="form-group custom-label-center-align" style="padding: 0 50px;">
                            <label class="col-md-12 control-label" style="text-align: center;background: #ccc">KEY PERSONNEL DETAILS</label>
                        </div>

                        <div class="form-group custom-label-center-align" >
                            <label class="col-md-1 control-label">SNo</label>
                            <label class="col-md-2 control-label" style="text-align: left;">Name</label>
                            <label class="col-md-2 control-label" style="text-align: left;">Designation</label>
                            <label class="col-md-2 control-label" style="text-align: left;">Date of Birth</label>
                            <label class="col-md-2 control-label" style="text-align: left;">Anniversary</label>
                            <label class="col-md-2 control-label" style="text-align: left;">Phone</label>
                            <label class="col-md-1 control-label" style="text-align: left;"><a href="javascript:;" ng-click="add.keyPerson()" class="btn btn-md btn-icon btn-circle btn-primary"><i class="fa fa-plus"></i></a></label>
                        </div>

                        <div class="form-group custom-label-center-align" ng-repeat="x in newUser.keyPerson track by $index">
                            <label class="col-md-1 control-label">{{$index+1}}</label>
                            <div class="col-md-2">
                                <input  type="text" class="form-control" name="" ng-model="x.name">
                            </div>
                            <div class="col-md-2">
                                <input  type="text" class="form-control" name="" ng-model="x.designation">
                            </div>
                            <div class="col-md-2">
                                <input  type="date" class="form-control" name="" ng-model="x.date_of_birth">
                            </div>
                            <div class="col-md-2">
                                <input  type="date" class="form-control" name="" ng-model="x.anniversery">
                            </div>
                            <div class="col-md-2">
                                <input  type="number"  class="form-control" name="" ng-model="x.mobile">
                            </div>
                            <div class="col-md-1 custom-label-center-align">
                                <a ng-show="$last" href="javascript:;" ng-click="remove.keyPerson()" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-minus"></i></a>
                            </div>
                        </div>
                        <!-- END KEY PERSONNEL DETAILS -->
            <div class="form-group" ng-hide="Title==''">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                </div>
            </div>

             <div class="clearfix"></div>
            <!-- <legend>Operator Jet(s)</legend>
            <div class="form-group" ng-repeat="jet in userAircrafts">
                <label class="col-md-3 control-label">{{$index + 1}}</label>
                <div class="col-md-9">
                    <input type="text" name="fax_number" class="form-control" ng-disabled="Title == ''" ng-model="jet.jet_name">
                </div>
            </div>
            <div class="form-group" ng-show="userAircrafts.length < 1">
                <label class="col-md-12 control-label" style="text-align: left;">No Aircraft Found</label>
            </div> -->
            <!-- Aircrafts Details -->
   <div class="form-group custom-label-center-align" style="padding: 0 50px;">
        <label class="col-md-12 control-label" style="text-align: center;background: #ccc">Aircrafts</label>
    </div>

    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Model</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Type(FW,RW,B)</h2>
                        <!-- <p>{{newUser.bank.bank_name}}</p> -->
                    </div>
                </div>                
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Registration</h2>
                        <!-- <p>{{newUser.bank.account_type}}</p> -->
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>AOP #</h2>
                        <!-- <p>{{newUser.bank.beneficiary_name}}</p> -->
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>AOP Validity</h2>
                        <!-- <p>{{newUser.bank.ifsc_code}}</p> -->
                    </div>
                </div>
                <div class="col-md-1 col-sm-1">
                    <div class="custom_detail">
                        <h2>Seating</h2>
                        <!-- <p>{{newUser.bank.account_type}}</p> -->
                    </div>
                </div>
                <div class="col-md-1 col-sm-1">
                    <div class="custom_detail">
                        <h2>Action</h2>
                        <!-- <p>{{newUser.bank.account_type}}</p> -->
                    </div>
                </div>
            </div>
           <div class="row" ng-repeat="data in flightData">
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{data.jet_name}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{data.aircraft_type}}</p>
                    </div>
                </div>                
                <div class="col-md-2 col-sm-2" style="padding: 0 10px;">
                    <div class="custom_detail">
                        <!-- <p>{{data.flight_number}}</p> -->
                        <input class="form-control" type="text" ng-model="data.flight_number" name="fNo" required>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2" style="padding: 0 10px;">
                    <div class="custom_detail">
                        <!-- <p>{{data.AOP_NO}}</p> -->
                        <input class="form-control" type="text" ng-model="data.AOP_NO" name="aopNo" required>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2" style="padding: 0 10px;">
                    <div class="custom_detail">
                        <!-- <p>{{data.valid_upto}}</p> -->
                        <input class="form-control" type="text" ng-model="data.valid_upto" name="validUpto" required>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1" style="padding: 0 10px;">
                    <div class="custom_detail">
                        <!-- <p>{{data.passangers}}</p> -->
                        <input class="form-control" type="text" ng-model="data.passangers" name="passeng" required>
                    </div>
                </div>
                <div class="col-md-1 custom-label-center-align">
                    <a  href="javascript:;" ng-click="removeFlight(data._id)" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-trash"></i></a>
                    <a  href="javascript:;" ng-click="editFlight(data)" class="btn btn-md btn-icon btn-circle btn-warning"><i class="fa fa-edit"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Aircrafts Details End -->
        </form>
    </div>
</div>