<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
    <!-- Operator -->
    <div class="panel-heading">                
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h4 class="panel-title">Operator</h4>
            </div>
            <div class="col-md-6 col-sm-6">
                <h4 class="panel-title text-center">{{newUser.user_name}}</h4>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4 class="panel-title text-right">{{newUser.code}}</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="custom_detail">
                        <h2>Address</h2>
                        <p>{{newUser.address1}}<br>{{newUser.address2}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>City</h2>
                        <select class="form-control" name="city" ng-model="newUser.city" readonly
                            ng-options="x._id as x.cityName for x in State.cities">
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>State</h2>
                        <select class="form-control" name="State" ng-model="newUser.state" readonly
                            ng-options="x._id as x.stateName for x in Countries[0].states"
                            ng-change="">
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Pincode</h2>
                        <p>{{newUser.pincode}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6 col-sm-6">
                    <div class="custom_detail">
                        <h2>Razorpay Account Id</h2>
                        <p>{{newUser.account_id}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Telephone</h2>
                        <p>{{newUser.phone_number}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                            <h2>Fax</h2>
                            <p>{{newUser.fax}}</p>
                        </div>
                    </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Email</h2>
                        <p>{{newUser.email}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Pan #</h2>
                        <p>{{newUser.panCardNumber}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Pan Copy</h2>
                        <img src="{{newUser.panCardImage}}" style="height: 100px;width: 100px;margin-bottom: 10px;" ng-if="newUser.panCardImage">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>GST #</h2>
                        <p>{{newUser.gst}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>CIN</h2>
                        <p>{{newUser.sinNumber}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>Password</h2>
                        <p>{{newUser.password}}</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="custom_detail">
                        <h2>Profitable Percentage</h2>
                        <p>{{newUser.profitable_percentage}}%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    <!-- Operator End -->
    <!-- Bank Details -->
    <div class="panel-heading">                
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="panel-title">Bank Detail(s)</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>Beneficiary name</h2>
                        <p>{{newUser.bank.beneficiary_name}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>Bank name</h2>
                        <p>{{newUser.bank.bank_name}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>Account Number</h2>
                        <p>{{newUser.bank.account_no}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>A/C Type</h2>
                        <p>{{newUser.bank.account_type}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>Branch</h2>
                        <!-- <p>{{newUser.bank.beneficiary_name}}</p> -->
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="custom_detail">
                        <h2>IFSC Code</h2>
                        <p>{{newUser.bank.ifsc_code}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bank Details End -->
    
    <!-- Revenue Details -->
    <div class="panel-heading">                
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="panel-title">Revenue</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="flex-model">
                <div class="custom_detail">
                    <table>
                        <thead>
                            <tr>
                                <th><h2>Year</h2></th>
                                <th><h2>Jan</h2></th>
                                <th><h2>Feb</h2></th>
                                <th><h2>Mar</h2></th>
                                <th><h2>Apr</h2></th>
                                <th><h2>May</h2></th>
                                <th><h2>Jun</h2></th>
                                <th><h2>July</h2></th>
                                <th><h2>Aug</h2></th>
                                <th><h2>Sept</h2></th>
                                <th><h2>Oct</h2></th>
                                <th><h2>Nov</h2></th>
                                <th><h2>Dec</h2></th>
                                <th><h2>Total</h2></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr >
                                <td><p>2018</p></td>
                                <td><p>{{janAmt}}</p></td>
                                <td><p>{{febAmt}}</p></td>
                                <td><p>{{marAmt}}</p></td>
                                <td><p>{{aprAmt}}</p></td>
                                <td><p>{{mayAmt}}</p></td>
                                <td><p>{{junAmt}}</p></td>
                                <td><p>{{julAmt}}</p></td>
                                <td><p>{{augAmt}}</p></td>
                                <td><p>{{sepAmt}}</p></td>
                                <td><p>{{octAmt}}</p></td>
                                <td><p>{{novAmt}}</p></td>
                                <td><p>{{decAmt}}</p></td>
                                <td><p>{{totalAmt}}</p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Revenue End -->
    <!-- Owner Mangement Team -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="panel-title">Owner Mangement Team</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="row">
                <div class="col-md-1 col-sm-1">
                    <div class="custom_detail">
                        <h2>S.No</h2>
                    </div>  
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Name</h2>
                    </div>  
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                        <h2>Designation</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Date of Birth</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Anniversary</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Phone</h2>
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="x in newUser.owner_manegement_team track by $index">
                <div class="col-md-1 col-sm-1">
                    <div class="custom_detail">
                        <p>{{$index+1}}</p>
                    </div>  
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.name}}</p>
                    </div>  
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="custom_detail">
                         <p>{{x.designation}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.date_of_birth | date:'dd/MM/yy'}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.anniversary | date:'dd/MM/yy'}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.mobile}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Owner Mangement Team End -->
   <!-- KEY PERSONNEL DETAILS -->
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="panel-title">Key Personnel Details</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="row">
                <div class="col-md-1 col-sm-1">
                    <div >
                        <div class="custom_detail">
                            <h2>S.No.</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div >
                        <div class="custom_detail">
                            <h2>Name</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div >
                        <div class="custom_detail">
                            <h2>Designation</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Date of Birth</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Anniversary</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Phone</h2>
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="x in newUser.keyPerson track by $index">
                <div class="col-md-1 col-sm-1">
                    <div >
                        <div class="custom_detail"> 
                            <p>{{$index+1}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div >
                        <div class="custom_detail">
                            <p>{{x.name}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div >
                        <div class="custom_detail">
                            <p>{{x.designation}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.date_of_birth | date:'dd/MM/yy'}}</p>
                    </div>
                </div>
                 <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.anniversary | date:'dd/MM/yy'}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{x.mobile}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- KEY PERSONNEL DETAILS END -->
    <!-- Aircrafts Details -->
    <div class="panel-heading">                
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="panel-title">Aircrafts</h4>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="custom-operator-view">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Model</h2>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Type(FW,RW,B)</h2>
                        <!-- <p>{{newUser.bank.bank_name}}</p> -->
                    </div>
                </div>                
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Registration</h2>
                        <!-- <p>{{newUser.bank.account_type}}</p> -->
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>AOP #</h2>
                        <!-- <p>{{newUser.bank.beneficiary_name}}</p> -->
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>AOP Validity</h2>
                        <!-- <p>{{newUser.bank.ifsc_code}}</p> -->
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <h2>Seating</h2>
                        <!-- <p>{{newUser.bank.account_type}}</p> -->
                    </div>
                </div>
            </div>
            <div class="row" ng-repeat="data in flightData">
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{data.jet_name}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{data.aircraft_type}}</p>
                    </div>
                </div>                
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{data.flight_number}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{data.AOP_NO}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{data.valid_upto}}</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2">
                    <div class="custom_detail">
                        <p>{{data.passangers}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Aircrafts Details End -->
    
</div>