
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
            <a ng-show="accessEmp.User.editUser" href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">Employee ({{employee.length}})</h4>
    </div>

     <div class="row custom-top-added-form" style="padding: 0 15px" ng-show="isPopupOpen">
            <button class="close" ng-click="isPopupOpen = !isPopupOpen"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
            
            <h2 class="col-md-12">{{Title}} Employee</h2>
          <!-- FORM -->
          <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
                      <!-- Airport -->
                <div >
                    <div class="col-md-4" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.airport.$valid && !addEditForm.airport.$pristine,
                                    'has-error':addEditForm.airport.$invalid && !addEditForm.airport.$pristine}">
                            <label class="control-label">Employee Name</label>
                            <input type="text" name="empName" class="form-control" placeholder="Enter Employee name" 
                                ng-model="new.user_name" 
                                ng-disabled="" 
                                required>
                        </div>
                    </div>
                      
                      <!-- Country -->
                    <div class="col-md-4" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.country.$valid && !addEditForm.country.$pristine,
                                    'has-error':addEditForm.country.$invalid && !addEditForm.country.$pristine}">

                            <label class="control-label">Email Id</label>
                            <input type="text" name="empEmail" class="form-control" placeholder="Enter email id" 
                                ng-model="new.email" 
                                ng-disabled="" 
                                required>
                        </div>
                    </div>
                     <div class="col-md-4" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.empPwd.$valid && !addEditForm.empPwd.$pristine,
                                    'has-error':addEditForm.empPwd.$invalid && !addEditForm.empPwd.$pristine}">

                            <label class="control-label">Password</label>
                            <input type="password" name="empPwd" class="form-control" placeholder="Enter Password" 
                                ng-model="new.password" 
                                ng-disabled="" 
                                required>
                        </div>
                    </div>
                      
                      <!-- State -->
                      <div class="col-md-4" style="padding-right: 30px">
                          <div class="form-group"
                              ng-class="{'has-success':addEditForm.empPhn.$valid && !addEditForm.empPhn.$pristine,
                                      'has-error':addEditForm.empPhn.$invalid && !addEditForm.empPhn.$pristine}">
                              <label class="control-label">Phone Number</label>
                             <input type="text" name="empPhn" class="form-control" placeholder="Enter Phone Number" 
                                ng-model="new.phone_number" 
                                ng-disabled="" 
                                required>
                          </div>
                      </div>
                    </div>
                      
                      <!-- City -->
                <div>
                      <div class="col-md-4" style="padding-right: 30px">
                            <div class="form-group"
                                ng-class="{'has-success':addEditForm.city.$valid && !addEditForm.city.$pristine,
                                        'has-error':addEditForm.city.$invalid && !addEditForm.city.$pristine}">

                            <label class="control-label">Address</label>
                            <input type="text" name="empAdd" class="form-control" placeholder="Enter Address" 
                                ng-model="new.address1" 
                                ng-disabled="" 
                                required>
                          </div>
                      </div>
                        <div class="col-md-12" style="padding-right: 30px">
                            <label class=" control-label">Manage Access</label>
                            <div>
                                <div class="checkbox col-md-6">
                                    <label style="width: 25%">
                                        Aircraft
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Aircraft.viewAircraft">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Aircraft.editAircraft">
                                        Edit
                                    </label>
                                </div>
                                <div  class="checkbox col-md-6">
                                     <label style="width: 25%">
                                        Airport
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Airport.viewAirport">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Airport.editAirport">
                                        Edit
                                    </label>
                                </div>
                            </div>
                            <div>
                                <div class="checkbox col-md-6">
                                     <label style="width: 25%">
                                        Country
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Country.viewCountry">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Country.editCountry">
                                        Edit
                                    </label>
                                </div>
                                <div class="checkbox col-md-6">
                                     <label style="width: 25%">
                                        State
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.State.viewState">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.State.editState">
                                        Edit
                                    </label>
                                </div>
                            </div>
                            <div>
                                <div class="checkbox col-md-6">
                                     <label style="width: 25%">
                                        City
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.City.viewCity">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.City.editCity">
                                        Edit
                                    </label>
                                </div>
                                <div class="checkbox col-md-6">
                                     <label style="width: 25%">
                                        Airport Distance
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.AirportDistance.viewAirportDistance">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.AirportDistance.editAirportDistance">
                                        Edit
                                    </label>
                                </div>    
                            </div>
                            <div>
                                <div class="checkbox col-md-6">
                                     <label style="width: 25%">
                                        Company
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Agent.viewAgent">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Agent.editAgent">
                                        Edit
                                    </label>
                                </div>
                                <div class="checkbox col-md-6">
                                     <label style="width: 25%">
                                        User
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.User.viewUser">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.User.editUser">
                                        Edit
                                    </label>
                                </div>
    
                            </div>
                            <div>
                                <div class="checkbox col-md-6">
                                     <label style="width: 25%">
                                        Operator
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Operator.viewOperator">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Operator.editOperator">
                                        Edit
                                    </label>
                                </div>
                                 <div class="checkbox col-md-6">
                                     <label style="width: 25%">
                                        Booking
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Booking.viewBooking">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Booking.editBooking">
                                        Edit
                                    </label>
                                </div>    
                            </div>
                            <div>
                                <div class="checkbox col-md-6">
                                     <label style="width: 25%">
                                        Payment
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Payment.viewPayment">
                                        View
                                    </label>
                                    <label style="width: 20%">
                                        <input type="checkbox" ng-model="new.access_level.Payment.editPayment">
                                        Edit
                                    </label>
                                </div>   
                            </div>
                             
                        </div>
                    </div>


                    <div class="col-md-12" style="padding-right: 30px">
                        <div class="form-group">
                            <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                        </div>
                    </div>
                </form>
      </div>
          <!-- /FORM -->
      </div>
      <!-- end form -->
    
    <div class="panel-body">
        <button ng-click="exportDataXLS()">Download Xls</button>
        <button ng-click="exportDataPdf()">Download pdf</button>
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr ng-show="!show">
                    <td colspan="8">Filters</td>
                </tr>
                <tr ng-show="!show">
                    <td><input ng-model="empSearch.user_name" type="text" class="" style="width: 100%" placeholder="Search by Employee Name"></td>
                    <td><input ng-model="empSearch.phone_number" type="text" class="" style="width: 100%" placeholder="Search by Phone Number"></td>
                    <td><input ng-model="empSearch.email" type="text" class="" style="width: 100%" placeholder="Search by Email"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Employee Name</th>
                    
                    <th>Phone Number</th>
                    <th>Email Id</th>
                    <th>Address</th>
                    <th>Type</th>
                    <th ng-show="accessEmp.User.editUser && !show">Edit</th>
                    <th ng-show="!show">View</th>
                    <th ng-show="!show && accessEmp.User.editUser">Delete</th>
                </tr>
            </thead>
            <tbody ng-init="currentPage = 1; limit = 10">
                <tr class="odd gradeX" 
                    ng-repeat="x in (employee | filter:empSearch).slice(((currentPage-1)*limit), (currentPage*limit))">
                    <td>{{x.user_name}}</td>
                    
                    <td>{{x.phone_number}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.address1}}</td>
                     <td>{{x.type}}</td>
                    <td ng-show="accessEmp.User.editUser && !show"><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td ng-show="!show"><a ng-click="view(x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                    <td ng-show="!show && accessEmp.User.editUser"><a ng-click="openModal('Delete',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
        <div ng-show="showPagination">
            <ul uib-pagination total-items="(employee | filter:empSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<!-- end panel-->
<div id="exportTab">
    <table ng-show="show" class="table table-striped table-bordered">
        <thead>
            <tr>
                    <th>Employee Name</th>
                    <th>Type</th>
                    <th>Phone Number</th>
                    <th>Email Id</th>
                    <th>Address</th>
                </tr>
        </thead>
        <tbody>
            <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" 
                ng-repeat="x in employee"> 
                 <td>{{x.user_name}}</td>
                    <td>{{x.type}}</td>
                    <td>{{x.phone_number}}</td>
                    <td>{{x.email}}</td>
                    <td>{{x.address1}}</td>
            </tr>
        </tbody>
    </table>
</div>
