
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
        </div>
        <h4 class="panel-title">Employee View</h4>
    </div>
    
    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Name:
                    </th>
                    <th>
                        {{employee.user_name}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Email ID</td>
                    <td>{{employee.email}}</td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td>{{employee.phone_number}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>{{employee.address1}}</td>
                </tr>
                <tr>
                    <td>Access</td>
                    <td style="padding: 0">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Access</th>
                                    <th class="text-center">View</th>
                                    <th class="text-center">Edit</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Agent</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Agent.viewAgent}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Agent.editAgent}" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Aircraft</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Aircraft.viewAircraft}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Aircraft.editAircraft}" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Airport</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Airport.viewAirport}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Airport.editAirport}" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Airport Distance</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.AirportDistance.viewAirportDistance}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.AirportDistance.editAirportDistance}" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Booking</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Booking.viewBooking}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Booking.editBooking}" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.City.viewCity}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.City.editCity}" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Country.viewCountry}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Country.editCountry}" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Operator</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Operator.viewOperator}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Operator.editOperator}" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>Payment</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Payment.viewPayment}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.Payment.editPayment}" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>State</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.State.viewState}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.State.editState}" aria-hidden="true"></i></td>
                            </tr>
                            <tr>
                                <td>User</td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.User.viewUser}" aria-hidden="true"></i></td>
                                <td class="text-center"><i class="fa" ng-class="{'fa-check': employee.access_level.User.editUser}" aria-hidden="true"></i></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end panel-->
