<div class="cst-cards">
	<div class="cst-card" ng-click="navigate('main.aircraft.list')">
		<div class="static">
			{{Stact.aircraft}}
		</div>
		<div class="heading">
			Number of Aircrafts
		</div>
	</div>
	<div class="cst-card" ng-click="navigate('main.booking.list')">
		<div class="static">
			{{Stact.quotation}}
		</div>
		<div class="heading">
			Number of Quotation
		</div>
	</div>
	<div class="cst-card" ng-click="navigate('main.user.list')">
		<div class="static">
			{{Stact.user}}
		</div>
		<div class="heading">
			Number of Users
		</div>
	</div>
	<div class="cst-card" ng-click="navigate('main.opretor.list')">
		<div class="static">
			{{Stact.oprator}}
		</div>
		<div class="heading">
			Number of Operator
		</div>
	</div>
	<div class="cst-card">
		<div class="static">
			{{Stact.activeUser}}
		</div>
		<div class="heading">
			Number of Active Users
		</div>
	</div>

	<div class="cst-card">
		<div class="static">
			    {{totalrev}}
		</div>
		<div class="heading">
			Total Revenue
		</div>
	</div>
</div>
<br>
<div class="row" style="margin-bottom: 10px;">
<!-- ng-if="isEvents" -->
	<!-- <div class="col-md-6 col-sm-6 col-md-push-3 col-sm-push-3"  style="background: #fff; padding: 10px; border-radius: 5px;">
		<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
		<style type="text/css">
			.fc-today {
			    background: #0f1626 !important;
			    border: none !important;
			    /*border-top: 5px solid #007aff !important;*/
			    color: #FFF;
			    font-weight: bold;
			}
		</style>
	</div> -->

	<!-- new event calander -->
	<div class="row" style="height: 114px;">

	        <div class="col-md-6 text-center" >
	          <div class="btn-group">
	            <button
	              class="btn btn-primary"
	              mwl-date-modifier
	              date="viewDate"
	              decrement="calendarView">
	              Previous
	            </button>
	            <button class="btn btn-default" mwl-date-modifier date="viewDate" set-to-today style="color: #0f1626 !important; background-color: #eee !important;">Today</button>
	            <button
	              class="btn btn-primary"
	              mwl-date-modifier
	              date="viewDate"
	              increment="calendarView">
	              Next
	            </button>
	          </div>
	        </div>

	        <br class="visible-xs visible-sm">

	        <div class="col-md-6 text-center">
	          <div class="btn-group">
	            <label class="btn btn-primary" ng-model="calendarView" ng-click="clickEvent(calendarView)" uib-btn-radio="'year'">Year</label>
	            <label class="btn btn-primary" ng-model="calendarView" ng-click="clickEvent(calendarView)" uib-btn-radio="'month'">Month</label>
	            <label class="btn btn-primary" ng-model="calendarView" ng-click="clickEvent(calendarView)" uib-btn-radio="'week'">Week</label>
	            <label class="btn btn-primary" ng-model="calendarView" ng-click="clickEvent(calendarView)" uib-btn-radio="'day'">Day</label>
	          </div>
	        </div>

	      </div>
	      	<div class="row">
	      		<div class="col-lg-10 col-md-10 col-lg-push-1 col-md-push-1 col-sm-12">
					<mwl-calendar
					    view="calendarView"
					    view-date="viewDate"
					    events="events"
					    view-title="calendarTitle"
					    on-event-click="eventClicked(calendarEvent)"
					    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
					    cell-is-open="true">
					</mwl-calendar>
					<br><br>
				</div>
	      	</div>

		<!-- new event calander -->
	</div>
</div>

<style type="text/css">
	.cst-cards{
		display: block;
		margin-bottom: 30px;
	}
	.cst-cards .cst-card {
		display: inline-block;
		width: calc(100%/3.1);
		height: auto;
		padding: 25px 15px;
		margin-right: 0;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
	}
	.cst-cards .cst-card.cst-card-auto{
		width: auto;
	}
	.cst-cards .cst-card:last-child{
		margin-right: 0;
	}
	.cst-cards .cst-card .static{
		font-size: 50px;
		display: block;
		font-weight: bold;
		letter-spacing: 3px;
    	color: #0f1626;
	}
	.cst-cards .cst-card .heading{
		display: block;
	    font-size: 18px;
	    font-weight: bold;
	    letter-spacing: 1px;
	}
	.fc .fc-toolbar h2 {
	    font-size: 24px;
	    line-height: 30px;
	    padding: 17px 0 0 20px;
	}
</style>