<header class="dashboard-header">
	<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand"><img src="assets/img/logo.png" alt="jetsmart"></a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->

				<!-- begin header navigation right -->
				<ul class="nav navbar-nav navbar-right">
					<!-- <li>
						<form class="navbar-form full-width">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Enter keyword">
								<button type="submit" class="btn btn-search"><i class="ion-ios-search-strong"></i></button>
							</div>
						</form>
					</li> -->
					<!-- <li class="dropdown">
						<a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle icon">
							<i class="ion-ios-bell"></i>
							<span class="label">5</span>
						</a>
						<ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="ion-ios-close-empty media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-1.jpg" class="media-object" alt=""></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><img src="assets/img/user-2.jpg" class="media-object" alt=""></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="ion-ios-plus-empty media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="ion-ios-email-outline media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
						</ul>
					</li> -->
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<!-- <span class="user-image online">
								<img src="assets/img/user-13.jpg" alt="">
							</span> -->
							<span class="hidden-xs">{{username}}</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu animated fadeInLeft">
							<li class="arrow"></li>
							<!-- <li><a href="javascript:;">Edit Profile</a></li>
							<li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
							<li><a href="javascript:;">Calendar</a></li>
							<li><a href="javascript:;">Setting</a></li>
							<li class="divider"></li> -->
							<li><a ng-click="changePassword()">Change Password</a></li>
							<li><a ng-click="logout()">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end header navigation right -->
			</div>
</header>
<div id="sidebar" class="sidebar" ng-show="userType=='admin' || userType=='employee'">
			<!-- begin sidebar scrollbar -->
	<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div data-scrollbar="true" data-height="100%" data-init="true" style="overflow: hidden; width: auto; height: 100%;">
		<!-- begin sidebar user -->
		<!-- <ul class="nav">
			<li class="nav-profile">
				<div class="image">
					<a href="javascript:;"><img src="assets/img/user-13.jpg" alt=""></a>
				</div>
				<div class="info">
					{{username}}
					<small>Front end developer</small> 
				</div>
			</li>
		</ul> -->
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav">
			<!-- <li class="nav-header">Navigation</li> -->
			<li class="has-sub" ng-class={'active':li_active=="Dashboard"}>
				<a ui-sref="main.dashboard" ng-click="li_dash=!li_dash; li_active='Dashboard'">
				    <!-- <b class="caret pull-right"></b> -->
				    <i class="ion-ios-pulse-strong"></i>
				    <span>Dashboard</span>
			    </a>
				<!-- <ul class="sub-menu" ng-if="li_dash">
				    <li class="active"><a href="index.html">Dashboard v1</a></li>
				    <li><a href="index_v2.html">Dashboard v2</a></li>
				</ul> -->
			</li>
			<li class="has-sub"
				ng-show="accessEmp.Aircraft.viewAircraft"
				ng-class="{'active':li_active=='Aircrafts'}">
				<a ng-click="li_air=!li_air; li_active='Aircrafts'">
				<b class="caret pull-right"></b>
					<!-- <span class="badge pull-right">10</span> -->
					<!-- <i class="ion-jet bg-blue"></i>  -->
					<i class="ion-jet"></i>

					<span>Aircrafts</span>
				</a>
				<ul class="sub-menu" ng-if="li_air">
				    <li ng-class="{'active':li_active_sub=='li_aircraft_all'}" ><a ng-click="li_active_sub='li_aircraft_all'" ui-sref="main.aircraft.list">All</a></li>
				    <!-- <li><a ui-sref="main.aircraft.add">Add</a></li> -->
				    <!-- <li><a ui-sref="main.aircraft.Add">Add</a></li> -->
				    <!-- <li><a href="email_compose.html">Compose</a></li>
				    <li><a href="email_detail.html">Detail</a></li> -->
				</ul>
			</li>
			<li class="has-sub" 
				ng-show="accessEmp.Country.viewCountry || accessEmp.State.viewState || accessEmp.City.viewCity || accessEmp.Airport.viewAirport || accessEmp.AirportDistance.viewAirportDistance" 
				ng-class={'active':li_active=="Master"}>
				<a ng-click="li_master=!li_master; li_active='Master'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<!-- <span class="badge pull-right">10</span> -->
					<!-- <i class="ion-jet bg-blue"></i>  -->

					<span>Master</span>
				</a>
				<ul class="sub-menu" ng-if="li_master">
				    <li ng-show="accessEmp.Country.viewCountry" ng-class="{'active':li_active_sub=='li_master_country'}" ><a ng-click="li_active_sub='li_master_country'" ui-sref="main.master.country">Country</a></li>
				    <li><a ui-sref="main.master.region">Region</a></li>
				    <li ng-show="accessEmp.State.viewState" ng-class="{'active':li_active_sub=='li_master_state'}" ><a ng-click="li_active_sub='li_master_state'" ui-sref="main.master.state">State</a></li>
				    <li ng-show="accessEmp.City.viewCity" ng-class="{'active':li_active_sub=='li_master_city'}" ><a ng-click="li_active_sub='li_master_city'" ui-sref="main.master.city">City</a></li>
				    <li ng-show="accessEmp.Airport.viewAirport" ng-class="{'active':li_active_sub=='li_master_airport'}" ><a ng-click="li_active_sub='li_master_airport'" ui-sref="main.master.airport">Airport</a></li>
				    <li ng-show="accessEmp.AirportDistance.viewAirportDistance" ng-class="{'active':li_active_sub=='li_master_distace'}" ><a ng-click="li_active_sub='li_master_distace'" ui-sref="main.master.distance({page_no:1})">Airport Distance</a></li>
				</ul>
			</li>

			<li class="has-sub" ng-show="accessEmp.Agent.viewAgent" ng-class={'active':li_active=="li_agent"}>
				<a ng-click="li_agent=!li_agent; li_active='li_agent'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<!-- <span class="badge pull-right">10</span> -->
					<!-- <i class="ion-jet bg-blue"></i>  -->

					<span>Company</span>
				</a>
				<ul class="sub-menu" ng-if="li_agent">
				    <li ng-show="accessEmp.Agent.editAgent" ng-class="{'active':li_active_sub=='li_agent_add'}"><a ng-click="li_active_sub='li_agent_add'" ui-sref="main.agent.add">Add</a></li>
				    <li ng-class="{'active':li_active_sub=='li_agent_list'}"><a ng-click="li_active_sub='li_agent_list'" ui-sref="main.agent.list">List</a></li>
				</ul>
			</li>


			<li ng-show="accessEmp.Operator.viewOperator" class="has-sub"  ng-class={'active':li_active=="li_opretor"}>
				<a ng-click="li_opretor=!li_opretor; li_active='li_opretor'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<!-- <span class="badge pull-right">10</span> -->
					<!-- <i class="ion-jet bg-blue"></i>  -->
					<span>Operator</span>
				</a>
				<ul class="sub-menu" ng-if="li_opretor">
				    <li ng-show="accessEmp.Operator.editOperator" ng-class="{'active':li_active_sub=='li_opretor_add'}" ><a ng-click="li_active_sub='li_opretor_add'" ui-sref="main.opretor.add">Add</a></li>
				    <li ng-class="{'active':li_active_sub=='li_opretor_list'}" ><a ng-click="li_active_sub='li_opretor_list'" ui-sref="main.opretor.list">List</a></li>
			</li>
				</ul>
			</li>




			<li ng-show="accessEmp.User.viewUser" class="has-sub" ng-class={'active':li_active=="li_user"}>
				<a ng-click="li_user=!li_user; li_active='li_user'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<span>Users</span>
				</a>
				<ul class="sub-menu" ng-if="li_user">
				    <li ng-class="{'active':li_active_sub=='li_user_list'}" ><a ng-click="li_active_sub='li_user_list'" ui-sref="main.user.list">List</a></li>
				</ul>
			</li>
			<li ng-show="accessEmp.Booking.viewBooking" class="has-sub" ng-class={'active':li_active=="li_booking"}>
				<a ng-click="li_booking=!li_booking; li_active='li_booking'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<span>Booking</span>
				</a>
				<ul class="sub-menu" ng-if="li_booking">
				    <li ng-class="{'active':li_active_sub=='li_booking_list'}" ><a ng-click="li_active_sub='li_booking_list'" ui-sref="main.booking.list">List</a></li>
				</ul>
			</li>
			<li ng-show="accessEmp.Payment.viewPayment" class="has-sub" ng-class="{'active':li_active == 'li_payment'}">
				<a ng-click="li_payment=!li_payment; li_active='li_payment'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<span>Payment</span>
				</a>
				<ul class="sub-menu" ng-if="li_payment">
				    <li ng-class="{'active':li_active_sub=='li_payment_list'}" ><a ng-click="li_active_sub='li_payment_list'" ui-sref="main.payment.list">List</a></li>
				</ul>
			</li>
			<li ng-show="accessEmp.User.viewUser" class="has-sub" ng-class="{'active':li_active == 'li_employee'}">
				<a ng-click="li_employee=!li_employee; li_active='li_employee'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<span>Employee</span>
				</a>
				<ul class="sub-menu" ng-if="li_employee">
				    <li ng-class="{'active':li_active_sub=='li_employee_list'}" ><a ng-click="li_active_sub='li_employee_list'" ui-sref="main.employee">List</a></li>
				</ul>
			</li>

			<li ng-show="accessEmp.Flight.viewFlight" class="has-sub" ng-class="{'active':li_active == 'li_flights'}">
				<a ng-click="li_flights=!li_flights; li_active='li_flights'">
				<b class="caret pull-right"></b>
				<i class="ion-jet"></i>
					<span>Flights</span>
				</a>
				<ul class="sub-menu" ng-if="li_flights">
				    <li ng-class="{'active':li_active_sub=='li_flights_list'}" ><a ng-click="li_active_sub='li_flights_list'" ui-sref="main.flight.list">List</a></li>
				</ul>
			</li>
			<li ng-show="accessEmp.Emptylegs.viewEmptylegs" class="has-sub" ng-class="{'active':li_active == 'li_emptyJets'}">
				<a ng-click="li_emptyJets=!li_emptyJets; li_active='li_emptyJets'">
				<b class="caret pull-right"></b>
				<i class="ion-jet"></i>
					<span>Empty Legs</span>
				</a>
				<ul class="sub-menu" ng-if="li_emptyJets">
				    <li ng-class="{'active':li_active_sub=='li_emptyJets_list'}" >
				    	<a ng-click="li_active_sub='li_emptyJets_list'" ui-sref="main.emptyLeg">List</a>
				    </li>
				</ul>
			</li>
	        <!-- end sidebar minify button -->
		</ul>
		<!-- end sidebar nav -->
	</div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 96.9551px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
	<!-- end sidebar scrollbar -->
</div>

<!-- user navigation -->
<div id="sidebar" class="sidebar" ng-show="userType=='oprator'">
			<!-- begin sidebar scrollbar -->
	<!-- <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;"><div data-scrollbar="true" data-height="100%" data-init="true" style="overflow: hidden; width: auto; height: 100%;"> -->
		<!-- begin sidebar user -->
		<!-- <ul class="nav">
			<li class="nav-profile">
				<div class="image">
					<a href="javascript:;"><img src="assets/img/user-13.jpg" alt=""></a>
				</div>
				<div class="info">
					{{username}}
					 <small>Front end developer</small>
				</div>
			</li>
		</ul> -->
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav">
				<!-- <li class="nav-header">Navigation</li> -->
				<li class="has-sub" ng-class={'active':li_active=="Dashboard"}>
					<a ng-click="li_dash=!li_dash; li_active='Dashboard'" ui-sref="main.dashboard">
					    <!-- <b class="caret pull-right"></b> -->
					    <i class="ion-ios-pulse-strong"></i>
					    <span>Dashboard</span>
				    </a>
				</li>
				<li class="has-sub" ng-class="{'active':li_active=='Account'}">
					<a ng-click="li_dash=!li_dash; li_active='Account'" ui-sref="main.account">
					    <!-- <b class="caret pull-right"></b> -->
					    <i class="ion-ios-pulse-strong"></i>
					    <span>Account</span>
				    </a>
				</li>
				<li class="has-sub"
					ng-class="{'active':li_active=='Aircrafts'}">
					<a ng-click="li_air=!li_air; li_active='Aircrafts'">
					<b class="caret pull-right"></b>
						<i class="ion-jet"></i>

						<span>Aircrafts</span>
					</a>
					<ul class="sub-menu" ng-if="li_air">
					    <li ng-class="{'active':li_active_sub=='li_aircraft_all'}" ><a ng-click="li_active_sub='li_aircraft_all'" ui-sref="main.aircraft.operatorList">All</a></li>
					     <li class="has-sub"  ng-class={'active':li_active=="li_air"}>
					    	<!-- <a ng-click="li_air=!li_air; li_active='li_air'">Flight</a>
					<ul class="sub-menu" ng-if="li_air">
					    <li><a ui-sref="main.aircraft.operatorFlightAdd">Booking</a></li>
					    <li><a ui-sref="main.flight.list">List</a></li>
					    
					</ul> -->
				     </li>
					</ul>
				</li>
				<li class="has-sub" ng-class="{'active':li_active=='Flight'}">
					<a ng-click="li_fl=!li_fl; li_active='Flight'">
					    <!-- <b class="caret pull-right"></b> -->
					    <b class="caret pull-right"></b>
						<i class="ion-jet"></i>
							<span>Flight</span>
				    </a>
				    <ul class="sub-menu" ng-if="li_fl">
					    <li ui-sref="main.aircraft.operatorFlightAdd" ng-class="{'active':li_active_sub=='li_flight_book'}" ><a ng-click="li_active_sub='li_flight_book'" ui-sref="main.flight.add">Booking</a></li>
					     <li ng-class="{'active':li_active_sub=='li_flight_list'}" ><a ng-click="li_active_sub='li_flight_list'" ui-sref="main.flight.list">List</a></li>
					</ul>
					
				</li>

				<li class="has-sub" ng-class="{'active':li_active=='Empty_leg'}">
					<a ng-click="li_em=!li_em; li_active='Empty_leg'">
					    <!-- <b class="caret pull-right"></b> -->
					    <b class="caret pull-right"></b>
						<i class="ion-jet"></i>
							<span>Empty Leg</span>
				    </a>
				    <ul class="sub-menu" ng-if="li_em">
					    <li ng-class="{'active':li_active_sub=='li_empty_add'}" ><a ng-click="li_active_sub='li_empty_add'" ui-sref="main.emptyLegAdd">Add</a></li>
					     <li ng-class="{'active':li_active_sub=='li_empty_all'}" ><a ng-click="li_active_sub='li_empty_all'" ui-sref="main.emptyLeg">All</a></li>
					</ul>
				</li>
			<!-- <li class="has-sub"  ng-class={'active':li_active=="Master"}>
				<a ng-click="li_master=!li_master; li_active='Master'">
				<b class="caret pull-right"></b>
				<i class="ion-person-stalker"></i>
					<span>Master</span>
				</a>
				<ul class="sub-menu" ng-if="li_master">
				    <li><a ui-sref="main.master.airport">Airport</a></li>
				    <li><a ui-sref="main.master.distance">Airport Distance</a></li>
				</ul>
			</li> -->
	        <!-- begin sidebar minify button -->
			<!-- <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="ion-ios-arrow-left"></i> <span>Collapse</span></a></li> -->
	        <!-- end sidebar minify button -->
		</ul>
		<!-- end sidebar nav -->
	</div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 96.9551px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
	<!-- end sidebar scrollbar -->
</div><!-- 
<div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 96.9551px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div> -->




<div id="content" class="content">
	<!-- begin breadcrumb -->
	<!-- <ol class="breadcrumb pull-right">
		<li><a href="javascript:;">Home</a></li>
		<li class="active">Dashboard</li>
	</ol> -->
	<!-- end breadcrumb -->
	<!-- begin page-header -->
	<!-- <h1 class="page-header">Dashboard <small>header small text goes here...</small></h1> -->
	<!-- end page-header -->
	<div ncy-breadcrumb></div>

	<!-- begin section -->
	<ui-view class="container-fluid" style="display: block;"></ui-view>
	<!-- end section -->
	<script type="text/javascript">
		$(document).ready(function(){
			// alert("test")
		})
	</script>
</div>
<script type="text/ng-template" id="change-Password.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
    
    <div class="panel-heading">
        <h4 class="panel-title">Change Password</h4>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" name="change" ng-submit="submitPassword(change.$valid)" novalidate>

            <div class="form-group"
                ng-class="{'has-success':change.fromAirport.$valid && !change.fromAirport.$pristine,
                        'has-error':change.fromAirport.$invalid && !change.fromAirport.$pristine}">

                <label class="col-md-3 control-label">Old Password</label>
                <div class="col-md-9">
                    <input type="password" name="oldPwd" class="form-control" 
                        ng-model="new.oldPassword" 
                        required>
                </div>
            </div>

            <div class="form-group"
            	ng-class="{'has-success':change.toAirport.$valid && !change.toAirport.$pristine,
            			'has-error':change.toAirport.$invalid && !change.toAirport.$pristine}">

                <label class="col-md-3 control-label">New Password</label>
                <div class="col-md-9">
                    <input type="password" name="newPwd" class="form-control" 
                        ng-model="new.newPassword" 
                        required>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':change.distance.$valid && !change.distance.$pristine,
                        'has-error':change.distance.$invalid && !change.distance.$pristine}">
                <label class="col-md-3 control-label">Confirm New Password</label>
                <div class="col-md-9">
                    <input type="password" name="confirmPwd" class="form-control" 
                        ng-model="new.confirmPassword" 
                        required>
                </div>
            </div>
            
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-disabled="change.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</script>