<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
        <div class="panel-heading">
            <h4 class="panel-title">{{Title}} Airport</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <h2 class="last-custom-heading">Aircraft Details</h2>
                </div>
                <div class="col-md-10 col-sm-10">                
                    <table class="table table-striped table-bordered">
                        <col width="50%">
                        <col width="50%">
                        <tr>
                            <td>Airport</td>
                            <td>{{new.airport}}</td>
                        </tr>
                        <tr>
                            <td>ICAO Code</td>
                            <td>{{new.icao}}</td>
                        </tr>
                        <tr>
                            <td>IATA Code</td>
                            <td>{{new.iata}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>{{countryName}}</td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td>{{stateName}}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>{{cityName}}</td>
                        </tr>
                        <tr>
                            <td>Runway</td>
                            <td>{{new.runway}}</td>
                        </tr>
                        <tr>
                            <td>Category</td>
                            <td>{{new.category}}</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>{{new.role}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-2 col-sm-2">
                    <h2 class="last-custom-heading">Ground Handling</h2>
                </div>
                <div class="col-md-10 col-sm-10">
                    <table class="table table-striped table-bordered">
                        <col width="50%">
                        <col width="50%">
                        <tr>
                            <td>W05</td>
                            <td>{{new.groundhandling.W05}}</td>
                        </tr>
                        <tr>
                            <td>W510</td>
                            <td>{{new.groundhandling.W510}}</td>
                        </tr>
                        <tr>
                            <td>W1015</td>
                            <td>{{new.groundhandling.W1015}}</td>
                        </tr>
                        <tr>
                            <td>W1520</td>
                            <td>{{new.groundhandling.W1520}}</td>
                        </tr>
                        <tr>
                            <td>W2030</td>
                            <td>{{new.groundhandling.W2030}}</td>
                        </tr>
                        <tr>
                            <td>W3040</td>
                            <td>{{new.groundhandling.W3040}}</td>
                        </tr>
                        <tr>
                            <td>W4050</td>
                            <td>{{new.groundhandling.W4050}}</td>
                        </tr>
                        <tr>
                            <td>W5070</td>
                            <td>{{new.groundhandling.W5070}}</td>
                        </tr>
                        <tr>
                            <td>W70M</td>
                            <td>{{new.groundhandling.W70M}}</td>  
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</div>
