<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->
            <a ng-show="accessEmp.Airport.editAirport" href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">Airports</h4>
    
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->

</div>

      <div class="row custom-top-added-form" style="padding: 0 15px" ng-show="isPopupOpen">
            <button class="close" ng-click="isPopupOpen = !isPopupOpen"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
            
            <h2 class="col-md-12">{{Title}} Airport</h2>

          <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
                      <!-- Airport -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.airport.$valid && !addEditForm.airport.$pristine,
                                    'has-error':addEditForm.airport.$invalid && !addEditForm.airport.$pristine}">
                            <label class="control-label">Airport</label>
                            <input type="text" name="airport" class="form-control" placeholder="Enter airport name" 
                                ng-model="new.airport" 
                                ng-disabled="" 
                                required>
                        </div>
                    </div>
                      
                      <!-- Country -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.country.$valid && !addEditForm.country.$pristine,
                                    'has-error':addEditForm.country.$invalid && !addEditForm.country.$pristine}">

                            <label class="control-label">Country</label>
                            <select type="text" name="country" class="form-control" 
                                ng-model="new.country"
                                ng-disabled="" 
                                ng-options="x._id as x.countryName for x in Countries"
                                required></select>
                        </div>
                    </div>
                      
                      <!-- State -->
                      <div class="col-md-3" style="padding-right: 30px">
                          <div class="form-group"
                              ng-class="{'has-success':addEditForm.state.$valid && !addEditForm.state.$pristine,
                                      'has-error':addEditForm.state.$invalid && !addEditForm.state.$pristine}">
                              <label class="col-md-3 control-label">State</label>
                              <select type="text" name="state" class="form-control" 
                                  ng-model="new.state"
                                  ng-disabled="!new.country" 
                                  ng-options="x.states._id as x.states.stateName for x in States | filter:new.country"
                                  required></select>
                          </div>
                      </div>
                      
                      <!-- City -->
                      <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.city.$valid && !addEditForm.city.$pristine,
                                    'has-error':addEditForm.city.$invalid && !addEditForm.city.$pristine}">

                        <label class="control-label">City</label>
                        <select type="text" name="city" class="form-control" 
                            ng-model="new.city"
                            ng-disabled="!new.state" 
                            ng-options="x.states.cities._id as x.states.cities.cityName for x in Cities | filter:new.state"
                            required></select>
                      </div>
                  </div>

                  <!-- Runway -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.runway.$valid && !addEditForm.runway.$pristine,
                                    'has-error':addEditForm.runway.$invalid && !addEditForm.runway.$pristine}">
                            <label class="control-label">Runway</label>
                            <input type="number" name="runway" class="form-control" placeholder="" 
                                ng-model="new.runway" 
                                required>
                        </div>
                    </div>

                  <!-- icao -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.icao.$valid && !addEditForm.icao.$pristine,
                                    'has-error':addEditForm.icao.$invalid && !addEditForm.icao.$pristine}">
                            <label class="control-label">icao</label>
                            <input type="text" name="icao" class="form-control" placeholder="" 
                                ng-model="new.icao" 
                                >
                        </div>
                    </div>

                  <!-- iata -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.iata.$valid && !addEditForm.iata.$pristine,
                                    'has-error':addEditForm.iata.$invalid && !addEditForm.iata.$pristine}">
                            <label class="control-label">iata</label>
                            <input type="text" name="iata" class="form-control" placeholder="" 
                                ng-model="new.iata" 
                                >
                        </div>
                    </div>

                  <!-- category -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.category.$valid && !addEditForm.category.$pristine,
                                    'has-error':addEditForm.category.$invalid && !addEditForm.category.$pristine}">
                            <label class="control-label">category</label>
                            <select type="text" name="category" class="form-control" 
                                ng-model="new.category"
                                ng-options="x as x for x in ['AAI','Defence','Domestic','Domestic/Defence','Future','HAL Civil Aviation','International','International[1]','International[2]','MADC','Private','Reliance']"
                                required></select>
                        </div>
                    </div>

                  <!-- role -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.role.$valid && !addEditForm.role.$pristine,
                                    'has-error':addEditForm.role.$invalid && !addEditForm.role.$pristine}">
                            <label class="control-label">role</label>
                            <select type="text" name="role" class="form-control" 
                                ng-model="new.role"
                                ng-options="x as x for x in ['Aerospace Engineering','Air Base','Airbase','Airfield','Chartered Flights','Civil Enclave','Civil enclave/ Air Base','Closed','Closed[3]','Coast Guard','Commercial','commercial','Domestic','Flying School','Flying school','Future','General Aviation','Military','No flights scheduled','Not Started','Private','Under Construction']"
                                required></select>
                        </div>
                    </div>

                  <!-- groundhandling -->
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.groundhandling.W05.$valid && !addEditForm.groundhandling.W05.$pristine,
                                    'has-error':addEditForm.groundhandling.W05.$invalid && !addEditForm.groundhandling.W05.$pristine}">
                            <label class="control-label">Ground Handling W05</label>
                            <input type="number" name="groundhandling.W05" class="form-control" placeholder="" 
                                ng-model="new.groundhandling.W05" 
                                required>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.groundhandling.W510.$valid && !addEditForm.groundhandling.W510.$pristine,
                                    'has-error':addEditForm.groundhandling.W510.$invalid && !addEditForm.groundhandling.W510.$pristine}">
                            <label class="control-label">Ground Handling W510</label>
                            <input type="number" name="groundhandling.W510" class="form-control" placeholder="" 
                                ng-model="new.groundhandling.W510" 
                                required>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.groundhandling.W1015.$valid && !addEditForm.groundhandling.W1015.$pristine,
                                    'has-error':addEditForm.groundhandling.W1015.$invalid && !addEditForm.groundhandling.W1015.$pristine}">
                            <label class="control-label">Ground Handling W1015</label>
                            <input type="number" name="groundhandling.W1015" class="form-control" placeholder="" 
                                ng-model="new.groundhandling.W1015" 
                                required>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.groundhandling.W1520.$valid && !addEditForm.groundhandling.W1520.$pristine,
                                    'has-error':addEditForm.groundhandling.W1520.$invalid && !addEditForm.groundhandling.W1520.$pristine}">
                            <label class="control-label">Ground Handling W1520</label>
                            <input type="number" name="groundhandling.W1520" class="form-control" placeholder="" 
                                ng-model="new.groundhandling.W1520" 
                                required>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.groundhandling.W2030.$valid && !addEditForm.groundhandling.W2030.$pristine,
                                    'has-error':addEditForm.groundhandling.W2030.$invalid && !addEditForm.groundhandling.W2030.$pristine}">
                            <label class="control-label">Ground Handling W2030</label>
                            <input type="number" name="groundhandling.W2030" class="form-control" placeholder="" 
                                ng-model="new.groundhandling.W2030" 
                                required>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.groundhandling.W3040.$valid && !addEditForm.groundhandling.W3040.$pristine,
                                    'has-error':addEditForm.groundhandling.W3040.$invalid && !addEditForm.groundhandling.W3040.$pristine}">
                            <label class="control-label">Ground Handling W3040</label>
                            <input type="number" name="groundhandling.W3040" class="form-control" placeholder="" 
                                ng-model="new.groundhandling.W3040" 
                                required>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.groundhandling.W4050.$valid && !addEditForm.groundhandling.W4050.$pristine,
                                    'has-error':addEditForm.groundhandling.W4050.$invalid && !addEditForm.groundhandling.W4050.$pristine}">
                            <label class="control-label">Ground Handling W4050</label>
                            <input type="number" name="groundhandling.W4050" class="form-control" placeholder="" 
                                ng-model="new.groundhandling.W4050" 
                                required>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.groundhandling.W5070.$valid && !addEditForm.groundhandling.W5070.$pristine,
                                    'has-error':addEditForm.groundhandling.W5070.$invalid && !addEditForm.groundhandling.W5070.$pristine}">
                            <label class="control-label">Ground Handling W5070</label>
                            <input type="number" name="groundhandling.W5070" class="form-control" placeholder="" 
                                ng-model="new.groundhandling.W5070" 
                                required>
                        </div>
                    </div>
                    <div class="col-md-3" style="padding-right: 30px">
                        <div class="form-group"
                            ng-class="{'has-success':addEditForm.groundhandling.W70M.$valid && !addEditForm.groundhandling.W70M.$pristine,
                                    'has-error':addEditForm.groundhandling.W70M.$invalid && !addEditForm.groundhandling.W70M.$pristine}">
                            <label class="control-label">Ground Handling W70M</label>
                            <input type="number" name="groundhandling.W70M" class="form-control" placeholder="" 
                                ng-model="new.groundhandling.W70M" 
                                required>
                        </div>
                    </div>



                    <div class="col-md-12" style="padding-right: 30px">
                        <div class="form-group">
                            <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                        </div>
                    </div>
                </form>
            </div>
          <!-- /FORM -->
      </div>
      <!-- end form -->
      
    <div class="panel-body">
        <button ng-click="exportDataXLS()">Download Xls</button>
        <button ng-click="exportDataPdf()">Download pdf</button>
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td colspan="8" ng-show="!show">Filters</td>
                </tr>
                <tr ng-show="!show">
                    <td><input ng-model="airportSearch.airport" type="text" class="" style="width: 100%" placeholder="Search by Airport Name"></td>
                    <td><input ng-model="airportSearch.cityName" type="text" class="" style="width: 100%" placeholder="Search by City Name"></td>
                    <td><input ng-model="airportSearch.stateName" type="text" class="" style="width: 100%" placeholder="Search by State Name"></td>
                    <td><input ng-model="airportSearch.icao" type="text" class="" style="width: 100%" placeholder="Search by ICAO"></td>
                    <td><input ng-model="airportSearch.iata" type="text" class="" style="width: 100%" placeholder="Search by IATA"></td>
                    <td ng-show="accessEmp.Airport.editAirport"></td>
                    <td ></td>
                    <td ></td>
                </tr>
                <tr>
                    <th>Airport</th>
                    <th>City</th>
                    <th>State</th>
                    <th>ICAO</th>
                    <th>IATA</th>
                    <th ng-show="accessEmp.Airport.editAirport && !show">Edit</th>
                    <th ng-show="!show">View</th>
                    <th ng-show="!show">Delete</th>
                </tr>
            </thead>
            <tbody>

                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" 
                    ng-repeat="x in (Airports | filter:airportSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                    
                    <td>{{x.airport}}</td>
                    <td>{{x.cityName}}</td>
                    <td>{{x.stateName}}</td>
                    <td>{{x.icao}}</td>
                    <td>{{x.iata}}</td>
                    <td ng-show="accessEmp.Airport.editAirport && !show"><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td ng-if="!show"><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                    <td ng-if="!show"><a ng-click="openModal('Delete',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td>
                </tr>
                
            </tbody>
        </table>
    </div>
    <div ng-show="showPagination">
        <ul uib-pagination total-items="(Airports | filter:airportSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
    </div>
</div>
<!-- end panel-->
<!-- POPUP -->
<div id="exportTab">
    <table ng-show="show" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Airport</th>
                <th>City</th>
                <th>State</th>
                <th>ICAO</th>
                <th>IATA</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" 
                ng-repeat="x in Airports | filter:airportSearch">
                <td>{{x.airport}}</td>
                <td>{{x.cityName}}</td>
                <td>{{x.stateName}}</td>
                <td>{{x.icao}}</td>
                <td>{{x.iata}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="airport-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
        <div class="panel-heading">
            <h4 class="panel-title">{{Title}} Airport</h4>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered">
                <tr>
                    <td>Airport</td>
                    <td>{{new.airport}}</td>
                </tr>
                <tr>
                    <td>ICAO Code</td>
                    <td>{{new.icao}}</td>
                </tr>
                <tr>
                    <td>IATA Code</td>
                    <td>{{new.iata}}</td>
                </tr>
                <tr>
                    <td>Country</td>
                    <td>{{new.countryName}}</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>{{new.stateName}}</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>{{new.cityName}}</td>
                </tr>
                <tr>
                    <td>Runway</td>
                    <td>{{new.runway}}</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>{{new.category}}</td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td>{{new.role}}</td>
                </tr>
            </table>
            <hr>
            <h2>Ground Handling</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>W05</td>
                    <td>{{new.groundhandling.W05}}</td>
                </tr>
                <tr>
                    <td>W510</td>
                    <td>{{new.groundhandling.W510}}</td>
                </tr>
                <tr>
                    <td>W1015</td>
                    <td>{{new.groundhandling.W1015}}</td>
                </tr>
                <tr>
                    <td>W1520</td>
                    <td>{{new.groundhandling.W1520}}</td>
                </tr>
                <tr>
                    <td>W2030</td>
                    <td>{{new.groundhandling.W2030}}</td>
                </tr>
                <tr>
                    <td>W3040</td>
                    <td>{{new.groundhandling.W3040}}</td>
                </tr>
                <tr>
                    <td>W4050</td>
                    <td>{{new.groundhandling.W4050}}</td>
                </tr>
                <tr>
                    <td>W5070</td>
                    <td>{{new.groundhandling.W5070}}</td>
                </tr>
                <tr>
                    <td>W70M</td>
                    <td>{{new.groundhandling.W70M}}</td>  
                </tr>
            </table>
        </div>
    
   <!--  <div class="panel-heading">
        <h4 class="panel-title">{{Title}} Airport</h4>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
        <div class="row">
            <div class="form-group col-md-6"
            	ng-class="{'has-success':addEditForm.airport.$valid && !addEditForm.airport.$pristine,
            			'has-error':addEditForm.airport.$invalid && !addEditForm.airport.$pristine}">
                <label class="col-md-3 control-label">Airport</label>
                <div class="col-md-9">
                    <input type="text" name="airport" class="form-control" placeholder="Enter airport name" 
                		ng-model="new.airport" 
                		ng-disabled="Title==''" 
                		required>
                </div>
            </div>

            <div class="form-group col-md-6"
            	ng-class="{'has-success':addEditForm.icao.$valid && !addEditForm.icao.$pristine,
            			'has-error':addEditForm.icao.$invalid && !addEditForm.icao.$pristine}">
                <label class="col-md-3 control-label">ICAO Code</label>
                <div class="col-md-9">
                    <input type="text" name="icao" class="form-control" placeholder="Enter icao code" 
                		ng-model="new.icao" 
                		ng-disabled="Title==''" 
                		required>
                </div>
            </div>
            </div>
            <div class="form-group"
            	ng-class="{'has-success':addEditForm.iata.$valid && !addEditForm.iata.$pristine,
            			'has-error':addEditForm.iata.$invalid && !addEditForm.iata.$pristine}">
                <label class="col-md-3 control-label">IATA Code</label>
                <div class="col-md-9">
                    <input type="text" name="iata" class="form-control" placeholder="Enter iata code" 
                		ng-model="new.iata" 
                		ng-disabled="Title==''" 
                		required>
                </div>
            </div>

            <div class="form-group"
            	ng-class="{'has-success':addEditForm.country.$valid && !addEditForm.country.$pristine,
            			'has-error':addEditForm.country.$invalid && !addEditForm.country.$pristine}">

                <label class="col-md-3 control-label">Country</label>
                <div class="col-md-9">
                    <select type="text" name="country" class="form-control" 
                    	ng-model="new.country"
                    	ng-disabled="Title==''" 
                    	ng-options="x._id as x.countryName for x in Countries"
                    	required></select>
                </div>
            </div>
            
            <div class="form-group"
            	ng-class="{'has-success':addEditForm.state.$valid && !addEditForm.state.$pristine,
            			'has-error':addEditForm.state.$invalid && !addEditForm.state.$pristine}">

                <label class="col-md-3 control-label">State</label>
                <div class="col-md-9">
                    <select type="text" name="state" class="form-control" 
                    	ng-model="new.state"
                    	ng-disabled="Title=='' || !new.country" 
                    	ng-options="x.states._id as x.states.stateName for x in States | filter:new.country"
                    	required></select>
                </div>
            </div>

            <div class="form-group"
            	ng-class="{'has-success':addEditForm.city.$valid && !addEditForm.city.$pristine,
            			'has-error':addEditForm.city.$invalid && !addEditForm.city.$pristine}">

                <label class="col-md-3 control-label">City</label>
                <div class="col-md-9">
                    <select type="text" name="city" class="form-control" 
                    	ng-model="new.city"
                    	ng-disabled="Title=='' || !new.state" 
                    	ng-options="x.states.cities._id as x.states.cities.cityName for x in Cities | filter:new.state"
                    	required></select>
                </div>
            </div>

            
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                </div>
            </div>
        </form>
    </div> -->
</div>
</script>