<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->
            <a ng-show="accessEmp.City.editCity" href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">City</h4>
    </div>
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->
  <!-- <div class="row" style="padding: 0 15px; "> -->
        <div class="col-md-9" ng-if="false"><span style="font-size: 16px;font-weight: bold;">Bulk Upload :</span>
            <input type="file" name="file" id="filesAirCraft" class="inputfile"  data-multiple-caption="{count} files selected" multiple image-uploader file-model = "myFile"/>
            <label for="filesAirCraft" id="upload-content" image-uploader1>Choose a file</label>
            <button ng-click="uploadFile();" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload</button>
            <span id="spinningSquaresG" ng-show="isFileUploading">
                <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
                <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
                <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
                <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
                <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
                <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
                <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
                <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
            </span>
      </div>

       <div class="row custom-top-added-form" style="padding: 0 15px" ng-show="isPopupOpen">
            <button class="close" ng-click="isPopupOpen = !isPopupOpen"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
            
            <h2 class="col-md-12">{{Title}} City</h2>

          <!-- FORM -->
          <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="form-group col-md-6" ng-class="{'has-success':addEditForm.countryCode.$valid && !addEditForm.countryCode.$pristine,'has-error':addEditForm.countryCode.$invalid && !addEditForm.countryCode.$pristine}">
                        <label class="col-md-4 control-label">Country</label>
                        <div class="col-md-8">
                            <select ng-disabled="Title==''" class="form-control" ng-options="country.countryName for country in Countries track by country._id" ng-model="new.country" ng-change="new.state=new.country.states[0]" required="">
                                <!-- <option>default input</option> -->
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6" ng-class="{'has-success':addEditForm.countryCode.$valid && !addEditForm.countryCode.$pristine,'has-error':addEditForm.countryCode.$invalid && !addEditForm.countryCode.$pristine}">
                        <label class="col-md-4 control-label">State</label>
                        <div class="col-md-8">
                            <select ng-disabled="Title==''" class="form-control" ng-options="state.stateName for state in new.country.states track by state._id" ng-model="new.state" required="">
                                <!-- <option>default input</option> -->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group col-md-6" ng-class="{'has-success':addEditForm.cityName.$valid && !addEditForm.cityName.$pristine,'has-error':addEditForm.cityName.$invalid && !addEditForm.cityName.$pristine}">
                        <label class="col-md-4 control-label">City Name</label>
                        <div class="col-md-8">
                            <input type="text" name="cityName" class="form-control" ng-model="new.states.cities.cityName" placeholder="Enter the city name" ng-disabled="Title==''" required>
                        </div>
                    </div>
                    <div class="form-group col-md-6" ng-class="{'has-success':addEditForm.cityCode.$valid && !addEditForm.cityCode.$pristine,'has-error':addEditForm.cityCode.$invalid && !addEditForm.cityCode.$pristine}">
                        <label class="col-md-4 control-label">City Code</label>
                        <div class="col-md-8">
                            <input type="text" name="cityCode" class="form-control" ng-model="new.states.cities.cityCode" placeholder="Enter the city code" ng-disabled="Title==''" required>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-4">
                        <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                    </div>
                </div>
             </div>
        </form>
          <!-- /FORM -->
      </div>
      <!-- end form -->

    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr><th colspan="6">Filters</th></tr>
                <tr>
                    <!-- <td></td> -->
                    <td><input ng-model="citySearch.states.cities.cityName" type="text" style="width: 100%" placeholder="Search by City Name"></td>
                    <td><input ng-model="citySearch.states.stateName" type="text" style="width: 100%" placeholder="Search by State Name"></td>
                    <td></td>
                    <td ng-show="accessEmp.City.editCity"></td>
                    <td></td>
                    <!-- <td></td> -->
                </tr>
                <tr>
                    <!-- <th>City Code</th> -->
                    <th>City</th>
                    <th>State</th>
                    <th>Country</th>
                    <th ng-show="accessEmp.City.editCity">Edit</th>
                    <th>View</th>
                    <!-- <th>Delete</th> -->
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in (cities | filter:citySearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                    <!-- <td>{{x.states.cities.cityCode}}</td> -->
                    <td>{{x.states.cities.cityName}}</td>
                    <td>{{x.states.stateName}}</td>
                    <td>{{x.countryName}}</td>
                    <td ng-show="accessEmp.City.editCity"><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                    <!-- <td><a ng-click="openModal('Delete',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td> -->
                </tr>
                <!-- <tr class="even gradeC">
                    <td>Trident</td>
                    <td>Internet Explorer 5.0</td>
                    <td>Win 95+</td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr class="odd gradeA">
                    <td>Trident</td>
                    <td>Internet Explorer 5.5</td>
                    <td>Win 95+</td>
                    <td><a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr class="even gradeA">
                    <td>Trident</td>
                    <td>Internet Explorer 6</td>
                    <td>Win 98+</td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr> -->
                
            </tbody>
        </table>
    </div>
    <div ng-show="showPagination">
            <ul uib-pagination total-items="(cities | filter:citySearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
</div>
<!-- end panel-->
<script type="text/ng-template" id="state-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} City</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
            <div class="form-group" ng-class="{'has-success':addEditForm.countryCode.$valid && !addEditForm.countryCode.$pristine,'has-error':addEditForm.countryCode.$invalid && !addEditForm.countryCode.$pristine}">
                <label class="col-md-3 control-label">Country</label>
                <div class="col-md-9">
                    <select ng-disabled="Title==''" class="form-control" ng-options="country.countryName for country in Countries track by country._id" ng-model="new.country" ng-change="new.state=new.country.states[0]" required="">
                        <!-- <option>default input</option> -->
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':addEditForm.countryCode.$valid && !addEditForm.countryCode.$pristine,'has-error':addEditForm.countryCode.$invalid && !addEditForm.countryCode.$pristine}">
                <label class="col-md-3 control-label">State</label>
                <div class="col-md-9">
                    <select ng-disabled="Title==''" class="form-control" ng-options="state.stateName for state in new.country.states track by state._id" ng-model="new.state" required="">
                        <!-- <option>default input</option> -->
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':addEditForm.cityName.$valid && !addEditForm.cityName.$pristine,'has-error':addEditForm.cityName.$invalid && !addEditForm.cityName.$pristine}">
                <label class="col-md-3 control-label">City Name</label>
                <div class="col-md-9">
                    <input type="text" name="cityName" class="form-control" ng-model="new.states.cities.cityName" placeholder="Enter the city name" ng-disabled="Title==''" required>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':addEditForm.cityCode.$valid && !addEditForm.cityCode.$pristine,'has-error':addEditForm.cityCode.$invalid && !addEditForm.cityCode.$pristine}">
                <label class="col-md-3 control-label">City Code</label>
                <div class="col-md-9">
                    <input type="text" name="cityCode" class="form-control" ng-model="new.states.cities.cityCode" placeholder="Enter the city code" ng-disabled="Title==''" required>
                </div>
            </div>
            
            <!-- <div class="form-group" >
                <label class="col-md-3 control-label">Currency Code</label>
                <div class="col-md-9">
                    <input type="text" name="currencyCode" class="form-control" ng-model="new.currencyCode" placeholder="Enter the name" ng-disabled="Title==''" >
                </div>
            </div> -->
            
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</script>