<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <a ng-show="accessEmp.AirportDistance.editAirportDistance" href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">Airport Distance</h4>
    </div>

    <div class="row custom-top-added-form" style="padding: 0 15px" ng-show="isPopupOpen">
            <button class="close" ng-click="isPopupOpen = !isPopupOpen"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
            
            <h2 class="col-md-12">{{Title}} Airport Distance</h2>

          <!-- FORM -->
          <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
            <div class="col-md-12">
                 <div class="form-group col-md-4"
                    ng-class="{'has-success':addEditForm.fromAirport.$valid && !addEditForm.fromAirport.$pristine,
                            'has-error':addEditForm.fromAirport.$invalid && !addEditForm.fromAirport.$pristine}">

                    <label class="col-md-4 control-label">From Airport</label>
                    <div class="col-md-8">
                        <!-- <select type="text" name="fromAirport" class="form-control" 
                            ng-model="new.fromAirport"
                            ng-disabled="Title=='' " 
                            ng-options="x._id as x.airport+' ['+x.iata+' / '+x.icao+']' for x in Airports"
                            required></select> -->

                            <input list="browsers" name="fromAirport" ng-change="changeAirVal(new.fromAirport,'from')" class="form-control" ng-model="new.fromAirport" ng-disabled="Title=='' " required>
                              <datalist id="browsers">
                                <option ng-repeat=" x in Airports" >{{x.airport}}[{{x.iata}}/{{x.icao}}]</option>
                              </datalist>
                    </div>
                </div>

                <div class="form-group col-md-4"
                    ng-class="{'has-success':addEditForm.toAirport.$valid && !addEditForm.toAirport.$pristine,
                            'has-error':addEditForm.toAirport.$invalid && !addEditForm.toAirport.$pristine}">

                    <label class="col-md-3 control-label">To Airport</label>
                    <div class="col-md-9">
                        <!-- <select type="text" name="toAirport" class="form-control" 
                            ng-model="new.toAirport"
                            ng-disabled="Title=='' " 
                            ng-options="x._id as x.airport+' ['+x.iata+' / '+x.icao+']' for x in Airports"
                            required></select> -->
                            <input list="browserss" name="toAirport" ng-change="changeAirVal(new.toAirport,'to')" class="form-control" ng-model="new.toAirport" ng-disabled="Title=='' "  required>
                              <datalist id="browserss">
                                <option ng-repeat=" x in Airports">{{x.airport}}[{{x.iata}}/{{x.icao}}]</option>
                              </datalist>
                    </div>
                </div>

                <div class="form-group col-md-4"
                    ng-class="{'has-success':addEditForm.distance.$valid && !addEditForm.distance.$pristine,
                            'has-error':addEditForm.distance.$invalid && !addEditForm.distance.$pristine}">
                    <label class="col-md-3 control-label">Distance</label>
                    <div class="col-md-9">
                        <input type="number" name="distance" class="form-control" placeholder="Enter distance" 
                            ng-model="new.distance" 
                            ng-disabled="Title==''" 
                            required>
                    </div>
                </div>
                </div>
                <div class="form-group col-md-12">
                    <!-- <label class="col-md-3 control-label"></label> -->
                    <div class="col-md-12" style="text-align:center">
                        <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                    </div>
                </div>
            
        </form>
          <!-- /FORM -->
      </div>
      <!-- end form -->


   <div class="col-md-9" ng-if="false"><span style="font-size: 16px;font-weight: bold;">Bulk Upload :</span>
        <input type="file" name="file" id="filesAirCraft" class="inputfile"  data-multiple-caption="{count} files selected" multiple image-uploader file-model = "myFile"/>
        <label for="filesAirCraft" id="upload-content" image-uploader1>Choose a file</label>
        <button ng-click="uploadFile();" ng-hide="isFileUploading"><i class="fa fa-upload" aria-hidden="true" ></i>Upload</button>
        <span id="spinningSquaresG" ng-show="isFileUploading">
            <div id="spinningSquaresG_1" class="spinningSquaresG"></div>
            <div id="spinningSquaresG_2" class="spinningSquaresG"></div>
            <div id="spinningSquaresG_3" class="spinningSquaresG"></div>
            <div id="spinningSquaresG_4" class="spinningSquaresG"></div>
            <div id="spinningSquaresG_5" class="spinningSquaresG"></div>
            <div id="spinningSquaresG_6" class="spinningSquaresG"></div>
            <div id="spinningSquaresG_7" class="spinningSquaresG"></div>
            <div id="spinningSquaresG_8" class="spinningSquaresG"></div>
        </span>
  </div>


    <div class="panel-body">
       <!--  <button ng-click="exportDataXLS()">Download Xls</button>
        <button ng-click="exportDataPdf()">Download pdf</button> -->
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="8">Fillters</th>
                </tr>
                <tr>
                    <td><input type="text" style="width: 100%" ng-model="airportSearch.fromAirportName" placeholder="Search by Airport"></td>
                    <td><input type="text" style="width: 100%" ng-model="airportSearch.fromAirportCity" placeholder="Search by City"></td>
                    <td><input type="text" style="width: 100%" ng-model="airportSearch.toAirportName" placeholder="Search by Airport"></td>
                    <td><input type="text" style="width: 100%" ng-model="airportSearch.toAirportCity" placeholder="Search by City"></td>
                    <td><input type="text" style="width: 100%" ng-model="airportSearch.distance" placeholder="Search by Distance"></td>
                    <td ng-show="accessEmp.AirportDistance.editAirportDistance"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>From Airport [IATA / ICAO]</th>
                    <th>From City</th>
                    <th>To Airport [IATA / ICAO]</th>
                    <th>To City</th>
                    <th>Distance</th>
                    <th ng-show="accessEmp.AirportDistance.editAirportDistance">Edit</th>
                    <th>View</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" 
                    ng-repeat="x in (airportsDistance | filter:airportSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                    
                    <td>{{x.fromAirportName+', '+x.fromAirportCity+', '+ x.fromAirportState +' ['+x.fromAirportIata+' / '+x.fromAirportIcao+']'}}</td>

                    <td>{{x.fromAirportCity}}</td>

                    <td>{{x.toAirportName+', '+x.toAirportCity+', '+ x.toAirportState +' ['+x.toAirportIata+' / '+x.toAirportIcao+']'}}</td>

                    <td>{{x.toAirportCity}}</td>

                    <td>{{x.distance}}</td>
                    
                    
                    <td ng-show="accessEmp.AirportDistance.editAirportDistance"><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                    <td><a ng-click="openModal('Delete',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td>
                </tr>
                
            </tbody>
        </table>
        <div ng-show="showPagination">
            <ul uib-pagination total-items="(airportsDistance | filter:airportSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
    </div>
</div>
<!-- end panel-->

<div id="exportTab">
    <table ng-show="show" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>From Airport [IATA / ICAO]</th>
                <th>From City</th>
                <th>To Airport [IATA / ICAO]</th>
                <th>To City</th>
                <th>Distance</th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" 
                ng-repeat="x in airportsDistance | filter:airportSearch"> 
                <td>{{x.fromAirportName+', '+x.fromAirportCity+', '+ x.fromAirportState +' ['+x.fromAirportIata+' / '+x.fromAirportIcao+']'}}</td>
                <td>{{x.fromAirportCity}}</td>
                <td>{{x.toAirportName+', '+x.toAirportCity+', '+ x.toAirportState +' ['+x.toAirportIata+' / '+x.toAirportIcao+']'}}</td>
                <td>{{x.toAirportCity}}</td>
                <td>{{x.distance}}</td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/ng-template" id="distance-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
    
    <div class="panel-heading">
        <h4 class="panel-title">{{Title}} Distance</h4>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>

            <div class="form-group"
                ng-class="{'has-success':addEditForm.fromAirport.$valid && !addEditForm.fromAirport.$pristine,
                        'has-error':addEditForm.fromAirport.$invalid && !addEditForm.fromAirport.$pristine}">

                <label class="col-md-3 control-label">From State</label>
                <div class="col-md-9">
                    <select type="text" name="fromAirport" class="form-control" 
                        ng-model="new.fromAirport"
                        ng-disabled="Title=='' " 
                        ng-options="x._id as x.airport+' ['+x.icao+']' for x in Airports"
                        required></select>
                </div>
            </div>

            <div class="form-group"
            	ng-class="{'has-success':addEditForm.toAirport.$valid && !addEditForm.toAirport.$pristine,
            			'has-error':addEditForm.toAirport.$invalid && !addEditForm.toAirport.$pristine}">

                <label class="col-md-3 control-label">To State</label>
                <div class="col-md-9">
                    <select type="text" name="toAirport" class="form-control" 
                    	ng-model="new.toAirport"
                    	ng-disabled="Title=='' " 
                    	ng-options="x._id as x.airport+' ['+x.icao+']' for x in Airports"
                    	required></select>
                </div>
            </div>

            <div class="form-group"
                ng-class="{'has-success':addEditForm.distance.$valid && !addEditForm.distance.$pristine,
                        'has-error':addEditForm.distance.$invalid && !addEditForm.distance.$pristine}">
                <label class="col-md-3 control-label">Distance</label>
                <div class="col-md-9">
                    <input type="number" name="distance" class="form-control" placeholder="Enter distance" 
                        ng-model="new.distance" 
                        ng-disabled="Title==''" 
                        required>
                </div>
            </div>
            
            <!-- <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                </div>
            </div> -->
        </form>
    </div>
</div>
</script>