<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->
            <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">Regoins</h4>
    </div>
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->
    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Regions</th>
                    <th>Country</th>
                    <th>Edit</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in Regions">
                    <td>{{x.regionName}}</td>
                    <td>{{x.country.countryName}}</td>
                    <td><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <!-- <tr class="even gradeC">
                    <td>Trident</td>
                    <td>Internet Explorer 5.0</td>
                    <td>Win 95+</td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr class="odd gradeA">
                    <td>Trident</td>
                    <td>Internet Explorer 5.5</td>
                    <td>Win 95+</td>
                    <td><a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr class="even gradeA">
                    <td>Trident</td>
                    <td>Internet Explorer 6</td>
                    <td>Win 98+</td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr> -->
                
            </tbody>
        </table>
    </div>
</div>
<!-- end panel-->
<script type="text/ng-template" id="region-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} Regions</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
            <div class="form-group" ng-class="{'has-success':addEditForm.regionName.$valid && !addEditForm.regionName.$pristine,'has-error':addEditForm.regionName.$invalid && !addEditForm.regionName.$pristine}">
                <label class="col-md-3 control-label">Regions Name</label>
                <div class="col-md-9">
                    <input type="text" name="regionName" class="form-control" ng-model="new.regionName" placeholder="Enter the region name" ng-disabled="Title==''" required>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':addEditForm.countryCode.$valid && !addEditForm.countryCode.$pristine,'has-error':addEditForm.countryCode.$invalid && !addEditForm.countryCode.$pristine}">
                <label class="col-md-3 control-label">Country</label>
                <div class="col-md-9">
                    <select ng-disabled="Title==''" class="form-control" ng-options="country.countryName for country in Countries track by country._id" ng-model="new.country">
                        <!-- <option>default input</option> -->
                    </select>
                </div>
            </div>
            <!-- <div class="form-group" >
                <label class="col-md-3 control-label">Currency Code</label>
                <div class="col-md-9">
                    <input type="text" name="currencyCode" class="form-control" ng-model="new.currencyCode" placeholder="Enter the name" ng-disabled="Title==''" >
                </div>
            </div> -->
            
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</script>