<!--begin panel -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-search"></i></a> -->
            <!-- <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a> -->
            <a ng-show="accessEmp.State.editState" href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a>
        </div>
        <h4 class="panel-title">States</h4>
    </div>
    <!-- <div class="alert alert-info fade in">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
        At times it can be useful to ensure that column titles will remain always visible on a table, even when a user scrolls down a table. The FixedHeader plug-in for DataTables will float the 'thead' element above the table at all times to help address this issue. The column titles also remain click-able to perform sorting.
    </div> -->

     <div class="row custom-top-added-form" style="padding: 0 15px" ng-show="isPopupOpen">
            <button class="close" ng-click="isPopupOpen = !isPopupOpen"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
            
            <h2 class="col-md-12">{{Title}} State</h2>

          <!-- FORM -->
          <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
            <div class="col-md-12">
                <div class="form-group" ng-class="{'has-success':addEditForm.countryCode.$valid && !addEditForm.countryCode.$pristine,'has-error':addEditForm.countryCode.$invalid && !addEditForm.countryCode.$pristine}">
                    <label class="col-md-3 control-label">Country</label>
                    <div class="col-md-4">
                        <select ng-disabled="Title==''" class="form-control" ng-options="country.countryName for country in Countries track by country._id" ng-model="new.country" ng-change="getRegion(new.country)" required="">
                            <option value="" disabled hidden></option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success':addEditForm.countryCode.$valid && !addEditForm.countryCode.$pristine,'has-error':addEditForm.countryCode.$invalid && !addEditForm.countryCode.$pristine}">
                    <label class="col-md-3 control-label">Region</label>
                    <div class="col-md-4">
                        <select ng-disabled="Title==''" class="form-control" ng-options="region.regionName for region in Regions track by region._id" ng-model="new.region" required="">
                             <option value="" disabled hidden></option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-success':addEditForm.regionName.$valid && !addEditForm.regionName.$pristine,'has-error':addEditForm.regionName.$invalid && !addEditForm.regionName.$pristine}">
                    <label class="col-md-3 control-label">State Name</label>
                    <div class="col-md-4">
                        <input type="text" name="regionName" class="form-control" ng-model="new.states.stateName" placeholder="Enter the state name" ng-disabled="Title==''" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                    </div>
                </div>
             </div>
        </form>
          <!-- /FORM -->
      </div>
      <!-- end form -->

    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr><th colspan="4">Filters</th></tr>
                <tr>
                    <td>
                        <input ng-model="stateSearch.states.stateName" type="text" style="width:100%" placeholder="Search by State Name">
                    </td>
                    <td>
                        <input ng-model="stateSearch.states.region.regionName" type="text" style="width:100%" placeholder="Search by Region Name">
                    </td>
                    <td ng-show="accessEmp.State.editState"></td>
                    <td></td>
                    <!-- <td></td> -->
                </tr>
                <tr>
                    <th>State</th>
                    <th>Region</th>
                    <th>Country</th>
                    <th ng-show="accessEmp.State.editState">Edit</th>
                    <th>View</th>
                    <!-- <th>Delete</th> -->
                </tr>
            </thead>
            <tbody>

            <!-- ng-repeat="x in (States | filter:stateSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))" -->
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}" ng-repeat="x in (States | filter:stateSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                    <td>{{x.states.stateName}}</td>
                    <td>{{x.states.region.regionName}}</td>
                    <td>{{x.countryName}}</td>
                    <td ng-show="accessEmp.State.editState"><a ng-click="openModal('update',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a ng-click="openModal('view',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                    <!-- <td><a ng-click="openModal('Delete',x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td> -->
                </tr>
                <!-- <tr class="even gradeC">
                    <td>Trident</td>
                    <td>Internet Explorer 5.0</td>
                    <td>Win 95+</td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr class="odd gradeA">
                    <td>Trident</td>
                    <td>Internet Explorer 5.5</td>
                    <td>Win 95+</td>
                    <td><a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr>
                <tr class="even gradeA">
                    <td>Trident</td>
                    <td>Internet Explorer 6</td>
                    <td>Win 98+</td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-pencil"></i></a></td>
                    <td><a href="javascript:;" style="background: #e4e7e8 !important;" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                </tr> -->
                
            </tbody>
        </table>
    </div>
    <div ng-show="showPagination">
            <ul uib-pagination total-items="(States | filter:stateSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
</div>
<!-- end panel-->
<script type="text/ng-template" id="state-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">{{Title}} State</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="addEditForm" ng-submit="submitForm(addEditForm.$valid)" novalidate>
            <div class="form-group" ng-class="{'has-success':addEditForm.countryCode.$valid && !addEditForm.countryCode.$pristine,'has-error':addEditForm.countryCode.$invalid && !addEditForm.countryCode.$pristine}">
                <label class="col-md-3 control-label">Country</label>
                <div class="col-md-9">
                    <select ng-disabled="Title==''" class="form-control" ng-options="country.countryName for country in Countries track by country._id" ng-model="new.country" required="">
                        <!-- <option>default input</option> -->
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':addEditForm.countryCode.$valid && !addEditForm.countryCode.$pristine,'has-error':addEditForm.countryCode.$invalid && !addEditForm.countryCode.$pristine}">
                <label class="col-md-3 control-label">Region</label>
                <div class="col-md-9">
                    <select ng-disabled="Title==''" class="form-control" ng-options="region.regionName for region in Regions track by region._id" ng-model="new.region" required="">
                      
                    </select>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-success':addEditForm.regionName.$valid && !addEditForm.regionName.$pristine,'has-error':addEditForm.regionName.$invalid && !addEditForm.regionName.$pristine}">
                <label class="col-md-3 control-label">State Name</label>
                <div class="col-md-9">
                    <input type="text" name="regionName" class="form-control" ng-model="new.states.stateName" placeholder="Enter the state name" ng-disabled="Title==''" required>
                </div>
            </div>
            
            <!-- <div class="form-group" >
                <label class="col-md-3 control-label">Currency Code</label>
                <div class="col-md-9">
                    <input type="text" name="currencyCode" class="form-control" ng-model="new.currencyCode" placeholder="Enter the name" ng-disabled="Title==''" >
                </div>
            </div> -->
            
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" ng-if="showSubmit" ng-disabled="addEditForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">{{Title}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
</script>