<div class="row">
				<!-- begin col-6 -->
	<div class="col-md-12 ui-sortable">
		<!-- begin panel -->
		<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
			<div class="panel-heading">
				<!-- <div class="panel-heading-btn">
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
					<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
				</div> -->
				<h4 class="panel-title">Add Flights</h4>
			</div>
			<div class="panel-body">
<!-- <form id="uploadForm" enctype="multipart/form-data" action="/media/upload" method="post">

		<input type="file" name="imgs" id="filesAirCraft" class="inputfile"	data-multiple-caption="{count} files selected" multiple image-uploader/>
						<label for="filesAirCraft" id="upload-content" image-uploader1>Choose a file</label>
		<input type="submit" value="Upload Image" name="submit">

	</form> -->


				<form class="form-horizontal" name="myForm" ng-submit="submit(myForm.$valid)" novalidate>
					
					<!-- Multiple -->
					
					<div class="form-group">
						<label class="col-md-3 control-label">Select Aircraft</label>
						<div class="col-md-9">
							<select class="form-control" ng-options="x.jet_name as x.jet_name for x in aircrafts" ng-model="new.aircraft_name" ng-change="selectedJet(new.aircraft_name)" required> <option style="display:none" value=""></option></select>
						</div>
					</div>			 
					 <div class="form-group">
					<label class="col-md-12 control-label" style="text-align:left">Journy</label>
					 </div>

					<div class="form-group"><!-- one trip fileds -->
						<div class="col-md-3">
						<label class="control-label">Origin</label>
							<input type="text" ng-model="new.originName"
								uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
								class="form-control" required>
						</div>
						<div class="col-md-3">
							<label class="control-label">Destination</label>
							<input type="text" ng-model="new.destinationName"
								uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
								class="form-control" ng-focus="toggle.stopScroll = true" ng-blur="autoFill(0); toggle.stopScroll = false" required>
						</div>
						<div class="col-md-3">
							<label class="control-label">Flight Number</label>
							<input type="text" ng-model="new.aircraft_registration" class="form-control" required readonly>
						</div>

				        <div class="col-md-3">
				            <div class="form-group">
				            	<label class="control-label">Departure Date</label>
				                <div class='input-group date' >
				                    <input type='text' date-picker class="form-control" ng-model="new.departureDate" ng-required="true" />
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-calendar"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				        <div class="col-md-3">
				            <div class="form-group">
				            	<label class="control-label">Departure Time</label>
				                <div class='input-group date' >
				                    <input type="text" time-picker class="form-control"
										ng-model="new.departureTime" required>
				                    <span class="input-group-addon">
				                        <span class="glyphicon glyphicon-time"></span>
				                    </span>
				                </div>
				            </div>
				        </div>
				        <div class="col-md-3">
							<label class="control-label">Number of Seats</label>
							<input type="text" ng-model="new.no_of_seats" ng-change="new.price_per_seat = new.costs/new.no_of_seats"  class="form-control" required >
						</div>
						<div class="col-md-3">
							<label class="control-label">Input Price for full Flight</label>
							<input type="text" ng-model="new.costs" ng-change="new.price_per_seat = new.costs/new.no_of_seats" class="form-control" required >
						</div>
						<div class="col-md-3">
							<label class="control-label">Price per Seat</label>
							<input type="text" ng-model="new.price_per_seat" class="form-control" required readonly>
						</div>

					</div>
					<div calss="form-group">
						<div class="col-md-12" style="text-align:center">
							<label class="control-label"></label>
							<button type="submit" ng-disabled="myForm.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
						</div>
					</div>
			</div>
		</div>
		<!-- end panel -->
	</div>
	<!-- end col-6 -->
	<!-- begin col-6 -->
</div>
