<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn" style="margin-top: -4px;">
            <!-- <a href="javascript:;" ng-click="openModal('new')" class="btn btn-md btn-icon btn-circle btn-default"><i class="fa fa-plus"></i></a> -->
        </div>
        <h4 class="panel-title">Empty Legs  ({{emptyLeg.length}})</h4>
    </div>
    
    <div class="panel-body">
        <table id="data-table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td colspan="10">Filter</td>
                </tr>
                <tr>
                    <td><input ng-model="emptyLegSearch.jet_name" type="text" class="" style="width: 100%" placeholder="Search by Origin Name"></td>
                    <td><input ng-model="emptyLegSearch.flight_number" type="text" class="" style="width: 100%" placeholder="Search by Destination Name"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>Origin Name</th>
                    <th>Destination Name</th>
                    <th>Departure Date</th>
                    <th>Departure Time</th>
                    <th>No of Seats</th>
                    <th>Total Costs</th>
                    <th>Price per Seat</th>
                    <!-- <th>Edit</th> -->
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" ng-class="{'odd':$index%2==1,'even':$index%2==0}"   ng-repeat="x in (emptyLeg | filter:emptyLegSearch).slice(((currentPage-1)*limit), ((currentPage)*limit))">
                    <td>{{x.originName}}</td>
                    <td>{{x.destinationName}}</td>
                    <td>{{x.departureDate |date}}</td>
                    <td>{{x.departureTime}}</td>
                    <td>{{x.no_of_seats}}</td>
                    <td>{{x.costs}}</td>
                    <td>{{x.price_per_seat}}</td>
                    <td><a ui-sref="main.emptyLegView({id:x._id})" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-eye"></i></a></td>
                    <td><a ng-click="edit('edit', x)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-edit"></i></a></td>
                    <td><a ng-click="delete(x._id)" class="btn btn-md btn-icon btn-circle btn-default" data-click="panel-remove"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
     <div ng-show="showPagination">
            <ul uib-pagination total-items="(emptyLeg | filter:emptyLegSearch).length" items-per-page="limit" rotate="false" boundary-link-numbers="true" ng-model="currentPage" ng-change="pageChange(currentPage)" max-size="5" class="pagination-sm"></ul>
        </div>
</div>
<!-- end panel-->

<script type="text/ng-template" id="emptyLeg-Modal.html">
<div class="panel panel-inverse" data-sortable-id="form-stuff-1">
<div class="panel-heading">
                <!-- <div class="panel-heading-btn">
                    <a class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div> -->
                <h4 class="panel-title">Edit Flight</h4>
            </div>
    <div class="panel-body">
        <form class="form-horizontal" name="editFlight" ng-submit="submit(editFlight.$valid)" novalidate>
            <div class="col-md-6" style="padding-right: 25px;">                
                <div class="form-group" ng-class="{'has-success':editFlight.crewname.$valid && !editFlight.crewname.$pristine,'has-error':editFlight.crewname.$invalid && !editFlight.crewname.$pristine}">
                    <label class="col-md-12 control-label text-left">Original Name</label>
                    <!-- <input type="text" class="form-control" name="crewname" placeholder="Original Name" ng-model="edit_flight.originName" required> -->
                    <input type="text" ng-model="edit_flight.originName"
                    uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
                    class="form-control" ng-focus="toggle.stopScroll = true" ng-blur="autoFill(0); toggle.stopScroll = false" required>
                </div>
            </div>
            <div class="col-md-6">                
                <div class="form-group" ng-class="{'has-success':editFlight.desig.$valid && !editFlight.desig.$pristine,'has-error':editFlight.desig.$invalid && !editFlight.desig.$pristine}">
                <label class="control-label text-left">Destination Name</label>
                <input type="text" ng-model="edit_flight.destinationName"
                    uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
                    class="form-control" ng-focus="toggle.stopScroll = true" ng-blur="autoFill(0); toggle.stopScroll = false" required>
                </div>

                <!-- <label class="control-label">Destination</label>
                            <input type="text" ng-model="edit_flight.destinationName"
                                uib-typeahead=" x.cityName + ', ' + x.airport + ', ['+ x.iata + ' / ' + x.icao +']' for x in airportDropdown | filter:$viewValue"
                                class="form-control" ng-focus="toggle.stopScroll = true" ng-blur="autoFill(0); toggle.stopScroll = false" required> -->
            </div>
            <div class="clearfix"></div>
            <div class="col-md-6" style="padding-right: 25px;">
                <div class="form-group" >
                    <label class="control-label">Departure Date</label>
                    <div class='input-group date' >
                        <input type='text' date-picker class="form-control" ng-model="edit_flight.departureDate" ng-required="true" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" >
                    <label class="control-label">Departure Time</label>
                    <div class='input-group date' >
                        <input type="text" time-picker class="form-control"
                         ng-model="edit_flight.departureTime" required>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                </div>
            </div>            
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="form-group" >
                    <label class="control-label text-left" >No. Of Seats</label>
                    <input type="text" class="form-control" name="passportName" placeholder="No. Of Seats" disabled  ng-model="edit_flight.no_of_seats" >
                </div>
            </div>            
            <div class="col-md-6" style="padding-right: 25px;"> 
                <div class="form-group" >
                    <label class="control-label text-left">Total Costs</label>            
                    <input type="text" class="form-control" placeholder="Total Costs" ng-model="edit_flight.costs" ng-change="changePrice()" required>
                </div>
            </div>
            <div class="col-md-6">                    
                <div class="form-group" >
                    <label class="control-label text-left">Price per Seat</label>
                    <input type="text" class="form-control" placeholder="Price per Seat" ng-model="edit_flight.price_per_seat" required>
                </div>
            </div>           
            <div class="clearfix"></div> 
            <div class="col-md-12">
                <div class="form-group">
                <!-- <label class="col-md-6 control-label"></label> -->
                    <button type="submit" ng-disabled="editFlight.$invalid" style=" padding: 6px 25px;" class="btn btn-sm btn-success">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
</script>
